// :focus {
//   outline-width: 2px;
//   outline-style: solid;

//   // WebKit gets its native focus styles.

//   @media (-webkit-min-device-pixel-ratio:0) {
//     outline-style: auto;
//   }
// }

// WARNING: avoid nesting of elements,
// because it makes them harder to override

html {
  @media ($bp-small-max){
    font-size: 14.5px;
  }
}

body {
  font-size: 1.375rem;
  line-height: 1.5;
}

a {
  @include ma-link-transition;
  text-decoration: none;
}

img {
  height: auto;
  max-width: 100%;
}

p,
ul, ol {
  margin-top: 0;
}

// Heading styles
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
}
h1 {
  @include ma-h1;
}
h2 {
  @include ma-h2;
}
h3 {
  @include ma-h3;
}
h4 {
  @include ma-h4;
}
h5 {
  @include ma-h5;
}
h6 {
  @include ma-h6;
}

// end heading styles

.visually-hidden {
  @include ma-visually-hidden;
}
