// :focus {
//   outline-width: 2px;
//   outline-style: solid;

//   // WebKit gets its native focus styles.
  
//   @media (-webkit-min-device-pixel-ratio:0) {
//     outline-style: auto;
//   }
// }

body {
  font-size: 1.125rem;
  line-height: 1.67;
}

a {
  @include ma-link-transition;
  text-decoration: none;
}

img {
  height: auto;
  max-width: 100%;
}

h1, h2, h3, h4, h5, h6,
p,
ul, ol {
  margin-top: 0;
}

h1 {
  font-size: 2.75rem; //44px
  line-height: 1.07;

  @media ($bp-medium-min){
    font-size: 3rem;
  }

  @media ($bp-large-min){
    font-size: 3.25rem;
  }

  @media ($bp-x-large-min){
    font-size: 3.625rem; //62px
  }
}

h2 {
  font-size: 1.875rem;
  line-height: 1.222222; //44px

  @media ($bp-small-min){
    font-size: 2.25rem;
  }
}

h3 {
  font-size: 1.75rem;
  line-height: 1.214287; //34px
}

h4 {
  font-size: 1.375rem;
  line-height: 1.363635; //30px
}

h5, h6 {
  font-size: 1.125rem;
}
