// :focus {
//   outline-width: 2px;
//   outline-style: solid;

//   // WebKit gets its native focus styles.

//   @media (-webkit-min-device-pixel-ratio:0) {
//     outline-style: auto;
//   }
// }

// WARNING: avoid nesting of elements,
// because it makes them harder to override

body {
  font-size: 1.375rem;
  line-height: 1.5;
}

a {
  @include ma-link-transition;
  text-decoration: none;
}

.link-chevron {
  @include ma-link-underline;
  @include ma-chevron;
  padding-right: 14px;

  &:after {
    margin-right: -14px;
  }
}

img {
  height: auto;
  max-width: 100%;
}

p,
ul, ol {
  margin-top: 0;
}

// Heading styles
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
}

h1 {
  font-size: 3rem;
  line-height: 1.07;

  @media ($bp-medium-min){
    font-size: 3.25rem;
  }

  @media ($bp-large-min){
    font-size: 4rem;
  }

  @media ($bp-x-large-min){
    font-size: 4.375rem;
  }
}

h2 {
  font-size: 2.25rem;
  line-height: 1.222222;

  @media ($bp-small-min){
    font-size: 2.688rem;
  }
}

h3 {
  font-size: 2.188rem;
  line-height: 1.1;
}

h4 {
  font-size: 1.813rem;
  line-height: 1.2;
}

h5 {
  font-size: 1.625rem;
  line-height: 1.3;
}

h6 {
  font-size: 1.4rem;
}

// end heading styles

.visually-hidden {
  @include ma-visually-hidden;
}
