button {
  cursor: pointer;
}

.ma__button,
.ma__button-alt,
.ma__button--minor,
.ma__button-minor,
.ma__button-minor-alt {
  @include ma-button("normal");
}

.ma__button--small,
.ma__button-alt--small,
.ma__button-minor--small,
.ma__button-minor-alt--small {
  @include ma-button("small");
}

.ma__button-search {
  border: 2px solid;
  display: inline-block;
  font-size: 0.875rem;
  letter-spacing: .1em;
  padding: 14px;
  text-transform: uppercase;
  transition: background-color .4s, color .4s, border .4s, fill .4s;
  white-space: nowrap;

  span,
  &__icon {
    display: inline-block;
    vertical-align: middle;
  }

  &__icon {
    height: 20px;
    transition: fill .4s;
    width: 20px;
  }
}
