.ma__button-sort {
  @include ma-button-reset;
  font-size: 18px;
  line-height: 1.2;
  padding-right: 15px;
  position: relative;
  white-space: nowrap;

  &:before,
  &:after {
    border-left: 5px solid transparent; 
    border-right: 5px solid transparent; 
    content: "";
    position: absolute;
      right: 0;
  }

  &:before {
    border-bottom-style: solid;
    border-bottom-width: 6px;
    margin-bottom: 2px;
    bottom: 50%;
  }

  &:after {
    border-top-style: solid;
    border-top-width: 6px;
    margin-top: 1px;
    top: 50%;
  }
}
