.ma__checklist {
  @media print {
    list-style: none;

    li {
      list-style: none;
      position: relative;

      &:before {
        border: 2px solid;
        content: "";
        display: block;
        height: 1.125em;
        position: absolute;
          top: .25em;
          left: -20px;
        width: 1.125em;
      }
    }
  }
}
