.ma__colored-heading {
  @include ma-heading-colored();

  .sidebar & {
    margin-top: 45px;

    @media ($bp-small-min){
      margin-top: 50px;
    }

    &:first-child {
      margin-top: 0;
    }
  }
}
