.ma__comp-heading {
  @include ma-border-decorative;
  position: relative;
  padding-bottom: 15px;

  &:after {
    width: 1.85em; // ma-underline-decorative override
  }

  &--centered {
    text-align: center;

    &:after {
      left: calc(50% - .9em); // half the width defined above
    }
  }
}