.ma__comp-heading {
  @include ma-comp-heading;

  &:not(&--sidebar) {
    @include ma-comp-heading;
  }

  &--sidebar,
   .sidebar & {
    @include ma-sidebar-heading;

    &:after {
      left: 50%;
      transform: translateX(-50%);
    }
  }

  &--centered {
    text-align: center;
  }

  .sidebar--colored & {
    @include ma-heading-colored($direction: left);
    border-bottom: none;

    &:after {
      display: block;
    }
  }
}