.ma__content-link {
  @include ma-link-underline;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;

  &--chevron {
    @include ma-chevron;
    padding-right: 14px;

    &:after {
      margin-right: -14px;
    }
  }

  &--phone {
    border: none;
    padding-bottom: 0;

    &:hover {
      border: none;
    }
  }
}
