.ma__content-link {
  @include ma-link-underline;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;

  &--chevron {
    @include ma-chevron;
    border-bottom: none;
    display: inline-block;
    padding-right: .75em;
    position: relative;
  
    &:hover {
      border-bottom: none;
    }

    &:after {
      height: .45em;
      margin-top: .175em;
      position: absolute;
      transform: translateY(50%) rotate(-45deg);
      width: .45em;
    }

    span {
      @include ma-link-underline;
    }
  }

  &--phone {
    border: none;
    padding-bottom: 0;

    &:hover {
      border: none;
    }
  }
}
