.ma__divider {
  @include ma-container;
  border: none;

  &:last-child {
    margin-bottom: 0;
  }

  &:after {
    content: "";
    display: block;
    height: 10px;
    margin-left: 4px;
    margin-right: 4px;
    transform: skew(-30deg);
    width: 100%;
  }
}
