.ma__figure {
  margin: 0;

  @media ($bp-small-min) {
    &.align-left {
      float: left;
      margin-right: .5em;
      margin-bottom: 1em;
      width: 50%;
    }

    &.align-right {
      float: right;
      margin-left: .5em;
      margin-bottom: 1em;
      width: 50%;
    }
  }

  .rich-text & {
    margin-bottom: 1.75em;
  }

  img {    
    width: 100%;
  }

  &__caption {
    font-size: 1.125rem;
    font-style: italic;
    line-height: 1.57;

    @media ($bp-small-min) {
      &:nth-last-child(2) {
        @include span-columns(6);
        margin-bottom: 0;
      }
    }
  }
}
