input {
  border: 2px solid;
  min-height: 46px;
  padding: 0 18px;
}

textarea {
  border: 2px solid;
  padding: 18px;
}

label {
  display: block;
  margin-bottom: .25em;
}

// override if an input label combo is added directly to the page-content area
.main-content .page-content > label + input {
  margin-top: 0;
}

fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

// Special label handling
.ma__label {

  &--optional {

    &:after {
      content: "(optional)";
      font-size: .8em;
      margin-left: .25em;
    }
  }
}

// Custom Radio Buttons
.ma__input-radio {
  display: inline-block;
  position: relative;

  input {
    @include ma-visually-hidden;
  }

  label {
    font-size: 1.375rem;
    line-height: 1rem;
    padding-left: 1.5em;

    &:before {
      border: 2px solid;
      border-radius: 50%;
      content: "\2022";
      display: inline-block;
      height: .45em;
      font-size: 2.5em;
      line-height: calc(.45em - 11px);
      margin-right: .125em;
      position: absolute;
        top: -.05em;
        left: 0;
      text-align: center;
      width: .45em;
      overflow: hidden;
    }

    span {
      line-height: 1.2em;
    }
  }
}

// Custom Checkboxes
.ma__input-checkbox {
  display: inline-block;
  position: relative;

  input {
    @include ma-visually-hidden;
  }

  label {
    font-size: 1.375rem;
    line-height: 1rem;
    padding-left: 1.25em;

    &:before {
      border: 2px solid;
      content: ""; 
      display: inline-block;
      height: 2em;
      font-size: .5em;
      line-height: 1.5;
      padding-top: .25em;
      position: absolute;
        top: 0;
        left: 0;
      text-align: center;
      width: 2em;
    }

    span {
      line-height: 1.2em;
    }
  }

  input:checked ~ label {

    &:before {
      content: url("../images/checkmark.svg"); //"✔";
    }
  }
}

// Custom Date input
.ma__input-date[type=text] {
  background-image: url("../images/svg-icons/date-picker.svg");
  background-position: right 8px top 10px;
  background-repeat: no-repeat;
}
