input {
  border: 2px solid;
  max-width: 100%;
  min-height: 40px;
  padding: 0 18px;

  &.has-error:not(:focus) {
    background-position: center right 10px;
    background-repeat: no-repeat;
    padding-right: 40px;
  }
}

input[type=file] {
  border: none;
  min-height: 0;
  padding: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none;
  margin: 0; /* Removes leftover margin */
}

textarea {
  border: 2px solid;
  min-height: 135px;
  padding: 18px;
}

legend,
label {
  display: block;
  margin-bottom: .25em;
}


fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

// override if an input label combo is added directly to the page-content area
// This is mainly for Pattern Lab
.main-content .page-content > label:not(.ma__label--hidden) {
  
  & + textarea,
  & + .ma__textarea__wrapper,
  & + .ma__input-number,
  & + input {
    margin-top: 0;
  }

  & + .ma__error-msg {
    margin-top: 0;

    & + textarea,
    & + .ma__textarea__wrapper,
    & + .ma__input-number,
    & + input {
      margin-top: 0;
    }
  }
}
