.ma__rich-text .ma__icon-list,
.ma__icon-list {
  padding-left: 0;

  & > li {
    background-size: 32px 32px;
    list-style: none;
    padding: 3px 0 3px 50px;

    @media ($bp-small-min) {
      padding-left: 60px;
    }
  }

  & > ul {
    padding-left: 90px;

    @media ($bp-small-min) {
      padding-left: 100px;
    }

    li {
      list-style: disc;
    }
  }
}
