.ma__iframe {
  padding: 13px;

  @media ($bp-small-min) {

    &--right {
      float: right;
      margin-left: 1em;
      margin-bottom: 1em;
      width: 50%;
    }
  }

  .main-content--full .page-content > & {
    // @include ma-container();  // can't use this due to bg color apply to padding
    margin-left: 20px;
    margin-right: 20px;
    max-width: $max-width;

    @media ($bp-medium-min) {
      margin-left: 30px;
      margin-right: 30px;
    }

    @media ($bp-large-min) {
      margin-left: 40px;
      margin-right: 40px;
    }

    @media ($bp-page-width-min) {
      margin-left: auto;
      margin-right: auto;
      max-width: $max-width - 80px;
    }
  }

  .main-content--full .page-content > &--right {
    @media ($bp-small-min) {
      margin-left: 1em;
    }

    @media ($bp-large-min) {
      max-width: 400px;
    }

    @media ($bp-page-width-min) {
      margin-right: calc(50vw - (#{$max-width}/2) + 40px);
    }
  }

  iframe {
    width: 100%;
    border: none;
  }
}
