// Special label handling
.ma__legend,
.ma__label {

  &--optional {

    &:after {
      content: "(optional)";
      font-size: .8em;
      margin-left: .25em;
    }
  }

  &--hidden {
    @include ma-visually-hidden;

    & + input {
      margin-top: inherit;
    }
  }
}
