.ma__site-logo {

  a {
    display: inline-block;
    font-size: 0px;
    width: 164px;
    margin: 0 auto;
    display: flex;
    align-items: center;

    img {
      width: 45px;// 47px
      height: 45px;// 47px

      @media ($bp-small-max) {
        width: 42px;
        height: 42px;
      }
    }

    span {
      font-size: 2rem;
      display: inline-block;
      width: 153px;
      margin-left: 0.2rem;
      line-height: 1;
      letter-spacing: 0.03rem;

      @media ($bp-small-max) {
        width: 153px;
      }
    }
  }
}
