.svg-alert {
  height: 48px;
  width: 44px;
}

.svg-arrow {
  height: 18px;
  width: 16px;
}

.svg-blog {
  height: 20px;
  width: 21px;
}

.svg-building {
  height: 16px;
  width: 16px;
}

.svg-circle-chevron {
  height: 35px;
  width: 35px;
}

.svg-clock {
  height: 30px;
  width: 30px;
}

.svg-crossroads {
  height: 66px;
  width: 63px;
}

.svg-doc-docx {
  height: 37px;
  width: 35px;
}

.svg-doc-pdf {
  height: 36px;
  width: 35px;
}

.svg-doc-xlsx {
  height: 37px;
  width: 35px;
}

.svg-external-link {
  height: 16px;
  width: 17px;
}

.svg-facebook {
  height: 20px;
  width: 11px;
}

.svg-fax-icon {
  height: 36px;
  width: 40px;
}

.svg-flickr {
  height: 12px;
  width: 20px;
}

.svg-instagram {
  height: 20px;
  width: 21px;
}

.svg-laptop {
  height: 30px;
  width: 36px;
}

.svg-linkedin {
  height: 20px;
  width: 20px;
}

.svg-login {
  height: 16px;
  width: 24px;
}

.svg-mail {
  height: 24px;
  width: 32px;
}

.svg-marker {
  height: 20px;
  width: 14px;
}

.svg-page-test {
  height: 56px;
  width: 45px;
}

.svg-phone {
  height: 36px;
  width: 33px
}

.svg-profile {
  height: 32px;
  width: 32px;
}

.svg-quote {
  height: 46px;
  width: 55px;
}

.svg-restore {
  height: 15px;
  width: 20px;
}

.svg-settings {
  height: 16px;
  width: 16px;
}

.svg-twitter {
  height: 17px;
  width: 21px;
}

.svg-user-test {
  height: 51px;
  width: 54px;
}

.svg-wait-time {
  height: 40px;
  width: 40px;
}

.svg-youtube {
  height: 16px;
  width: 21px;
}
