.svg-building,
.svg-settings {
  height: 16px;
  width: 16px;
}

.svg-alerts {
  height: 16px;
  width: 14px;
}

.svg-arrow {
  height: 18px;
  width: 16px;
}

.svg-camping {
  height: 68px;
  width: 75px;
}

.svg-laptop {
  height: 30px;
  width: 36px;
}

.svg-login {
  height: 16px;
  width: 24px;
}

.svg-mail {
  height: 24px;
  width: 32px;
}

.svg-phone {
  height: 36px;
  width: 33px
}

.svg-profile {
  height: 32px;
  width: 32px;
}

.svg-quote {
  height: 46px;
  width: 55px;
}

.svg-restore {
  height: 15px;
  width: 20px;
}

