.svg-bag-search {
  height: 51px;
  width: 60px;
}

.svg-building {
  height: 16px;
  width: 16px;
}

.svg-alerts {
  height: 16px;
  width: 14px;
}

.svg-apple {
  height: 60px;
  width: 48px;
}

.svg-arrow {
  height: 18px;
  width: 16px;
}

.svg-campfire {
  height: 57px;
  width: 62px;
}

.svg-camping {
  height: 68px;
  width: 75px;
}

.svg-certificate {
  height: 60px;
  width: 48px;
}

.svg-external-link {
  height: 16px;
  width: 17px;
}

.svg-family {
  height: 52px;
  width: 58px;
}

.svg-gavel {
  height: 61px;
  width: 60px;
}

.svg-id-card {
  height: 48px;
  width: 65px;
}

.svg-laptop {
  height: 30px;
  width: 36px;
}

.svg-login {
  height: 16px;
  width: 24px;
}

.svg-mail {
  height: 24px;
  width: 32px;
}

.svg-map {
  height: 24px;
  width: 24px;
}

.svg-phone {
  height: 36px;
  width: 33px
}

.svg-pig-bank {
  height: 60px;
  width: 52px;
}

.svg-profile {
  height: 32px;
  width: 32px;
}

.svg-quote {
  height: 46px;
  width: 55px;
}

.svg-restore {
  height: 15px;
  width: 20px;
}

.svg-settings {
  height: 16px;
  width: 16px;
}

.svg-server-rack {
  height: 52px;
  width: 52px;
}
