.ma__video {
  @include clearfix;
  
  &__container {
    padding: 13px;
  }

  @media ($bp-small-min) {
  
    &--right &__container {
      float: right;
      margin-left: 1em;
      margin-bottom: 1em;
      width: 50%;
    }
  }

  .main-content--full .page-content > & {
    @include ma-container();
  }

  &__link {
    margin-top: 12px;
  }
}