// $bg is the color of the parent
// $fg is the color of the line
@mixin ma-border-decorative($fg: transparent, $bg: transparent, $opacity: .5) {
  @if($fg == transparent) {
    position: relative;
  }

  &:after {
    @if($fg == transparent) {
      content: "";
      height: 3px;
      position: absolute;
        bottom: 0;
        left: 0.075em;
      transform: skew(-30deg);
      width: $column;  //85px
    }
    @else {
      background-color: rgba($fg,$opacity);

      .no-cssgradients & {
        background-color: $fg;
      }
    }
  }

}
