// Parameters
// $size => "normal", "small"
// $type => "solid", "outline"
// $color => rgba() or hex value
//
// passing a color value will return the code for the theme instead of the code for layout

@mixin ma-button ($size:"normal", $type:"solid", $color:"transparent") {
  // layout
  @if($color == "transparent") {
    @include ma-button-base;

    @if($size == "normal") {
      font-size: 1.125rem;
      line-height: 1.61;
    }
    @else {
      font-size: 1rem;
      line-height: 1.4;
    }
  } 
  // theme
  @else {
    @include ma-font(700);

    @if($type == "solid") {
      background-color: $color;
      border-color: transparent;
      color: $c-font-inverse;

      &:hover {
        background-color: rgba($color,.75);
      }
    }
    @else {
      background-color: $c-font-inverse;
      border-color: rgba($color,.5);
      color: $color;

      &:hover {
        background-color: rgba($color,1);
        color: $c-font-inverse;
      }
    }
  }
}