@mixin ma-container {
  margin: 0 auto;
  // grid max width plus the l/r padding for desktop
  max-width: $max-width + 80px;  
  padding-left: 10px;
  padding-right: 10px;

  @media ($bp-x-small-min) {
    padding-left: 20px;
    padding-right: 20px;
  }

  @media ($bp-medium-min) {
    padding-left: 30px;
    padding-right: 30px;
  }

  @media ($bp-large-min) {
    padding-left: 40px;
    padding-right: 40px;
  }
}

