@mixin ma-h1 {
  font-size: 3rem;
  line-height: 1.07;

  @media ($bp-medium-min){
    font-size: 3.25rem;
  }

  @media ($bp-large-min){
    font-size: 4rem;
  }

  @media ($bp-x-large-min){
    font-size: 4.375rem;
  }
}

@mixin ma-h2 {
  font-size: 2.25rem;
  line-height: 1.222222;

  @media ($bp-small-min){
    font-size: 2.688rem;
  }
}

@mixin ma-h3 {
  font-size: 2.188rem;
  line-height: 1.1;
}

@mixin ma-h4 {
  font-size: 1.813rem;
  line-height: 1.2;
}

@mixin ma-h5 {
  font-size: 1.625rem;
  line-height: 1.3;
  margin-bottom: .5em;
}

@mixin ma-h6 {
  font-size: 1.4rem;
  margin-bottom: .25em;
}
