<section class="ma__action-header">
  <div class="ma__action-header__container">
    <div class="ma__action-header__content">
      {# for backward compatibility with version 3.2.0 #}
      {% if actionHeader.pageHeader %} 
        {% set pageHeader = actionHeader.pageHeader %}
      {% endif %}
      {% include "@organisms/by-template/page-header.twig" %}
      {% if actionHeader.contactUs %}
        {% set contactUs = actionHeader.contactUs %}
        {% include "@molecules/contact-us.twig" %}
      {% endif %}
      {# for backward compatibility with version 3.2.0 #}
      {% if headerContact %}
        {% include "@molecules/header-contact.twig" %}
      {% endif %}
    </div>
    <div class="ma__action-header__widgets">
      {% for widget in actionHeader.widgets %}
        {% include widget.path with widget.data %}
      {% endfor %}
    </div>
  </div>
  {% if actionHeader.divider %}
    <div class="ma__action-header__divider">
      {% include "@atoms/divider.twig" %}
    </div>
  {% endif %}
</section>