<section class="ma__action-header">
  <div class="ma__action-header__container">
    <div class="ma__action-header__content">
      {% include "@organisms/by-template/page-header.twig" %}
      {% if headerContact %}
        {% include "@molecules/header-contact.twig" %}
      {% endif %}
    </div>
    <div class="ma__action-header__widgets">
      {% for widget in actionHeader.widgets %}
        {% include widget.path with widget.data %}
      {% endfor %}
    </div>
  </div>
  {% if actionHeader.divider %}
    <div class="ma__action-header__divider">
      {% include "@atoms/divider.twig" %}
    </div>
  {% endif %}
</section>