<section class="ma__breadcrumbs {{breadcrumbs.light ? 'ma__breadcrumbs--light' : ''}}">
  <div class="ma__breadcrumbs__container">
    <ul>
      {% for link in breadcrumbs.links %}
      <li><a href="{{link.href}}">{{link.text}}</a></li>
      {% endfor %}
    </ul>
  </div>
</section>