<section class="ma__breadcrumbs {{breadcrumbs.light ? 'ma__breadcrumbs--light' : ''}}">
  <nav class="ma__breadcrumbs__container">
    <ol>
      {% for link in breadcrumbs.links %}
      <li><a href="{{link.href}}">{{link.text}}</a></li>
      {% endfor %}
    </ol>
  </nav>
</section>
