<section class="ma__emergency-alerts js-accordion is-open">
  <div class="ma__emergency-alerts__header">
    
  </div>
  <div class="ma__emergency-alerts__content js-accordion-content">

  </div>
  <div class="ma__emergency-alerts__interface js-accordion-link">
    <% include "@molecules/button-alert.twig" %>
  </div>
</section>
