<footer class="ma__footer js-footer" id="footer" role="contentinfo">
  <div class="ma__footer__container">
    {% block footer %}{# for the Footer region content #}{% endblock %}
    {% block footer_navigation %}
      <div class="ma__footer__nav">
        {% include "@molecules/footer-links.twig" %}
      </div>
    {% endblock %}
    <section class="ma__footer__info">
      <div class="ma__footer__logo">
        <a href="/" title="Mass.gov home page">
          <img src="{{ urlDomain ~ '/' ~ directory }}/images/stateseal.png" alt="Massachusetts State Seal" width="100" height="100" />
        </a>
      </div>
      <div class="ma__footer__social">
        {% set socialLinks = footerSocialLinks %}
        {% include "@molecules/social-links.twig" %}
      </div>
      <div class="ma__footer__copyright">
        <p><b>&copy; {{ "now"|date("Y") }} Commonwealth of Massachusetts.</b></p>
        <p>Mass.Gov&#x00AE; is a registered service mark of the Commonwealth of Massachusetts.</p>
        <a href="{{ privacyPolicy | default('/privacypolicy') }}">Mass.gov Privacy Policy</a>
      </div>
    </section>
  </div>
  {% if backToTopButton %}
    <button class="ma__footer__back2top js-back2top is-hidden">
      {{ icon('arrow') }}
      <span aria-hidden="true">Top</span>
      <span class="visually-hidden">Go to the top of the page</span>
    </button>
  {% endif %}
</footer>
{% if floatingAction %}
  {% include "@molecules/floating-action.twig" %}
{% endif %}
