<footer class="ma__footer js-footer">
  <button class="ma__footer__back2top js-back2top is-hidden">
    {% include "atoms-svg-arrow" %}
    <span>Top</span>
  </button>
  <div class="ma__footer__container">
    <div class="ma__footer__nav">
      {% include "molecules-footer-links" %}
    </div>
    <section class="ma__footer__info">
      <div class="ma__footer__logo">
        {% include "atoms-site-logo" %}
      </div>
      <div class="ma__footer__social">
        {% include "molecules-social-links" %}
      </div>
      <div class="ma__footer__copyright">
        <p><b>&copy; 2016 Commonwealth of Massachusetts.</b></p>
        <p>Mass.Gov&#x00AE; is a registered service mark of the Commonwealth of Massachusetts.</p>
      </div>
    </section>
  </div>
</footer>
