{% set alertId = headerAlert.id ? headerAlert.id : '' %}
{% set alertPrefix = headerAlert.prefix ?: 'alert!' %}

{# backward compatible to v5.5 #}
{% if headerAlert.guid %}
  {% set alertId = headerAlert.guid %}
{% endif %}

<section 
  class="ma__header-alert js-header-alert" 
  data-id="{{ alertId }}"
  role="alert">
  <div class="ma__header-alert__container">
    <span class="ma__header-alert__label">{{ alertPrefix }}</span>
    <span class="ma__header-alert__message">
      {% if headerAlert.href %}
        {% set decorativeLink = headerAlert %}
        {% include "@atoms/decorative-link.twig" %}
      {% else %}
        {{ headerAlert.text }}
      {% endif %}
    </span>
  </div>
  <button 
    class="ma__header-alert__hide js-header-alert-link" 
    title="hide alert">+</button>
</section>
