<section 
  class="ma__header-alert js-header-alert" 
  data-id="{{headerAlert.guid}}"
  role="alert">
  <div class="ma__header-alert__container">
    <span class="ma__header-alert__label">alert!</span>
    <span class="ma__header-alert__message">
      {% if headerAlert.href %}
        {% set link = headerAlert %}
        {% include "atoms-link" %}
      {% else %}
        {{headerAlert.text}}
      {% endif %}
    </span>
  </div>
  <button 
    class="ma__header-alert__hide js-header-alert-link" 
    title="hide alert">+</button>
</section>