<section class="ma__illustrated-header">
  <div class="ma__illustrated-header__container">
    <div class="ma__illustrated-header__content">
      <div class="ma__illustrated-header__category">
        {{illustratedHeader.category}}
      </div>
      {% set pageHeader = illustratedHeader.pageHeader %}
      {% include "@organisms/by-template/page-header.twig" %}
    </div>
  </div>
  {% if illustratedHeader.bgImage %}
    <div 
      style="background-image: url('{{illustratedHeader.bgImage}}')" 
      class="ma__illustrated-header__image"
      role="image"
      title="{{illustratedHeader.bgTitle}}">
    </div>
  {% else %}
    <div class="ma__illustrated-header__image ma__illustrated-header__image--empty"></div>
  {% endif %}
</section>