<section class="ma__page-header">
  <div class="ma__page-header__content"{% if schemaPageType %} property="mainEntityOfPage"{% endif %}>
    <h1 class="ma__page-header__title"{% if schemaPageType %} property="name"{% endif %}>{{pageHeader.title}}</h1>
    {% if pageHeader.subTitle %}
      <div class="ma__page-header__sub-title">{{pageHeader.subTitle}}</div>
    {% endif %}
    {% if pageHeader.rteElements %}
      <div class="ma__page-header__intro">
        {% set rteElements = pageHeader.rteElements %}
        {% include "@organisms/by-author/rich-text.twig" %}
      </div>
    {% endif %}
  </div>
  {% if pageHeader.headerTags.taxonomyTerms %}
    {% set headerTags = pageHeader.headerTags %}
    {% include "@molecules/header-tags.twig" %}
  {% endif %}
</section>
