<section class="ma__page-header">
  <div class="ma__page-header__content">
    <h1 class="ma__page-header__title">{{pageHeader.title}}</h1>
    <h4 class="ma__page-header__sub-title">
      {{pageHeader.subTitle}}
    </h4>
    {% if pageHeader.intro %}
      <div class="ma__page-header__intro">
        <div class="ma__rich-text">
          {{ pageHeader.intro | raw }}
        </div>
      </div>
    {% endif %}
    {% if pageHeader.taxonomyTerms %}
      {% set taxonomyTerms = pageHeader.taxonomyTerms %}
      {% include "molecules-header-tags" %}
    {% endif %}
  </div>
</section>
