<nav class="ma__toc--hierarchy">
  {% set coloredHeading = tableOfContentsHierarchy.coloredHeading %}
  {% include "@atoms/04-headings/colored-heading.twig" %}
  <ul class="ma__toc--hierarchy__container">
      {% block binderSection %}
        {% for section in tableOfContentsHierarchy.sections %}
          {% if section.linkItems|length > 0 %}
            {% block tocExpandableSection %}
              {% set expandableSection = section %}
              {% include "@molecules/expandable-section.twig" %}
            {% endblock %}
          {% elseif section.icon %}
            <li>
              {% set downloadLink = section %}
              {% include "@molecules/download-link.twig" %}
            </li>
          {% else %}
            <li>
              {% set decorativeLink = section %}
              {% include "@atoms/decorative-link.twig" %}
            </li>
          {% endif %}
        {% endfor %}
      {% endblock %}
  </ul>
</nav>
