<div class="ma__toc--overlay js-inline-overlay" id="{{tableOfContentsOverlay.id}}">
  <div class="ma__toc--toc__title">
    <span class="ma__toc__subtitle">This is a part of:</span>
    {% set decorativeLink = tableOfContentsOverlay.title %}
    {% include "@atoms/decorative-link.twig" %}
    <button type="button" class="ma__toc--toc__toggle js-inline-overlay-toggle" aria-expanded="false" aria-controls="toc-overlay">
      <span class="show">
        +
        <span class="ma__visually-hidden">Show table of contents</span>
      </span>
      <span class="hide">
        &times;
        <span class="ma__visually-hidden">Hide table of contents</span>
      </span>
    </button>
  </div>
  <div class="ma__toc--overlay__container js-inline-overlay-content" id="toc-overlay">
    {% for tocSection in tableOfContentsOverlay.tocSections %}
      {% set tableOfContentsHierarchy = tocSection %}
      {% include "@organisms/by-template/table-of-contents-hierarchy.twig" %}
    {% endfor %}
  </div>
</div>
