<div class="ma__toc--overlay js-inline-overlay" id="{{tableOfContentsOverlay.id}}">
  <button type="button" class="ma__toc--toc__toggle js-inline-overlay-toggle" aria-expanded="false" aria-controls="toc-overlay">
    <span class="ma__toc--toc__toggle-title">
      <span class="ma__toc__subtitle">This is a part of:</span>
      {{ tableOfContentsOverlay.title}}&nbsp;{% include "@atoms/05-icons/svg-arrow.twig" %}
    </span>
  </button>
  <div class="ma__toc--overlay__container js-inline-overlay-content" id="toc-overlay">
    {% for tocSection in tableOfContentsOverlay.tocSections %}
      {% set tableOfContentsHierarchy = tocSection %}
      {% include "@organisms/by-template/table-of-contents-hierarchy.twig" %}
    {% endfor %}
  </div>
</div>
