<nav class="ma__toc--hierarchy">
  {% if tableOfContentsHierarchy.title.colored %}
    {% set coloredHeading = { "text": tableOfContentsHierarchy.title.text, "color": "green" } %}
    {% include "@atoms/04-headings/colored-heading.twig" %}
  {% else %}
    {% set sidebarHeading = { "title": tableOfContentsHierarchy.title.text } %}
    {% include "@atoms/04-headings/sidebar-heading.twig" %}
  {% endif %}
    <ul class="ma__toc--hierarchy__container">
      {% for section in tableOfContentsHierarchy.sections %}
        {% if section.linkItems|length > 0 %}
          <li class="ma__toc--hierarchy__accordion js-accordion">
            <button class="ma__toc--hierarchy__title js-accordion-link {{ section.isCurrent ? 'is-current': ''}}" type="button">
              {{section.text}}
            </button>
            <ul class="ma__toc--hierarchy__accordion-content js-accordion-content">
              {% for link in section.linkItems %}
                <li class="{{ link.isCurrent ? 'is-current': ''}}">
                  {% if link.icon %}
                    {% set downloadLink = link %}
                    {% include "@molecules/download-link.twig" %}
                  {% else %}
                    {% set decorativeLink = link %}
                    {% include "@atoms/decorative-link.twig" %}
                  {% endif %}
                </li>
              {% endfor %}
            </ul>
          </li>
        {% elseif section.icon %}
          <li>
            {% set downloadLink = section %}
            {% include "@molecules/download-link.twig" %}
          </li>
        {% else %}
          <li class="{{ section.isCurrent ? 'is-current': ''}}">
            {% set decorativeLink = section %}
            {% include "@atoms/decorative-link.twig" %}
          </li>
        {% endif %}
      {% endfor %}
  </ul>
</nav>
