<section class="ma__transition-page">
  <div class="ma__transition-page__icon">
    {% include transitionPage.icon %}
  </div>
  <h1 class="ma__transition-page__message">{{ transitionPage.message }}</h1>
  <form class="ma__form ma__transition-page__form" action="{{ transitionPage.href}}">
    <div class="ma__transition-page__checkbox">
      {% set inputCheckbox = transitionPage.inputCheckbox %}
      {% include "@atoms/03-forms/input-checkbox.twig" %}
    </div>
    <div class="ma__transition-page__buttons">
      <button class="ma__button ma__button--minor ma__button--small" onClick="window.history.back();" type="button">{{ transitionPage.back }}</button>
      {# backward compatible with v5.6 - check for old 'submit' variable #}
      {% if transitionPage.submit %}
        {% set button = { "text": transitionPage.submit, "type": "submit", "size": "small" } %}
      {% else %}
        {% set button = transitionPage.submitButton %}
      {% endif %}
      {% include "@atoms/01-buttons/button.twig" %}
    </div>
  </form>
</section>
