<a 
  class="ma__content-link {{link.chevron == 'true' ? 'ma__content-link--chevron' : ''}}" 
  href="{{link.href}}"
  {% if link.info %} aria-label="{{ link.label }}"{% endif %}><span>{{link.text}}</span></a>