.ma__action-card {

  &__item {

    &--cranberry {
      background-color: $c-theme-cranberry;

      &:hover {
        background-color: rgba($c-theme-cranberry,.8);
        
        a {
          border-bottom-color: $c-font-inverse;
        }
      }
    }
  }

  &__item--cranberry &__icon {

    svg,
    svg > g {
      fill: rgba($c-font-inverse,.7);
    }
  }

  &__item--cranberry &__category {
    color: rgba($c-font-inverse,.8);
    text-shadow: 0 0.125rem 0.125rem rgba(1, 1, 1, 0.5);
  }

  &__item--cranberry &__link {

    a {
      color: $c-font-inverse;

      &:hover {
        border-bottom-color: $c-font-inverse;
      }
    }

    svg {
      fill: rgba($c-font-inverse, .5);
    }
  }
}
