$action-finder-bg-color: tint($c-theme-primary,89%);
$action-finder-border-color: tint($c-theme-primary,50%);

.ma__action-finder {
  
  &--no-background &__header {
    background-color: $c-theme-secondary;

    &:before {
      background-color: $c-theme-secondary;
    }
  }
}
