{{ var "alertsExist" "false" }}
{{ var "accordionClass" "" }}
{{#if emergencyAlerts.alerts }}
  {{ var "alertsExist" "true" }}
  {{ var "accordionClass" "js-accordion js-emergency-alerts" }}
{{/if}}

{{#compare alertsExist emergencyAlerts.emergencyHeader operator="||" }}
<section class="ma__emergency-alerts {{ accordionClass }}" data-id="{{emergencyAlerts.id}}">
  <div class="ma__emergency-alerts__header">
    <div class="ma__emergency-alerts__container">
      {{> emergencyHeader emergencyHeader=emergencyAlerts.emergencyHeader }}
      {{#if alertsExist }}
        <div class="ma__emergency-alerts__header-interface js-accordion-link">
          {{> buttonAlert buttonAlert=emergencyAlerts.buttonAlert }}
        </div>
      {{/if}}
    </div>
  </div>
  {{#if alertsExist }}
    <div class="ma__emergency-alerts__content js-accordion-content">
      <div class="ma__emergency-alerts__container">
        {{#each emergencyAlerts.alerts }}
          {{> emergencyAlert emergencyAlert=this }}
        {{/each}}
      </div>
    </div>
    <div class="ma__emergency-alerts__interface js-accordion-link">
      {{> buttonAlert buttonAlert=emergencyAlerts.buttonAlert }}
    </div>
  {{/if}}
</section>
{{/compare}}
