<section class="ma__info-window">
  <h3 class="ma__info-window__name">{{{name}}}</h3>
  <div class="ma__info-window__address">
    {{{address}}}
  </div>
  {{#if phone}}
    <div class="ma__info-window__phone">
      <span class="ma__info-window__label">Phone:</span>
      <a class="ma__info-window__phone" href="tel:{{phone}}">{{phoneFormatted}}</a>
    </div>
  {{/if}}
  {{#if fax}}
    <div class="ma__info-window__phone">
      <span class="ma__info-window__label">Fax:</span>
      <a class="ma__info-window__phone"  href="tel:{{fax}}">{{faxFormatted}}</a>
    </div>
  {{/if}}
  {{#if email}}
    <div class="ma__info-window__email">
      <span class="ma__info-window__label">Email:</span>
      <a class="ma__info-window__email" href="mailto:{{email}}">{{email}}</a>
    </div>
  {{/if}}
</section>
