<div class="ma__pagination js-pagination">
  {{# compare pages.length 2 operator=">" }}
  <button class="ma__pagination__prev" type="button" {{# if prev.disabled }}disabled {{/if}}>{{ prev.text }}</button>
  {{/compare}}
  {{# each pages}}
    {{# compare this.text "spacer" operator="==" }}
      <span class="ma__pagination__spacer">&hellip;</span>
    {{else}}
      <button class="ma__pagination__page {{# if this.active }}is-active{{/if}}" type="button" data-page="{{ this.text }}">{{ this.text }}</button>
    {{/compare}}
  {{/each}}
  {{# compare pages.length 2 operator=">" }}
    <button class="ma__pagination__next" type="button" {{# if next.disabled }}disabled {{/if}}>{{ next.text }}</button>
  {{/compare}}
</div>
