<div class="ma__site-logo">
  <a href="/" title="Mass.gov home page">
    <img src="{{ url.domain }}/{{ url.assetsPath }}/images/pilot-logo.png" alt="Mass.gov" width="164" height="75" />
  </a>
</div>
