{% if video.position %}
  {% set posClass = "ma__video--" ~ video.position %}
{% endif %}
<div class="ma__video {{ posClass }}">
  <div class="js-ma-responsive-video">
    <iframe width="video.width" height="video.height" src="{{video.src}}" frameborder="0" allowfullscreen aria-label="video.label"></iframe>
  </div>
  {% if video.link %}
    {% set decorativeLink = video.link %}
    {% include "@atoms/decorative-link.twig" %}
  {% endif %}
</div>
