<div class="ma__back-button">
  {% set button = backButton.button %}

  {# backward compatible with v5.6 - swapped custom link with a button #}
  {% if backButton.link %} 
    {% set button =  
    { "href": backButton.link.href,
      "info": backButton.link.info,
      "text": backButton.link.text,
      "type": "link",
      "size": "small",
      "theme": "",
      "outline": true
    } %}
  {% endif %}

  {% include "@atoms/01-buttons/button.twig" %}
</div>
