version: '3.1'


volumes:
  appdata:
  static:

services:
  # BackstopJS.
  backstop:
    image: backstopjs/backstopjs
    volumes:
      - appdata:/src
    depends_on:
      - web
    shm_size: 1gb
    entrypoint: [backstop, --config=/src/backstopjs/backstop.js]

  # Static file server.
  web:
    image: nginx:alpine
    volumes:
      - static:/usr/share/nginx/html
