## Ensure that src and dist are published
!assets

assets/css/pattern-scaffolding*
assets/css/pilot*
assets/css/gov-theme*
assets/data
assets/js/helpers
assets/js/index.js
assets/js/modules
assets/js/templates
assets/js/vendor
assets/patterns
