## Ensure that src and dist are published
!public/assets

config/
core/
patches/
public/index.html
public/favicon.ico
public/latest-change.txt
public/annotations
public/assets/css/pattern-scaffolding*
public/assets/css/pilot*
public/assets/css/gov-theme*
public/assets/data
public/assets/js/helpers
public/assets/js/index.js
public/assets/js/modules
public/assets/js/templates
public/assets/js/vendor
public/assets/patterns
public/patternlab-components
public/patterns
public/styleguide
source/
tools/
vendor/
.eslintrc
.gitignore
build.xml
composer.json
composer.lock
gulpfile.js
readme-gulp.md
