{# Option to remove js functionality and hide the footnote link (this is an implementation workaround). #}
{% set footnoteJs = footnote.number ? 'js-footnote' : '' %}

<div class="ma__footnote {{ footnoteJs }}" tabindex="-1">
  {% if footnote.number %}
    <a class="ma__footnote__link js-footnote-link" id="{{ footnote.id }}" href="{{ footnote.target }}">{{ footnote.number }}</a>
  {% endif %}
  <div class="ma__footnote__rich-text js-footnote-message">
    {% set richText = footnote.richText %}
    {% include "@organisms/by-author/rich-text.twig" %}
  </div>
</div>
