<section class="ma__icon-links">
  {% if iconLinks.compHeading %}
    {% set compHeading = iconLinks.compHeading %}
    {% include "@atoms/04-headings/comp-heading.twig" %}
  {% endif %}
  <ul class="ma__icon-links__items">
    {% for item in iconLinks.items %}
      <li class="ma__icon-links__item">
        <span class="ma__icon-links__icon">
          {% include item.icon %}
        </span>
        <span class="ma__icon-links__link">
          {% set decorativeLink = item.link %}
          {% include "@atoms/decorative-link.twig" %}
        </span>
      </li>
    {% endfor %}
  </ul>
</section>