{% extends "stock-pl-page-2col" %}
{% block hero %}
    {% if emergency %}
        {% include "stock-pl-alert" with emergency %}
    {% endif %}
    {% if hero %}
        {% include "stock-pl-block-hero" %}
    {% endif %}

    <div class="g g-3up">
        {% for tout in touts %}
            <div class="gi">
                {% include "stock-pl-block-inset" %}
            </div>
        {% endfor %}
    </div><!--end 3up-->

    <hr/>
{% endblock %}

{% block main %}
    <section class="section latest-posts">
        <h2 class="section-title">Latest Posts</h2>
        <ul class="post-list">
            {% for post in latest_posts %}
                <li>{% include "stock-pl-media-block" %}</li>
            {% endfor %}
        </ul>
        <a href="#" class="text-btn">View more posts</a>
    </section>
{% endblock %}

{% block sidebar %}
    {% include "stock-pl-recent-tweets" %}
{% endblock %}
