{% extends "stock-pl-site" %}
{% block title %}<h1 class="section-title">Our Outdoor Blog</h1>{% endblock %}

{% block main %}
    {% include "stock-pl-latest-posts" %}
    {% include "stock-pl-pagination" %}
{% endblock %}

{% block sidebar %}
    {% include "stock-pl-recent-tweets" %}
{% endblock %}