{% extends "stock-pl-page-2col" %}
{% block main %}
    <article class="article">
        <header class="article-header">
            <h1>Article Headline Lorem ipsum dolor sit aweofij</h1>
            {% include "stock-pl-byline" %}
        </header>
        {% include "stock-pl-article-body" %}
    </article><!--end .article-->
    {% include "stock-pl-social-share" %}
    {% include "stock-pl-comment-thread" %}
{% endblock %}

{% block sidebar %}
    {% include "stock-pl-related-posts" %}
    {% include "stock-pl-recent-tweets" %}
{% endblock %}
