.ma__button {
  @include ma-button("normal","solid",$c-theme-primary-1);
}

.ma__button--minor,
.ma__button-minor {
  @include ma-button("normal","outline",$c-theme-primary-1);
}

.ma__button--alt,
.ma__button-alt {
  @include ma-button("normal","solid",$c-theme-gray);
}

.ma__button-minor-alt {
  @include ma-button("normal","outline",$c-theme-gray);
}

.ma__button-search {
  @include ma-font(700);
  background-color: $c-white;
  border-color: $c-bd-input;
  color: $c-theme-green;

  &:hover {
    background-color: $c-theme-green;
    border-color: $c-theme-green;
    color: $c-white;

    svg {
      fill: $c-white;
    } 
  }
  svg {
    fill: $c-theme-green;
  }
}
