:focus {
  border-color: Highlight !important;

  /* WebKit gets its native focus styles.
   */
  @media (-webkit-min-device-pixel-ratio:0) {
    outline-color: -webkit-focus-ring-color;
  }
}


input {
  background-color: $c-white;
  border-color: rgba($c-bd-input,.5);
  color: $c-font-base;

  &[data-valid ="is-invalid"] {
    border-color: red;
  }
}

textarea {
  background-color: $c-white;
  border-color: rgba($c-bd-input,.5);

  &[data-valid ="is-invalid"] {
    border-color: rgba(red,.7);
  }
}

label {
  @include ma-font(500);
}

.ma__input-radio {

  input {
    border-color: $c-bd-input;
  }

  label {

    &:before {
      background-color: $c-white;
      border-color: rgba($c-bd-input,.5);
      color: transparent;
    }
  }

  input:checked ~ label {

    &:before {
      color: $c-font-base;
    }
  }

  input:focus ~ label:before {
    border-color: Highlight !important;

    /* WebKit gets its native focus styles.
     */
    @media (-webkit-min-device-pixel-ratio:0) {
      outline-color: -webkit-focus-ring-color;
    }
  }
}

.ma__input-checkbox {

  input {
    border-color: $c-bd-input;
  }

  label {

    &:before {
      background-color: $c-white;
      border-color: rgba($c-bd-input,.5);
      color: transparent;
    }
  }

  input:checked ~ label {

    &:before {
      color: $c-font-base;
      font-weight: 700;
    }
  }

  input:focus ~ label:before {
    border-color: Highlight !important;

    /* WebKit gets its native focus styles.
     */
    @media (-webkit-min-device-pixel-ratio:0) {
      outline-color: -webkit-focus-ring-color;
    }
  }
}

