:focus {
  border-color: Highlight !important;

  /* WebKit gets its native focus styles.
   */
  @media (-webkit-min-device-pixel-ratio:0) {
    outline-color: -webkit-focus-ring-color;
  }
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-style: italic;
  opacity: 1;
}
::-moz-placeholder { /* Firefox 19+ */
  font-style: italic;
  opacity: 1;
}
:-ms-input-placeholder { /* IE 10+ */
  font-style: italic;
  opacity: 1;
}
:-moz-placeholder { /* Firefox 18- */
  font-style: italic;
  opacity: 1;
}

input,
optgroup,
select,
textarea {
  @include ma-font(400);
}


input {
  background-color: $c-white;
  border-color: $c-bd-input;
  color: $c-font-base;

  &[data-valid ="is-invalid"] {
    border-color: red;
  }

  .ma__form--light & {
    background-color: rgba($c-white, 0.1);
    border-color: rgba($c-bd-input,.5);
    color: $c-font-inverse;
  }
}

textarea {
  background-color: $c-white;
  border-color: $c-bd-input;

  &[data-valid ="is-invalid"] {
    border-color: rgba(red,.7);
  }

  .ma__form--light & {
    background-color: rgba($c-white, 0.1);
    border-color: rgba($c-bd-input,.5);
    color: $c-font-inverse;
  }
}

label {
  @include ma-font(500);
}

.ma__input-radio {

  label {

    &:before {
      background-color: $c-white;
      border-color: $c-bd-input;
      color: transparent;

      .ma__form--light & {
        background-color: rgba($c-white, 0.1);
        border-color: rgba($c-bd-input,.5);
      }
    }
  }

  input:checked ~ label {

    &:before {
      color: $c-font-base;

      .ma__form--light & {
        color: $c-font-inverse;
      }
    }
  }

  input:focus ~ label:before {
    border-color: Highlight !important;

    /* WebKit gets its native focus styles.
     */
    @media (-webkit-min-device-pixel-ratio:0) {
      outline-color: -webkit-focus-ring-color;
    }
  }
}

.ma__input-checkbox {

  label {

    &:before {
      background-color: $c-white;
      border-color: $c-bd-input;

      .ma__form--light & {
        background-color: rgba($c-white, 0.1);
        border-color: rgba($c-bd-input,.5);
      }
    }
  }

  input:focus ~ label:before {
    border-color: Highlight !important;

    /* WebKit gets its native focus styles.
     */
    @media (-webkit-min-device-pixel-ratio:0) {
      outline-color: -webkit-focus-ring-color;
    }
  }
}
