.ma__select-box {

  &__label {
    font-weight: 500;
  }

  &__select {
    color: $c-font-base;
    font-weight: 300;
  }

  &__link {
    background-color: $c-white;
    border-color: $c-bd-input;

    .ma__form--light & {
      background-color: rgba($c-white,.1);
      border-color: rgba($c-bd-input,.5);
    }
  }

  &__icon {
    border-color: $c-bd-input;

    .ma__form--light & {
      border-color: rgba($c-bd-input,.5);
    }
  }

  &__select:focus + &__link {
    border-color: Highlight;

    /* WebKit gets its native focus styles.
     */
    @media (-webkit-min-device-pixel-ratio:0) {
      outline-color: -webkit-focus-ring-color;
    }
  }
}
