.ma__site-logo {

  a {

    span {
      font-weight: 400;
      line-height: 1;
      padding-bottom: 0.1rem;
      color: $c-theme-green;

      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: $c-theme-green;
    }
  }
}
