.ma__site-logo {

  a {

    span {
      font-weight: 400;
      color: $c-theme-green;

      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: $c-theme-green;

      @media ($bp-small-max) {
        -webkit-text-stroke-width: 0.03rem;
      }
    }
  }
}
