<section class="ma__personal-message">
  <div class="ma__personal-message__container">
    {% for imagePromo in personalMessage.imagePromos %}
      {% include "@molecules/image-promo.twig" %}
    {% endfor %}
  </div>
</section>