<section class="ma__action-step">
  <div class="ma__action-step__icon">
    {% include actionStep.icon %}
  </div>
  <h5 class="ma__action-step__title">{{actionStep.title}}</h5>
  <div class="ma__action-step__content">
    <section class="ma__rich-text">{{actionStep.rte | raw}}</section>
  </div>
</section>
