.ma__information-details {

  &__content,
  &__post-content {

    & > * {
      @include ma-component-spacing;
    }
  }

  .ma__figure__caption {
    font-size: 1.3rem;
    font-weight: bold;
    font-style: normal;
    padding: 1rem 0;
    border-bottom: 1px solid $c-black;
  }

  .ma__image-credit__container {
    padding-left: 0;
  }
}