.ma__information-details {

  &__content,
  &__post-content {

    & > * {
      @include ma-component-spacing;
    }
  }

  .ma__figure__caption {
    font-weight: bold;
    font-style: normal;
    padding: 1rem 0;
    border-bottom: 1px solid $c-black;
  }

  .ma__image-credit__container {
    padding-left: 0;
  }

  &__pre-content-media {
    margin-bottom: 5rem;
  }

  .ma__iframe {
    margin-bottom: 1.75rem;
  }

  .ma__iframe__container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0;

    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  .sidebar {

    .ma__link-list {
      display: none;

      @include breakpoint ($bp-l) {
        display: block;
      }
    }
  }
}