<section class="ma__action-step">
  <div class="ma__action-step__icon">
    {% include actionStep.icon %}
  </div>
  {% if actionStep.title %}
    <h5 class="ma__action-step__title">{{actionStep.title}}</h5>
  {% endif %}
  <div class="ma__action-step__content">
    {% set rteElements = actionStep.rteElements %}
    {% include "organisms-rich-text" %}
  </div>
</section>
