<section class="ma__action-gallery">
  <ul class="ma__action-gallery__items">
    {% for item in actionGallery.items %}
      <li class="ma__action-gallery__item">
        <img src="{{item.src}}" alt="{{item.alt}}" />
      </li>
    {% endfor %}
      <li class="ma__action-gallery__view-more">
        {% set link = actionGallery.link %}
        {% include "atoms-link" %}
      </li>
  </ul>
</section>