<section class="ma__action-section">
  {% if actionSection.title %}
    <h3><a name="{{actionSection.id}}" id="{{actionSection.id}}">{{actionSection.title}}</a></h3>
  {% endif %}
  {% if actionSection.intro %}
    <p>{{actionSection.intro}}</p>
  {% endif %}
  <div class="ma__action-section__content">
    {% include actionSection.path with actionSection.data %}
  </div>
</section>