{% for activity in activities %}
  <div class="ma__activity">
    <img class="ma__activity__image" src="{% include activity.image %}">
    <div class="ma__activity__details">
      <h5 class="ma__activity__title">{% include activity.title %}</h5>
      <div class="ma__activity__description">{% include activity.description %}</div>
      <a class="ma__activity__link" href="{% include activity.href %}">{% include activity.linkTitle %}<span class="visually-hidden"> about {% include activity.title %}</span></a>
    </div>
  </div>
{% endfor %}