{# start action-section-rte molecule #}  
<section class="ma__action-section">
  <a name="overview" id="overview"></a>
  <h3>Overview</h3>
  <div class="ma__action-section__content">
    {# start rich text molecule #}  
    <section class="ma__rich-text">
      {% include "molecules-callout-stats" with {"statsCallout":{"pull":"right"}} %}
      <p>The Annual MassParks Pass allows you free parking for one vehicle, during daytime hours, at all State Parks except Quabbin Reservoir. It’s valid for one calendar year, from January through December, so you’ll need to buy a new one each year.</p>

      <p>The parking pass costs <b>$60 for Massachusetts residents</b> and <b>$85 dollars for non-Massachusetts residents</b>. If you have two cars, you can pay an additional $25 for a second car sticker that will allow you to park either car for free (only one at a time, though!).</p>

      <p>If you’re a Massachusetts resident 62 years old or older, you can get a special lifetime Senior MassParks Pass for a one-time fee of only $10.</p>  
    </section>
    {# end rich text molecule #}  
  </div>
</section>
{# start action-section-rte molecule #}  
