{# DEPRECIATED - use image-promo instead #}
<div>
  {% for activity in actionActivities %}
    {% set imagePromo = {
      "title": {
        "text": activity.title
      },
      "image": {
        "image": activity.image,
        "text": activity.alt
      },
      "description": {
        "property": "",
        "rteElements": [{
          "path": "@atoms/11-text/paragraph.twig",
          "data": {
            "paragraph" : {
              "text": activity.description
            }
          }
        }]
      },
      "link": {
        "text": activity.linkTitle,
        "href": activity.href,
        "type": "chevron",
        "label": ""
      }
    } %}
    {% include "@molecules/image-promo.twig" %}
    }
  {% endfor %}
</div>
