{# start action-section-rte molecule #}  
<section class="ma__action-section">
  <a name="{{actionRTE.id}}" id="{{actionRTE.id}}"></a>
  <h3>{{actionRTE.title}}</h3>
  <div class="ma__action-section__content">
    {% include "molecules-rich-text" with actionRTE.content %}
  </div>
</section>
{# start action-section-rte molecule #}  
