<section class="ma__download">
  {% for download in actionSectionDownloads %}
    <div class="ma__download__item">
      <div class="ma__download__icon">
        {% include download.icon %}
      </div>
      <h5 class="ma__download__title">
        <a href="{{download.url}}">{{download.title}}</a> <span>({{download.type}} {{download.size}})</span>
      </h5>
    </div>
  {% endfor %}
</section>