<h2 class="ma__emergency-header">
  <span class="ma__emergency-header__label">
    {% include "@atoms/05-icons/svg-alert.twig" %}
    <span>Emergency Alerts</span>
  </span>
  <span class="ma__emergency-header__title">{{ emergencyHeader.title }}</span>
</h2>
