<section class="ma__alerts-util">
  <p class="ma__alerts-util__description">Download the Massachusetts Alerts app to receive emergency alerts and information regarding severe weather, amber alerts, and disaster relief</p>
  <ul class="ma__alerts-util__items">
    <li class="ma__alerts-util__item">
      <a href="#">
        <img src="/assets/images/app-store.png" alt="app store" />
      </a>
    </li>
    <li class="ma__alerts-util__item">
      <a href="#">
        <img src="/assets/images/google-play.png" alt="google play" />
      </a>
    </li>
  </ul>
</section>
