<h2 class="ma__alert-header">
  <span class="ma__alert-header__label">
    {% include "@atoms/05-icons/svg-alert.twig" %}
    <span>Emergency Alerts</span>
  </span>
  <span class="ma__alert-header__title">{{ alertHeader.title }}</span>
</h2>
