<div class="ma__banner-credit">
  <div class="ma__banner-credit__container">
    <div class="ma__banner-credit__icon">
      {% set iconPath = bannerCredit.icon ? : "@atoms/05-icons/svg-marker-outline.twig" %}
      {% include iconPath %}
    </div>
    <div class="ma__banner-credit__image-name">{{ bannerCredit.imageName }}</div>
    <div class="ma__banner-credit__image-author">{{ bannerCredit.imageAuthor }}</div>
  </div>
</div>
