{# 
  modifier classes include ma__callout-stats--left and ma__callout-stats--right 
#}

{% if statsCallout.pull %}
  {% set modifierClass = "ma__callout-stats--" ~ statsCallout.pull %}
{% endif %}
<section class="ma__callout-stats {{modifierClass}}">
  <div class="ma__callout-stats__stat">$60</div>
  <div class="ma__callout-stats__content">per calendar year for residents</div>
</section>