<div class="ma__callout-link js-clickable {{calloutLink.quickaction == "true" ? 'js-quickaction-link' : ''}}">
  {% set decorativeLink = calloutLink %}
  {% include "@atoms/decorative-link.twig" %}
</div>