<section class="ma__contact-us js-accordion" property="containedInPlace" typeof="CivicStructure">
  {% if contactUs.title %}
    <h4 class="ma__column-heading" property="name">
      {% if contactUs.title.href %}
        {% set link = contactUs.title %}
        {% include "atoms-link" %}
      {% else %}
        {{contactUs.title.text}}
      {% endif %}
    </h4>
  {% endif %}

  {# Show first 2 contact groups outside of accordion #}
  {% for contactGroup in contactUs.groups[:2] %}
    {% include "@molecules/contact-group.twig" %}
  {% endfor %}

  {# Show 3rd+ contact groups inside of accordion (if they exist) #}
  {% if contactUs.groups|length > 2 %}
    <div class="ma__contact-us__extra js-accordion-content">
    {% for contactGroup in contactUs.groups[2:last] %}
      {% include "@molecules/contact-group.twig" %}
    {% endfor %}
    </div> {# end ma__contact-us__extra #}
    <div class="ma__contact-us__expand">
      <button class="js-accordion-link">
        <span>more</span><span>less</span> contact info
      </button>
    </div>
  {% endif %}
</section>
