{% set level = level ?: 2 %}
{% set outerAccordion = contactUs.accordion %}

{% if outerAccordion %}
  {% set accordionClass = "ma__contact-us--accordion js-accordion" %}
{% else %}
  {% if contactUs.groups|length > 2 %}
    {% set accordionClass = "js-accordion" %}
    {% set inlineAccordion = true %}
  {% endif %}
{% endif %}

<section 
  class="ma__contact-us {{ accordionClass }} {{ contactUs.isExpanded ? 'is-open':'' }}">

  {% if contactUs.subTitle %}
    {% if outerAccordion %}
      <button class="ma__contact-us__header js-accordion-link" type="button">
    {% endif %}
      {% set columnHeading = contactUs.subTitle %}
      {% include "@atoms/04-headings/column-heading.twig" %}
    {% if outerAccordion %}
      </button>
    {% endif %}
    {% set level = level + 1 %}
  {% endif %}

  {% if inlineAccordion %}
    {# Show first 2 contact groups outside of accordion #}
    {% for contactGroup in contactUs.groups[:2] %}
      {% include "@molecules/contact-group.twig" %}
    {% endfor %}
    
    {# Show 3rd+ contact groups inside of accordion (if they exist) #}
    <div class="ma__contact-us__extra js-accordion-content">
      {% for contactGroup in contactUs.groups[2:last] %}
        {% include "@molecules/contact-group.twig" %}
      {% endfor %}
    </div>
    <div class="ma__contact-us__expand">
      <button type="button" class="js-accordion-link">
        <span>more</span><span>less</span> contact info
      </button>
    </div>
  {% else %}
    <div class="ma__contact-us__content js-accordion-content">
      {% for contactGroup in contactUs.groups %}
        {% include "@molecules/contact-group.twig" %}
      {% endfor %}
    </div>
  {% endif %}
  {% if contactUs.subTitle %}
    {% set level = level - 1 %}
  {% endif %}
</section>
