<div class="ma__contact-group">
  {% if contactGroup.name and contactGroup.icon %}
    {% set headingLevel = contactGroup.level ? : 2 %}
    <h{{ headingLevel }} class="ma__contact-group__name">
      {% include contactGroup.icon %}
      <span>{{contactGroup.name}}</span>
    </h{{ headingLevel }}>
  {% endif %}
  {% block groupItems %}
  {% endblock %}
    {% for item in contactGroup.items %}
      {% set item = item|merge({"contactName": contactGroup.contactName })  %}
      {% include "@molecules/contact-item.twig" %}
    {% endfor %}
</div>
