{% set accordion = false %}
<section class="ma__contact-us js-accordion">
  {% if contactUs.title %}
    <h5 class="ma__contact-us__title">
      {% if contactUs.title.href %}
        {% set link = contactUs.title %}
        {% include "atoms-link" %}
      {% else %}
        <h5 class="ma__contact-us__title">{{contactUs.title.text}}</h5>
      {% endif %}
    </h5>
  {% endif %}

  {% for contactGroup in contactUs.groups %}
    {% if contactGroup.hidden and not accordion %}
      {% set accordion = true %}
      <div class="ma__contact-us__extra js-accordion-content">
    {% endif %}
    {% include "@molecules/contact-group.twig" %}
  {% endfor %}

  {% if accordion %}
    </div> {# end ma__contact-us__extra #}
    <div class="ma__contact-us__expand">
      <button class="js-accordion-link">
        <span>more</span><span>less</span> contact info
      </button>
    </div>
  {% endif %}
</section>