<div class="ma__date-range">
  <fieldset>
    <legend class="ma__date-range__label">
      {{ dateRange.label }}
    </legend>
    <div class="ma__date-range__start js-filter-by-date-range__start">
      {% set inputDate = dateRange.startDate %}
      {% include "@atoms/03-forms/input-date.twig" %}
    </div>
    <div class="ma__date-range__divider">to</div>
    <div class="ma__date-range__end js-filter-by-date-range__end">
      {% set inputDate = dateRange.endDate %}
      {% include "@atoms/03-forms/input-date.twig" %}
    </div>
  </fieldset>
</div>
