<section class="ma__dropdown js-dropdown">
  <label
    for="color-select" 
    class="ma__dropdown__label">Color Scheme:</label>
  <div class="ma__dropdown__field">
    <select
      name="color-select"
      id="color-select" 
      class="ma__dropdown__select js-dropdown-select">
      <option value="">Default color scheme</option>
      <option value="has-theme-black">White on Black scheme</option>
      <option value="has-theme-white">Black on White scheme</option>
    </select>
    <span class="ma__dropdown__link js-dropdown-link">Default color scheme</span>
  </div>
</section>