<div class="ma__emergency-alert">
  <div class="ma__emergency-alert__message">{{ emergencyAlert.message }} <span class="ma__emergency-alert__time-stamp">{{ emergencyAlert.timeStamp }}</span></div>
  <div class="ma__emergency-alert__link">
    {% set link = emergencyAlert.link %}
    {% include "@atoms/11-text/link.twig" %}
  </div>
</div>