<h2 class="ma__emergency-header">
  <div class="ma__emergency-header__label">
    {% include "@atoms/05-icons/svg-alert.twig" %}
    <span>Emergency Alerts</span>
  </div>
  <div class="ma__emergency-header__title">{{ emergencyHeader.title }}</div>
</h2>
