<section class="ma__emergency-header">
  <div class="ma__emergency-header__label">
    {% include "@atoms/05-icons/svg-alert.twig" %}
    <span>Emergency Alerts</span>
  </div>
  <h1 class="ma__emergency-header__title">{{ emergencyHeader.title }}</h1>
</section>