<section class="ma__footer-links">
  <nav role="navigation" aria-labeledby="footer-links-1">
    <h2 class="visually-hidden" id="footer-links-1">Footer Links 1</h2>
    <ul class="ma__footer-links__items">
      <li class="ma__footer-links__item"><a href="#" class="ma__footer-links__link">Living</a></li>
      <li class="ma__footer-links__item"><a href="#" class="ma__footer-links__link">Working</a></li>
      <li class="ma__footer-links__item"><a href="#" class="ma__footer-links__link">Learning</a></li>
      <li class="ma__footer-links__item"><a href="#" class="ma__footer-links__link">Visiting &amp; Exploring</a></li>
      <li class="ma__footer-links__item"><a href="#" class="ma__footer-links__link">Your Government</a></li>
    </ul>
  </nav>
  <nav role="navigation" aria-labeledby="footer-links-2">
    <h2 class="visually-hidden" id="footer-links-2">Footer Links 2</h2>
    <ul class="ma__footer-links__items">
      <li class="ma__footer-links__item"><a href="#" class="ma__footer-links__link">Contact Us</a></li>
      <li class="ma__footer-links__item"><a href="#" class="ma__footer-links__link">State Data</a></li>
      <li class="ma__footer-links__item"><a href="#" class="ma__footer-links__link">MassCareers</a></li>
      <li class="ma__footer-links__item"><a href="#" class="ma__footer-links__link">MassHR</a></li>
    </ul>
  </nav>
  <nav role="navigation" aria-labeledby="footer-links-3">
    <h2 class="visually-hidden" id="footer-links-3">Footer Links 3</h2>
    <ul class="ma__footer-links__items">
      <li class="ma__footer-links__item"><a href="#" class="ma__footer-links__link">Sitemap</a></li>
      <li class="ma__footer-links__item"><a href="#" class="ma__footer-links__link">Disclaimer</a></li>
      <li class="ma__footer-links__item"><a href="#" class="ma__footer-links__link">Site Policies</a></li>
      <li class="ma__footer-links__item"><a href="#" class="ma__footer-links__link">Feedback</a></li>
    </ul>
  </nav>
</section>
