<div class="ma__header-tags">
  {% if headerTags.label %}
    <span>{{ headerTags.label }}</span>
  {% endif %}
  <div id="terms" class="ma__header-tags__terms">
    {% for item in headerTags.taxonomyTerms %}
      <a href="{{ item.href }}">{{ item.text }}</a>
    {% endfor %}
    <button type="button" class="js-accordion-link" aria-expanded="false" aria-controls="terms">
      <span>more</span><span>less</span>
    </button>
  </div>
</div>
