<div class="ma__header-tags">
  {% if headerTags.label %}
    <span>{{ headerTags.label }}</span>
  {% endif %}
  <div class="ma__header-tags__terms">
    {% for item in headerTags.taxonomyTerms %}
      <a href="{{ item.href }}">{{ item.text }}</a>
    {% endfor %}
  </div>
</div>