<section class="ma__header-search">
  <form action="#">
    <label 
        for="header-search"
        class="ma__header-search__label">What can we help you find?</label>
    <input 
        id="header-search" 
        class="ma__header-search__input"
        placeholder="What can we help you find?" 
        type="text" />
    <button type="submit" class="ma__header-search__button">
      <span>Search</span>
      <svg role="img" class="ma__header-search__icon">
        <use xlink:href="/assets/images/svg-sprite.svg#search"></use>
      </svg>
    </button>
  </form>
</section>
