<span class="ma__icon-links__icon">
  {% if item.icon %}
    {% include item.icon %}
  {% endif %}
</span>
<span class="ma__icon-links__link">
  {% set decorativeLink = item.link %}
  {% include "@atoms/decorative-link.twig" %}
</span>
