<section class="ma__illustrated-link">
  <div class="ma__illustrated-link__content">
    <div class="ma__illustrated-link__icon">
      {% include "atoms-svg-map" %}
    </div>
    <h3 class="ma__illustrated-link__title">
      {% if illustratedLink.type == "external" %}
        <a href="#" target="_blank">
          {{illustratedLink.text}}&nbsp;{% include "atoms-svg-external-link" %}
        </a>
      {% else %}
        <a href="#">
          {{illustratedLink.text}}&nbsp;{% include "atoms-svg-arrow" %}
        </a>
      {% endif %}
    </h3>
  </div>
  <div class="ma__illustrated-link__image" style="background-image: url('/assets/images/placeholder/400x300.png')">

  </div>
</section>