<section class="ma__illustrated-link">
  <div class="ma__illustrated-link__image" style="background-image: url('{{illustratedLink.image}}')"></div>
  <div class="ma__illustrated-link__content">
    <h3 class="ma__illustrated-link__title">
      {% set decorativeLink = illustratedLink %}
      {% include "atoms-decorative-link" %}
    </h3>
  </div>
</section>
