<div class="ma__illustrated-link">
  <div class="ma__illustrated-link__content">
    <div class="ma__illustrated-link__title">
      <span class="ma__illustrated-link__label">Guide:</span>
      {% set decorativeLink = illustratedLink %}
      {% include "@atoms/decorative-link.twig" %}
    </div>
  </div>
  <div class="ma__illustrated-link__image" style="background-image: url('{{illustratedLink.image}}')"></div>
</div>
