<section class="ma__illustrated-link">
  <div class="ma__illustrated-link__content">
    <div class="ma__illustrated-link__icon">
      {% include "atoms-svg-map" %}
    </div>
    <h3 class="ma__illustrated-link__title"><a href="#">Getting Outdoors in Massachusetts&nbsp;{% include "atoms-svg-arrow" %}</a></h3>
  </div>
  <div class="ma__illustrated-link__image" style="background-image: url('/assets/images/placeholder/400x300.png')">

  </div>
</section>