<section class="ma__image-promo">
  {% if imagePromo.image %}
    {% if imagePromo.image.href %}
      <a href="{{ imagePromo.image.href }}">
    {% endif %}
    <img class="ma__image-promo__image" alt="{{ imagePromo.image.text }}" src="{{ imagePromo.image.image }}">
    {% if imagePromo.image.href %}
      </a>
    {% endif %}
  {% endif %}
  <div class="ma__image-promo__details">      
    <h2 class="ma__image-promo__title">
      {% if imagePromo.title.href %}
        {% set decorativeLink = imagePromo.title %}
        {% include "@atoms/decorative-link.twig" %}
      {% else %}
        {{ imagePromo.title.text }}
      {% endif %}
    </h2>
    <div class="ma__image-promo__description">
      {% set richText = imagePromo.description %}
      {% include "@organisms/by-author/rich-text.twig" %}
    </div>
    {% if imagePromo.link %}
      {% set decorativeLink = imagePromo.link %}
      {% include "@atoms/decorative-link.twig" %}
    {% endif %}
  </div>
</section>
