<section class="ma__keyword-search js-keyword-search">
  <form action="/">
    <label  class="ma__keyword-search__label" for="keyword-search1">Filter by Keyword</label>
    <input
      class="ma__keyword-search__input" 
      name="keyword-search1" 
      id="keyword-search1" 
      type="text"
      placeholder="Filter by Keyword" />
    {% include "@atoms/01-buttons/button-search.twig" %}
    <button class="ma__keyword-search__reset" type="reset"><span>+</span></button>
  </form>
</section>