<div class="ma__listing-table">
  <div class="ma__listing-table__container">
    <table>
      {% for row in listingTable.rows %}
        <tr>
          <th scope="row">{{ row.label }}</th>
          <td class="ma__rich-text">{{ row.text|raw }}</td>
        </tr>
      {% endfor %}
    </table>
  </div>
</div>
