<section class="ma__location-filters">
  <form class="js-location-filters" action="{{ locationFilters.form.action }}">
    <div class="ma__location-filters__row">
      <div class="ma__location-filters__by-location js-filter-by-location">
        {% set inputText = locationFilters.zipcode.inputText %}
        {% include "@atoms/03-forms/input-text.twig" %}
      </div>
      {% if locationFilters.activity %}
        <div class="ma__location-filters__by-activity  js-filter-by-activity">
          {% set selectBox = locationFilters.activity %}
          {% include "@atoms/03-forms/select-box.twig" %}
        </div>
      {% endif %} 
      {% if locationFilters.keyword %}
        <div class="ma__location-filters__by-keyword  js-filter-by-keyword">
          {% set inputText = locationFilters.keyword.inputText %}
          {% include "@atoms/03-forms/input-text.twig" %}
        </div>
      {% endif %}
    </div>
    {% if locationFilters.tags %}
      <div class="ma__location-filters__by-tags  js-filter-by-tags">
        {% for inputCheckbox in locationFilters.tags %}
          <div class="ma__location-filters__tag">
            {% include "@atoms/03-forms/input-checkbox.twig" %}
          </div>
        {% endfor %}
      </div>
    {% endif %}
    <div class="ma__location-filters__buttons">
      <button class="ma__location-filters__submit" type="submit">
        {{ locationFilters.submitButton }}
      </button>
    </div>
  </form>
</section>
