<section class="ma__location-icons">
  {% if locationIcons.title %}
    <span class="visually-hidden">{{ locationIcons.title }}</span>
  {% endif %}
  <div class="ma__location-icons__items">
    {% for icon in locationIcons.icons %}
      <div class="ma__location-icons__item">
        <div class="ma__location-icons__icon">
          {% include icon.path %}
        </div>
        <div class="ma__location-icons__name">{{icon.name}}</div>
      </div>
    {% endfor %}
  </div>
</section>
