<section class="ma__login-util">
  <p class="ma__login-util__description">{{ loginUtil.description }}</p>
  <ul class="ma__login-util__items">
    {% for decorativeLink in loginUtil.links %}
      <li class="ma__login-util__item js-clickable">
        {% include "@atoms/decorative-link.twig" %}
      </li>
    {% endfor %}
  </ul>
</section>
