<section class="ma__login-util">
  <p class="ma__login-util__description">These are the top requested sites you can login to access state provided services</p>
  <ul class="ma__login-util__items">
    <li class="ma__login-util__item">
      <a href="#">
        <span>Virtual Gateway</span>
        {% include "atoms-svg-external-link" %}
      </a>
    </li>
    <li class="ma__login-util__item">
      <a href="#">
        <span>MA Health Connector</span>
        {% include "atoms-svg-external-link" %}
      </a>
    </li>
    <li class="ma__login-util__item">
      <a href="#">
        <span>MassTax Connect</span>
        {% include "atoms-svg-external-link" %}
      </a>
    </li>
  </ul>
  <div class="ma__login-util__view-all">
    <a href="#">View all logins</a>
  </div>
</section>
