<div class="ma__logo-link">
  {% if logoLink.image %}
    <img class="ma__logo-link__image" src="{{logoLink.image.src}}" alt="{{logoLink.image.alt}}">
  {% endif %}
  {% set decorativeLink = logoLink %}
  {% include "@atoms/decorative-link.twig" %}
</div>
