<section class="ma__main-nav">
  <ul class="ma__main-nav__items js-main-nav">
    <li class="ma__main-nav__item js-main-nav-toggle">
      <a class="ma__main-nav__top-link" href="#" title="Living">Living</a>
      <div class="ma__main-nav__subitems js-main-nav-content is-closed">
        <button class="ma__main-nav__back js-close-main-nav"><span>Back</span></button>
        <ul class="ma__main-nav__container">
          <li class="ma__main-nav__subitem"><a href="" class="ma__main-nav__link">Living</a></li>
          <li class="ma__main-nav__subitem"><a href="" class="ma__main-nav__link">Culpa, beatae?</a></li>
          <li class="ma__main-nav__subitem"><a href="" class="ma__main-nav__link">Facere, aspernatur.</a></li>
          <li class="ma__main-nav__subitem"><a href="" class="ma__main-nav__link">Maxime, aliquam.</a></li>
          <li class="ma__main-nav__subitem"><a href="" class="ma__main-nav__link">Excepturi, perferendis.</a></li>
        </ul>
      </div>
    </li>
    <li class="ma__main-nav__item js-main-nav-toggle">
      <a class="ma__main-nav__top-link" href="#" title="Working">Working</a>
      <div class="ma__main-nav__subitems js-main-nav-content is-closed">
        <button class="ma__main-nav__back js-close-main-nav"><span>Back</span></button>
        <ul class="ma__main-nav__container">
          <li class="ma__main-nav__subitem"><a href="" class="ma__main-nav__link">Working</a></li>
          <li class="ma__main-nav__subitem"><a href="" class="ma__main-nav__link">Dolore, ipsum?</a></li>
          <li class="ma__main-nav__subitem"><a href="" class="ma__main-nav__link">Voluptatibus, rerum?</a></li>
          <li class="ma__main-nav__subitem"><a href="" class="ma__main-nav__link">Sed, velit?</a></li>
          <li class="ma__main-nav__subitem"><a href="" class="ma__main-nav__link">Beatae, ducimus.</a></li>
          <li class="ma__main-nav__subitem"><a href="" class="ma__main-nav__link">Iure, repudiandae?</a></li>
          <li class="ma__main-nav__subitem"><a href="" class="ma__main-nav__link">Numquam, doloremque.</a></li>
        </ul>
      </div>
    </li>
    <li class="ma__main-nav__item js-main-nav-toggle">
      <a class="ma__main-nav__top-link" href="#" title="Learning">Learning</a>
      <div class="ma__main-nav__subitems js-main-nav-content is-closed">
        <button class="ma__main-nav__back js-close-main-nav"><span>Back</span></button>
        <ul class="ma__main-nav__container">
          <li class="ma__main-nav__subitem"><a href="" class="ma__main-nav__link">Learning</a></li>
          <li class="ma__main-nav__subitem"><a href="" class="ma__main-nav__link">Tempore, quos!</a></li>
          <li class="ma__main-nav__subitem"><a href="" class="ma__main-nav__link">Hic, numquam.</a></li>
        </ul>
      </div>
    </li>
    <li class="ma__main-nav__item js-main-nav-toggle">
      <a class="ma__main-nav__top-link is-active" href="#" title="Visiting">Visiting &amp; Exploring</a>
      <div class="ma__main-nav__subitems js-main-nav-content is-closed">
        <button class="ma__main-nav__back js-close-main-nav"><span>Back</span></button>
        <ul class="ma__main-nav__container">
          <li class="ma__main-nav__subitem"><a href="" class="ma__main-nav__link">Visiting &amp; Exploring</a></li>
          <li class="ma__main-nav__subitem"><a href="" class="ma__main-nav__link">Commodi, voluptatem.</a></li>
          <li class="ma__main-nav__subitem"><a href="" class="ma__main-nav__link">Officia, pariatur.</a></li>
          <li class="ma__main-nav__subitem"><a href="" class="ma__main-nav__link">Alias, possimus.</a></li>
        </ul>
      </div>
    </li>
    <li class="ma__main-nav__item js-main-nav-toggle">
      <a class="ma__main-nav__top-link" href="#" title="Your Government">Your Government</a>
      <div class="ma__main-nav__subitems js-main-nav-content is-closed">
        <button class="ma__main-nav__back js-close-main-nav"><span>Back</span></button>
        <ul class="ma__main-nav__container">
          <li class="ma__main-nav__subitem"><a href="" class="ma__main-nav__link">Your Government</a></li>
          <li class="ma__main-nav__subitem"><a href="" class="ma__main-nav__link">Saepe, repellendus.</a></li>
          <li class="ma__main-nav__subitem"><a href="" class="ma__main-nav__link">Cumque, quae!</a></li>
          <li class="ma__main-nav__subitem"><a href="" class="ma__main-nav__link">Aliquid, et.</a></li>
          <li class="ma__main-nav__subitem"><a href="" class="ma__main-nav__link">Cupiditate, velit!</a></li>
          <li class="ma__main-nav__subitem"><a href="" class="ma__main-nav__link">Excepturi, tenetur?</a></li>
        </ul>
      </div>
    </li>
  </ul>
</section>
