{% set level = relatedAction.level ? : 4 %} 
<section class="ma__related-action"> 
  <h{{ level }} class="ma__related-action__link"> 
    {% set decorativeLink = relatedAction.link %} 
    {% include "@atoms/decorative-link.twig" with decorativeLink %} 
  </h{{ level }}> 
  {% if relatedAction.description %} 
    <div class="ma__related-action__description"> 
      <p>{{relatedAction.description}}</p> 
    </div> 
  {% endif %} 
</section> 
