{% set decorativeLink = { 
  "type": "", 
  "href": sectionLinks.title.href, 
  "text": sectionLinks.title.text, 
  "info": "" } 
%}
{% set titleClass = "ma__section-links__title js-accordion-link" %}
{% set titleId = "section_titles_" ~ sectionLinks.id %}
{% set linkType = sectionLinks.type ?: "decorative" %}

<section class="ma__section-links js-accordion">
  <div class="ma__section-links__content">
    {% if sectionLinks.catIcon %}
      <div class="ma__section-links__icon">
        {% set catIcon = sectionLinks.catIcon %}
        {% include "@atoms/05-icons/cat-icon.twig" %}
      </div>
    {% endif %}
    <h2 class="{{ titleClass }}" id="{{ titleId }}">
      {% include "@atoms/decorative-link.twig" %}
    </h2>
    <nav class="ma__section-links__toggle-content js-accordion-body" aria-labelledby="{{ titleId }}">
      {% if sectionLinks.description %}
        <p class="ma__section-links__description">{{sectionLinks.description}}</p>
      {% endif %}
      <div class="ma__section-links__mobile-title">
        {% set decorativeLink = { 
          "type": "", 
          "href": sectionLinks.title.href, 
          "text": "Learn More", 
          "info": "about " ~ sectionLinks.title.text } 
        %}
        {% include "@atoms/decorative-link.twig" %}
      </div>
      <ul class="ma__section-links__items">
        {% if linkType == "callout" %}
          {% for calloutLink in sectionLinks.links %}
            <li class="ma__section-links__item">
              {% include "@molecules/callout-link.twig" %}
            </li>
          {% endfor %}
        {% else %}
          {% for decorativeLink in sectionLinks.links %}
            <li class="ma__section-links__item">
              {% include "@atoms/decorative-link.twig" %}
            </li>
          {% endfor %}
        {% endif %}
      </ul>
    </nav>
    {% if sectionLinks.seeAll %}
      <div class="ma__section-links__footer">
        {% set decorativeLink = sectionLinks.seeAll %}
        {% include "@atoms/decorative-link.twig" %}
      </div>
    {% endif %}
  </div>
</section>
