<form action="#" class="js-site-setting-form">
  <section class="ma__settings-util">
    <div class="ma__settings-util__zoom">
      {% include "@molecules/zoom-controls.twig" %}
    </div>
    <div class="ma__settings-util__dropdown-controls">
      <div class="ma__settings-util__theme js-site-settings-theme">
        {% include "@molecules/dropdown.twig" %}
      </div>
      <div class="ma__settings-util__lang js-site-settings-lang">
        <!-- {% include "@molecules/dropdown.twig" %} -->
        <section class="ma__dropdown js-dropdown">
          <label
            for="lang-select"
            class="ma__dropdown__label">Language:</label>
          <div class="ma__dropdown__field">
            <select
              id="lang-select"
              name="lang-select"
              class="ma__dropdown__select js-dropdown-select">
              <option value="en">Default language: English</option>
              <option value="fr">Fran&#231;ais</option>
              <option value="de">Deutsch</option>
              <option value="es">Espa&#241;ol</option>
            </select>
            <span class="ma__dropdown__link js-dropdown-link">Default language: English</span>
          </div>
        </section>
      </div>
    </div>
    <div class="ma__settings-util__buttons">
      <button type="submit">submit</button>
      <button class="js-button-reset" type="reset">
        <span>Restore Defaults</span>
        {% include "@atoms/05-icons/svg-restore.twig" %}
      </button>
    </div>
  </section>
</form>
