<section class="ma__settings-util">
  <div class="ma__settings-util__zoom">
    <button>A</button>
    <button>A</button>
    <button>A</button>
  </div>
  <div class="ma__settings-util__theme">
    <div>Color Scheme:</div>
    <div class="ma__settings-util__dropdown">
      <a href="#">Default color scheme</a>
      <ul>
        <li>Default color scheme</li>
        <li>White on Black scheme</li>
        <li>Black on White scheme</li>
      </ul>
    </div>    
  </div>
  <div class="ma__settings-util__lang">
    <div>Language:</div>
    <div class="ma__settings-util__dropdown">
      <a href="#">Default color scheme</a>
      <ul>
        <li>Default language: English</li>
        <li>Francis</li>
        <li>Deutch</li>
        <li>Espanol</li>
      </ul>
    </div>
  </div>
  <div class="ma__settings-util__restore">
    <button>
      <span>Restore Defaults</span>
      {% include "atoms-svg-restore" %}
    </button>
  </div>


</section>