{% if socialLinks.items|length %}
  <section class="ma__social-links">
    <ul class="ma__social-links__items">
      {% for item in socialLinks.items %}
        <li class="ma__social-links__item">
          <a href="{{ item.href }}" class="ma__social-links__link">
            {% include item.icon %}
          </a>
        </li>
      {% endfor %}
    </ul>
  </section>
{% endif %}
