<section class="ma__social-links">
  <ul class="ma__social-links__items">
    <li class="ma__social-links__item">
      <a href="#" class="ma__social-links__link">
        <svg focusable="false" role="img" title="facebook">
          <title>Facebook</title>
          <use xlink:href="/assets/images/svg-sprite.svg#facebook"></use>
        </svg>
      </a>
    </li>
    <li class="ma__social-links__item">
      <a href="#" class="ma__social-links__link">
        <svg focusable="false" role="img" title="twitter">
          <title>Twitter</title>
          <use xlink:href="/assets/images/svg-sprite.svg#twitter"></use>
        </svg>
      </a>
    </li>
    <li class="ma__social-links__item">
      <a href="#" class="ma__social-links__link">
        <svg focusable="false" role="img" title="linkedin">
          <title>Linkedin</title>
          <use xlink:href="/assets/images/svg-sprite.svg#linkedin"></use>
        </svg>
      </a>
    </li>
    <li class="ma__social-links__item">
      <a href="#" class="ma__social-links__link">
        <svg focusable="false" role="img" title="youTube">
          <title>youTube</title>
          <use xlink:href="/assets/images/svg-sprite.svg#youtube"></use>
        </svg>
      </a>
    </li>
    <li class="ma__social-links__item">
      <a href="#" class="ma__social-links__link">
        <svg focusable="false" role="img" title="blog">
          <title>Blog</title>
          <use xlink:href="/assets/images/svg-sprite.svg#blog"></use>
        </svg>
      </a>
    </li>
    <li class="ma__social-links__item">
      <a href="#" class="ma__social-links__link">
        <svg focusable="false" role="img" title="instagram">
          <title>Instagram</title>
          <use xlink:href="/assets/images/svg-sprite.svg#instagram"></use>
        </svg>
      </a>
    </li>
  </ul>
</section>
