<section class="ma__social-links">
  <ul class="ma__social-links__items">
    <li class="ma__social-links__item">
      <a href="#" class="ma__social-links__link">
        <svg role="icon">
          <use xlink:href="/assets/images/svg-sprite.svg#facebook"></use>
        </svg>
      </a>
    </li>
    <li class="ma__social-links__item">
      <a href="#" class="ma__social-links__link">
        <svg role="icon">
          <use xlink:href="/assets/images/svg-sprite.svg#twitter"></use>
        </svg>
      </a>
    </li>
    <li class="ma__social-links__item">
      <a href="#" class="ma__social-links__link">
        <svg role="icon">
          <use xlink:href="/assets/images/svg-sprite.svg#linkedin"></use>
        </svg>
      </a>
    </li>
    <li class="ma__social-links__item">
      <a href="#" class="ma__social-links__link">
        <svg role="icon">
          <use xlink:href="/assets/images/svg-sprite.svg#youtube"></use>
        </svg>
      </a>
    </li>
    <li class="ma__social-links__item">
      <a href="#" class="ma__social-links__link">
        <svg role="icon">
          <use xlink:href="/assets/images/svg-sprite.svg#blog"></use>
        </svg>
      </a>
    </li>
    <li class="ma__social-links__item">
      <a href="#" class="ma__social-links__link">
        <svg role="icon">
          <use xlink:href="/assets/images/svg-sprite.svg#instagram"></use>
        </svg>
      </a>
    </li>
  </ul>
</section>
