{# 
  modifier classes include ma__stats-callout--left and ma__stats-callout--right 
#}

{% if statsCallout.pull %}
  {% set modifierClass = "ma__stats-callout--" ~ statsCallout.pull %}
{% else %}
  {% set modifierClass = "foo" %}
{% endif %}
<section class="ma__stats-callout {{modifierClass}}">
  <div class="ma__stats-callout__stat">$60</div>
  <div class="ma__stats-callout__content">per calendar year for residents</div>
</section>