<nav 
  class="ma__sticky-nav js-scroll-anchors" 
  aria-labelledby="page_contents">
  <h3 class="visually-hidden" id="page_contents">
    Page Contents
  </h3>
  <button 
    class="ma__sticky-nav__toggle-link js-scroll-anchors-toggle"
    aria-label="expand or collapse side nav">+</button>
  {% for anchorLink in stickyNav.anchorLinks %}
      <a 
        href="#{{ anchorLink.href }}" 
        class="ma__sticky-nav__link js-scroll-anchors-link {{ loop.first ? 'is-active' : '' }}"
        aria-label="{{ anchorLink.info }}">{{anchorLink.text}}</a>
  {% endfor %}
</nav>
