<section class="ma__task-step">
  <div class="ma__task-step__icon">
    {% include taskStep.icon %}
  </div>
  <h5 class="ma__task-step__title">{{taskStep.title}}</h5>
  <div class="ma__task-step__content">
    <section class="ma__rich-text">{{taskStep.rte | raw}}</section>
  </div>
</section>
