<li class="ma__toc--hierarchy__accordion js-accordion">
  <button class="ma__toc--hierarchy__title js-accordion-link" type="button">
    {{parentChild.text}}
  </button>
  <ul class="ma__toc--hierarchy__accordion-content js-accordion-content">
    {% for link in parentChild.linkItems %}
      <li>
        {% if link.icon %}
          {% set downloadLink = link %}
          {% include "@molecules/download-link.twig" %}
        {% else %}
          {% set decorativeLink = link %}
          {% include "@atoms/decorative-link.twig" %}
        {% endif %}
      </li>
    {% endfor %}
  </ul>
</li>