<section class="ma__utility-panel">
  <p class="ma__utility-panel__description">{{ loginUtil.description }}</p>
  <ul class="ma__utility-panel__items">
    {% for decorativeLink in loginUtil.links %}
      <li class="ma__utility-panel__item js-clickable">
        {% include "@atoms/decorative-link.twig" %}
      </li>
    {% endfor %}
  </ul>
</section>
