<section class="ma__utility-nav js-util-nav">
  <ul class="ma__utility-nav__items">
    <li class="ma__utility-nav__item js-util-nav-toggle">
      <a 
        class="ma__utility-nav__link" 
        href="#" 
        title="Site Settings">
        <svg role="presentation">
          <use xlink:href="/assets/images/svg-sprite.svg#settings"></use>
        </svg>
        <span>Site Settings</span>
      </a>
      <div aria-hidden="true" class="ma__utility-nav__content js-util-nav-content is-closed">
        <div class="ma__utility-nav__container">
          <button class="ma__utility-nav__close js-close-util-nav"><span>Close</span><span role="presentation">+</span></button>
          <button class="ma__utility-nav__back js-close-util-nav"><span>Back</span></button>
          <div class="ma__utility-nav__content-title">
            <svg role="presentation">
              <use xlink:href="/assets/images/svg-sprite.svg#login"></use>
            </svg>
            <span>Login to...</span>
          </div>
          <div class="ma__utility-nav__content-body">

          </div>
        </div>
      </div>
    </li>
    <li class="ma__utility-nav__item js-util-nav-toggle">
      <a class="ma__utility-nav__link" 
        href="#" 
        title="Alerts">
        <svg role="presentation">
          <use xlink:href="/assets/images/svg-sprite.svg#alerts"></use>
        </svg>
        <span>
          Alerts
        </span>
      </a>
      <div aria-hidden="true" class="ma__utility-nav__content js-util-nav-content is-closed">
        <div class="ma__utility-nav__container">
          <button class="ma__utility-nav__close js-close-util-nav"><span>Close</span><span role="presentation">+</span></button>
          <button class="ma__utility-nav__back js-close-util-nav"><span>Back</span></button>
          <div class="ma__utility-nav__content-title">
            <svg role="presentation">
              <use xlink:href="/assets/images/svg-sprite.svg#login"></use>
            </svg>
            <span>Alerts</span>
          </div>
          <div class="ma__utility-nav__content-body">
            {% include "molecules-alerts-util" %}
          </div>
        </div>
      </div>
    </li>
    <li class="ma__utility-nav__item js-util-nav-toggle">
      <a class="ma__utility-nav__link" 
        href="#" 
        title="State Services">
        <svg role="presentation">
          <use xlink:href="/assets/images/svg-sprite.svg#building"></use>
        </svg>
        <span>
          State Services
        </span>
      </a>
      <div aria-hidden="true" class="ma__utility-nav__content js-util-nav-content is-closed">
        <div class="ma__utility-nav__container">
          <button class="ma__utility-nav__close js-close-util-nav"><span>Close</span><span role="presentation">+</span></button>
          <button class="ma__utility-nav__back js-close-util-nav"><span>Back</span></button>
          <div class="ma__utility-nav__content-title">
            <svg role="presentation">
              <use xlink:href="/assets/images/svg-sprite.svg#login"></use>
            </svg>
            <span>Login to...</span>
          </div>
          <div class="ma__utility-nav__content-body">

          </div>
        </div>
      </div>
    </li>
    <li class="ma__utility-nav__item js-util-nav-toggle">
      <a class="ma__utility-nav__link" 
        href="#" 
        title="login to ...">
        <svg role="presentation">
          <use xlink:href="/assets/images/svg-sprite.svg#login"></use>
        </svg>
        <span>
          Login to ...
        </span>
      </a>
      <div aria-hidden="true" class="ma__utility-nav__content js-util-nav-content is-closed">
        <div class="ma__utility-nav__container">
          <button class="ma__utility-nav__close js-close-util-nav"><span>Close</span><span role="presentation">+</span></button>
          <button class="ma__utility-nav__back js-close-util-nav"><span>Back</span></button>
          <div class="ma__utility-nav__content-title">
            <svg role="presentation">
              <use xlink:href="/assets/images/svg-sprite.svg#login"></use>
            </svg>
            <span>Login to...</span>
          </div>
          <div class="ma__utility-nav__content-body">
            {% include "molecules-login-util" %}
          </div>
        </div>
      </div>
    </li>
  </ul>
</section>
