<section class="ma__wait-time">
  <h3 class="ma__wait-time__title">
    {% include "atoms-wait-time" %}
    <span>Wait Time</span>
  </h3>
  <ul class="ma__wait-time__items">
    {% for item in waitTime.items %}
      <li class="ma__wait-time__item">
        <h6 class="ma__wait-time__label">{{item.label}}</h6>
        <div class="ma__wait-time__value">
          <span class="ma__wait-time__time">{{item.time}}</span>&nbsp;<span class="ma__wait-time__units">{{item.units}}</span>
        </div>
      </li>
    {% endfor %}
  </ul>
</section>