// Theme colors
$c-theme-blue: #14558f;
$c-theme-green: #43956f;
$c-theme-gray: #535353;
$c-theme-yellow: #f6c51b;

//other global colors
$c-red: #cd0d0d;
$c-white: white;
$c-black: #141414;
$c-gray-f2f2f2: #f2f2f2;
$c-gray-dcdcdc: #dcdcdc;
$c-gray-a6a6a6: #a6a6a6;
$c-gray-707070: #707070;
$c-gray-757575: #757575;

// 18F compliance we can't use variables with the color in the name
$c-theme-primary: $c-theme-blue !default; 
$c-theme-secondary: $c-theme-green !default;
$c-theme-tertiary: $c-theme-yellow !default;
$c-theme-quaternary: $c-theme-gray !default;

$c-font-base: $c-theme-gray;
$c-font-dark: $c-black;
$c-font-medium: $c-gray-707070;

$c-font-heading: $c-black;
$c-font-inverse: $c-white;
$c-font-link: $c-theme-blue;
$c-font-error: $c-red;

$c-bg-comp-title: $c-theme-gray;
$c-bg-subtle: $c-gray-f2f2f2;
$c-bg-section: $c-gray-f2f2f2;

$c-bd-divider: $c-gray-dcdcdc;
$c-bd-divider-dark: $c-theme-gray;
$c-bd-error: $c-red;
$c-bd-input: $c-gray-dcdcdc;
$c-bd-input-dark: $c-gray-757575;


