// Primary colors
$c-blue-primary: #14558f;
$c-green-primary: #43956f;
$c-gray-primary: #535353;

//secondary colors
$c-yellow-secondary: #f6c51b;

//other global colors
$c-white: white;
$c-black: #141414;
$c-gray-f2f2f2: #f2f2f2;
$c-gray-dcdcdc: #dcdcdc;

// 18F compliance we can't use variables with the color in the name
$c-theme-primary-1: $c-blue-primary;
$c-theme-primary-2: $c-green-primary;
$c-theme-primary-3: $c-gray-primary;
$c-theme-primary-4: $c-black;

$c-theme-secondary-1: $c-yellow-secondary;

$c-font-base: $c-gray-primary;
$c-font-dark: $c-black;
$c-font-heading: $c-black;
$c-font-inverse: $c-white;
$c-font-link: $c-blue-primary;
$c-font-link-subtle: $c-black;

$c-bg-section: $c-gray-f2f2f2;
$c-bg-comp-title: $c-gray-primary;

$c-bd-divider: $c-gray-dcdcdc;
$c-bd-input: $c-gray-dcdcdc;



