{# Pilot version is the same as the main header, with two changes: #}
{# Additional "backto" element #}
{# Additional pilot.css file #}
<link href="/assets/css/pilot-generated.css" rel="stylesheet" />
<!-- Begin .header -->
<header class="ma__header">
  <a class="ma__header__skip-nav" href="#main-content">skip navigation</a>
  <div class="ma__header__backto">
    <a href="http://www.mass.gov">Back to Mass.Gov</a>
  </div>
  <div class="ma__header__container">
    <div class="ma__header__logo">
      {% include "atoms-site-logo" %}
    </div>
    <div class="ma__header__search js-header-search-menu">
      {% include "molecules-header-search" %}
    </div>
  </div>
  <nav class="ma__header__nav">
    <div class="ma__header__button-container js-sticky-header">
      <button class="ma__header__back-button js-close-sub-nav"><span>Back</span></button>
      <button class="ma__header__menu-button js-header-menu-button">
        <span>Menu</span><span class="ma__header__menu-icon"></span>
      </button>
    </div>
    <div class="ma__header__nav-container">
      <div class="ma__header__nav-search">
        {% include "molecules-header-search" with {'placeholder':'Search'} %}
      </div>
      <div class="ma__header__main-nav">
        {% include "pilot-main-nav" %} 
        {# using pilot version to make it easy to use pilot specific data #}
      </div>
      <div class="ma__header__utility-nav">
        {% include "molecules-utility-nav" %}
      </div>
    </div>
  </nav>
</header>
<!-- end .header -->
<a name="main-content"></a>
