{% include "pilot-header" %}
<div class="pre-content">
  {% block preContent %}
    {% include "base-placeholder" with {'placeholder':{'text':'Pre Content'}} %}
  {% endblock %}
</div>
<div class="main-content">
  <div class="page-content">
    {% block pageContent %}
      {% include "base-placeholder" with {'placeholder':{'text':'Page content'}} %}
    {% endblock %}
  </div>
</div>
<div class="post-content">
  {% block postContent %}
    {% include "base-placeholder" with {'placeholder':{'text':'Post Content'}} %}
  {% endblock %}
</div>

{% include "organisms-footer" %}