  
    <!--DO NOT REMOVE-->
    {{ patternLabFoot | raw }}
    <script src="/assets/js/env.js"></script>
    <script src="/assets/js/vendor-generated.js"></script>
    <script src="/assets/js/index-generated.js"></script>
    <script type="text/javascript">
      window.initGoogleMaps = function() {
        // Set a flag that the library has loaded, in case google maps js misses event.
        window.googleMapsLoaded = true;
        let mapsLibLoadEvent = new CustomEvent('ma:LibrariesLoaded:GoogleMaps');
        // Emit an event that the library has loaded.
        document.dispatchEvent(mapsLibLoadEvent);
      }
    </script>
    <!-- @todo set up config for api keys -->
    <script src="//maps.googleapis.com/maps/api/js?key=AIzaSyD5HXUVAA4VyRXVX50taVe2hDY8hy2JSdA&v=3.28&libraries=geometry,places,geocoder&callback=initGoogleMaps"></script>

    <script> 
      try {
        if($('.main-content').length === 0){
          var json = JSON.parse($("#sg-pattern-data-footer").html()),
          
          data = json.patternBreadcrumb.patternType;

          if(data !== 'templates' && data !== 'pages') {
            $('body').addClass('page-content');
            $('html').addClass('main-content').addClass('main-content--full');
          }
        }
      } catch(e) {}
    </script>

    <!-- JS to switch theme colors -->
    <script>
      (function(window, document, undefined) {
        "use strict";

        var forms = document.querySelectorAll('.js-header-search-form');
        var themeCssEl = document.querySelector('.js-base-theme');
        var cranberry = false;

        for (var i = 0; i < forms.length; ++i) {
          forms[i].addEventListener("submit", function(e){
            e.preventDefault();
            var color = this.querySelector('.ma__header-search__input').value;
            if (color === 'cranberry') {
              if (cranberry) { // revert back to base
                themeCssEl.setAttribute('href',baseThemeCss);
                switchClass('ma__colored-heading--cranberry', 'ma__colored-heading--green');
                switchClass('ma__narrow-template--cranberry', 'ma__narrow-template--green');
                switchClass('ma__action-card__item--cranberry', 'ma__action-card__item--green');
                switchClass('ma__page-banner--cranberry', 'ma__page-banner--blue');
              } else {  // convert to cranberry
                themeCssEl.setAttribute('href',govThemeCss);
                switchClass('ma__colored-heading--green', 'ma__colored-heading--cranberry');
                switchClass('ma__narrow-template--green', 'ma__narrow-template--cranberry');
                switchClass('ma__action-card__item--green', 'ma__action-card__item--cranberry');
                switchClass('ma__page-banner--blue', 'ma__page-banner--cranberry');
              }
              cranberry = !cranberry;
            }
          });
        }

        function switchClass(source, update) {
          var el = document.querySelectorAll('.' + source);

          for (var i = 0; i < el.length; ++i) {
            el[i].classList.remove(source);
            el[i].classList.add(update);
          }
        }

      })(window, document);

    </script>

  </body>
</html>
