  
    <!--DO NOT REMOVE-->
    {{ patternLabFoot | raw }}
    <script src="/assets/js/env.js"></script>
    <script src="/assets/js/vendor-generated.js"></script>
    <script src="/assets/js/index-generated.js"></script>
    <script> 
      var json = JSON.parse($("#sg-pattern-data-footer").html()),
        data = json.patternBreadcrumb.patternType;
      if(data !== 'templates' && data !== 'pages') {
          $('body').addClass('pl__styleguide');
      }
    </script>

    <!-- JS to switch theme colors -->
    <script>
      (function(window, document, undefined) {
        "use strict";

        var forms = document.querySelectorAll('.js-header-search-form');
        var themeCssEl = document.querySelector('.js-base-theme');

        var cookie = getCookie('cranberry') || 'false';
        cookie = cookie === 'false' ? false : true;

        if (cookie) {
          themeCssEl.setAttribute('href',govThemeCss);

          switchClass('ma__colored-heading--green', 'ma__colored-heading--cranberry');
          switchClass('ma__narrow-template--green', 'ma__narrow-template--cranberry');
          switchClass('ma__action-card__item--green', 'ma__action-card__item--cranberry');
          switchClass('ma__page-banner--blue', 'ma__page-banner--cranberry');
        } 

        for (var i = 0; i < forms.length; ++i) {
          forms[i].addEventListener("submit", function(e){
            e.preventDefault();
            var color = this.querySelector('.ma__header-search__input').value;
            if (color === 'cranberry') {
              if (cookie) {
                themeCssEl.setAttribute('href',baseThemeCss);
                switchClass('ma__colored-heading--cranberry', 'ma__colored-heading--green');
                switchClass('ma__narrow-template--cranberry', 'ma__narrow-template--green');
                switchClass('ma__action-card__item--cranberry', 'ma__action-card__item--green');
                switchClass('ma__page-banner--cranberry', 'ma__page-banner--blue');
              } else {
                themeCssEl.setAttribute('href',govThemeCss);
                switchClass('ma__colored-heading--green', 'ma__colored-heading--cranberry');
                switchClass('ma__narrow-template--green', 'ma__narrow-template--cranberry');
                switchClass('ma__action-card__item--green', 'ma__action-card__item--cranberry');
                switchClass('ma__page-banner--blue', 'ma__page-banner--cranberry');
              }
              cookie = !cookie;
              setCookie('cranberry','' + cookie);
            }
          });
        }

        function switchClass(source, update) {
          var el = document.querySelectorAll('.' + source);

          for (var i = 0; i < el.length; ++i) {
            el[i].classList.remove(source);
            el[i].classList.add(update);
          }
        }

        function setCookie(name, value, expires) {
          if(typeof(expires) === 'number') {
            var d = new Date();
            d.setTime(d.getTime() + (expires*24*60*60*1000));
            var expires = "expires="+d.toUTCString();
            document.cookie = name + "=" + value + "; " + expires + "; path=/";
          } else {
            document.cookie = name + "=" + value + "; path=/";
          }
        }

        function getCookie(name) {
          var value = "; " + document.cookie;
          var parts = value.split("; " + name + "=");
          if (parts.length == 2) return parts.pop().split(";").shift();
        }

      })(window, document);

    </script>

  </body>
</html>
