<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<svg width="120px" height="88px" viewBox="0 0 120 88" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
    <!-- Generator: Sketch 3.3.2 (12043) - http://www.bohemiancoding.com/sketch -->
    <title>g239</title>
    <desc>Created with Sketch.</desc>
    <defs></defs>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
        <g id="g239" sketch:type="MSLayerGroup">
            <path d="M111.566,0 L8.434,0 C3.784,0 0,3.784 0,8.434 L0,79.566 C0,84.216 3.784,88 8.434,88 L111.566,88 C116.216,88 120,84.216 120,79.566 L120,8.434 C120,3.784 116.216,0 111.566,0 L111.566,0 Z M116,79.566 C116,82.012 114.012,84 111.566,84 L8.434,84 C5.988,84 4,82.012 4,79.566 L4,8.434 C4,5.988 5.988,4 8.434,4 L111.566,4 C114.012,4 116,5.988 116,8.434 L116,79.566 L116,79.566 Z" id="Fill-1078" sketch:type="MSShapeGroup"></path>
            <path d="M45.284,56.496 L38,52.776 L38,52.002 C41.256,50.224 43.546,47.296 44.824,43.274 C46.762,42.246 48,40.244 48,38 L48,36 C48,34.148 47.138,32.43 45.698,31.302 C44.45,23.742 39.174,19.91 30,19.91 C29.566,19.91 29.142,19.926 28.728,19.96 C26.324,20.152 24.002,19.634 22.282,18.478 C21.464,17.926 20.846,17.39 20.452,16.892 C19.562,15.756 17.714,15.708 16.766,16.77 C16.312,17.278 16.098,17.96 16.178,18.64 C16.262,19.388 16.388,20.258 16.578,21.214 C16.964,23.162 16.964,23.162 16.422,24.328 C16.218,24.77 15.966,25.308 15.67,26.034 C15.008,27.654 14.538,29.432 14.268,31.328 C12.848,32.458 12,34.166 12,36 L12,38 C12,40.244 13.238,42.246 15.176,43.274 C16.454,47.296 18.744,50.224 22,52.002 L22,52.754 L14.462,56.47 C11.71,57.97 10,60.85 10,63.986 L10,66.636 C10,68.242 10,72 30,72 C50,72 50,68.242 50,66.636 L50,64.146 C50,60.882 48.188,57.948 45.284,56.496" id="Fill-1079" sketch:type="MSShapeGroup"></path>
            <path d="M60,30 L80,30 C81.106,30 82,29.106 82,28 C82,26.894 81.106,26 80,26 L60,26 C58.894,26 58,26.894 58,28 C58,29.106 58.894,30 60,30" id="Fill-1080" sketch:type="MSShapeGroup"></path>
            <path d="M88,30 L90,30 C91.106,30 92,29.106 92,28 C92,26.894 91.106,26 90,26 L88,26 C86.894,26 86,26.894 86,28 C86,29.106 86.894,30 88,30" id="Fill-1081" sketch:type="MSShapeGroup"></path>
            <path d="M62,60 L60,60 C58.894,60 58,60.894 58,62 C58,63.106 58.894,64 60,64 L62,64 C63.106,64 64,63.106 64,62 C64,60.894 63.106,60 62,60" id="Fill-1082" sketch:type="MSShapeGroup"></path>
            <path d="M74,60 L70,60 C68.894,60 68,60.894 68,62 C68,63.106 68.894,64 70,64 L74,64 C75.106,64 76,63.106 76,62 C76,60.894 75.106,60 74,60" id="Fill-1083" sketch:type="MSShapeGroup"></path>
            <path d="M84,60 L82,60 C80.894,60 80,60.894 80,62 C80,63.106 80.894,64 82,64 L84,64 C85.106,64 86,63.106 86,62 C86,60.894 85.106,60 84,60" id="Fill-1084" sketch:type="MSShapeGroup"></path>
            <path d="M96,60 L92,60 C90.894,60 90,60.894 90,62 C90,63.106 90.894,64 92,64 L96,64 C97.106,64 98,63.106 98,62 C98,60.894 97.106,60 96,60" id="Fill-1085" sketch:type="MSShapeGroup"></path>
            <path d="M102.58,60.58 C102.218,60.958 102,61.48 102,62 C102,62.52 102.218,63.04 102.58,63.42 C102.958,63.78 103.48,64 104,64 C104.52,64 105.04,63.78 105.42,63.42 C105.78,63.04 106,62.52 106,62 C106,61.48 105.78,60.958 105.42,60.58 C104.66,59.84 103.32,59.84 102.58,60.58" id="Fill-1086" sketch:type="MSShapeGroup"></path>
            <path d="M104,38 L60,38 C58.894,38 58,38.894 58,40 C58,41.106 58.894,42 60,42 L104,42 C105.106,42 106,41.106 106,40 C106,38.894 105.106,38 104,38" id="Fill-1087" sketch:type="MSShapeGroup"></path>
            <path d="M104,50 L60,50 C58.894,50 58,50.894 58,52 C58,53.106 58.894,54 60,54 L104,54 C105.106,54 106,53.106 106,52 C106,50.894 105.106,50 104,50" id="Fill-1088" sketch:type="MSShapeGroup"></path>
        </g>
    </g>
</svg>
