@import "variables";
// breakpoint values used for below only
$bp-xs: 480px;
$bp-s: 620px;  // used in JS files. make sure to update in both places
$bp-m: 780px;  // used in JS files. make sure to update in both places
$bp-l: 900px;
$bp-xl: 1200px;

// breakpoint media variables.
$bp-x-small-min: "min-width: " + ($bp-xs + 1);
$bp-x-small-max: "max-width:" + $bp-xs;
$bp-small-min: "min-width: " + ($bp-s + 1);
$bp-small-max: "max-width:" + $bp-s;
$bp-medium-min: "min-width: " + ($bp-m + 1);
$bp-medium-max: "max-width:" + $bp-m;
$bp-large-min: "min-width: " + ($bp-l + 1);
$bp-large-max: "max-width:" + $bp-l;
$bp-x-large-min: "min-width: " + ($bp-xl + 1);
$bp-x-large-max: "max-width:" + $bp-xl;
$bp-page-width-min: "min-width:" + ($max-width + 1);
$bp-page-width-max: "max-width:" + $max-width;