@mixin ma-button {
  border: 3px solid;
  box-shadow: 0 0.25rem 0.5rem rgba(1, 1, 1, 0.25);
  display: inline-block;
  letter-spacing: 0.05em;
  padding: 0.7em 1.125em 0.6em;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.4s ease;

  &:hover {
    text-decoration: none;
  }
}

@mixin ma-container {
  margin: 0 auto;
  // grid max width plus the l/r padding for desktop
  max-width: $max-width + 80px;  
  padding-left: 10px;
  padding-right: 10px;

  @media ($bp-x-small-min) {
    padding-left: 20px;
    padding-right: 20px;
  }

  @media ($bp-medium-min) {
    padding-left: 30px;
    padding-right: 30px;
  }

  @media ($bp-large-min) {
    padding-left: 40px;
    padding-right: 40px;
  }
}

@mixin ma-reset-list {
  list-style: none;
  margin-bottom: 0;
  padding-left: 0;
}

@mixin ma-underline-link {
  transition: all 0.4s ease;
  
  &:hover {
    border-bottom: 3px solid;
    padding-bottom: 3px;
    text-decoration: none;
  }
}

// $bg is the color of the parent
// $fg is the color of the line
@mixin ma-underline-decorative($bg: transparent,$fg: transparent) {
  
  &:after {
    @if($bg == transparent) {
      content: "";
      height: 3px;
      position: absolute;
        bottom: 0;
        left: 0.075em;
      width: 100%;
    }
    @else {
      background-color: $fg;
      background-color: rgba($fg,.5);
      background-image: linear-gradient(-45deg, $bg 3%, rgba($fg,.5) 3%, rgba($fg,.5) 95%, $bg 95%);
    }
  }

}

@mixin ma-valign-block {

  &:before {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;    
    width: 1%;
  }
}

@mixin ma-visually-hidden { 
  position: absolute; 
  overflow: hidden; 
  clip: rect(0 0 0 0); 
  height: 1px; width: 1px; 
  margin: -1px; padding: 0; border: 0; 
}
