@mixin ma-button {
  border: 3px solid;
  box-shadow: 0 0.25rem 0.5rem rgba(1, 1, 1, 0.25);
  display: inline-block;
  letter-spacing: 0.05em;
  padding: 0.7em 1.125em 0.6em;
  text-decoration: none;
  text-transform: uppercase;

  &:hover {
    text-decoration: none;
  }
}

@mixin ma-container {
  max-width: 1340px;
  margin: 0 auto;
  padding: 0 10px;

  @media ($bp-x-small-min) {
    padding: 0 20px;
  }

  @media ($bp-medium-min) {
    padding: 0 30px;
  }

  @media ($bp-large-min) {
    padding: 0 40px;
  }
}

@mixin ma-reset-list {
  list-style: none;
  padding-left: 0;
}

@mixin ma-visually-hidden { 
  position: absolute; 
  overflow: hidden; 
  clip: rect(0 0 0 0); 
  height: 1px; width: 1px; 
  margin: -1px; padding: 0; border: 0; 
}