// Change the Neat grid settings
$column: 85px;
$gutter: 20px;
$column-with-gutter: $column + $gutter;
$max-width: 1240px; // use @include outer-container() which sets this and centers;

$header-mobile-controls-height: 40px;