body[data-theme="has-theme-white"] {

  background-color: $c-white !important;
  color: $c-black !important;

  *,
  *:before,
  *:after {
    background-color: $c-white !important;
    border-color: $c-black !important;
    color: $c-black !important;
    fill: $c-black;
    opacity: 1;
  }
}

body[data-theme="has-theme-black"] {

  background-color: $c-black !important;
  color: $c-white !important;

  *,
  *:before,
  *:after {
    background-color: $c-black !important;
    border-color: $c-white !important;
    color: $c-white !important;
    fill: $c-white !important;
    opacity: 1;
  }
}
