.ma__button-secondary {
    background-color: $c-theme-primary-2;
    color: $c-font-inverse;
    font-family: $f-display;

    &:hover {
        background-color: rgba($c-theme-primary-2,.85);
    }
}
