.ma__callout {
    border-bottom-color: $c-theme-primary-3;

    &__header {

        &:before,
        &:after {
            border-top-color: $c-theme-primary-3;
        }

        svg {
            fill: $c-theme-secondary-1; 
        }
    }

    &__text {
        color: $c-font-base;
        font-family: $f-body-serif;
    }
}