{% set class = coloredHeading.color ? "ma__colored-heading--" ~ coloredHeading.color : "" %}

<h2 class="ma__colored-heading {{class}}">{{coloredHeading.text}}{% if coloredHeading.titleContext %}<span class="visually-hidden"> {{coloredHeading.titleContext}}</span>{% endif %}</h2>
