<h4 class="ma__column-heading">
  {% if columnHeading.href %}
    {% set decorativeLink = columnHeading %}
    {% include "@atoms/decorative-link.twig" %}
  {% else %}
    {{columnHeading.text}}
  {% endif %}
</h4>
