<h4 class="ma__content-heading">
  {% if contentHeading.href %}
    {% set decorativeLink = contentHeading %}
    {% include "@atoms/decorative-link.twig" %}
  {% else %}
    {{contentHeading.text}}
  {% endif %}
</h4>
