{# use the level passed, the gloval level, or the default #}
{% set headingLevel = sidebarHeading.level ? : 2 %}

<h{{ headingLevel }} class="ma__sidebar-heading">{{sidebarHeading.title}}{% if sidebarHeading.titleContext %}
  <span class="visually-hidden"> {{sidebarHeading.titleContext}}</span>{% endif %}
</h{{ headingLevel }}>
