{% include "@organisms/by-template/emergency-alerts.twig" %}
{% include "@organisms/by-template/header.twig" %}
<main class="ma__form-page" id="main-content" tabindex="-1">
  <div class="pre-content">
    {% block preContent %}
      {% include "@organisms/by-template/page-header.twig" %}
    {% endblock %}
  </div>
  <div class="main-content main-content--two">
    <div class="page-content">
      {% if formRequirements %}
        {% include "@organisms/by-author/form-requirements.twig" %}
      {% endif %}
      <form class="ma__form-page" action="{{ form.action }}">
        {% for group in form.groups %}
          {% set compHeading = group.compHeading %}
          {% include "@atoms/04-headings/comp-heading.twig" %}
          {% for fieldset in group.fieldsets %}
            <fieldset>
              {% if fieldset.legend %}
                <legend>{{ fieldset.legend }}</legend>
              {% endif %}
              {% for item in fieldset.items %}
                {% if item.path %}
                  {% include item.path with item.data %}
                {% endif %}
              {% endfor %}
            </fieldset>
          {% endfor %}
        {% endfor %}
      </form>
    </div>
    <aside class="sidebar {{ sidebar.coloredHeadings ? 'sidebar--colored' : '' }}">
      {% if sideContent.contactList %}
        {% set contactList = sideContent.contactList %}
        {% include "@organisms/by-author/contact-list.twig" %}
      {% endif %}

      {% block sidebar %}
        {% include "@base/placeholder.twig" with {'placeholder':{'text':'sidebar'}} %}
      {% endblock %}
    </aside>
  </div>
  <div class="post-content">
    {% block postContent %}
      {% include "@base/placeholder.twig" with {'placeholder':{'text':'Post Content'}} %}
    {% endblock %}
  </div>
  {% block schemaContent %}{% endblock %}
</main>
{% include "@organisms/by-template/footer.twig" %}
