{# site header #}
{% block header %}{% endblock %}

<main 
  id="main-content"
  class="ma__details ma__details--location" 
  tabindex="-1"
  {% if schemaPageType %} typeof="{{schemaPageType}}"{% endif %}>
  <div class="pre-content">
    {% block preContent %}
      {% set ajaxPattern = ajaxHeaderAlerts %}
      {% include "@organisms/by-template/ajax-pattern.twig" %}
      {% include "@organisms/by-template/page-header.twig" %}
      {% if locationBanner %}
        {% include "@organisms/by-author/location-banner.twig" %}
      {% endif %}
    {% endblock %}
  </div>
  <div class="main-content main-content--two">
    <div class="page-content">
      {% set coloredHeading = {
        "text": location.contentTitle,
        "color": "green",
        "level": 2
      } %}
      {% include "@atoms/04-headings/colored-heading.twig" %}
      <div class="ma__details__content">
        <div class="ma__details__stick-nav">
          {% include "@molecules/sticky-nav.twig" %}
        </div>
        {% block pageContent %}
          {% include "@base/placeholder.twig" with {'placeholder':{'text':'Page content'}} %}
        {% endblock %}
        {% if mainContent.contactList %}
          {% set contactList = mainContent.contactList %}
          {% include "@organisms/by-author/contact-list.twig" %}
        {% endif %}
      </div>
    </div>

    <aside class="sidebar {{ sidebar.coloredHeadings ? 'sidebar--colored' : '' }}">
      {% if sidebar %}
        {% if sidebar.contactList %}
          {% set contactList = sidebar.contactList %}
          {% include "@organisms/by-author/contact-list.twig" %}
        {% endif %}
        {% block sidebar %}
          {% include "@base/placeholder.twig" with {'placeholder':{'text':'sidebar'}} %}
        {% endblock %}
      {% endif %}
    </aside>
    
  </div>
  <div class="post-content">
    {% block postContent %}
      {% include "@base/placeholder.twig" with {'placeholder':{'text':'Post Content'}} %}
    {% endblock %}
  </div>

  {# structured content #}
  {% block schemaContent %}{% endblock %}
</main>

{# site footer #}
{% block footer %}{% endblock %}
  