{% block header %}
  {% if ajaxEmergencyAlerts %}
    {% set ajaxPattern = ajaxEmergencyAlerts %}
    {% include "@organisms/by-template/ajax-pattern.twig" %}
  {% endif %}
  {% include "@organisms/by-template/header.twig" %}
{% endblock %}

<main id="main-content" tabindex="-1">
  <div class="pre-content">
    {% block preContent %}
      {% include "@organisms/by-template/page-banner.twig" %}
    {% endblock %}
  </div>
  <div class="ma__organization-detail--sections">
    {% block organizationDetailContent %}
      {% for stackedRow in stackedRows %}
        <section class="ma__organization-detail--section">
          {% if loop.first != true %}
            {% include "@atoms/divider.twig" %}
          {% endif %}
          <div class="main-content main-content--two">
            <div class="ma__organization-detail__title">
              {% set compHeading = {
                  "title": stackedRow.title,
                }
              %}
              {% include "@atoms/04-headings/comp-heading.twig" %}
            </div>
            <div class="page-content">
              {% for content in stackedRow.pageContent %}
                {% include content.path with content.data %}
              {% endfor %}
            </div>
            {% if stackedRow.sideBar|length %}
            <aside class="sidebar">
              {% for sidebar in stackedRow.sideBar %}
                {% include sidebar.path with sidebar.data %}
              {% endfor %}
            </aside>
            {% endif %}
          </div>
        </section>
      {% endfor %}
    {% endblock %}
  </div>
  <div class="post-content">
    {% block postContent %}
      {% include "@base/placeholder.twig" with {'placeholder':{'text':'Post Content'}} %}
    {% endblock %}
  </div>
  {% block schemaContent %}
  {% endblock %}
</main>

{% block footer %}
  {% include "@organisms/by-template/footer.twig" %}
{% endblock %}
