<section class="ma__contact-list {{ contactList.viewSpecific ? 'ma__contact-list--view-specific' : '' }}">
  {% set contactHeading = 2 %}

  {% if contactList.compHeading %}
    {% set compHeading = contactList.compHeading %}
    {% include "@atoms/04-headings/comp-heading.twig" %}
    {% set contactHeading = (compHeading.level ? : contactHeading) + 1 %}
  {% endif %}

  {% if contactList.sidebarHeading %}
    {% set sidebarHeading = contactList.sidebarHeading %}
    {% include "@atoms/04-headings/sidebar-heading.twig" %}
    {% set contactHeading = (sidebarHeading.level ? : contactHeading) + 1 %}
  {% endif %}

  {% for contact in contactList.contacts %}
    {% set contactUs = contact|merge({"level": contactHeading}) %}
    {% include "@molecules/contact-us.twig" %}
  {% endfor %}
</section>
