<section class="ma__footnote-list">
  <div class="ma__footnote-list__container">
    {% for footnote in footnoteList.items %}
      {% include "@molecules/footnote.twig" %}
    {% endfor %}
  </div>
</section>
