<div class="ma__page-flipper">
  <div class="ma__page-flipper__container">
    {% if pageFlipper.prev %}
      {% set arrowNav = pageFlipper.prev %}
      {% include "@molecules/arrow-nav.twig" %}
    {% else %}
      <div class="ma__page-flipper__blank">&nbsp;</div>
    {% endif %}
    {% if pageFlipper.next %}
      {% set arrowNav = pageFlipper.next %}
      {% include "@molecules/arrow-nav.twig" %}
    {% else %}
      <div class="ma__page-flipper__blank">&nbsp;</div>
    {% endif %}
  </div>
</div>

