{% if quickActions.links|length %}
  <section class="ma__quick-actions">
    {% if quickActions.coloredHeading %}
      {% set coloredHeading = quickActions.coloredHeading %}
      {% include "@atoms/04-headings/colored-heading.twig" %}
    {% elseif quickActions.sidebarHeading %}
      {% set sidebarHeading = quickActions.sidebarHeading %}
      {% include "@atoms/04-headings/sidebar-heading.twig" %}
    {% endif %}
    <ul class="ma__quick-actions__items">
      {% for decorativeLink in quickActions.links %}
        <li class="ma__quick-actions__item">
          {% include "@atoms/decorative-link.twig" %}
        </li>
      {% endfor %}
    </ul>
  </section>
{% endif %}
