.ma__action-events {
  padding-bottom: 50px;

  &__date {
    margin-top: 5px;
  }

  &__title {
    @include ma-heading-colored;
  }

  &__items {
    @include ma-reset-list;
  }

  &__item {

    & + & {
      border-top: 1px solid;
      margin-top: 20px;
      padding-top: 20px;
    }
  }

  &__name {

    a {
      font-size: 1.625rem;
      line-height: 1.2;
    }
  }

  &__description {
    font-size: 1.25rem;
  }

  &__more {
    font-size: 1.375rem;
    margin-top: 20px;
    padding-top: 15px;
    text-align: right;

    a {
      @include ma-chevron;
      @include ma-link-underline;
      padding-bottom: 3px;

      &:after {
        border-right: 3px solid;
        border-bottom: 3px solid;
        height: 8px;
        margin-left: .3em;
        width: 8px;
      }
    }
  }
}
