.ma__action-card {
  @include ma-container;

  padding-top: 95px;
  padding-bottom: 95px;

  &__title {
    @include ma-border-decorative;
    padding-bottom: 15px;

    @media ($bp-medium-min) {
      text-align: center;

      &:after {
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }

  &__description {

    @media ($bp-medium-min) {
      text-align: center;
    }

    @media ($bp-large-min) {
      .ma__rich-text {
        padding: 0;
      }
    }
  }

  &__items {

    @media ($bp-medium-min) {
      display: flex;
        flex-wrap: wrap;
        align-items: stretch;
    }
  }

  &__item {
    @include ma-valign-block;
    cursor: pointer;
    font-size: 0;  //valign fix
    margin-bottom: 20px;
    padding: 30px 20px;
    width: 100%;

    @media ($bp-x-small-min) {
      padding: 50px 20px;
    }

    @media ($bp-medium-min) {
      @include span-columns(6);
      @include omega(2n);
      min-height: 215px;

      &:nth-last-child(2) {
        margin-bottom: 0;
      }
    }

    @media ($bp-large-min) {
      padding: 20px;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__icon,
  &__content {
    vertical-align: middle;

    @media ($bp-x-small-min) {
      display: inline-block;
    }
  }

  &__icon {
    height: 60px;
    margin-bottom: 20px;
    width: 60px;

    @media ($bp-x-small-min) {
      margin-bottom: 0;
      padding: 0 12px;
      text-align: center;
      width: 84px;
    }

    @media ($bp-medium-min) {
      margin-right: 0;
      padding: 0 20px;
      width: 100px;
    }

    svg {
      height: 100%;
      width: 100%;
    }
  }

  &__content {

    @media ($bp-x-small-min) {
      width: calc(100% - 85px);
    }

    @media ($bp-medium-min) {
      width: calc(100% - 100px);
    }
  }

  &__category {
    font-size: .875rem;
    letter-spacing: .1em;
    line-height: 1.5;
    text-transform: uppercase;

    @media ($bp-large-min) {
      font-size: 1rem;
    }
  }

  &__link {
    @include ma-link-decorative;
    line-height: 1;
    margin-bottom: 0;
    margin-top: 5px;

    a {
      font-size: 1.75rem;

      @media ($bp-large-min) {
        font-size: 1.75rem;
      }
    }
  }
}
