$action-header-widget-width: 350px;
.ma__action-header {

  &__banner {

    & > :last-child {
      margin-bottom: 0;
    }
  }

  &__container {
    @include ma-container;
    @include clearfix;
  }

  &__content {
    padding-top: 40px;
    padding-bottom: 30px;

    @media ($bp-medium-min){
      padding-top: 65px;
      padding-bottom: 50px;
    }

    @media ($bp-large-min){
      float: left;
      padding: 75px 40px 70px 0;
      width: calc(100% - #{$action-header-widget-width});
    }

    @media ($bp-x-large-min){
      padding-top: 85px;
    }
  }

  .ma__page-banner ~ & &__content {
    padding-top: 20px;
  }

  &__widgets {
    padding-bottom: 40px;

    @media ($bp-large-min){
      float: left;
      padding-top: 75px;
      width: $action-header-widget-width;
    }

    @media ($bp-x-large-min){
      padding-top: 85px;
    }

    .ma__image {
      @media ($bp-large-min){
        clear: both;
        float: right;
      }
    }
  }

  .ma__page-banner ~ & &__widgets {
    
    @media ($bp-large-min){
      padding-top: 20px;
    }
  }

  &__divider {
    padding-bottom: 30px;

    @media ($bp-medium-min){
      padding-bottom: 50px;
    }

    @media ($bp-large-min){
      padding-bottom: 70px;
    }
  }

  .ma__page-header {
    padding: 0;
    padding-bottom: 2rem;

    &__content {
      width: 100%;
      padding-right: 0;
    }

    &__title {
      margin-bottom: .25em;
    }

    &__intro {

      p {
        margin-bottom: .25em;
      }
    }
  }

  .ma__page-banner ~ & .ma__page-header {
    
    &__title {
      display: none;
    }
  }


  .ma__contact-us--accordion {
    @include clearfix;

    // controls for when to activate accordion
    &:before {
      content: "true";
    }

    @media print, ($bp-small-min) {
      &:before {
        content: "false";
      }
    }
  }

  @media print, ($bp-small-min) {
    .ma__contact-us > .ma__contact-group {
      
      &:first-child {
        clear: both;
        padding-bottom: 20px;
      }
    }

    .ma__contact-us--accordion > .ma__contact-group:nth-child(2) {
      border-right: 1px solid;
      float: left;
      height: 100%;
      padding-right: 45px;
      padding-top: 0;
      width: 50%;
    }

    .ma__contact-us--accordion > .ma__contact-us__extra {
      border-left: 1px solid;
      display: block;
      float: left;
      height: 100%;
      margin-left: -1px;
      padding-left: 45px;
      padding-top: 0;
      width: 50%;
    }

    .ma__contact-us__expand {
      border-top: 1px solid;
      clear: both;
      display: none;
    }
  }

  .ma__contact-us__expand {
    // border-top: 1px solid;
    clear: both;
    // margin: 1em 0;

    @media print, ($bp-small-min) {
      display: none;
    }
  }
}


