.ma__action-header {
  @include ma-container;

  &__inner {
    @include clearfix;   
  }

  &__content {
    float: left;
    width: calc(100% - #{$layout-sidebar-width});
  }

  &__widgets {
    padding-bottom: 40px;
    width: $layout-sidebar-width;

    @media ($bp-large-min){
      float: left;
      padding-top: 75px;
    }

    @media ($bp-x-large-min){
      padding-top: 85px;
    }
  }

  .ma__page-header {
    padding-left: 0;
    padding-right: 0;

    &__content {
      width: 100%
    }

    &__title {
      margin-bottom: .25em;
    }

    &__intro {

      p {
        margin-bottom: .25em;
      }
    }
  }
}