$action-header-widget-width: 350px;
.ma__action-header {

  &__banner {

    & > :last-child {
      margin-bottom: 0;
    }
  }

  &__container {
    @include ma-container;
    @include clearfix;
  }

  &__content {
    padding-top: 40px;
    padding-bottom: 30px;

    @media ($bp-medium-min){
      padding-top: 65px;
      padding-bottom: 50px;
    }

    @media ($bp-large-min){
      float: left;
      padding: 75px 40px 70px 0;
      width: calc(100% - #{$action-header-widget-width});
    }

    @media ($bp-x-large-min){
      padding-top: 85px;
    }
  }

  &--banner &__content {
    
    @media ($bp-large-min){
      padding-top: 60px;
    }
  }

  &__widgets {
    padding-bottom: 40px;

    @media ($bp-large-min){
      float: left;
      padding-top: 75px;
      width: $action-header-widget-width;
    }

    @media ($bp-x-large-min){
      padding-top: 85px;
    }

    .ma__image {
      @media ($bp-large-min){
        clear: both;
        float: right;
      }
    }
  }

  &--banner &__widgets {
    
    @media ($bp-large-min){
      padding-top: 60px;
    }
  }

  &__divider {
    padding-bottom: 30px;

    @media ($bp-medium-min){
      padding-bottom: 50px;
    }

    @media ($bp-large-min){
      padding-bottom: 70px;
    }
  }

  .ma__page-header {
    padding: 0;
    padding-bottom: 2rem;

    &__content {
      width: 100%;
      padding-right: 0;
    }

    &__title {
      margin-bottom: .25em;
    }

    &__intro {

      p {
        margin-bottom: .25em;
      }
    }
  }

  &--banner .ma__page-header {
    
    &__title {
      display: none;
    }
  }
}


