$action-finder-bp: 900px;

.ma__action-finder {
  padding: 60px 0;
  position: relative;

  &__banner {
    background-size: cover;
    background-position: top center;
    height: 100%;
    position: absolute;
      top: 0;
      left: 0;
    width: 100%;
  }

  &:after {
    content: "";
    height: 100%;
    position: absolute;
      top: 0;
      left: 0;
    width: 100%;
    z-index: 2;
  }

  &__container {
    @include ma-container;
    position: relative;
    z-index: 3;
  }

  &__header {
    font-size: 0;
    padding-bottom: 60px;
  }

  &__category {
    margin-bottom: .5em;
  }

  &__title {
    @include ma-border-decorative;
    padding-bottom: 15px;

    @media ($bp-large-min) {
      display: inline-block;
      margin-bottom: 0;
      margin-right: 1.6129%; // $gutter in % form
      vertical-align: middle;
      width: 66.12903%; // @include span-columns(8 of 12);
    }
  }

  &__search {
    
    @media ($bp-large-min) {
      display: inline-block;
      vertical-align: middle;
      width: 32.25806%; // @include span-columns(4 of 12);
    }
  }

  &__items {
    @include ma-reset-list;
    display: flex;
      flex-wrap: wrap;
  }

  &__item {
    margin-bottom: 20px;
    width: 100%;

    @media ($bp-small-min) and ($bp-large-max) {
      @include span-columns(4 of 8);
      @include omega(2n);
    }

    @media ($bp-large-min) {
      @include span-columns(4 of 12);
      @include omega(3n);
    }

    &--image {

    }

    &--text {
      border: 3px solid;
      display: flex;
        align-items: center;
      padding: 30px;
    }

    .ma__callout-link {
      height: 100%;
      margin-bottom: 0;
    }
  }

  .ma__illustrated-link {
    border: 3px solid;
  }

  &__items--all {
    
    .ma__action-finder__item--text {
      border: none;
    }

    .ma__illustrated-link {
      border: none;
    }
  }
}