.ma__action-event {

  &__date {
    margin-top: 5px;
  }

  &__name {

    a {
      font-size: 1.625rem;
      line-height: 1.2;
    }
  }

  &__description {
    font-size: 1.25rem;
  }
}
