.ma__banner-carousel {
  position: relative;

  .slick-arrow {
    @include ma-chevron;
    @include ma-button-reset;
    font-size: 1rem;
    height: 100%;
    position: absolute;
      top: 0;
    width: 60px;
    z-index: 1;

    @media ($bp-page-width-max) {

    }

    @media ($bp-page-width-min) {
      min-width: 60px;
      width: calc((100vw - #{$max-width} + 40px) / 2);
    }
    
    &:after {
      margin-left: 0;
      margin-top: -5px;
      border-width: 6px;
      height: 1rem;
      position: absolute;
        top: 50%;
      width: 1rem;
    }

    &:before {
      content:"";
      height: 60px;
      position: absolute;
        top: 50%;
      transform: translateY(-50%);
      width: 60px;
    }
  }

  .slick-prev {
    left: 0;

    &:before {
      left: 0;
    }

    &:after {
      left: 14px;
      transform: translateY(-50%) rotate(135deg);
    }
  }

  .slick-next {
    right: 0;

    &:before {
      right: 0;
    }

    &:after {
      right: 22px;
      transform: translateY(-50%) rotate(-45deg);
    }
  }

  &__slides {
    @include clearfix;
  }

  &__slide {
    display: none;
    float: left;
    font-size: 0;
    width: 100%;

    &:first-child,
    .slick-slider & {
      display: block;
    }

    img {
      width: 100%;
    }
  } 
}