.ma__banner-carousel {
  position: relative;

  &__controls {
    max-width: 100%;
    padding: 5px 45px;
    position: absolute;
      top: 0;
      left: 50%;
    transform: translateX(-50%);
    z-index: 1;

    .slick-arrow {
      @include ma-chevron;
      @include ma-button-reset;
      font-size: 1rem;
      line-height: 40px;
      position: absolute;
        top: 5px;
      text-align: center;
      width: 40px;
      
      &:after {
        margin-left: 0;
      }
    }

    .slick-prev {
      left: 0;
      transform: rotate(180deg);
    }

    .slick-next {
      right: 0;
    }

    .slick-dots {
      @include ma-reset-list;
      @include ma-valign-block;
      font-size: 0;
      height: 40px;

      li {
        display: inline-block;
        padding: 0 5px;
        vertical-align: middle;
      }

      button {
        @include ma-button-reset;
        border: 2px solid;
        border-radius: 50%;
        height: 1rem;
        width: 1rem;
      }

      .slick-active {

      }
    }
  }

  &__slide {
    display: none;
    float: left;
    font-size: 0;

    &:first-child,
    .slick-slider & {
      display: block;
    }

    img {
      width: 100%;
    }
  } 
}