
.ma__breadcrumbs {
  .pre-content & {
    @media ($bp-medium-max) {
      display: none;
    }

    &:last-child {
      margin-bottom: 30px;
    }
  }
  .post-content & {
    @media ($bp-medium-min) {
      display: none;
    }
  }

  &__container {
    @include ma-container;
  }

  &__items {
    @include ma-reset-list;
    padding: 10px 0;
    position: relative;

    @media ($bp-medium-min) {
      border-top: 1px solid;
    }
  }

  &__item {
    @include ma-chevron;
    display: inline-block;

    &:after {
      border-width: 1px;
      height: .25em;
      margin-right: 5px;
      width: .25em;
    }

    &:last-child {

      &:after {
        display: none;
      }

      a {
        cursor: default;

        &:hover {
          opacity: 1;
        }
      }
    }

    // mobile version located in footer
    @media ($bp-medium-max) {
      display: none;

      &:after {
        display: none;
      }

      &:nth-last-child(2) {
        @include ma-chevron("left");
        display: block;

        &:before {
          opacity: .5;
        }
      }
    }

    &--menu {
      position: relative;
    }
  }

  // checkbox
  &__menu-trigger {
    cursor: pointer;
    height: 100%;
    min-height: 0;
    opacity: 0;
    position: absolute;
      top: 50%;
      left: -.15em;
    transform: translateY(-50%);
    transition: all 0.4s ease;
    width: 20px;
    z-index: $z-dropdown;
  }

  &__menu-display {
    display: inline-block;
    font-size: 1.063rem;
    line-height: 1em;
    padding: 10px 0;
  }

  &__menu-trigger:hover ~ &__menu-display {
    opacity: .6;
  }

  &__sub-items {
    @include ma-reset-list;
    display: none;
    padding: 0 15px;
    position: absolute;
    width: auto;
    z-index: $z-dropdown;
  }

  &__menu-trigger:checked ~ &__sub-items {
    display: block;
  }

  &__sub-item {
    display: block;
    white-space:nowrap;
  }

  a {
    display: inline-block;
    font-size: 1.063rem;
    line-height: 1em;
    padding: 10px 0;

    &:hover {
      opacity: .6;
    }
  }

  &--light &__items {
      @media ($bp-medium-min) {
        border-top: none;
        border-bottom: 1px solid;
      }
  }
}
