.ma__callout-time {
  margin-bottom: 30px;

  &__icon,
  &__text {
    display: inline-block;
    vertical-align: middle;
  }

  &__icon {
    font-size: 0;
    height: 30px;
    margin-right: 12px;
    width: 30px;
  }

  &__text {
    margin-bottom: 0;
  }
}
