.ma__callout-time {
  margin-bottom: 30px;

  &__icon,
  &__text {
    display: inline-block;
    vertical-align: middle;
  }

  &__icon {
    font-size: 0;
    height: 30px;
    margin: 12px;
    margin-left: 0;
    width: 30px;
  }

  &__text {
    font-size: 1.438rem;
    font-style: italic;
    margin-bottom: 0;
  }
}
