.ma__callout-time {
  margin-bottom: 30px;
  position: relative;

  &__icon {
    font-size: 0;
    height: 30px;
    position: absolute;
      top: 50%;
      left: 0;
    transform: translateY(-50%);
    width: 30px;
  }

  &__text {
    font-size: 1.438rem;
    font-style: italic;
    margin-bottom: 0;
    padding-left: 42px; // width of icon and margin
  }
}
