.ma__callout {
  border-left: 2px solid;
  padding-left:38px;
  margin-bottom: 45px;

  &__header {

    svg {
      display: inline-block;
      height: 45px;
      margin: 0 10px;
      vertical-align: middle;
      width: 60px;
    }
  }

  &__text {
    font-size: rem(20);
    line-height: 1.46;
    padding-top:38px;
    padding-bottom: 50px;

    @media($bp-x-small-min) {
      font-size: 1.625rem;
      line-height: em(40,28);
    }
  }
  
  &__author,
  &__auth-title {
    display: block;
    text-align: right;    
  }

  &__author {
    font-size: 1.188rem;
    line-height: 1.79;
  }

  &__auth-title {
    font-size: 1.188rem;
    line-height: 1.37;
  }
}