.ma__callout-time {
  position: relative;

  .pre-content > &,
  .post-content > &,
  .main-content--full .page-content > & {
    @include ma-container('restricted');
  }

  &__container {
    position: relative;
  }

  &__icon {
    font-size: 0;
    height: 30px;
    position: absolute;
      top: 16%;
      left: 0;
    width: 30px;

    @media ($bp-medium-min) {
      top: 10%;
    }

    & > svg {
      height: 30px;
      width: 30px;
    }
  }

  &__text {
    font-size: 1.438rem;
    font-style: italic;
    display: inline-block;
    padding-left: 42px; // width of icon and margin
  }
}
