.ma__callout-alert {
  border: 3px solid;
  cursor: pointer;
  margin-bottom: 45px;
  padding: 30px;
  padding-left: 100px;
  position: relative;

  .rich-text {
    margin-bottom: 1.75rem;
  }

  &__icon {
    font-size: 0; // removing white-space;
    height: 48px;
    position: absolute;
      top: 50%;
      left:30px;
    transform: translateY(-50%);
    width: 44px;
  }

  &__link {
    font-size: 0; // removing white-space;

    a {
      font-size: 1.375rem;
    }
  }

}