.ma__contact-list {

  .pre-content > &,
  .post-content > &,
  .main-content--full .page-content > & {
    @include ma-container();
  }

  &--view-specific {

    .main-content--two .page-content & {
      
      @media ($bp-large-min) {
        display: none;

        &:first-child + * {
          margin-top: 0;
        }
      }
    }

    .sidebar & {
      
      @media ($bp-large-max) {
        display: none;

        &:first-child + * {
          margin-top: 0;
        }
      }
    }

    .main-content--two .page-content &:first-child ~ & + * {
      @media ($bp-large-min) {
        margin-top: 0;
      }
    }

    .sidebar &:first-child ~ & + * {
      @media ($bp-large-max) {
        margin-top: 0;
      }
    }
  }
}
