.ma__contact-us {
  padding-bottom: 50px;

  // use in the Action Map component info window
  // Handle bar template
  &--infoWindow {
    font-size: 1.125rem;
    padding-bottom: 0;
  }

  &__title {
    @include ma-column-heading("left");

    .sidebar & {
      @include ma-column-heading("left");

      // override
      @media (min-width: 0px) {
        margin-bottom: 30px;
      }
    }
  }

  &__items {
    @include ma-reset-list;
  }

  &__item {

    & + & {
      border-top: 1px solid;
      padding-top: 30px;
      margin-top: 30px;
    }

    & > :last-child {
      margin-bottom: 0;
    }
  }

  &__name {
    font-size: 1.25rem;
    line-height: 1.4;
  }

  &__phone,
  &__email {
    font-size: 1rem;
  }

  &__phone {
    white-space: nowrap;
  }

  &__email {
    @include ma-link-underline;
  }

  &__address {
    font-size: 1rem;

    span {
      display: inline-block;

      &:last-child {
        display: block;
      }
    }
  }
}
