$emergency-alerts-half-max: $max-width / 2;

/* parent class should be 0px tall
if there are no alerts to show
since the component will always
be included at the top of the page */
.ma__emergency-alerts {
  position: relative;

  @media($bp-header-toggle-max) {
    top: 40px;
    z-index:1;
  }

  &__header {

    .ma__emergency-header {
      margin-left: 0;
      margin-right: 0;
      padding-left: 0;
      padding-right: 0;
    }
  }

  &__header-interface {
    padding-top: 12px;
    padding-left: 12px;

    @media ($bp-small-max) {
      display: none;
    }
  
    @media ($bp-small-min) and ($bp-large-max) {
      @include ma-container;
      margin: 0;
      position: absolute;
        top: 0;
        right: 0;
    }
  }

  &__content {

    .js & {
      display: none;
    }
  }

  &__container {
    @include ma-container;
    
    @media ($bp-small-max) {
      padding-bottom: 10px;
    }
  }

  &__header &__container {
    position: relative;

    @media ($bp-large-min) {
      display: flex;
      justify-content: space-between;
    }
  }

  &__interface {
    @include ma-container;
    font-size: 0;

    @media ($bp-small-min) {
      display: none;
    }
  }
}
