.ma__event-listing {

  .pre-content > &,
  .main-content--full .page-content > & {
    @include ma-container();

    .ma__event-teaser {
      max-width: 820px;
    }
  }

  &__items {
    @include ma-reset-list;
  }

  &__item + &__item {
    border-top-style: solid;
    border-top-width: 1px;
    padding-top: 30px;
  }

  .post-content > &:last-child {
    margin-bottom: 0;
  }

  &__more {

    @media ($bp-small-min) {
      margin-top: 15px;
    }
  }

  .post-content > & &__container {
    @include ma-container;
    padding-top: 60px;

    & > *:last-child {
      border-bottom: 2px solid;
      padding-bottom: 50px;
    }
  }

  .post-content > &:last-child {
    margin-bottom: 0;
  }

  .post-content > & &__container {
    @include ma-container;
    padding-top: 60px;

    & > *:last-child {
      border-bottom: 2px solid;
      padding-bottom: 50px;
    }
  }

  .post-content > & &__items {

    @media ($bp-medium-min) {
      display: flex;
        flex-wrap: wrap;
        justify-content: stretch;
    }
  }

  .post-content > & &__item {

    @media ($bp-medium-min) {
      align-content: flex-start;
      border-top: none;
      margin-top: 0;
      padding-top: 0;
    }

    &:only-of-type {
      margin: 0 auto;
      max-width: 780px;
    }

    &:not(:only-of-type) {
      @media ($bp-medium-max){
        @include ma-component-spacing;
      }

      @media ($bp-medium-min) {
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: 50%;
        width: 50%;

        &:nth-child(odd) {
          padding-right: 40px;
        }

        &:nth-child(even) {
          border-left-width: 1px;
          border-left-style: solid;
          padding-left: 40px;
        }
      }

      @media ($bp-large-min) {

        &:nth-child(odd) {
          padding-right: 70px;
        }

        &:nth-child(even) {
          padding-left: 70px;
        }
      }
    }
  }
}
