.ma__footer {
  padding: 20px 0;

  @media ($bp-small-min) {
    padding: 40px 0;
  }

  &__container {
    @include ma-container;
    @include clearfix;
  }

  &__links {
    @media ($bp-large-min) {
      @include span-columns(9);
      float: right;
      margin-right: 0;
    }
  }

  &__info {
    @media ($bp-large-min) {
      @include span-columns(3);
    }
  }

  &__logo {
    margin-bottom: 40px;
    @media ($bp-large-max) {
      text-align: center;
    }
  }

  &__social {
    margin: 0 auto 30px;
    max-width: 480px;
  }

  &__copyright {
    font-size: 0.813rem;
    line-height: 1.54;

    @media ($bp-large-max) {
      text-align: center;
    }

    p {
      margin-bottom: 0.25em;
    }
  }
}

.ma__footer-links {
  @include clearfix;

  &__items {
    @include ma-reset-list;
    margin-left: auto;
    margin-right: auto;
    max-width: 480px;

    @media ($bp-small-max) {
      border-bottom: 1px solid; 
      margin-bottom: 20px;
      padding-bottom: 20px;
      text-align: center;
    }

    @media ($bp-small-min) {
      @include span-columns(3 of 9);
    }

    @media ($bp-x-large-min) {
      @include span-columns(2 of 9);
      @include shift(1 of 9);
    }
  }

  &__item {
    margin-bottom: 1.35em;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__link {

  }
}

.ma__site-logo {

}

.ma__social-links {

  &__items {
    @include ma-reset-list;
    display: table;
    width: 100%;
  }

  &__item {
    display: table-cell;

    @media ($bp-large-max) {
      text-align: center;
    }

  }

  &__link {
    
    svg {
      height: 1.875rem;
      width: 1.875rem;
    }
  }
}
