.ma__footer {
  padding: 20px 0 30px;
  position: relative;

  @media ($bp-small-min) {
    padding: 40px 0 50px;
  }

  &__back2top{
    @include ma-button("small");
    font-size: 1rem;
    letter-spacing: .1em;
    opacity: 1;
    padding: .5em .7em;
    position: fixed;
      bottom: 1.3125rem;
      right: 1.5625rem;
    transition: all .5s;
    visibility: visible;
    z-index: $z-sticky-content;

    &.is-hidden {
      opacity: 0;
      visibility: hidden;
    }

    & > svg {
      display: inline-block;
      transform: rotate(-90deg);
      transform-origin: center center;
    }

    span {
      display: block;
      text-align: center;
    }
  }

  &__container {
    @include ma-container;
    @include clearfix;
  }

  &__nav {
    margin-bottom: 20px;

    @media ($bp-large-min) {
      @include span-columns(9);
      float: right;
      margin-right: 0;
      margin-bottom: 20px;
    }
  }

  &__info {
    @media ($bp-large-min) {
      @include span-columns(3);
    }
  }

  &__logo {
    margin-bottom: 40px;
    @media ($bp-large-max) {
      text-align: center;
    }
  }

  &__social {
    margin: 0 auto 30px;
    max-width: 480px;
  }

  &__copyright {
    font-size: 1.063rem;
    line-height: 1.54;

    @media ($bp-large-max) {
      text-align: center;
    }

    p {
      margin-bottom: 0.25em;
    }
  }
}
