.ma__guide-section {
  margin-bottom: 60px;

  &:last-child {
    margin-bottom: 0;
  }

  &__container {
    @include ma-container;
  }

  & ~ & &__container {
    border-top-width: 1px;
    border-top-style: solid;
    padding-top: 90px;
  }

  &__title {
    @include ma-border-decorative;
    padding-bottom: .25em;

    a {
      cursor: default;
    }
  }

}