.ma__header-alert {
  display: none;
  font-size: 0;
  position: relative;
  z-index:1;

  &__hide {
    @include ma-button-reset;
    font-size: 3rem;
    line-height: .65;
    overflow: hidden;
    position: absolute;
      top: 50%;
      right: 10px;
    transform: translateY(-50%) rotate(45deg);
  }

  &__container {
    @include ma-container;
    padding: 12px 40px;
    text-align: center;
  }

  &__label,
  &__message {
    display: inline-block;
    overflow: hidden;
    max-width: 100%;
    text-overflow: ellipsis;
    vertical-align: baseline;
    white-space: nowrap;
  }

  &__label {
    font-size: 1rem;
    letter-spacing: .1em;
    line-height: 1em;
    margin-right: .4em;
    padding-bottom: 6px;
    text-transform: uppercase;
  }

  &__message {
    @include ma-link-underline;
    font-size: 1.5rem;
    line-height: 1em;

    a {
      display: inline;
    }
  }
}
