.ma__header-alert {
  margin-top: -1px;

  &__container {
    @include ma-container;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
  }

  &__label,
  &__message {
    display: inline-block;
    vertical-align: baseline;
  }

  &__label {
    text-transform: uppercase;
    font-size: .9rem;
  }

  &__message {
    font-size: 1.25rem;
    line-height: 1.5em;

    a {
      @include ma-link-underline;
      padding-bottom: 1px;
    }
  }
}