.ma__header-alert {
  display: none;
  position: relative;

  &__hide {
    @include ma-button-reset;
    font-size: 3rem;
    line-height: .65;
    overflow: hidden;
    position: absolute;
      top: 13px;
      right: 10px;
    transform: rotate(45deg);
  }

  &__container {
    @include ma-container;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
  }

  &__label,
  &__message {
    display: inline-block;
    vertical-align: baseline;
  }

  &__label {
    font-size: 1rem;
    letter-spacing: .1em;
    text-transform: uppercase;
  }

  &__message {
    font-size: 1.5rem;
    line-height: 1.5em;

    a {
      @include ma-link-underline;
      padding-bottom: 1px;
    }
  }
}
