.ma__helpful-links {

  &__items {
    @include ma-reset-list;
  }

  &--columns &__items {
    @media ($bp-small-min) {
      column-count: 2;
    }
  }

  &__item  {
    padding-top: 3px;
    padding-bottom: 3px;
  }

  .ma__comp-heading {
    margin-bottom: .75em;

    .ma__narrow-template &:after {
      left: 50%;
      transform: translateX(-50%);
    }
  }
}