.ma__icon-links {
  @include ma-component-spacing;

  &__items {
    @include ma-reset-list;
  }

  &__item {
    position: relative;
  }

  &__icon {
    font-size: 0;
    position: absolute;
      top: 50%;
      left: 0;
    transform: translateY(-50%);

    & > svg {
      height: 18px;
      width: 20px;
    }
  }

  &__link {
    font-size: 1.25rem;
    padding-left: 30px;
  }
}
