$bp-illustrated-header-columns-min: "min-width: 1001px";
$bp-illustrated-header-columns-max: "max-width: 1000px";
$bp-illustrated-header-image-width: 360px;


.ma__illustrated-header {
  margin-bottom: 40px;
  position: relative;

  @media ($bp-illustrated-header-columns-min) {
    margin: 60px 0;
  }

  &__image {
    background-position: center;
    background-size: cover;
    min-height: 300px;

    @media ($bp-x-small-min) {
      min-height: 430px;
    }

    @media ($bp-illustrated-header-columns-min) {
      background-position: center left;
      height: 100%;
      position: absolute;
        top: 0;
        right: 0;
      width: $bp-illustrated-header-image-width + 40px; // 40px is right padding of the page
    }

    @media ($bp-page-width-min) {
      width: calc(50vw - 220px);
    }

    &--empty {
      @media ($bp-illustrated-header-columns-max) {
        display: none;
      }
    }
  }

  &__container {
    @include ma-container;
    overflow: hidden;
  }

  &__content {
    padding: 35px 0;
    position: relative;
    z-index: 2;

    @media ($bp-illustrated-header-columns-min) {
      float: none;
      min-height: 430px;
      width: calc(100% - #{$bp-illustrated-header-image-width}); // width of right rail

      &:after {
        content: "";
        height: 200%;
        position: absolute;
          bottom: 0;
          right: 0;
        transform: rotate(30deg);
        transform-origin: bottom right;
        width: 200%;
        z-index: -1;
      }
    }

    @media ($bp-page-width-min) {
      width: 840px;

    }

  }

  &__category {
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: .1em;
    text-transform: uppercase;
  }

  .ma__page-header {
    padding: 0;

    &__content {
      padding-right: 0;
      width: 100%;
    }

    &__intro {
    }
  }
}
