.ma__link-list--image-blocks {
  // grid stuff
  .ma__link-list__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .ma__link-list__item {
      flex-basis: 100%;
      padding: 0;
      margin-bottom: 1rem;
      &.ma__link-list__item--secondary,
      &.ma__link-list__item--tertiary {
        display: none;
      }
      @media($bp-medium-min) {
        flex-basis: calc(50% - 0.5rem);
        &.ma__link-list__item--secondary {
          display: initial !important;
        }
      }
      @media($bp-x-large-min) {
        flex-basis: calc(33% - 1rem);
        &.ma__link-list__item--secondary,
        &.ma__link-list__item--tertiary {
          display: initial !important;
        }
      }
    }
  }
  .ma__link-list__toggle {
    display: none;
    // show on small if has secondary or tertiary links
    &.has-secondary,
    &.has-tertiary {
      display: initial;
    }
    // if has tertiary links, show on mid
    @media($bp-medium-min) {
      &.has-secondary {
        display: none;
      }
      &.has-tertiary {
        display: initial;
      }
    }
    // Never show on full width
    @media($bp-x-large-min) {
      display: none;
      &.has-secondary,
      &.has-tertiary {
        display: none;
      }
    }
  }
}

.ma__link-list--image-links {
  .ma__link-list__item {
    &.ma__link-list__item--secondary,
    &.ma__link-list__item--tertiary {
      display: none;
    }
  }
  .ma__link-list__item .ma__image-link {
    padding: 10px 0;
  }
  .ma__link-list__toggle {
    margin-top: 20px;
  }
}


.ma__link-list--image-links,
.ma__link-list--image-blocks {

  &.is-open {
    .ma__link-list__toggle:after {
      transform: translateY(-55%) rotate(-135deg);
    }
    .ma__link-list__toggle span{
      &:first-child {
        display: none;
      }
      &:nth-child(2) {
        display: inline;
      }
    }
  }
  .ma__link-list__toggle {
    @include ma-button-reset;
    @include ma-link-underline;
    @include ma-chevron;
    font-size: 1.375rem;
    padding-right: 10px;

    &:after {
      margin-left: 0;
      transform: translateY(-45%) rotate(45deg);
    }

    span:nth-child(2) {
      display: none;
    }
  }
}
