.ma__key-actions {
  @include ma-component-spacing;

  @media ($bp-small-min) {
    margin-bottom: 15px;
  }

  &__container {
    @include ma-container;

    .main-content--two & {
      padding-left: 0;
      padding-right: 0;
    }
  }

  &__items {

    @media ($bp-small-min) {
      display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    & > * {
      margin-bottom: 30px;
      width: 100%;

      &:last-child { // override
        margin-bottom: 30px;
      }

      @media ($bp-small-max) {
        &:last-child { // override
          margin-bottom: 0;
        }
      }

      @media ($bp-small-min) and ($bp-large-max) {
        width: 48.78049%; //@include span-columns(4 of 8);
      }

      @media ($bp-large-min) {
        width: 32.25806%; //@include span-columns(4 of 12);
      }
    }

    .main-content--two & > * {
      @media ($bp-small-min) {
        width: 48.78049%; //@include span-columns(4 of 8);
      }
    }
  }

  &__item {

    .ma__callout-link {
      height: 100%;
      width: 100%;
    }
  }
}