.ma__link-list {
  @include ma-component-padding;

  .sidebar & {

    @media ($bp-large-min) {
      @include ma-component-spacing;
      padding: 0;
    }
  }

  &__container {
    @include clearfix;

    .pre-content > &,
    .post-content > &,
    .main-content--full .page-content > & {
      @include ma-container();
    }
  }

  &__items {
    margin-bottom: 0;

    .sidebar & {

      @media ($bp-large-min) {
        @include ma-reset-list;
      }
    }

    &:first-child:nth-last-child(2),
    &:first-child:nth-last-child(2) ~ & {

      @media ($bp-medium-min) {
        @include span-columns(6);
      }
    }
  }

  &__item {
    padding: 5px 0;
  }
}
