.ma__link-list {
  @include ma-component-padding;

  &__container {
    @include ma-container;
  }

  &__title {
    @include ma-border-decorative;
    padding-bottom: 15px;
  }

  &__items {
    margin-bottom: 0;

    @media ($bp-medium-min) {
      @include span-columns(6);
    }
  }

  &__item {
    padding: 5px 0;
  }
}
