.ma__link-list {
  @include ma-component-padding;

  .pre-content > &,
  .post-content > &,
  .main-content--full .page-content > & {
    @include ma-container();
  }

  .sidebar & {
    @include ma-component-spacing;
    padding: 0;
  }

  &:last-child {
    padding-bottom: 0;
  }

  &__container {
    @include clearfix;
  }

  &__items {
    margin-bottom: 0;

    .sidebar & {
      @include ma-reset-list;
    }

    &:first-child:nth-last-child(2),
    &:first-child:nth-last-child(2) ~ & {

      @media ($bp-medium-min) {
        @include span-columns(6);
      }
    }
  }

  &__item {
    padding: 5px 0;
  }

  .sidebar &__item + &__item {
    border-top-width: 1px;
    border-top-style: solid;
    margin-top: 25px;
    padding-top: 25px;
  }
}
