.ma__link-list {

  .pre-content > &,
  .post-content > &,
  .main-content--full .page-content > & {
    @include ma-container();
  }

  &__description {
    margin-bottom: 1em;
  }

  &__container {
    @include clearfix;
  }

  &__items {
    margin-bottom: 0;
    padding-left: 20px;

    .sidebar & {
      @include ma-reset-list;
    }

    &:first-child:nth-last-child(2),
    &:first-child:nth-last-child(2) ~ & {

      @media ($bp-medium-min) {
        @include span-columns(6);
      }
    }
  }

  &__item {
    padding: 5px 0;

    .ma__decorative-link {
      display: block;
    }
  }

  .sidebar &__item + &__item {
    border-top-width: 1px;
    border-top-style: solid;
    margin-top: 25px;
    padding-top: 25px;
    padding-bottom: 0;
  }

  .sidebar &__item {
    .ma__decorative-link {
      font-size: 1.25rem;
      line-height: 1.2;
    }
  }

  &__see-all {
    margin-top: 1rem;
  }
}
