.ma__link-list {
  @include ma-component-spacing;

  .pre-content > &,
  .post-content > &,
  .main-content--full .page-content > & {
    @include ma-container();
  }

  .main-content--full .page-content > & {
    @include ma-component-padding;
    margin-bottom: 0;

    &:last-child {
      padding-bottom: 0;
    }
  }

  &__description {
    margin-bottom: 1em;
  }

  &__container {
    @include clearfix;
  }

  &__items {
    margin-bottom: 0;
    padding-left: 20px;

    .sidebar & {
      @include ma-reset-list;
    }

    &:first-child:nth-last-child(2),
    &:first-child:nth-last-child(2) ~ & {

      @media ($bp-medium-min) {
        @include span-columns(6);
      }
    }
  }

  .main-content--full .page-content > & &__item {
    padding: 5px 0;
  }

  .sidebar &__item + &__item {
    border-top-width: 1px;
    border-top-style: solid;
    margin-top: 25px;
    padding-top: 25px;
  }

  .sidebar &__item {
    .ma__decorative-link {
      font-size: 1.625rem;
      line-height: 1.2;
    }
  }

  &__eyebrow {
    margin-bottom: 5px;

    span {
      font-size: 0.813rem;
      letter-spacing: .1em;
      padding: 5px 7px;
      text-transform: uppercase;
    }
  }

  &__date {
    font-size: 1.125rem;
    line-height: 2.125rem;
  }
}
