.ma__location-listing {
  position: relative;

  &__container {
    @include ma-container;
  }

  &__columns {
    position: relative;
  }

  &__columns &__container {

    @media ($bp-large-min) {
      display: flex;
        align-items: stretch;
      margin-bottom: -60px;
    }
  }

  &__map {

    @media ($bp-large-min){
      min-height: 100vh;
      order: 2;
      width: 40%;    
    }
  }

  &__sticky {
    height: 80vh;
    max-height: 500px;
    width: 100%;

    @media ($bp-large-min) {
      height: 100vh;
      max-height: none;
      position: absolute;
        right: 0;
      //width: calc((100vw - (#{$max-width}))/2 + #{$max-width * .4836066}) !important;
      width: calc((100vw - (#{$max-width}))/2 + #{$max-width * .4}) !important;

      &[data-sticky='middle'] {
        position: fixed;
        top: 0;
      }

      &[data-sticky='bottom'] {
        bottom: 0;
      }
    }

    &:before {
      content: "false";
      display: none;

      @media ($bp-large-min) {
        content: "true"
      }
    }

    .ma__google-map,
    .ma__google-map__map {
      height: 100%;
    }
  }

  &__results {

    @media ($bp-large-min){
      margin-right: 3.25%;
      order: 1;
      width: 60% - 3.25%; // subtract the margin right
    }

    .ma__results-heading {
      margin-bottom: 0;
    }

    .ma__image-promo {
      padding-right: 40px;

      &:first-child {
        border-top-style: solid;
        border-top-width: 1px;
        margin-top: -2px;
        padding-top: 30px;
      }

      &.is-active,
      &:hover {
        border-top-width: 3px;
        padding-top: 28px;
      }

      &__link {
        font-size: 18px;
      }
    }
  }
}
