.ma__location-banner {
  @include clearfix;
  margin-bottom: 70px;

  &__image {
    background-position: center top;
    height: 400px;

    @media ($bp-large-min) {
      float: left;
      width: calc(100% - #{$layout-sidebar-width} - 40px); //outer page padding
    }

    @media ($bp-x-large-min) {
      width: 64%;
    }
  }

  &__map {

    @media ($bp-large-min) {
      float: right;
      width: $layout-sidebar-width + 40px; //outer page padding
    }

    @media ($bp-x-large-min) {
      width: 36%;
    }

    .ma__google-map {
      padding: 0;
      
      &__map {
        height: 400px;
      }
    }
  }
}
