.ma__mapped-locations {
  @include ma-component-padding;
  @include ma-container;
  
  @media ($bp-page-width-min) {
    max-width: 100%;
    padding-right: 0;
    padding-left: 0;
  }

  .main-content--two & {
    padding-right: 0;
    padding-left: 0;
  }

  &__header {

    @media ($bp-page-width-min) {
      @include ma-container;
    }
  }

  &__link {
    margin-bottom: 20px;
  }


  &__map {
    height: 360px;

    @media ($bp-x-small-min) {
      height: 500px;
    }
  }
}
