.ma__mapped-locations {
  
  .main-content--full .page-content > & {
    @include ma-container;
  }

  .main-content--full .page-content > &:not(&--contained) {
    @media ($bp-page-width-min) {
      max-width: 100%;
      padding-right: 0;
      padding-left: 0;
    }
  }

  &__header {

    @media ($bp-page-width-min) {
      @include ma-container;
    }
  }

  &--contained &__header {
    padding-left: 0;
    padding-right: 0;
  }

  &__link {
    margin-bottom: 20px;
  }

  &--contained &__link {
    margin-top: 12px;
    margin-bottom: 0;
  }


  &__map .ma__google-map{
    height: 360px;

    @media ($bp-x-small-min) {
      height: 500px;
    }
  }

  &--contained &__map {
    padding: 13px;
  }
}
