.ma__multi-row-section {
  @include ma-container;

  &__title {
    @include ma-border-decorative;
    padding-bottom: .25em;

    a {
      cursor: default;
    }
  }
  
  & ~ & &__title {
    border-top-width: 1px;
    border-top-style: solid;
    padding-top: 90px;
  }
}