$page-banner-icon-width: $column + $gutter;

.ma__page-banner {
  background-size: cover;
  background-position: top center;
  height: 400px;
  margin-bottom: 40px;
  overflow: hidden;
  position: relative;

  @media ($bp-x-small-min) {
    height: 366px;
  }

  &__container {
    @include ma-container;
  }

  &__content {
    font-size: 0;
    max-width: 1050px;
    padding: 30px 25px 45px 0;
    position: absolute;
      top: 50%;
    transform: translateY(-50%);
    z-index: 1;

    @media ($bp-x-small-min) {
      margin-right: 20px;
      padding-top: 50px;
      padding-right: 175px;
    }

    &:before {
      content: "";
      height: 100%;
      position: absolute;
        top: 0;
        right: 100%;
      width: 50vw;
    }
  }

  &__icon {
    padding-right: $gutter;
    vertical-align: middle;
    width: 75px;

    @media ($bp-x-small-min) {
      display: inline-block;
    }

    @media ($bp-medium-min) {
      width: $page-banner-icon-width;
    }

    svg {
      max-width: 100%;
    }

    a {
      display: inline-block;
    }
  }

  &__title {
    display: inline-block;
    font-size: 2.75rem;
    line-height: 1.05;
    margin-bottom: 0;
    vertical-align: middle;

    @media ($bp-x-small-min) {
      width: calc(100% - 75px);
    }

    @media ($bp-medium-min){
      font-size: 3.75rem;
      width: calc(100% - #{$page-banner-icon-width});
    }

    @media ($bp-large-min){
      font-size: 4.25rem;
    }

    @media ($bp-x-large-min){
      font-size: 4.625rem;
    }
  }

  &--small {

  }
}
