$page-banner-icon-width: $column + $gutter;

.ma__page-banner {
  background-size: cover;
  background-position: center center;
  height: 400px;
  margin-bottom: 20px;
  overflow: hidden;
  position: relative;

  @media ($bp-x-small-min) {
    height: 366px;
    margin-bottom: 40px;
  }

  &--large {
    @media ($bp-small-min) {
      height: 305px;
    }
  }


  &__container {
    @include ma-container;
  }

  &--large &__container {
    height: 100%;
  }

  &__content {
    font-size: 1rem;
    max-width: 1050px;
    padding: 30px 25px 45px 0;
    position: absolute;
      top: 50%;
    transform: translateY(-50%);
    z-index: 1;

    @media ($bp-x-small-min) {
      display: flex;
        align-items: center;
      margin-right: 70px;
      padding-top: 50px;
      padding-right: 80px;
      transform: translateY(-50%) skew(-30deg);
    }

    &:before {
      content: "";
      height: 100%;
      position: absolute;
        top: 0;
        right: 100%;
      width: 50vw;

      @media ($bp-x-small-min) {
        right: 99%; // weird gap when skewed is shown
      }
    }
  }

  &--small &__content {
    font-size: .8rem;
    padding: 25px 25px 40px 0;

    @media ($bp-x-small-min) {
      padding-top: 45px;
      padding-right: 80px;
    }
  }

  &--large &__content {
    display: flex;
      align-items: center;
    height: 100%;
    max-width: 640px;

    @media ($bp-x-small-min) {
      margin-right: 105px;
    }
  }

  &__icon {
    padding-right: 30px;
    width: 75px;

    @media ($bp-x-small-min) {
      transform: skew(30deg);
    }

    @media ($bp-medium-min) {
      width: $page-banner-icon-width;
    }

    & > svg {
      height: 2.75em;
      width: 100%;

      @media ($bp-medium-min){
        height: 3.75em;
      }

      @media ($bp-large-min){
        height: 4.25em;
      }

      @media ($bp-x-large-min){
        height: 4.625em;
      }
    }

    a {
      display: inline-block;
    }
  }

  &--small &__icon {
    
    @media ($bp-medium-min) {
      width: $column;
    }
  }

  &__title {
    flex-grow: 1;
    font-size: 3rem;
    line-height: 1.05;
    margin-bottom: 0;
    vertical-align: middle;

    @media ($bp-x-small-min) {
      transform: skew(30deg);
      width: calc(100% - 75px);
    }

    @media ($bp-x-small-min) {
      font-size: 3.25rem;
    }

    @media ($bp-small-min) {
      font-size: 3.5rem;
    }

    @media ($bp-medium-min){
      font-size: 4rem;
      width: calc(100% - #{$page-banner-icon-width});
    }

    @media ($bp-large-min){
      font-size: 4.625rem;
    }

    @media ($bp-x-large-min){
      font-size: 5.125rem;
    }

    & > span {
      font-size: .4em;
    }
  }

  &--large &__title,
  &--small &__title {

    @media ($bp-small-min) {
      font-size: 3.25rem;
    }

    @media ($bp-large-min){
      font-size: 3.5rem;
    }

    @media ($bp-x-large-min){
      font-size: 3.875rem;
    }
  }
}
