
.ma__page-header {
  @include ma-container;
  @include clearfix;
  padding-top: 40px;
  padding-bottom: 30px;

  @media ($bp-medium-min){
    padding-top: 65px;
    padding-bottom: 50px;
  }

  @media ($bp-large-min){
    padding-top: 75px;
    padding-bottom: 70px;
  }

  @media ($bp-x-large-min){
    padding-top: 85px;
  }

  &__content {
    @include ma-reset-rich-text;

    @media ($bp-large-min){
      padding-right: $column;
      padding-bottom: 0;
      width: calc(100% - #{$layout-sidebar-width});
    }

  }

  &__title {
    margin-bottom: .4em;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__sub-title {
    font-size: 1.813rem;
    line-height: 1.2;
    margin-bottom: 1em;
    
    &:last-child {
      margin-bottom: 0;
    }
  }

  &__divider {
    padding-top: 30px;

    .ma__divider {
      padding-left: 0;
      padding-right: 0;
    }

  }
}
