
.ma__page-header {
  @include ma-container;
  @include clearfix;
  padding-top: 40px;
  padding-bottom: 30px;

  @media ($bp-medium-min){
    padding-top: 65px;
    padding-bottom: 50px;
  }

  @media ($bp-large-min){
    padding-top: 75px;
    padding-bottom: 70px;
  }

  @media ($bp-x-large-min){
    padding-top: 85px;
  }

  &__content {

    @media ($bp-large-min){
      padding-right: $column;
      padding-bottom: 0;
      width: calc(100% - #{$layout-sidebar-width});
    }

    .ma__rich-text {
      margin-bottom: 0;
    }
  }

  &__title {
    margin-bottom: .4em;
  }
}
