$page-banner-icon-width: $column + $gutter;

.ma__page-banner {
  background-size: cover;
  background-position: center center;
  height: 400px;
  margin-bottom: 20px;
  overflow: hidden;
  position: relative;

  @media ($bp-x-small-min) {
    height: 366px;
    margin-bottom: 40px;
  }

  &--small,
  &--large {
    @media ($bp-small-min) {
      height: 300px;
    }
  }

  &--overlay {
    @media ($bp-large-min) {
      height: 300px;
    }
  }

  &__container {
    @include ma-container;
    height: 100%;
    position: relative;
  }

  &--overlay &__container {

    &:before {
      content: '';
      height: 100%;
      left: 50%;
      position: absolute;
      transform: translateX(-50%);
      width: 100vw;
    }
  }

  &__content {
    font-size: 1rem;
    max-width: 1050px;
    padding: 30px 25px 45px 0;
    position: absolute;
      top: 50%;
    transform: translateY(-50%);
    z-index: 1;

    @media ($bp-x-small-min) {
      display: flex;
        align-items: center;
        flex-wrap: wrap;
      margin-right: 70px;
      padding-top: 50px;
      padding-right: 80px;
      transform: translateY(-50%) skew(-30deg);
    }

    &:before {
      content: "";
      height: 100%;
      position: absolute;
        top: 0;
        right: 100%;
      width: 50vw;

      @media ($bp-x-small-min) {
        right: 99%; // weird gap when skewed is shown
      }
    }
  }

  &--small &__content {
    font-size: .8rem;
    padding: 25px 25px 40px 0;

    @media ($bp-x-small-min) {
      padding-top: 45px;
      padding-right: 80px;
    }
  }

  &--large &__content {
    height: 100%;
    max-width: 640px;
    top: 0;

    @media ($bp-x-small-min) {
      margin-right: 105px;
      transform: skew(-30deg);
    }
  }

  &--overlay &__content {
    padding: 25px 20px 25px 0;

    @media ($bp-x-small-min) {
      transform: translateY(-50%);
      padding-right: 0;
    }

    &:before {
      display: none;
    }
  }

  &__icon {
    padding-right: 30px;
    width: 75px;

    @media ($bp-x-small-min) {
      transform: skew(30deg);
    }

    @media ($bp-medium-min) {
      width: $page-banner-icon-width;
    }

    & > svg {
      height: 2.75em;
      width: 100%;

      @media ($bp-medium-min){
        height: 3.75em;
      }

      @media ($bp-large-min){
        height: 4.25em;
      }

      @media ($bp-x-large-min){
        height: 4.625em;
      }
    }

    a {
      display: inline-block;
    }
  }

  &--small &__icon {

    @media ($bp-medium-min) {
      width: $column;
    }
  }

  &--overlay &__icon {
    transform: skew(0);
  }

  &__title {
    flex-grow: 1;
    font-size: 3rem;
    line-height: 1.05;
    margin-bottom: 0;
    vertical-align: middle;

    @media ($bp-x-small-min) {
      transform: skew(30deg);
    }

    @media ($bp-x-small-min) {
      font-size: 3.25rem;
    }

    @media ($bp-small-min) {
      font-size: 3.5rem;
    }

    @media ($bp-medium-min){
      font-size: 4rem;
    }

    @media ($bp-large-min){
      font-size: 4.625rem;
    }

    @media ($bp-x-large-min){
      font-size: 5.125rem;
    }

    & > span {
      font-size: .4em;
    }
  }

  &--large &__title,
  &--small &__title {

    @media ($bp-small-min) {
      font-size: 3.25rem;
    }

    @media ($bp-large-min){
      font-size: 3.5rem;
    }

    @media ($bp-x-large-min){
      font-size: 3.875rem;
    }
  }

  &--overlay &__title {
    @media ($bp-x-small-min) {
      transform: skew(0);
      width: calc(100% - 75px);
    }
  }

  &__icon + &__title {
    @media ($bp-x-small-min) {
      width: calc(100% - 75px);
    }

    @media ($bp-medium-min){
      width: calc(100% - #{$page-banner-icon-width});
    }
  }

  &--small &__icon + &__title {

    @media ($bp-medium-min) {
      width: calc(100% - $column);
    }
  }

  &__description {
    display: block;
    font-size: 1.813rem;
    letter-spacing: .02em;
    line-height: 2.188rem;
    margin-bottom: 0;
    margin-top: .8em;

    @media ($bp-x-small-min) {
      transform: skew(30deg);
    }

    @media ($bp-large-min){
      max-width: 820px;
    }
  }

  &--overlay &__description {
    transform: skew(0);
  }

  &--columns &__description {
    margin-top: 0;
    width: 400px;
    padding: 50px 0;
    position: relative;
      top: 50px;
    transform: skew(0);
    z-index: 1;
  }
}
