$page-header-widget-width: 350px;

.ma__page-header {
  @include ma-container;
  @include clearfix;

  &__tags {
    clear: both;
    display: flex;
      align-items: flex-start;
      flex-wrap: wrap;
      justify-content: space-between;
    overflow: hidden;
    margin-bottom: -20px;
    padding-top: 18px;

    .ma__header-tags,
    .ma__social-links {
      border-bottom-width: 1px;
      border-bottom-style: solid;
      min-height: 48px;
      position: relative;
        top: 1px;
    }

    .ma__header-tags {
      flex-grow: 1;
      margin-bottom: 30px;
    }

    .ma__social-links {
      flex-grow: 0;
    }
  }

  &__content {
    padding-top: 30px;
    padding-bottom: 40px;

    @media ($bp-small-min){
      padding-top: 40px;
    }

    @media ($bp-medium-min){
      padding-top: 65px;
      padding-bottom: 45px;
    }

    @media ($bp-large-min){
      padding-top: 75px;
      padding-bottom: 60px;
    }

    @media ($bp-x-large-min){
      padding-top: 85px;
    }
  }

  &__tags ~ &__content {
    padding-top: 30px;

    @media ($bp-medium-min){
      padding-top: 40px;
    }

    @media ($bp-large-min){
      padding-top: 50px;
    }

    @media ($bp-x-large-min){
      padding-top: 60px;
    }
  }

  .ma__page-banner ~ & &__content {
    padding-top: 20px;
  }

  &--has-widgets &__content {

    @media ($bp-medium-min){
      padding-bottom: 45px;
    }

    @media ($bp-large-min){
      float: left;
      padding-right: $column;
      max-width: 820px;
      width: calc(100% - #{$page-header-widget-width});
    }
  }

  &__widgets {
    padding-bottom: 40px;

    @media ($bp-large-min){
      float: right;
      padding-top: 75px;
      padding-bottom: 60px;
      width: $page-header-widget-width;
    }
    
    @media ($bp-x-large-min){
      padding-top: 85px;
    }

    .ma__image {
      @media ($bp-large-min){
        clear: both;
        float: right;
      }
    }
  }

  &__tags ~ &__widgets {
    padding-top: 30px;

    @media ($bp-medium-min){
      padding-top: 40px;
    }

    @media ($bp-large-min){
      padding-top: 50px;
    }

    @media ($bp-x-large-min){
      padding-top: 60px;
    }
  }

  .ma__page-banner ~ & &__widgets {
    
    @media ($bp-large-min){
      padding-top: 20px;
    }
  }

  &__category {
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: .1em;
    text-transform: uppercase;
  }

  &__title {
    margin-bottom: .4em;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .ma__page-banner ~ & &__title {
    display: none;
  }

  &__sub-title {
    font-size: 1.813rem;
    line-height: 1.2;
    margin-bottom: 1em;
    
    &:last-child {
      margin-bottom: 0;
    }

    @media ($bp-large-min){
      padding-right: $column;
      width: calc(100% - #{$layout-sidebar-width});
    }
    @media ($bp-x-large-min) {
      padding-right: $column + ($gutter * 2);
    }
  }

  &--has-widgets &__sub-title {
    @media ($bp-large-min){
      padding-right: 0;
      width: 100%;
    }
  }

  &__optional-content {
    
    .main-content {
      margin: 0;
      padding: 0;
      width: 100%;

      .page-content {
        padding-bottom: 0;
      }
    }

    .ma__rich-text {
      margin-bottom: 1rem;

      &:last-child {
        margin-bottom: 0;
      }
    }

    .ma__contact-us {
      @include ma-component-spacing;

      &.js-accordion {
        @include clearfix;

        // controls for when to activate accordion
        &:before {
          content: "true";
        }

        @media print, ($bp-small-min) {
          &:before {
            content: "false";
          }
        }
      }

      & > .ma__contact-group:first-child {
        @media print, ($bp-small-min) {
          clear: both;
          padding-bottom: 20px;
        }
      }

      // more than two contacts
      .ma__contact-group:nth-child(2):nth-last-child(3) {
        @media print, ($bp-small-min) {
          border-right-width: 1px;
          border-right-style: solid;
          float: left;
          height: 100%;
          padding-right: 45px;
          padding-top: 0;
          width: 50%;
        }
      }

      &__extra {
        @media print, ($bp-small-min) {
          border-left-width: 1px;
          border-left-style: solid;
          display: block;
          float: left;
          height: 100%;
          margin-left: -1px;
          padding-left: 45px;
          padding-top: 0;
          width: 50%;
        }
      }

      &__expand {
        clear: both;

        @media print, ($bp-small-min) {
          display: none;
        }
      }
    }
  }

  &--has-widgets &__optional-content {

    .page-content {
      padding: 0;
      width: 100%;
    }
  }

  &__divider {
    clear: both;
    padding-bottom: 30px;

    @media ($bp-medium-min){
      padding-bottom: 50px;
    }

    @media ($bp-large-min){
      padding-bottom:60px;
    }

    .ma__divider {
      padding-left: 0;
      padding-right: 0;
    }

  }
}
