$page-header-widget-width: 350px;

.ma__page-header {
  @include ma-container;
  @include clearfix;

  &__tags {
    clear: both;
  }

  &__content {
    padding-top: 40px;
    padding-bottom: 30px;

    @media ($bp-medium-min){
      padding-top: 65px;
      padding-bottom: 50px;
    }

    @media ($bp-large-min){
      padding-top: 75px;
      padding-bottom: 70px;
      padding-right: $column;
      max-width: 820px;
    }

    @media ($bp-x-large-min){
      padding-top: 85px;
    }
  }

  &--widgets &__content {

    @media ($bp-large-min){
      float: left;
      width: calc(100% - #{$page-header-widget-width});
    }
  }

  &__widgets {
    padding-bottom: 40px;

    @media ($bp-large-min){
      float: right;
      padding-top: 75px;
      padding-bottom: 70px;
      width: $page-header-widget-width;
    }
    
    @media ($bp-x-large-min){
      padding-top: 85px;
    }

    .ma__image {
      @media ($bp-large-min){
        clear: both;
        float: right;
      }
    }
  }

  &__title {
    margin-bottom: .4em;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__sub-title {
    font-size: 1.813rem;
    line-height: 1.2;
    margin-bottom: 1em;
    
    &:last-child {
      margin-bottom: 0;
    }
  }

  &__extras {
    @include ma-reset-rich-text;
  }

  &__divider {
    padding-top: 30px;

    @media ($bp-medium-min){
      padding-top: 50px;
    }

    @media ($bp-large-min){
      padding-top:70px;
    }

    .ma__divider {
      padding-left: 0;
      padding-right: 0;
    }

  }
}
