.ma__personal-message {
  padding-top: 30px;
  padding-bottom: 30px;

  @media ($bp-small-min) {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  &__container {
    @include ma-container;
    @include clearfix;
  }

  &__image {
    margin-bottom: 20px;
    text-align: center;

    @media ($bp-medium-min) {
      float: left;
      margin-bottom: 0;
      margin-right: 35px;
      width: 255px;
    }

    @media ($bp-x-large-min) {
      margin-left: $column + $gutter;
    }

  }

  &__content {
    @include ma-reset-rich-text;

    @media ($bp-medium-min) {
      float: left;
      width: calc(100% - 315px);
    }

    @media ($bp-x-large-min) {
      width: calc(100% - 525px);
    }

  }

  &__title {
    @include ma-border-decorative;
    padding-bottom: 15px;
  }
}
