.ma__quick-actions {
  padding-bottom: 50px;

  .sidebar & {
    @media ($bp-large-max) {
      display: none;
    }
  }
  .page-content & {
    @media ($bp-large-min) {
      display: none;
    }
  }

  &__title {
    @include ma-column-heading();

    .sidebar & {

      // override
      @media (min-width: 0px) {
        margin-bottom: 30px;
      }
    }
  }

  &__items {
    @include ma-reset-list;
  }

  &__item {

    & + & {
      border-top: 1px solid;
      padding-top: 30px;
      margin-top: 30px;
    }

    a {
      font-size: 1.25rem;
      line-height: 1.45;
    }
  }
}
