.ma__related-actions {
  padding-bottom: 50px;

  &__title {
    @include ma-column-heading();
  }

  &__items {
    @include ma-reset-list;
  }

  &__item {

    & + & {
      border-top: 1px solid;
      padding-top: 20px;
      margin-top: 20px;
    }
  }

  &__link {
    @include ma-link-decorative;

    a {
      font-size: 1.625rem;
      line-height: 1.2;
      padding-right: 20px;
    }
  }

  &__description {
    font-size: 1.25rem;
    line-height: 1.5;
    padding-top: 5px;

    & > :last-child {
      margin-bottom: 0;
    }
  }
}
