$rich-text-spacing: 1.75rem;
$rich-text-spacing-mobile: 1.5rem;

.ma__rich-text {
  @include clearfix;
  @include ma-component-spacing;

  &--description {
    margin-bottom: 1rem;
  }

  &:last-child {
    margin-bottom: 0;
  }

  .pre-content > &,
  .post-content > &,
  .main-content--full .page-content > & {
    @include ma-container('restricted');
  }
  
  .ma__split-columns__column > & {
    margin-bottom: 1em;
    max-width: 100%;
    padding-left: 0;
    padding-right: 0;
  }

  // rich text has an optional title
  h2:not(.ma__comp-heading),
  h3:not(.ma__comp-heading),
  h3:not(.ma__sidebar-heading),
  h4 {
    @include ma-comp-heading;
  }

  h2 {
    padding-top: .75em;
  }

  &:first-child h2 {
    padding-top: 0;
  }

  h4 {
    margin-bottom: .6em;
    padding-bottom: .45em;

    &:after {
      width: 1.5em;
    }
  }

  h5 {
    margin-bottom: 0;
  }

  p {
    margin-bottom: $rich-text-spacing-mobile;

    @media ($bp-small-min) {
      margin-bottom: $rich-text-spacing;
    }
  }

  img {
    width: 100%;
  }

  figure {
    margin-bottom: $rich-text-spacing-mobile;

    @media ($bp-small-min) {
      margin-bottom: $rich-text-spacing;
    }
  }

// List styles
  ul {
    list-style-type: disc;
    margin-bottom: $rich-text-spacing-mobile;
    padding-left: 20px;

    @media ($bp-small-min) {
      margin-bottom: $rich-text-spacing;
    }
  }

  ol {
    margin-bottom: $rich-text-spacing-mobile;
    padding-left: 30px;

    @media ($bp-small-min) {
      margin-bottom: $rich-text-spacing;
    }
  }

  li {
    padding-left: 10px;
  }

  ul ul,
  ol ul {
      list-style-type: circle;
      padding-left: 30px;
      margin-bottom: 1em;
  }

// end list styles

// link styles
  a {
    @include ma-link-underline;
    border-bottom-width: 1px;
    overflow-wrap: break-word;
    transition: border .3s;
    word-wrap: break-word;
    word-break: break-word;
  }

// end link styles

// TABLE styles
  table {
    margin-bottom: $rich-text-spacing-mobile;
    min-width: 450px;
    width: 100%;

    @media ($bp-small-min) {
      margin-bottom: $rich-text-spacing;
    }
  }

  &__table-wrapper {
    margin-bottom: 1em;
    overflow: auto;

    table {
      margin-bottom: 0;
    }
  }
// end Table styles

// last element in the rich text content
  & > :last-child {
    margin-bottom: 0 !important;
  }
}
