.ma__search-banner {
  background-position: center center;
  background-size: cover;
  display: flex;
    align-items: center;
  font-size: 0;
  padding: 30px 0 95px;

  @media ($bp-small-min) {
    height: 1px; // IE11 hack to vertially align content with min-height
    min-height: 800px;
  }

  .page-content &:last-child {
    margin-bottom: -45px; // compensating for main-content margin

    @media ($bp-large-min){
      margin-bottom: -60px; // compensating for main-content margin
    }
  }


  &:after {
    content: "";
    height: 100%;
    position: absolute;
      top: 0;
      left: 0;
    width: 100%;
    z-index: 1;
  }

  &__container {
    @include ma-container;
    font-size: 1.375rem;
    position: relative;
    z-index: 2;
  }

  &__title {
    margin-bottom: .4em;
    text-align: center;

    @media ($bp-large-min) {
      font-size: 5.313rem;
    }
  }

  &__intro {
    @include ma-h3;
    margin-bottom: .5em;
    text-align: center;
  }

  &__form {
    display: flex;
    margin: 0 auto 60px;
    max-width: 746px;
  }

  &__input {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    height: 40px;
    margin-right: 2px;

    @media ($bp-small-min) {
      height: 60px;
    }

    @media ($bp-medium-min) {
      height: 90px;
    }

    label {
      @include ma-visually-hidden;
    }

    input {
      border: none;
      font-size: 1.5rem;
      height: 100%;
      width: 100%;

      @media ($bp-small-min) {
        font-size: 2rem;
      }
    }
  }

  &__button {
    @include ma-button-reset;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;
    font-size: 1.125rem;
    letter-spacing: .1em;
    height: 40px;
    padding-left: 15px;
    padding-right: 15px;
    text-transform: uppercase;
    transition: color .5s, fill .5s, background .5s;

    @media ($bp-small-min) {
      height: 60px;
      padding-left: 20px;
      padding-right: 20px;
    }

    @media ($bp-medium-min) {
      height: 90px;
      padding-left: 30px;
      padding-right: 30px;
    }

    & > span {
      display: inline-block;
      margin-right: 5px;
      vertical-align: middle;

      @media ($bp-small-max) {
        @include ma-visually-hidden;
      }
    }

    & > svg {
      display: inline-block;
      height: 20px;
      vertical-align: middle;
      width: 20px;

      @media ($bp-small-min) {
        height: 30px;
        width: 30px;
      }
    }
  }

  &__links {
    margin-left: auto;
    margin-right: auto;
    max-width: 706px;

    .ma__comp-heading {
      font-size: 1.375rem;
      text-transform: uppercase;

      &:after {
        left: calc(50% - 42px); // half width;
        width: 84px;
      }
    }

    .ma__helpful-links__item {
      padding: 5px 0;
    }

    .ma__content-link {
      font-size: 1.5rem;

      span {
        border-bottom-width: 1px;
        transition: border .3s ease;

        &:hover {
          border-bottom-width: 3px;
        }
      }
    }
  }

  &__image-credit {
    @include ma-container;
    position: absolute;
      bottom: 20px;
      left: 50%;
    transform: translateX(-50%);
    width: 100%;
    z-index: 3;
  }

  &__credits-container {
    padding: 8px 30px;
    position: relative;
  }

  &__icon {
    position: absolute;
      top: 0;
      left: 0;

    & > svg {
      height: 26px;
      width: 19px;
    }
  }

  &__image-name {
    font-size: 1rem;
    line-height: 1.125rem;
  }

  &__image-author {
    font-size: 0.875rem;
    line-height: 1.125rem;
  }
}
