$bp-section-3up-large-min: "min-width:951px";
$bp-section-3up-large-max: "max-width:950px";

.ma__sections-3up {
  padding: 25px 0;

  @media ($bp-x-small-min) {
    padding: 45px 0 25px;
  }

  &__title {
    @include ma-container;
  }

  &__container {
    @include ma-container;
    @include clearfix;
    display: flex;
      align-items: stretch;
      flex-wrap: wrap;

    & > * {

      @media ($bp-x-small-min) {
        margin-bottom: 20px;
      }

      @media ($bp-small-min) {
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: auto;
        margin-bottom: 30px;
      }

      @media ($bp-small-min) and ($bp-section-3up-large-max) {
        @include span-columns(4 of 8);
        @include omega(2n);
      }
      
      @media ($bp-section-3up-large-min) {
          margin-bottom: 20px;
          @include span-columns(4 of 12);
          @include omega(3n);
      }
    }
  }
}