$bp-section-3up-large-min: "min-width:951px";
$bp-section-3up-large-max: "max-width:950px";

.ma__sections-3up {

  &__title {
    @include ma-border-decorative;
    position: relative;
    margin-bottom: 45px;
    padding-bottom: .75em;
    text-align: center;

    &:after {
      left: 50%;
      transform: translateX(-50%);
      width: 85px;
    }
  }

  &__container {
    @include ma-container;
    @include clearfix;
    display: flex;
      align-items: stretch;
      flex-wrap: wrap;

    & > * {
      margin-bottom: 20px;

      @media ($bp-small-min) {
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: auto;
        margin-bottom: 30px;
      }

      @media ($bp-small-min) and ($bp-section-3up-large-max) {
        @include span-columns(4 of 8);
        @include omega(2n);
      }
      @media ($bp-section-3up-large-min) {
          margin-bottom: 40px;
          @include span-columns(3 of 9);
          @include omega(3n);
      }
    }
  }
}