.ma__sidebar-promo {
  margin-bottom: 40px;

  &__image {
    margin-bottom: 1em;

    a {
      display: inline-block;
      font-size: 0;
    }
  }

  &__content {
    margin-bottom: 1em;

    @media ($bp-small-min){
      font-size: 1.25rem;
    }
  }

  &__view-more {
    text-align: right;
    text-transform: lowercase;
  }
}
