.ma__sidebar-promo {
  margin-bottom: 30px;
  
  &__title {
    @include ma-column-heading;
  }

  &__image {
    margin-bottom: 1em;

    a {
      display: inline-block;
      font-size: 0;
    }
  }

  &__content {
    margin-bottom: 1em;
  }

  &__view-more {
    text-align: right;
  }
}