.ma__split-columns {

  &__container {
    @include ma-container;
    @include clearfix;

    .main-content--two & {
      padding-left: 0;
      padding-right: 0;
    }
  }

  &__column {
    margin-bottom: 45px;

    // two items (50/50)
    &:first-child:nth-last-child(2),
    &:first-child:nth-last-child(2) ~ & {
      
      @media($bp-medium-min) {
        @include span-columns(3 of 6);
      }
    }

    // three columns
    &:first-child:nth-last-child(3),
    &:first-child:nth-last-child(3) ~ & {
      
      @media($bp-large-min) {
        @include span-columns(2 of 6);
      }
    }
      
    // two items (50/50) in a 2/3 width
    .main-content--two &:first-child:nth-last-child(2),
    .main-content--two &:first-child:nth-last-child(2) ~ & {
      @media($bp-large-min) {
        @include span-columns(12);
      }

      @media($bp-x-large-min) {
        @include span-columns(2 of 4);
      }
    }

    & > :last-child {
      margin-bottom: 0;
    }
  }
}