.ma__stacked-row-section {

  @media ($bp-large-max) {
    box-shadow: 0 0.5rem 0.5rem -0.25rem rgba(1, 1, 1, 0.25);
    padding-bottom: 45px;

    // Removes box-shadow on homepage and last item.
    &:last-child,
    .is-front & {
      box-shadow: none;
    }
  }

  @media print {
    padding-bottom: 0;
  }

  &__container {
    @include ma-container();
  }

  // reduce the width of the title and border
  &--restricted + &--restricted &__container {
    @include ma-container('restricted');
  }


  & ~ & &__container:before {
    display: block;
    content: "";
    padding-top: 45px;

    @media print, ($bp-large-min) {
      border-top-width: 1px;
      border-top-style: solid;
      padding-top: 90px;
    }
  }

  &--restricted &__title {
    max-width: 820px;
  }

  .main-content {

    @media ($bp-large-max) {
      margin-bottom: 0;
    }

    .page-content > * {
      @include ma-component-spacing;
    }
  }
}
