.ma__stacked-row-section {

  @media ($bp-large-max) {
    padding-bottom: 45px;

    &:last-child {
      box-shadow: none;
    }
  }

  @media print {
    padding-bottom: 0;
  }

  &__container {
    @include ma-container();
  }

  // reduce the width of the title and border
  &--restricted + &--restricted &__container {
    @include ma-container('restricted');
  }


  & ~ & &__container:before {
    display: block;
    content: "";
    padding-top: 45px;

    @media print, ($bp-large-min) {
      border-top-width: 1px;
      border-top-style: solid;
      padding-top: 90px;
    }
  }

  &--restricted &__title {
    max-width: 820px;
  }

  .main-content {

    @media ($bp-large-max) {
      margin-bottom: 0;
    }

    .page-content > * {
      @include ma-component-spacing;
    }
  }
}
