.ma__suggested-pages {

  text-align: center;

  &__container {
    @include ma-container;
    padding-bottom: 50px;
    border-bottom: 1px solid;
  }

  &__title {
    @include ma-border-decorative;
    margin-bottom: 45px;
    padding-top: 60px;
    padding-bottom: 16px;
    text-align: center;

    &:after {
      left: 50%;
      transform: translateX(-50%);
    }
  }

  &__items {
    @include clearfix;
    margin-bottom: 35px;
  }

  &__item {
    display: inline-block;
    margin: 0;
    margin-bottom: 30px;
    vertical-align: top;
    width: 100%;
    a {
      height: 100%;
      width: 100%;
    }

    .ma__decorative-link {
      display: block;
    }

    &:first-of-type {
      border: none;
    }

    @media ($bp-x-small-min) {
      float: left;
      padding: 0 10px;
      width: 50%;
    }

    @media ($bp-large-min) {
      border-left: 1px solid;
      padding: 0 45px;
      width: 24%;
    }
  }

}