.ma__suggested-pages {

  text-align: center;

  &__container {
    @include ma-container;
    border-bottom: 2px solid;
    padding-bottom: 50px;
  }

  &__title {
    @include ma-border-decorative;
    margin-bottom: 45px;
    padding-top: 60px;
    padding-bottom: 16px;
    text-align: center;

    &:after {
      left: 50%;
      transform: translateX(-50%);
    }
  }

  &__items {
    @include clearfix;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  &__item {
    margin-bottom: 30px;
    width: 100%;
  }

  &__item--guide {

    @media (min-width: 750px) and ($bp-x-large-max) {
      @include span-columns(4 of 8);
      @include omega(2n);
    }

    @media ($bp-x-large-min) {
      @include span-columns(4);
      @include omega(3n);
    }
  }

  &__item--figure {
    display: block;
    margin: 0 0 35px 0;
    vertical-align: top;

    a {
      height: 100%;
      width: 100%;
    }

    .ma__decorative-link {
      display: block;
      font-size: 1.625rem;
      line-height: 1.2;
      margin-top: 10px;
    }

    @media ($bp-x-small-min) {
      float: left;
      padding: 0 10px;
      width: 50%;
    }

    @media ($bp-large-min) {
      padding: 0 45px;
      width: 25%;
      & + & {
        border-left: 1px solid;
      }
    }
  }

}
