.ma__toc--overlay {
  @include ma-container();
  margin-top: 20px;
  transition: background .2s ease;

  .ma__toc--toc__title {
    border: 0;
    padding: 20px  60px 20px 20px;
    display: block;
    width: 100%;
    text-align: left;
    position: relative;

    .ma__decorative-link {
      width: auto;
    }

  }
  .ma__toc__subtitle {
    text-transform: uppercase;
    font-size: 1rem;
    vertical-align: middle;
    display: inline-block;
    padding-right: 10px;
    font-weight: bold;

    @media ($bp-small-max) {
      display: block;
    }
  }

  .ma__sidebar-heading {
    margin-bottom: 0;
  }

  .ma__toc--hierarchy__accordion {
    .ma__toc--hierarchy__title {
      padding-left: 16px;
      border-left: 10px solid transparent;
      &:focus {
        border-left-color: transparent !important;
      }
    }
  }

  .ma__toc--hierarchy .ma__toc--hierarchy__container {
    padding-top: 0;
    top: 0;
    background-color: transparent;
    border: 0;
    margin-bottom: 0;
  }
  .ma__toc--hierarchy {
    margin-top: 4rem;
  }

  .ma__toc--overlay__container {
    max-height: 0;
    opacity: 0;
    overflow-y: scroll;
    transition: all .2s ease;
  }

  .ma__toc--toc__toggle {
    position: absolute;
    right: 20px;
    top: calc(50% - 20px);
    width: 40px;
    height: 40px;
    font-size: 2.5rem;
    line-height: 0.95;
    border: none;
    background: transparent;
    transition: all 0.2s ease;
    > * {
      transition: transform 1s ease;
      display: inline-block;
    }
  }

  .ma__toc--toc__toggle[aria-expanded="false"] {
    .hide {
      display: none;
    }
  }

  .ma__toc--toc__toggle[aria-expanded="true"] {
    .show {
      display: none;
    }
  }

  &:before {
    content: "";
    position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    z-index: -1;
    background-color: #fff;
    opacity: 0;
    transition: opacity 0.2s ease;
  }


  &.is-open {
    position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    margin-top: 0 !important;
    z-index: 100;

    &:before {
      opacity: 1;
    }


    .ma__toc--overlay__container {
      max-height: calc(100% - (1rem + 40px));
      overflow-y: scroll;
      opacity: 1;
      padding-bottom: 4rem;
    }
  }

  // current page indicator
  .ma__toc--hierarchy__container li {
    position: relative;

    &.is-current:before {
      content: "";
      position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        width: 10px;
        height:100%;
    }
    .ma__toc--hierarchy__accordion-content .is-current:before {
      left: -20px;
    }
  }
}
