// from index.scss
// $column: 85px;
// $gutter: 20px;

.ma__task-details {
  
  &__title {
    @include ma-column-heading("right");
  }

  &__content {
    position: relative;

    @media ($bp-large-min) {
      margin-left: 160px;
    }

    @media ($bp-x-large-min) {
      margin-left: $column-with-gutter * 2; 
    }
  }

  &__anchor-links {

    @media ($bp-large-min) {
      padding-right: $gutter * 2;
      position: absolute;
        right: 100%;
      width: 160px;
    }
    
    @media ($bp-x-large-min) {
      width: $column-with-gutter * 2;
    }

    a {
      display: block;
      font-size: 1rem;
      line-height: 1.63;
      padding-bottom: 15px;
    }

    a + a {
      border-top: 1px solid;
      padding-top: 15px;
    }

  }

  &__section {

    h3 {
      @include ma-border-decorative;
      position: relative;
      padding-bottom: .55em;

      &:after {
        width: 2.25em; // ma-underline-decorative override
      }
    }
  }
}
