.ma__task-details {

  &__title {
    @include ma-column-heading("right");
    color: white;
    font-family: Gotham;
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 1.39;
    text-transform: uppercase;
  }

  &__content {

    // styled like the h3;
    h2 {
      font-size: 1.75rem;
      line-height: 1.214287; //34px
    }
  }
}
