.ma__teaser-listing {

  .pre-content > &,
  .post-content > &,
  .main-content--full .page-content > & {
    @include ma-container;
  }

  &__container {
    overflow: hidden;
  }

  &__description {
    p {
      @media ($bp-large-min) {
        max-width: $l-max-content-width - 80px;
      }
    }
  }

  &__description + *, &__items + &__secondary-items {
    border-top-width: 1px;
    border-top-style: solid;
    margin-top: 0;

    @media ($bp-large-max) {
      margin-top: 30px;
      padding-top: 30px;
    }

    @media ($bp-large-min) {
      margin-top: 45px;
      padding-top: 45px;
    }

    .sidebar & {
      margin-top: 20px;
      padding-top: 20px;
    }
  }

  &__items.side-by-side, &__secondary-items {
    @media ($bp-small-min) {
      display: flex;
      flex-wrap: wrap;
      justify-content: stretch;
      margin-left: -40px;
      margin-right: -40px;
    }
  }

  &__items.side-by-side .ma__general-teaser,
  &__secondary-items .ma__teaser-listing__secondary-item {
    @media ($bp-small-min) {
      $border-padding: 40px;
      border-right-style: solid;
      border-right-width: 1px;
      align-content: flex-start;
      flex-shrink: 1;
      flex-grow: 0;
      flex-basis: 50%;
      padding: 0 $border-padding;
    }
  }

  &__items {
    &.side-by-side {
      .ma__general-teaser {
        flex-wrap: nowrap;

        @media ($bp-small-min) {
          &:nth-child(-n + 2) {
            border-top: none;
            margin-top: 0;
          }

          &:nth-child(2n) {
            border-right: none;
          }
        }
      }
    }
  }

  &__secondary-items {
    @include ma-reset-list;
    overflow: hidden;

    .ma__teaser-listing__secondary-item {
      position: relative;

      &:after {
        border-top-style: solid;
        border-top-width: 1px;
        content: "";
        position: absolute;
        left: 0;
        width: calc(100% + 1px);
      }

      @media ($bp-x-small-max) {
        .ma__general-teaser__image-wrapper {
          display: none;
        }
      }

      @media ($bp-small-max) {
        $border-padding: 30px;

        &:nth-child(n+2) {
          margin-top: 2 * $border-padding;
        }

        &:after {
          bottom: -1 * $border-padding;
        }

        .sidebar & {
          $border-padding: 20px;

          &:nth-child(n+2) {
            margin-top: 2 * $border-padding;
          }

          &:after {
            bottom: -1 * $border-padding;
          }
        }
      }

      @media ($bp-small-min) {
        $border-padding: 40px;
        display: block;

        &:nth-child(n+3) {
          margin-top: 2 * $border-padding;
        }

        &:after {
          bottom: -1 * $border-padding;
        }

        .ma__general-teaser__image--wrapper {
          margin-right: 0;
        }
      }
    }

    &.ma__teaser-listing__2-col-grid {
      .ma__teaser-listing__secondary-item {
        @media ($bp-small-min) {
          &:nth-child(2n) {
            border-right: none;
          }
        }
      }
    }

    &.ma__teaser-listing__3-col-grid {
      .ma__teaser-listing__secondary-item {
        @media ($bp-small-min) and ($bp-large-max) {
          &:nth-child(2n) {
            border-right: none;
          }
        }

        @media ($bp-large-min) {
          flex-basis: 33%;

          &:nth-child(3) {
            margin-top: 0;
          }

          &:nth-child(3n) {
            border-right: none;
          }
        }
      }
    }
  }

  &__more {
    margin-top: 30px;

    @media ($bp-large-min) {
      margin-top: 45px;
    }
  }
}
