.ma__top-actions {
  @include ma-container;

  &__title {
    @include ma-border-decorative;
    margin-bottom: 45px;
    padding-bottom: 16px;
    text-align: center;

    &:after {
      left: 50%;
      transform: translateX(-50%);
    }
  }

  &__items {
    @include clearfix;

    @media print, ($bp-small-min) {
      display: flex;
        align-items: stretch;
        flex-wrap: wrap;
        justify-content: center;
    }
  }

  .ma__callout-link {
    display: flex;
    margin-bottom: 20px;

    @media ($bp-small-min) and ($bp-x-large-max) {
      @include span-columns(6);
      @include omega(2n);
      display: flex;
    }

    @media print, ($bp-x-large-min) {
      @include span-columns(3);
      @include omega(4n);
      display: flex;
    }
  }
}
