.ma__top-actions {
  @include ma-container;
  margin-bottom: 90px;

  &__title {
    @include ma-border-decorative;
    margin-bottom: 45px;
    padding-bottom: .55em;
    text-align: center;

    &:after {
      left: 50%;
      transform: translateX(-50%);
    }
  }

  &__items {
   @include clearfix;
   @include ma-reset-list;
    display: flex;
      align-items: stretch;
      flex-wrap: wrap;
      justify-content: space-between;
  }

  &__item {
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    padding: 12px 40px 20px;
    width: 100%;

    @media ($bp-small-min) and ($bp-x-large-max) {
      @include omega(2n);
      float: left;
      width: 50%;

      &:nth-child(2n) {
        border-left-width: 1px;
        border-left-style: solid;
      }
    }
    @media ($bp-x-large-min) {
        @include omega(4n);
        align-items: center;
        border-left-width: 1px;
        border-left-style: solid;
        float: left;
        width: 25%;

        &:nth-child(4n + 1) {
          border-left: none;
        }
    }

    > div {
      text-align: center;
      width: 100%;
    }
  }

  &__link {
    @include ma-link-decorative;

    a {
      font-size: 1.375rem;
    }
  }
}
