.ma__transition-page {
  margin-bottom: 40px;
  text-align: center;

  &__icon {
    margin-bottom: 15px;
  }

  &__message {
    font-size: 1.75rem;
    line-height: 1.31;

    @media ($bp-small-min) {
      font-size: 2.25rem;
    }
  }

  &__checkbox {
    margin-bottom: 45px;
  }

  &__buttons {
    margin: 0 -10px;

    button,
    input {
      margin: 0 10px 20px;
    }
  }
}
