$utility-nav-height: 43px;

.ma__utility-nav {
  position: relative;

  &__items {
    @include ma-reset-list;
    @include ma-container;

    @media ($bp-header-toggle-max){
      padding-left: 0;
      padding-right: 0;
    }

    @media ($bp-header-toggle-min){
      @include ma-valign-block;
      height: $utility-nav-height;
      text-align: right;
    }
  }

  &__item {

    @media ($bp-header-toggle-max) {
      padding-right: 15px;
      position: relative;
    }

    @media ($bp-header-toggle-min) {
      display: inline-block;
      padding-left: 30px;
      vertical-align: middle;
    }
  }

  &__link,
  &__translate {
    display: block;
    font-size: 1.25rem;
    line-height: 1.45;

    @media ($bp-header-toggle-min) {
      line-height: 2;
      transition: opacity .4s ease;

      &:hover {
        opacity: .7;
      }
    }
  }

  &__link {

    @media ($bp-header-toggle-max) {
      padding: 11px 20px 9px 45px;
    }

    @media ($bp-header-toggle-max) {
      @include ma-chevron;

      &:after {
        position: absolute;
          right: 20px;
          top: 18px;
      }
    }

    & > svg,
    & > span {
      display: inline-block;
      vertical-align: middle;
    }

    & > svg {
      height: 16px;
      width: 20px;

      @media ($bp-header-toggle-max) {
        position: absolute;
          top: 50%;
          left: 20px;
        transform: translateY(-50%);
      }
    }

    & > span {
      
      @media ($bp-header-toggle-max) {
        display: block;
      }
    }
  }

  &__translate {
    position: relative;

    .goog-te-gadget {
      font-size: 1.25rem;
    }

    .goog-te-gadget-simple {
      font-size: 1.25rem;

      @media ($bp-header-toggle-max) {
        padding: 11px 0 9px 45px;
        width: 100%;
      }

      & > img {
        margin-right: 15px;
        margin-bottom: 0;

        @media ($bp-header-toggle-max) {
          margin-right: 1px;
          margin-bottom: 2px;
        }
      }

      & > span {
        display: inline-block;
        width: calc(100% - 20px); // width of the image
      }
    }

    .goog-te-gadget-simple .goog-te-menu-value {
      @include ma-chevron;

      @media ($bp-header-toggle-max) {
        display: block;
        width: 100%;
      }

      & > * {
        display: none;
      }

      & > :first-child {
        display: inline;
      }

      &:after {
        margin-left: .25em;
        transform: rotate(45deg) translateY(-45%); 

        @media ($bp-header-toggle-max) {
          position: absolute;
            top: 45%;
            right: 10px;
        }     
      }
    }
  }

  &__translate-icon {
    line-height: 1em;
    opacity: 0;
    position: absolute;
      left: 30px;
      top: 54%;
    transform: translateY(-50%);
    transition: opacity .001s;
    transition-delay: .5s;

    @media ($bp-header-toggle-max) {
      left: 20px;    
    }

    & > svg {
      height: 18px;
      width: 20px;    
    }
  }

  .has-rendered + &__translate-icon {
    opacity: 1;
  }

  &__content {
    display: block;
    margin-top: $header-mobile-controls-height;
    padding-left: 20px;
    position: fixed;
      top: 0;
      right: -300px;
    text-align: left;
    transition: visibility .5s ease, right .5s ease;
    width: 300px;
    z-index: $z-dropdown;

    .translated-rtl &,
    .translated-ltr & {
      top: 40px;
    }

    .show-menu & {
      right: 0;
    }

    &.is-closed {
      visibility: hidden;
      right: -300px;
    }

    @media ($bp-header-toggle-min) {
      height: 145px;
      margin-top: 0;
      overflow: visible;
      padding-left: 0;
      position: absolute;
        left: 0;
      transition: visibility .6s, top .6s;
      visibility: visible;
      width: 100%;

      &.is-closed {
        right: 0;
        top: -145px;
        transition: visibility .3s, top .3s;
      }

      &[aria-hidden="true"] {
        display: none;
      }

    }
  }

  &__container {
    @include ma-container;
    overflow-y: auto;
    padding-bottom: 20px;
    padding-top: 15px;
    position: relative;
    z-index: $z-dropdown;
    
    @media ($bp-header-toggle-min) {
      height: auto;
      padding-bottom: 0;
      padding-top: 0;
      margin-top: 10px;
    }

    @media ($bp-header-toggle-max) {
      height: calc(100vh - #{$header-mobile-controls-height});
      padding-left: 20px;
      padding-right: 20px;

      .translated-rtl &,
      .translated-ltr & {
        height: calc(100vh - #{$header-mobile-controls-height * 2});
      }
    }
  }

  &__close {
    @include ma-button-reset;
    cursor: pointer;
    position: absolute;
      top: 0;
      right: 0;

    span {
      display: inline-block;
      font-size: 1rem;
      margin-right: .45em;
      text-transform: uppercase;
      vertical-align: middle;
      letter-spacing: .1em;
    }

    span[role="presentation"] {
      font-size: 2.5rem;
      line-height: .5em;
      margin-right: 0;
      transform: rotate(45deg);
    }
  }

  &__content-title {
    font-size: 1.625rem;
    line-height: 1.45;
    padding-bottom: 20px;
    position: relative;

    @media ($bp-header-toggle-min) {
      padding-bottom: 5px;
    }

    & > span,
    & > svg {
      display: inline-block;
      vertical-align: middle;
    }

    & > svg {
      height: 20px;
      margin-right: 10px;
      width: 20px;

      &.svg-login {
        width: 25px;
      }
    }
  }

  &__content-body {

    @media ($bp-header-toggle-min) {
      height: 88px;
    }
  }
}
