$bp-utility-panel-medium-min: "min-width:1121px";
$bp-utility-panel-reduce-links-max: "max-width:1120px";

.ma__utility-panel {

  @media ($bp-header-toggle-min) {
    display: flex;
      justify-content: space-between;
    width: 100%;

    .no-flex & {
      display: table;
    }
  }

  &__description {
    font-size: 1.25rem;
    line-height: 1.5;
    margin-bottom: 2em;
    margin-right: 2%;

    @media ($bp-header-toggle-min) {
      flex-grow: 1;
      flex-shrink: 1;
      flex-basis: 250px;
      line-height: 1.3;
      margin-bottom: 0;

      .no-flex & {
        display: table-cell;
        vertical-align: middle;
      }
    }

    @media ($bp-utility-panel-medium-min) {
      flex-basis: 350px;
    }

    &--full {
      flex-basis: 850px;
    }
  }

  &__items {
    @include ma-reset-list;
    margin-bottom: 1.75em;

    @media ($bp-header-toggle-min) {
      display: flex;
        align-items: stretch;
        flex-wrap: nowrap;
      flex-shrink: 2;
      flex-grow: 2;
      margin-bottom: 0;
      flex-basis: calc(100% - 250px);  // width of description

      .no-flex & {
        display: table-cell;
        vertical-align: middle;
      }
    }

    @media ($bp-utility-panel-medium-min) {
      flex-basis: calc(100% - 350px);  // width of description
    }
  }

  &__item {
    cursor: pointer;
    font-size: 0;
    margin-bottom: 12px;

    @media ($bp-header-toggle-min) {
      display: flex;
        align-items: center;
      flex-basis: 33%;
      flex-grow: 0;
      flex-shrink: 1;
      margin: 0 1%;

      .no-flex & {
        display: table-cell;
      }

      &:first-child {
        margin-left: 0;
      }

      &:last-child {
        margin-right: 0;
      }
    }

    &:hover {
      opacity: .8;
    }

    @media ($bp-utility-panel-medium-min) {
      margin: 0 2%;
    }

    .ma__decorative-link {
      line-height: 1.125;
      padding: 10px;
      padding-right: 28px;
    }

    a {
      border: none;
      font-size: 1.375rem;
      margin: 0;
      text-align: left;

      @media ($bp-header-toggle-min) and ($bp-utility-panel-reduce-links-max) {
        font-size: 1.25rem;
      }

      &:hover {
        border: none;
      }
    }
  }
}
