.ma__whats-new {
  @include ma-container;
  padding-top: 90px;
  padding-bottom: 90px;

  &__title {
    @include ma-border-decorative;
    margin-bottom: 60px;
    padding-bottom: 15px;
    text-align: center;

    &:after {
      left: 50%;
      transform: translateX(-50%);
    }
  }

  &__items {
    @include clearfix;
    margin-bottom: 30px;
  }

  &__item {
    @include clearfix;
    margin-bottom: 30px;

    @media ($bp-large-min) {
      @include span-columns(6);
      @include omega(2n);
      margin-bottom: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__image-wrapper {
    display: inline-block;
    font-size: 0;
    position: relative;

    @media ($bp-x-small-min) {
      display: block;
      float: left;
      margin-right: 5%;
      width: 38%;
    }
  }

  &__date {
    font-size: 1.188rem;
    line-height: 1.79;
    padding: 0 10px;
    position: absolute;
      top: 0;
      right: 0;
  }

  &__content {
    
    @media ($bp-x-small-min) {
      float: left;
      width: 57%;
    }
  }

  &__link {
    margin-bottom: .8em;
  }

  &__description {
    font-size: 1rem;
  }

  &__view-all {
    text-align: right;

    a {
      @include ma-chevron;
      @include ma-link-underline;
      display: inline-block;
      
      &:after {
        height: .5em;
        width: .5em;
      }
    }
  }
}
