<div class="ma__about-section">
  <div class="ma__about-section__title">
    {% set compHeading = about.title %}
    {% include "@atoms/04-headings/comp-heading.twig" %}
  </div>
  <div class="ma__about-section__content">
    <div class="ma__about-section__content-container">
      <div class="ma__about-section__content-text">
        {% set richText = about.content %}
        {% include "@organisms/by-author/rich-text.twig" %}

        {% set link = about.link %}
        {% include "@atoms/11-text/link.twig" %}
      </div>

      <div class="ma_about-section__person">
        {% block personCard %}
          {% set person = about.person %}
          {% include "@organisms/by-author/person-card.twig" %}
        {% endblock %}
      </div>
    </div>
  </div>
  <div class="ma__about-section__social">
    {% block socialLinks %}
      {% set iconLinks = about.social %}
      {% include "@molecules/icon-links.twig" %}
    {% endblock %}
  </div>
</div>
<div class="ma__divider"></div>
