<div class="ma__about-section">
  <div class="ma__about-section__title">
    {% set compHeading = about.title %}
    {% include "@atoms/04-headings/comp-heading.twig" %}
  </div>
  <div class="ma__about-section__content">
    {% set richText = about.content %}
    {% include "@organisms/by-author/rich-text.twig" %}

    {% set link = about.link %}
    {% include "@atoms/11-text/link.twig" %}
  </div>
  <div class="ma_about-section__person">
    {% set person = about.person %}
    {% include "@organisms/by-author/person-card.twig" %}
  </div>
  <div class="ma__about-section__social">
    {% set socialLinks = about.socialLinks %}
    {% include "@molecules/social-links.twig" %}
  </div>
</div>