<div class="ma__about-section">
  <div class="ma__about-section__title">
    {% set compHeading = about.title %}
    {% include "@atoms/04-headings/comp-heading.twig" %}
  </div>
  <div class="ma__about-section__content">
    <div class="ma__about-section__content-container">
      <div class="ma__about-section__content-text">
        {% set richText = about.content %}
        {% include "@organisms/by-author/rich-text.twig" %}

        {% set link = about.link %}
        {% include "@atoms/11-text/link.twig" %}
      </div>

      {% if about.secondary_person is not defined %}
      <div class="ma__about-section__person">
        {% set person = about.person %}
        {% include "@organisms/by-author/person-card.twig" %}
      </div>
      {% endif %}
    </div>
  </div>
  <div class="ma__about-section__social">
    {% block socialLinks %}
      {% set iconLinks = about.social %}
      {% include "@molecules/icon-links.twig" %}
    {% endblock %}
  </div>

  {% if about.secondary_person %}
    <div class="ma__about-section__people">
      <div class="ma__about-section-person primary">
        {% set person = about.person %}
        {% include "@organisms/by-author/person-card.twig" %}
      </div>
      <div class="ma__about-section-person secondary">
        {% set person = about.secondary_person %}
        {% include "@organisms/by-author/person-card.twig" %}
      </div>
    </div>
  {% endif %}
</div>
<div class="ma__divider"></div>
