<section class="ma__action-events">
  <div class="ma__action-events__title">
    {{actionEvents.title}}
  </div>
  <ul class="ma__action-events__items">
    {% for event in actionEvents.events %}
      <li class="ma__action-events__item">
        <div class="ma__action-events__name">
          {% set decorativeLink = event.name %}
          {% include "atoms-decorative-link" %}
        </div>
        <div class="ma__action-events__date">
          {{event.date}}
        </div>
        {% if event.description %}
          <div class="ma__action-events__description">
            {{event.description}}
          </div>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
  <div class="ma__action-events__more">
    <a href="#">more</a>
  </div>
</section>