<section class="ma__banner-carousel">
  <div class="ma__banner-carousel__slides js-banner-carousel">
    {% for slide in bannerCarousel.slides %}
      <div class="ma__banner-carousel__slide">
        <picture>
          <source srcset="{{slide.imageLarge}}" media="(min-width: 801px)">
          <img srcset="{{slide.image}}" alt="{{slide.alt}}" property="image">
        </picture>
      </div>
    {% endfor %}
  </div>
</section>

