{% set level = content.data.level ? : 3 %}
<section class="ma__callout-time">
  <div class="ma__callout-time__container">
    <span class="ma__callout-time__icon">
      {% include "@atoms/05-icons/svg-wait-time.twig" %}
    </span>
    <h{{ level }} class="ma__callout-time__text">{{ calloutTime.text }}</h{{ level }}>
  </div>
</section>
