<section class="ma__callout-time">
  <span class="ma__callout-time__icon">
    {% include "@atoms/05-icons/svg-clock.twig" %}
  </span>
  <h5 class="ma__callout-time__text">{{ calloutTime.text }}</h5>
</section>
