{# Backward Compatible with v 5.7 - calloutAlert is now type decorativeLink instead of 'calloutAlert.decorativeLink' #}
{% if calloutAlert.decorativeLink %}
  {% set calloutAlert = calloutAlert.decorativeLink %}
{% endif %}

<section class="ma__callout-alert">
  {% if calloutAlert.href %}
    <a class="ma__callout-alert__content" 
      href="{{ calloutAlert.href }}"
      {% if calloutAlert.info %}
        title="{{ calloutAlert.info }}"
      {% endif %}>
      <div class="ma__callout-alert__icon">
        {% include "@atoms/05-icons/svg-alert.twig" %}
      </div>
      <div class="ma__callout-alert__link">
        <span>{{ calloutAlert.text }}&nbsp;{% include "@atoms/05-icons/svg-arrow.twig" %}</span>
      </div>
    </a>
  {% else %}
    <div class="ma__callout-alert__content">
      <div class="ma__callout-alert__icon">
        {% include "@atoms/05-icons/svg-alert.twig" %}
      </div>
      <div class="ma__callout-alert__link">
        {{ calloutAlert.text }}
      </div>
    </div>
  {% endif %}
</section>
