<section class="ma__callout-alert js-clickable">
  <div class="ma__callout-alert__icon">
    {% include "@atoms/05-icons/svg-alert.twig" %}
  </div>
  <div class="ma__callout-alert__link">
    {% set decorativeLink = calloutAlert.decorativeLink %}
    {% include "@atoms/decorative-link.twig" %}
  </div>
</section>