<main id="main-content" tabindex="-1">
  <div class="pre-content">
  </div>
  <div class="main-content main-content--full">
    <div class="page-content">
    </div>
  </div>
  <div class="post-content">
    {% include "@organisms/by-author/event-listing.twig" %}
  </div>
</main>
