{% set gridClass = eventListing.grid ? 'ma__event-listing--grid' : '' %}
{% set maxItems = eventListing.maxItems ?: eventListing.events.length %}

<section class="ma__event-listing {{ gridClass }}">
  <div class="ma__event-listing__container">
    {% if eventListing.compHeading %}
      {% set compHeading = eventListing.compHeading %}
      {% include "@atoms/04-headings/comp-heading.twig" %}
    {% endif %}
    {% if eventListing.sidebarHeading %}
      {% set sidebarHeading = eventListing.sidebarHeading %}
      {% include "@atoms/04-headings/sidebar-heading.twig" %}
    {% endif %}
    <ul class="ma__event-listing__items"></ul>
    {% if eventListing.more %}
      <div class="ma__event-listing__more">
        {% set link = eventListing.more %}
        {% include "@atoms/11-text/link.twig" %}
      </div>
    {% endif %}
  </div>
</section>
<script>
  // Make eventListing data object available in eventListing module js.
  var ma = ma || {};
  ma.eventListing = ma.eventListing || [];
  ma.eventListing.push({{ eventListing|json_encode|raw }});
</script>


