 
{% if formRequirements.richText %} 
  <section class="ma__form-requirements"> 
    <div class="ma__form-requirements__container"> 
      {% if formRequirements.rteTitle %} 
        {% set columnHeading = formRequirements.rteTitle %} 
        {% set columnHeading = columnHeading|merge({'level': formRequirements.level}) %} 
        {% include "@atoms/04-headings/column-heading.twig" %} 
      {% endif %} 
      {% set richText = formRequirements.richText %} 
      {% include "@organisms/by-author/rich-text.twig" %} 
      {% if formRequirements.payment %} 
        <div class="ma__form-requirements__payment"> 
          {% set columnHeading = formRequirements.payment.title %} 
          {% include "@atoms/04-headings/column-heading.twig" %} 
          {% set locationIcons = formRequirements.payment.locationIcons %} 
          {% include "@molecules/location-icons.twig" %} 
        </div> 
      {% endif %} 
    </div> 
  </section> 
{% endif %} 
