
{% if formRequirements.richText %}
  <section class="ma__form-requirements">
    <div class="ma__form-requirements__container">
      {% if formRequirements.rteTitle %}
        <div class="ma__form-requirements__title">
          {% set heading2 = formRequirements.rteTitle %}
          {% include "@atoms/04-headings/heading-2.twig" %}
        </div>
      {% endif %}
      {% set richText = formRequirements.richText %}
      {% include "@organisms/by-author/rich-text.twig" %}
      {% if formRequirements.payment %}
        <div class="ma__form-requirements__payment">
          {% set contentHeading = formRequirements.payment.title %}
          {% include "@atoms/04-headings/content-heading.twig" %}
          {% set locationIcons = formRequirements.payment.locationIcons %}
          {% include "@molecules/location-icons.twig" %}
        </div>
      {% endif %}
    </div>
  </section>
{% endif %}
