<section class="ma__guide-section">
  <div class="ma__guide-section__container">
    <h2 class="ma__guide-section__title"><a name="{{guideSection.id}}" id="{{guideSection.id}}">{{guideSection.title}}</a></h2>
  </div>
  <div class="main-content main-content--two">
    <main class="page-content">
      {% set rteElements = guideSection.rteElements %}
      {% include "organisms-rich-text" %}
    </main>
    <aside class="sidebar">
      {% set sidebarHeading = guideSection.sidebarHeading %}
      {% include "atoms-sidebar-heading" %}
      {% set contactUs = guideSection.contactUs %}
      {% include "molecules-contact-us" %}
    </aside>
  </div>
</section>  
