{% if imageLinkList.blocks %}
  {% set linkListClass = "ma__link-list--image-blocks" %}
{% else %}
  {% set linkListClass = "ma__link-list--image-links" %}
{% endif %}
<section class="{{linkListClass}}">
  {% if imageLinkList.compHeading %}
    {% set compHeading = imageLinkList.compHeading %}
    {% include "@atoms/04-headings/comp-heading.twig" %}
  {% endif %}

  {% if imageLinkList.sidebarHeading %}
    {% set sidebarHeading = imageLinkList.sidebarHeading %}
    {% include "@atoms/04-headings/sidebar-heading.twig" %}
  {% endif %}

  {% if imageLinkList.description %}
    <div class="ma__link-list__description">
      {% set richText = imageLinkList.description %}
      {% include "@organisms/by-author/rich-text.twig" %}
    </div>
  {% endif %}

  <div class="ma__link-list__container">
      <ul class="ma__link-list__items ma__link-list__items--no-bullets">
        {% block imageListBlock %}
          {% for imageLink in imageLinkList.links %}
            {% if imageLinkList.blocks %}
              {% set imageLink = imageLink|merge({"block": true}) %}
            {% endif %}
            <li class="ma__link-list__item">
              {% include "@molecules/image-link.twig" %}
            </li>
          {% endfor %}
        {% endblock %}
      </ul>
  </div>
</section>
