{% set level = content.data.level ? : 2 %} 
{# backward compatible for version 5.5 #}
{% if keyActions.sidebarHeading %}
  {% set keyActions = keyActions|merge({"compHeading": { "title": keyActions.sidebarHeading.title, "sidebar" : true }}) %}
{% endif %}

<section class="ma__key-actions">
  <div class="ma__key-actions__container">
    {% if keyActions.compHeading %}
      {% set compHeading = keyActions.compHeading %}
      {% include "@atoms/04-headings/comp-heading.twig" %}
    {% endif %}
    {% if keyActions.sidebarHeading %}
      {% set sidebarHeading = keyActions.sidebarHeading %}
      {% include "@atoms/04-headings/sidebar-heading.twig" %}
    {% endif %}
    <div class="ma__key-actions__items" aria-labelledby="{{ keyActions.compHeading.id }}">
      {% for link in keyActions.links %}
        {% if link.image %}
          {% set illustratedLink = link %}
          {% include "@molecules/illustrated-link.twig" %}
        {% else %}
          {% set calloutLink = link %}
          {% include "@molecules/callout-link.twig" %}
        {% endif %}
      {% endfor %}
    </div>
  </div>
</section>

