<section class="ma__link-list">
  <div class="ma__link-list__container">
    {% if linkList.title %}
      {% set compHeading = { "title": linkList.title } %}
      {% include "@atoms/04-headings/comp-heading.twig" %}
    {% endif %}
    {% set length = linkList.links|length/2 %}
    {% set half = length|round(0,'ceil') %}
    <ul class="ma__link-list__items">
      {% for decorativeLink in linkList.links[start:half] %}
        <li class="ma__link-list__item">
          {% include "@atoms/decorative-link.twig" %}
        </li>
      {% endfor %}
    </ul>
    <ul class="ma__link-list__items">
      {% for decorativeLink in linkList.links[half:length] %}
        <li class="ma__link-list__item">
          {% include "@atoms/decorative-link.twig" %}
        </li>
      {% endfor %}
    </ul>
  </div>
</section>
