<section class="ma__link-list">
  <div class="ma__link-list__container">
    <h2 class="ma__link-list__title">{{linkList.title}}</h2>
    <ul class="ma__link-list__items">
      {% for decorativeLink in linkList.links[start:half] %}
        <li class="ma__link-list__item">
          {% include "@atoms/decorative-link.twig" %}
        </li>
      {% endfor %}
    </ul>
    <ul class="ma__link-list__items">
      {% for decorativeLink in linkList.links[half:length] %}
        <li class="ma__link-list__item">
          {% include "@atoms/decorative-link.twig" %}
        </li>
      {% endfor %}
    </ul>
  </div>
</section>
