<section class="ma__location-banner">
  <style>
    #GUID24872901570 {
      background-image: url('{{locationBanner.bgNarrow}}');
    }
    
    @media (min-width: 801px) {
      #GUID24872901570 {
        background-image: url('{{locationBanner.bgWide}}');
      }
    }
  </style>
  <div 
    class="ma__location-banner__image" 
    id="GUID24872901570"
    role="image"
    title="{{locationBanner.bgTitle}}">
  </div>
  <div class="ma__location-banner__map">
    {% set actionMap = locationBanner.actionMap %}
    {% include "molecules-action-map" %}
  </div>
</section>