<section class="ma__location-listing js-location-listing">
  {% if locationListing.form %}
    {# pageFilters #}
    <div class="ma__location-listing__filters">
      <div class="ma__location-listing__container">
        <form action="{{ locationListing.form.action }}" class="js-location-listing-form">
          {% for input in locationListing.form.inputs %}
            {% include input.path with input.data %}
          {% endfor %}
        </form>
      </div>
    </div>
  {% endif %}
  <div class="ma__location-listing__columns">
    <div class="ma__location-listing__container">
      <div class="ma__location-listing__map">
        <div class="ma__location-listing__sticky js-location-listing-map">
          {% set googleMap = locationListing.googleMap %}
          {% include "@molecules/google-map.twig" %}
        </div>
      </div>
      <div class="ma__location-listing__results js-location-listing-results">
        {% set resultsHeading = locationListing.resultsHeading %}
        {% include "@molecules/results-heading.twig" %}
        {% for imagePromo in locationListing.imagePromos %}
          {% include "@molecules/image-promo.twig" %}
        {% endfor %}
      </div>
    </div>
  </div>
</section>