<section class="ma__location-listing js-location-listing">
  {% if locationListing.locationFilters %}
    <div class="ma__location-listing__filters">
      {% set locationFilters = locationListing.locationFilters %}
      {% include "@molecules/location-filters.twig" %}
    </div>
  {% endif %}
  <div class="ma__location-listing__columns">
    <div class="ma__location-listing__container">
      <div class="ma__location-listing__map">
        <div class="ma__location-listing__sticky js-location-listing-map">
          {% set googleMap = locationListing.googleMap %}
          {% include "@molecules/google-map.twig" %}
        </div>
      </div>
      <div class="ma__location-listing__results js-location-listing-results">
        {% set resultsHeading = locationListing.resultsHeading %}
        {% include "@molecules/results-heading.twig" %}
        {% set imagePromos = locationListing.imagePromos %}
        {% include "@organisms/by-author/image-promos.twig" %}
        {% set pagination = locationListing.pagination %}
        {% include "@molecules/pagination.twig" %}
      </div>
    </div>
  </div>
</section>