<section class="ma__mapped-locations">
  {% if mappedLocations.compHeading or mappedLocations.link %}
    <div class="ma__mapped-locations__header">
      {% if mappedLocations.compHeading %}
       {% set compHeading = mappedLocations.compHeading %}
       {% include "@atoms/04-headings/comp-heading.twig" %}
      {% endif %}
      {% if mappedLocations.link %}
        <div class="ma__mapped-locations__link">
          {% set decorativeLink = mappedLocations.link %}
          {% include "@atoms/decorative-link.twig" %}
        </div>
      {% endif %}
    </div>
  {% endif %}
  <div class="ma__mapped-locations__map">
    {% set googleMap = mappedLocations.googleMap %}
    {% include "@molecules/google-map.twig" %}
  </div>
</section>