<section class="ma__multi-row-section">
  <div class="ma__multi-row-section__container">
    <h2 class="ma__multi-row-section__title"><a name="{{multiRowSection.id}}" id="{{multiRowSection.id}}">{{multiRowSection.title}}</a></h2>
  </div>
  <div class="main-content {{ multiRowSection.sideBar|length != 'single' ? 'main-content--two' : '' }}">
    <div class="page-content">
      {% for content in multiRowSection.pageContent %}
        {% include content.path with content.data %}
      {% endfor %}
    </div>
    {% if multiRowSection.sideBar|length %}
      <aside class="sidebar">
        {% for sidebar in multiRowSection.sideBar %}
          {% include sidebar.path with sidebar.data %}
        {% endfor %}
      </aside>
    {% endif %}
  </div>
</section>

