<section class="ma__multi-row-section">
  <div class="ma__multi-row-section__container">
    <div class="ma__multi-row-section__title">
      {% set compHeading = {
          "title": multiRowSection.title,
          "sub": "",
          "color": "",
          "id": multiRowSection.id
        }
      %}
      {% include "@atoms/04-headings/comp-heading.twig" %}
    </div>
  </div>
  <div class="main-content {{ multiRowSection.sideBar|length != 'single' ? 'main-content--two' : '' }}">
    <div class="page-content">
      {% for content in multiRowSection.pageContent %}
        {% include content.path with content.data %}
      {% endfor %}
    </div>
    {% if multiRowSection.sideBar|length %}
      <aside class="sidebar">
        {% for sidebar in multiRowSection.sideBar %}
          {% include sidebar.path with sidebar.data %}
        {% endfor %}
      </aside>
    {% endif %}
  </div>
</section>

