<section class="ma__page-discourse">
  <div class="ma__page-discourse__container">
    {% set rteElements = pageDiscourse.rteElements %}
    {% include "molecules-rich-text" %}
  </div>
</section>
