<div class="ma__page-flipper">
  <div class="ma__page-flipper__container">
    <div class="ma__page-flipper__prev">
      {% if pageFlipper.prev %}
        {% set arrowNav = pageFlipper.prev %}
        {% include "@molecules/arrow-nav.twig" %}
      {% endif %}
    </div>
    <div class="ma__page-flipper__next">
      {% if pageFlipper.next %}
        {% set arrowNav = pageFlipper.next %}
        {% include "@molecules/arrow-nav.twig" %}
      {% endif %}
    </div>
  </div>
</div>

