<div class="ma__page-flipper">
  {% if pageFlipper.context %}
  <div class="ma__page-flipper__context">
    <span class="ma__page-flipper__context-label">{{pageFlipper.context.label}}</span>
    {% set decorativeLink = pageFlipper.context.link %}
    {% include "@atoms/decorative-link.twig" %}
  </div>
  {% endif %}
  <div class="ma__page-flipper__container">
    {% if pageFlipper.prev %}
      {% set arrowNav = pageFlipper.prev %}
      {% include "@molecules/arrow-nav.twig" %}
    {% else %}
      <div class="ma__page-flipper__blank">&nbsp;</div>
    {% endif %}
    {% if pageFlipper.next %}
      {% set arrowNav = pageFlipper.next %}
      {% include "@molecules/arrow-nav.twig" %}
    {% else %}
      <div class="ma__page-flipper__blank">&nbsp;</div>
    {% endif %}
  </div>
</div>

