{% set level = personalMessage.imagePromos.level ? : 2 %}
<section class="ma__personal-message">
  <div class="ma__personal-message__container">
    {% for imagePromo in personalMessage.imagePromos %}
      {% set imagePromo = imagePromo|merge({'level': level}) %}
      {% include "@molecules/image-promo.twig" %}
    {% endfor %}
  </div>
</section>
