<section class="ma__personal-message">
  <div class="ma__personal-message__container">
    {% set imagePromo = personalMessage.imagePromo %}
    {% include "@molecules/image-promo.twig" %}
  </div>
</section>