<section class="ma__press-filters">
  <div class="ma__press-filters__container">
    <header class="ma__press-filters__heading">
      {% set coloredHeading = pressFilters.coloredHeading %}
      {% include "@atoms/04-headings/colored-heading.twig" %}
    </header>
    <form class="ma__press-filters__form js-press-filters" action="{{ pressFilters.action }}">
      <div class="ma__press-filters__organizations">
        {% set orgSelector = pressFilters.orgSelector %}
        {% include "@molecules/org-selector.twig" %}
      </div>
      <div class="ma__press-filters__topic">
        {% set selectBox = pressFilters.topic %}
        {% include "@atoms/03-forms/select-box.twig" %}
      </div>
      <div class="ma__press-filters__type">    
        {% set selectBox = pressFilters.pressType %}
        {% include "@atoms/03-forms/select-box.twig" %}
      </div>
      <div class="ma__press-filters__date">
        {% set dateRange = pressFilters.dateRange %}
        {% include "@molecules/date-range.twig" %}
      </div>
      <div class="ma__press-filters__button">
        {% set button = pressFilters.submitButton %}
        {% include "@atoms/01-buttons/button.twig" %}
      </div>
    </form>
  </div>
</section>
