{% set teaserHeading = 2 %}
{% set stackedTop = not:pressListing.stackedTop ? 'side-by-side' : 'stacked' %}
{% set gridTwoColumns = pressListing.contained and pressListing.gridTwoColumns ? 'ma__press-listing__2-col-grid' : 'ma__press-listing__3-col-grid' %}


<section class="ma__press-listing">
  <div class="ma__press-listing__container">
    {% if pressListing.compHeading %}
      {% set compHeading = pressListing.compHeading %}
      {% include "@atoms/04-headings/comp-heading.twig" %}
      {% set teaserHeading = (compHeading.level ? : teaserHeading) + 1 %}
    {% endif %}
    {% if pressListing.sidebarHeading %}
      {% set sidebarHeading = pressListing.sidebarHeading %}
      {% include "@atoms/04-headings/sidebar-heading.twig" %}
      {% set teaserHeading = (sidebarHeading.level ? : teaserHeading) + 1 %}
    {% endif %}
    {% if pressListing.items %}
      <div class="ma__press-listing__items {{ gridTwoColumns }}">
        {% for pressTeaser in pressListing.items %}
          {% set pressTeaser = pressTeaser|merge({"level":teaserHeading}) %}
          {% include "@molecules/press-teaser.twig" %}
        {% endfor %}
      </div>
    {% endif %}
    {% if pressListing.secondaryItems %}
      <ul class="ma__press-listing__secondary-items {{ gridTwoColumns }}">
        {% for pressTeaser in pressListing.secondaryItems %}
          <li class="ma__press-listing__secondary-item">
            {% set pressTeaser = pressTeaser|merge({"level":teaserHeading}) %}
            {% include "@molecules/press-teaser.twig" %}
          </li>
        {% endfor %}
      </ul>
    {% endif %}
    {% if pressListing.more %}
      <div class="ma__press-listing__more">
        {% set link = pressListing.more %}
        {% include "@atoms/11-text/link.twig" %}
      </div>
    {% endif %}
  </div>
</section>
