<section class="ma__quick-actions">
  {% set coloredHeading = quickActions.coloredHeading %}
  {% include "atoms-colored-heading" %}
  <ul class="ma__quick-actions__items">
    {% for decorativeLink in quickActions.links %}
      <li class="ma__quick-actions__item">
        {% include "atoms-decorative-link" %}
      </li>
    {% endfor %}
  </ul>
</section>

