{# Backward compatible with v3.2 #}
{% if richText.rteElements %}
  {% set rteElements = richText.rteElements %}
{% endif %}
<section class="ma__rich-text js-ma-rich-text"{% if property %} property="{{property}}"{% endif %}>
  {% for element in rteElements %}
    {% include element.path with element.data %}  
  {% endfor %}
</section>