{% for element in rteElements %}
<section class="ma__rich-text js-ma-rich-text"{% if element.schemaSdProperty %} property="{{element.schemaSdProperty}}"{% endif %}>
    {% include element.path with element.data %}  
</section>
{% endfor %}