<section class="ma__rich-text js-ma-rich-text" {% if sectionId == "overview" %}property="description"{% endif %}>
  {% for element in rteElements %}
    {% include element.path with element.data %}
  {% endfor %}  
</section>
