<section class="ma__rich-text js-ma-rich-text">
  {% if richText.compHeading %}
    {% set compHeading = richText.compHeading %}
    {% include "@atoms/04-headings/comp-heading.twig" %}
  {% endif %}

  {% if richText.sidebarHeading %}
    {% set sidebarHeading = richText.sidebarHeading %}
    {% include "@atoms/04-headings/sidebar-heading.twig" %}
  {% endif %}
  {#allows implementers to iterate through their own loop to render molecule content.#}
  {% block rteElements %}

    {% for element in richText.rteElements %}
      {% include element.path with element.data %}
    {% endfor %}
  {% endblock %}

  {% if richText.decorativeLink %}
    <div class="ma__rich-text__more">
      {% set decorativeLink = richText.decorativeLink %}
      {% include "@atoms/decorative-link.twig" %}
    </div>
  {% endif %}
</section>