<section class="ma__rte-columns">
  {% if rteColumns.intro %}
    <p>{{ rteColumns.intro }}</p>
  {% endif %}
  <div class="ma__rte-columns__items">
    {% for item in rteColumns.columns %}
      <div class="ma__rte-columns__item">
        {% if item.heading %}
          <h5>{{ item.heading }}</h5>
        {% endif %}
        {% set rteElements = item.rteElements %}
        {% include "@organisms/by-author/rich-text.twig" %}
      </div>
    {% endfor %}
  </div>
</section>