{% set sub = "" %}
<section class="ma__sections-3up">
  {% if sectionThreeUp.compHeading %}
    {# render sections links with an h3 if the title is present #}
    {% set sub = "true" %}
    <div class="ma__sections-3up__title">
      {% set compHeading = sectionThreeUp.compHeading %}
      {% include "@atoms/04-headings/comp-heading.twig" %}
    </div>
  {% endif %}
  <div class="ma__sections-3up__container">
    {% for sectionLinks in sectionThreeUp.sections %}
      {% set sectionLinks = sectionLinks|merge({'sub': sub }) %}
      {% include "@molecules/section-links.twig" with sectionLinks %}
    {% endfor %}
  </div>
</section>
