<section class="ma__sections-3up">
  {% if sectionThreeUp.title %}
    <h2 class="ma__sections-3up__title">{{sectionThreeUp.title}}</h2>
  {% endif %}
  <div class="ma__sections-3up__container">
  	{% if sectionThreeUp.title %}
    {% for sectionLinks in sectionThreeUp.sections %}
      {% include "@molecules/section-links.twig" with sectionLinks %}
    {% endfor %}
   {% else %}
    {% for sectionLinks in sectionThreeUp.sections %}
      {% include "@molecules/section-links-no-parent-title.twig" with sectionLinks %}
    {% endfor %}
  {% endif %}  
  </div>
</section>
