<div class="ma__short-description main-content main-content--two">
    {% set richText = short_description.richText %}
    <div class="ma__page-header__sub-title">
      {% include "@organisms/by-author/rich-text.twig" %}
    </div>
</div>