{# conditional class => ma__split50--has-divider #}
<section class="ma__split50 ma__split50--has-divider">
  <div class="ma__split50__container">
    {% block split50Content %}
      {% include "@base/placeholder.twig" with {'placeholder':{'text':'50% Left'}} %}
      {% include "@base/placeholder.twig" with {'placeholder':{'text':'50% Right'}} %}
    {% endblock %}
  </div>
</section>