<section class="ma__split-columns">
  <div class="ma__split-columns__container">
    {# only styled to handle three columns #}
    {% for column in splitColumns.columns %}
      <div class="ma__split-columns__column">
        {% for item in column.items %}
          {% include item.path with item.data %}
        {% endfor %}
      </div>
    {% endfor %}
  </div>
</section>