{% set containerModifier = stackedRowSection.sideBar|length ? '' : 'ma__stacked-row-section__container--restricted' %}
<section class="ma__stacked-row-section">
  {% if stackedRowSection.title %}
    <div class="ma__stacked-row-section__container {{ containerModifier }}">
      <div class="ma__stacked-row-section__title">
        {% set compHeading = {
            "title": stackedRowSection.title,
            "sub": "",
            "color": "",
            "id": stackedRowSection.id
          }
        %}
        {% include "@atoms/04-headings/comp-heading.twig" %}
      </div>
    </div>
  {% endif %}
  <div class="main-content {{ stackedRowSection.sideBar|length ? 'main-content--two' : 'main-content--full' }}">
    <div class="page-content">
      {% for content in stackedRowSection.pageContent %}
        {% include content.path with content.data %}
      {% endfor %}
    </div>
    {% if stackedRowSection.sideBar|length %}
      <aside class="sidebar">
        {% for sidebar in stackedRowSection.sideBar %}
          {% include sidebar.path with sidebar.data %}
        {% endfor %}
      </aside>
    {% endif %}
  </div>
</section>

