<section class="ma__steps-ordered">
  <ol class="ma__steps-ordered__items">
    {% for item in actionSeqLists %}
      <li class="ma__steps-ordered__item">
        <h4 class="ma__steps-ordered__title">{{item.title}}</h4>
        <div class="ma__steps-ordered__content">
          {% set richText = item.richText %}
          {% include "@organisms/by-author/rich-text.twig" %}
        </div>
      </li>
    {% endfor %}
  </ol>
</section>
