<section class="ma__steps-unordered">
  {% if stepsUnordered.compHeading %}
    {% set compHeading = stepsUnordered.compHeading %}
    {% include "@atoms/04-headings/comp-heading.twig" %}
  {% endif %}
  {% if stepsUnordered.sidebarHeading %}
    {% set sidebarHeading = stepsUnordered.sidebarHeading %}
    {% include "@atoms/04-headings/sidebar-heading.twig" %}
  {% endif %}
  {# Increase heading number by 1 from the parent heading. #}
  {% set level = compHeading.level + 1 %} 
  {% if stepsUnordered.richText %}
    {% set richText = stepsUnordered.richText %}
    {% include "@organisms/by-author/rich-text.twig" %}
  {% endif %}  
  {% for actionStep in stepsUnordered.steps %}
    {% set actionStep = actionStep|merge({'level': level}) %}
    {% include "@molecules/action-step.twig" %}
  {% endfor %}
</section>
