{% set subTitle = false %}
<section class="ma__sections-3up">
  {% if threeUpCards.compHeading.title %}
    {# render sections links with an h3 if the title is present #}
    {% set subTitle = true %}
    <div class="ma__sections-3up__title">
      {% set compHeading = threeUpCards.compHeading %}
      {% include "@atoms/04-headings/comp-heading.twig" %}
    </div>
  {% endif %}
  <div class="ma__sections-3up__container">
    {% for sectionLinks in threeUpCards.sections %}
      {% set sectionLinks = sectionLinks|merge({'subTitle': subTitle }) %}
      {% include "@molecules/section-links.twig" with sectionLinks %}
    {% endfor %}
  </div>
</section>
