<span class="ma__decorative-link">
  <a 
    href="{{decorativeLink.href}}" 
    class="js-clickable-link"
    title="{{ decorativeLink.info }}">{{decorativeLink.text}}&nbsp;{% include "@atoms/05-icons/svg-arrow.twig" %}</a>
</span>
