<span class="ma__decorative-link">
  <a
    href="{{decorativeLink.href}}"
    class="js-clickable-link"
    title="{{ decorativeLink.info }}">{{decorativeLink.text}}{{ icon('arrow') }}</a>
</span>
