<span class="ma__decorative-link">
  {% if decorativeLink.type == "external" %}
    <a href="{{decorativeLink.href}}" class="js-clickable-link" target="_blank">{{decorativeLink.text}}&nbsp;{% include "@atoms/05-icons/svg-external-link.twig" %}</a>
  {% else %}
    <a href="{{decorativeLink.href}}" class="js-clickable-link">{{decorativeLink.text}}&nbsp;{% include "@atoms/05-icons/svg-arrow.twig" %}</a>
  {% endif %}
</span>
