{% set sideClass = narrowTemplate.side ? "ma__narrow-template--" ~ narrowTemplate.side : "" %}

{% set colorClass = narrowTemplate.color ? "ma__narrow-template--" ~ narrowTemplate.color : "" %}

<main id="main-content" class="ma__narrow-template {{ sideClass }} {{ colorClass }}" tabindex="-1">
  <header class="ma__narrow-template__header">
    {% include "@atoms/09-media/site-logo.twig" %}
  </header>

  <div class="ma__narrow-template__container">
    <div class="ma__narrow-template__content">
      {% block narrowContent %}
        {% include "@base/placeholder.twig" with {'placeholder':{'text':'Page Content'}} %}
      {% endblock %}
    </div>
  </div>

  {% block schemaContent %}{% endblock %}
</main>
