{% include "@organisms/by-template/emergency-alerts.twig" %}
{% include "@organisms/by-template/header.twig" %}

<main id="main-content" tabindex="-1">
  <div class="pre-content">
    {% block preContent %}
      {% include "@base/placeholder.twig" with {'placeholder':{'text':'Pre Content'}} %}
    {% endblock %}
  </div>
  <div class="main-content main-content--full">
    <div class="page-content">
      {% block pageContent %}
        {% include "@base/placeholder.twig" with {'placeholder':{'text':'Page content'}} %}
      {% endblock %}
    </div>
  </div>
  <div class="post-content">
    {% block postContent %}
      {% include "@base/placeholder.twig" with {'placeholder':{'text':'Post Content'}} %}
    {% endblock %}
  </div>

  {% block schemaContent %}{% endblock %}
</main>

{% include "@organisms/by-template/footer.twig" %}
