{% include "organisms-header" %}
<div class="pre-content">
  {% block preContent %}{% endblock %}
</div>
<div class="main-content">
  <div class="page-content">
    {% block pageContent %}{% endblock %}
  </div>
</div>
<div class="post-content">
  {% block postContent %}{% endblock %}
</div>

{% include "organisms-footer" %}