{# Set top heading level for the page. #} 
{% set level = 1 %} 
 
{% include "@organisms/by-template/emergency-alerts.twig" %} 
{% include "@organisms/by-template/header.twig" %} 
<main id="main-content" tabindex="-1"> 
  <div class="pre-content"> 
    {% block preContent %} 
      {% include "@base/placeholder.twig" with {'placeholder':{'text':'Pre Content'}} %} 
    {% endblock %} 
  </div> 
  {# Increase heading number by 1 from the parent heading. #} 
  {% set level = level + 1 %} 
  <div class="stacked-row-content"> 
    {% block stackedRowContent %} 
      {% if jumpLinks %} 
        {% include "@organisms/by-template/jump-links.twig" %} 
      {% endif %} 
      {% for stackedRowSection in stackedRowSections %} 
        {% set stackedRowSection = stackedRowSection|merge({'level': level}) %} 
        {% include "@organisms/by-author/stacked-row-section.twig" %} 
      {% endfor %} 
    {% endblock %} 
  </div> 
  <div class="post-content"> 
    {% block postContent %} 
      {% include "@base/placeholder.twig" with {'placeholder':{'text':'Post Content'}} %} 
    {% endblock %} 
  </div> 
  {% block schemaContent %} 
  {% endblock %} 
</main> 
{% include "@organisms/by-template/footer.twig" %} 
