{% include "organisms-header" %}
<div class="pre-content">
  <div style="color:#bbb;min-height:200px;border:4px dashed #ddd;font-size:2rem;line-height:200px;text-align:center;">
    Pre Content
  </div>
</div>
<div class="main-content main-content--restricted">
  <div class="page-content">
    <div style="color:#bbb;min-height:200px;border:4px dashed #ddd;font-size:2rem;line-height:200px;text-align:center;">
      Page Content
    </div>
  </div>
  <div class="sidebar">
    <div style="color:#bbb;min-height:200px;border:4px dashed #ddd;font-size:2rem;line-height:200px;text-align:center;">
      Sidebar
    </div>
  </div>
</div>
<div class="post-content">
  <div style="color:#bbb;min-height:200px;border:4px dashed #ddd;font-size:2rem;line-height:200px;text-align:center;">
    Post Content
  </div>
</div>

{% include "organisms-footer" %}