<label for="tshirtsize">Your T-shirt size</label>
<select id="tshirtsize"> 
  <option value="xlarge" selected="selected">Extra Large</option>
  <option value="large">Large</option>
  <option value="medium">Medium</option>
  <option value="small">Small</option>
</select>