<ul class="sg-colors">
	<li>
		<span class="sg-swatch" style="background: rgb(18, 88, 174);"></span>
		<span class="sg-label">#1258AE</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: rgb(71, 137, 107);"></span>
		<span class="sg-label">#47896B</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: rgb(20, 20, 20)"></span>
		<span class="sg-label">#141414</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: rgb(61, 61, 61);"></span>
		<span class="sg-label">#3D3D3D</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: rgb(246, 182, 28);"></span>
		<span class="sg-label">#F6B61C</span>
	</li>
</ul>
