<ul class="ma__icon-list">
	{% for list in iconList %}
		<li>{{ list.text|raw }}</li>
		{% if list.sublist %}
			<ul>
				{% for sublist in list.sublist %}
					<li>{{ sublist.text|raw }}</li>
				{% endfor %}
			</ul>
		{% endif %}
	{% endfor %}
</ul>
