@media print {

  * {
    box-shadow: none !important;
    -webkit-transition: none !important;
    transition: none !important;
    transform: none !important;
  }

  html {
    font-size: 13px;
  }

  body {
    color: $c-font-heading !important;
  }

  .ma__stacked-row-section .main-content .page-content>*,
  .main-content--two .page-content>* {
    margin-top: 0;
  }

  .ma__page-header__content {
    padding: 20px 0;
  }

  .ma__header__search,
  .ma__floating-action,
  .ma__content-eyebrow__tags,
  .ma__page-header__tags,
  .ma__footer,
  .ma__header-alerts,
  #feedback,
  .messages--error,
  *[aria-hidden="true"],
  .ma__download-link__icon,
  .ma__sidebar-widget__more,
  .ma__page-banner__icon,
  .ma__callout-time__icon,
  .ma__jump-links,
  .ma__header__nav,
  .ma__toc--overlay,
  .ma__page-flipper,
  .ma__callout-stats,
  .ma__illustrated-header__image,
  .ma__location-banner,
  .ma__pagination,
  .ma__location-listing__filters,
  .ma__location-listing__map,
  .ma__action-activities__image,
  .ma__action-activities__link,
  .ma__action-header__divider,
  .ma__action-finder__see-all-container,
  .ma__page-banner__icon,
  .ma__page-banner--small .ma__page-banner__icon,
  .ma__location-banner__image,
  .ma__banner-carousel,
  .ma__quick-actions,
  .ma__wait-time {
    display: none !important;
  }

  a::after {
    content: " (" attr(href) ") ";
    font-size: 0.8em;
    font-weight: normal;
  }

  .ma__page-banner {
    margin-bottom: 0;
    padding: 0;
    min-height: 0;

    &.ma__page-banner--overlay {
      height: auto;
    }

    .ma__page-banner__container {
      min-height: 0;
    }

    .ma__page-banner__content-wrapper,
    .ma__page-banner__title,
    .ma__page-banner__description {
      width: 100%;
      color: $c-font-heading;
      padding: 0;
    }

    .ma__page-banner__image {
      display: none;
      height: 0;
      position: unset;
    }

    .ma__page-banner__content {
      padding: 0;
      margin: 0;
      position: relative;
      max-width: none;
      width: 100%;
      height: auto;
      top: 0;
      max-width: none;
      color: $c-font-heading;
    }
  }

  .main-content {
    margin-bottom: 0;
  }

  img,
  .ma__google-map,
  .ma__mapped-locations,
  .ma__section-links,
  .ma__contact-us--accordion,
  .ma__contact-list  {
     page-break-inside: avoid;
  }

  .ma__colored-heading {
    padding: 0;
    color: $c-font-heading;
  }

  .ma__callout-link  {
    border-width: 0 !important;
    break-inside: avoid;

    a {
      padding: 0;
    }
  }

  .ma__press-status {
    padding: 0;
  }

  .ma__action-finder__header {
    margin-bottom: 0;
  }

  .ma__action-finder__container {
    padding-bottom: 0;
  }

  .ma__contact-us--accordion {
    border-width: 0;

    .ma__contact-us--accordion__status {
      display: none;
    }

    .ma__contact-us__content {
      display: block !important;
    }

    .ma__contact-group {
      width: 100%;
      max-width: 100%;
      border-width: 0;
    }
  }

  .ma__contact-group {
    padding: 0;
    margin: 0;
  }

  .ma__split-columns__column {
    padding: 0;
  }

  .ma__action-step {
    border-width: 0;

    .ma__action-step__header {
      padding: 20px 0 0;
      color: $c-font-heading;
    }

    .ma__action-step__icon {
      display: none;
    }
    
    .ma__action-step__content {
      display: inline !important;
      border-width: 0;
      page-break-inside: auto;
    }
  }

  .ma__steps-ordered__item {
    padding-left: 0;
    list-style-type: decimal;

    .ma__action-step__header::after {
      display: none;
    }

    &::before {
      display: none;
    }
  }

  .ma__suggested-pages {

    .ma__suggested-pages__title {
      text-align: left;
      padding-top: 20px;
      margin-bottom: 0;
    }

    .ma__suggested-pages__items {
      display: inline;
    }

    .ma__suggested-pages__item--figure {
      width: 100%;
      padding: 0;
      border-width: 0;
      margin: 0;
      text-align: left;
  
      a, 
      .ma__image {
        display: none;
      }
  
      .ma__decorative-link a {
        display: block !important;
      }
    }

    .ma__suggested-pages__more {
      display: none;
    }
  }

  .ma__toc--hierarchy {
    page-break-inside: avoid;

    .ma__toc--hierarchy__title::after {
      display: none;
    }

    .ma__toc--hierarchy__container {
      top: 0;
      border: none !important;
    }

    .ma__toc--hierarchy__accordion-content {
      display: block;
    }
  }
}
