@media print {

html {
  font-size: 13px;
}

body {
  color: $c-font-heading;
  width: 7.65in;
}

img,
.ma__google-map {
   page-break-inside: avoid;
}

h1,
.ma__page-banner--large .ma__page-banner__title,
.ma__page-banner--small .ma__page-banner__title,
.ma__page-banner__title {
    font-size: 3.75rem;
}

.ma__header__nav,
.ma__header__search,
.ma__header__backto,
.ma__footer,
.ma__action-details__anchor-links,
.ma__header-tags,
.ma__emergency-alerts,
.ma__illustrated-header__image,
.ma__jump-links,
.ma__suggested-pages,
.ma__sidebar-widget__more,
.ma__action-activities__image,
.ma__action-activities__link,
.ma__action-header__divider,
.ma__action-finder__see-all-container,
.ma__page-banner__icon,
.ma__page-banner--small .ma__page-banner__icon,
.ma__location-banner__image,
.ma__banner-carousel,
.ma__quick-actions,
.ma__wait-time,
.fluid-width-video-wrapper {
  display: none !important;
}

* {
  box-shadow: none !important;
}

.ma__header,
.ma__header__container,
.ma__action-header__container {
  background-color: transparent;
  padding: 0;
}

.ma__header__container:before {
  display: none;
}

.ma__header__logo {
    width: auto;
}

.page-content,
.ma__page-header,
.sidebar {
  float: none !important;
  margin-bottom: 30px !important;
  padding: 0 !important;
  width: 100% !important;
}

.ma__action-details__content {
    margin-left: 0;
}

.ma__page-header__content {
  padding-right: 0;
  width: 100%;
}

.main-content--two .page-content .ma__action-details__title {
  background-color: transparent;
  border-bottom: 2px solid $c-bd-divider;
  color: $c-font-base;
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
  padding-bottom: .5em;
}

.ma__comp-heading {
  padding: 0;
}

h3 {
    margin-bottom: .5em !important;
}

h4 {
    margin-bottom: .3em !important;
}

.ma__rich-text {
    margin-bottom: 30px;
  }

.ma__rich-text h4,
.ma__rich-text h2,
.ma__rich-text h3 {
  padding-bottom: 0;
}

.ma__rich-text p {
    margin-bottom: 1.25rem;
}

.ma__rich-text__embed {
  border: none;
}

.ma__rich-text__table-wrapper {
    overflow: visible;
}

.ma__callout-stats {
  border: 3px solid $c-bd-divider;
  padding: 20px;

  &__stat {
    color: $c-font-heading;
  }

  &:before {
    display: none;
  }
}

.sidebar .ma__colored-heading {
  background-color: transparent;
  border-bottom: 2px solid $c-bd-divider;
  color: $c-font-base;
  font-size: 1.188rem;
  line-height: 1.2em;
  margin: 0;
  margin-bottom: 20px !important;
  padding: 0;
  padding-bottom: .5em;

  &:after {
    display: none;
  }
}

.main-content--two,
.ma__sections-3up__container,
.ma__top-actions,
.ma__image-credit__container,
.ma__link-list__container,
.ma__sections-3up__title {
    padding-left: 0;
    padding-right: 0;
}

.ma__sidebar-widget__items {
  margin-bottom: 50px;
}

.paragraph--type--related-link + .paragraph--type--related-link, .ma__related-action + .paragraph--type--related-link, .paragraph--type--related-link +
.ma__related-action, .ma__related-action +
.ma__related-action {
  margin-top: 20px;
  padding-top: 20px;
}

.ma__contact-us + .ma__contact-us {
  margin-top: 20px;
  padding-top: 20px;
  margin-bottom: 50px;
}

.ma__contact-us__extra {
  display: block !important;
  padding-top: 10px;
}

.ma__contact-us__expand {
  display: none;
}

.ma__contact-group + .ma__contact-group {
  padding-top: 10px;
}

.ma__illustrated-header {
  margin: 0;

  &__container {
    overflow: visible;
    padding: 0;
  }

  &__content {
    min-height: 0;
    padding: 0;
    width: 100%;

    &:after {
      display: none;
    }
  }
}

.ma__multi-row-section {

  &__container {
    padding: 0;
  }

  &__title {
    padding: 0;
  }
}

.ma__multi-row-section ~ .ma__multi-row-section .ma__multi-row-section__title {
  border: none;
  padding-top: 0;
}

.main-content {
    margin-bottom: 20px !important;
}

.ma__action-step {
    margin-bottom: 25px;
}

.ma__split-columns__container, .ma__key-actions__container {
  padding: 0;
}

.main-content--two .ma__split-columns__column:first-child:nth-last-child(2), .main-content--two .ma__split-columns__column:first-child:nth-last-child(2) ~ .ma__split-columns__column,
.ma__split-columns__column:first-child:nth-last-child(3), .ma__split-columns__column:first-child:nth-last-child(3) ~ .ma__split-columns__column {
    margin-right: 0%;
    width: 100%;
}

.ma__callout {
  border-color: $c-bd-divider;
  padding-left: 20px;

  &__header svg {
    fill: $c-bd-divider;
  }

  &__text {
    padding-bottom: 0;
    padding-top: 20px;
  }
}

.ma__key-actions__items .ma__callout-link {
    width: 48.78049%;
}

.ma__sidebar-heading {
  margin-bottom: 20px !important;
}

.ma__action-header {
  padding: 0;
}

.ma__action-header__content {
  margin-bottom: 30px;
  padding: 0 !important;
  width: 100%;
}

.ma__action-header__content .ma__page-header {
  margin-bottom: 0 !important;
}

.ma__breadcrumbs {
  display: none;

  &__container {
    padding: 0;
    padding-bottom: 30px;
  }

  &__items {
    padding: 0;
  }

  a {
      font-size: 11px;
  }
}

.ma__header-contact__directions .ma__content-link {
  display: none;
}

.ma__action-header__widgets {
  padding-bottom: 20px;
  padding-top: 0;
}

.ma__location-icons__name {
  font-size: 10px;
}

.ma__location-banner__map {
    width: 100%;
}

.ma__action-activities__details {
  margin-left: 0;
  width: 100%;
}

.ma__action-activities {
  padding: 20px 0;
}

.ma__action-gallery {
  margin-bottom: 30px;

  &__view-more {
    display: none;
  }
}

.ma__action-event + .ma__action-event {
    margin-top: 20px;
    padding-top: 20px;
}

.ma__header-alert {
  background-color: transparent;
  margin-bottom: 30px;

  &__container {
    border: 3px solid $c-bd-divider;
    padding: 10px;
    text-align: left;
  }

  &__hide {
    display: none;
  }
}

.ma__sidebar-promo__view-more {
  text-align: left;
}

.ma__stacked-row-section__container {
  padding: 0;
}

.ma__stacked-row-section ~ .ma__stacked-row-section .ma__stacked-row-section__title {
  padding-top: 40px;
}

.ma__page-banner {
  background-image: none !important;
  margin-bottom: .4em;
}

.ma__page-banner,
.ma__page-banner--large {
  height: auto;
}

.ma__page-banner__container,
.ma__page-banner--small .ma__page-banner__content,
.ma__page-banner--large .ma__page-banner__content {
  padding: 0;
}

.ma__page-banner__content {
  align-items: inherit;
  background: transparent;
  display: inherit;
  margin: 0;
  padding: 0;
  position: relative;
  top: auto;
  transform: none;
  width: 100%;
}

.ma__page-banner--large .ma__page-banner__title, .ma__page-banner--small .ma__page-banner__title,
.ma__action-finder__title,
.ma__action-finder__category,
.ma__page-banner__title {
  color: $c-font-heading;
  font-weight: 700;
}

.ma__page-banner__content:before {
  display: none;
}

.ma__page-banner__title {
  transform: none;
  width: 100%;
}

.ma__header-contact__address {
  margin-top: 30px;
}

.ma__action-header__widgets .ma__image {
  float: left;
  margin-bottom: 30px;
}

.ma__action-finder,
.ma__action-finder:after {
  background: none !important;
}

.ma__action-finder__header {
  padding-bottom: 30px;
}

.ma__action-finder__container {
  margin-bottom: 30px;
  padding: 0;
}

.ma__action-finder__items--all .ma__callout-link {
  border-color: $c-bd-divider;
}

.ma__action-finder__items--all .ma__illustrated-link {
  border: 3px solid $c-bd-divider;
}

.ma__illustrated-link__image {
  background-image: none !important;
}

.ma__callout-link {
    padding: 10px 20px;
}

.ma__illustrated-link__content {
  padding: 10px 0 10px 20px;
}

.ma__section-links__content,
.ma__section-links__toggle-content {
    padding: 0;
}

.ma__sections-3up__container > * {
  margin-bottom: 40px;
  margin-right: 0;
  width: 100%;
}

.ma__section-links {
  background-color: transparent;
}

.ma__action-finder__header {
  padding-bottom: 0;
}

.ma__action-finder__title,
.ma__section-links__title,
.ma__link-list__title {
  padding-bottom: 0;
}

.ma__comp-heading:after,
.ma__section-links__title:after,
.ma__action-finder__title:after,
.ma__top-actions__title:after,
.ma__link-list__title:after,
.ma__rich-text h2:after,
.ma__rich-text h3:after,
.ma__rich-text h4:after {
  display: none;
}

.ma__sections-3up {
  padding-top: 20px;
  padding-bottom: 40px;
}

.ma__link-list {
  padding: 0;
}

.ma__page-banner--large .ma__page-banner__title, .ma__page-banner--small .ma__page-banner__title, .ma__action-finder__title, .ma__action-finder__category {
  margin-bottom: 30px;
}

.ma__top-actions__title {
  margin-bottom: 20px;
  padding-bottom: 0;
  text-align: left;
}

.ma__top-actions {
  padding-bottom: 30px;
}

.ma__comp-heading--centered {
  text-align: left;
}

.ma__section-links__icon {
  margin-top: 0;
  text-align: left;
}

.ma__category-icon svg, .ma__category-icon svg > g {
    fill: #43956f;
}

.ma__category-icon:before,
.ma__category-icon:after {
  display: none;
}

.ma__category-icon {
  background-color: transparent;
  height: auto;
  margin: 0;
  padding: 0;
  width: auto;
}

.ma__link-list__items {
  column-count: 1;
}



}
