// @media print {

html {
  font-size: 13px;
}

body {
  color: $c-font-heading;
  width: 7.65in;
}

h1 {
    font-size: 3.75rem;
}

.ma__header__nav,
.ma__header__search,
.ma__footer,
.ma__action-details__anchor-links,
.ma__header-tags,
.ma__emergency-alerts,
.ma__illustrated-header__image,
.ma__jump-links,
.ma__suggested-pages,
.ma__action-activities__image,
.ma__sidebar-widget__more,
.ma__action-activities__link {
  display: none !important;
}

* {
  box-shadow: none !important;
}

.ma__header,
.ma__header__container {
  background-color: transparent;
  padding: 0;
}

.ma__header__container:before {
  display: none;
}

.ma__header__logo {
    width: auto;
}

.page-content,
.sidebar,
.ma__page-header {
  float: none !important;
  margin-bottom: 50px !important;
  padding: 0 !important;
  width: 100% !important;
}

.ma__action-details__content {
    margin-left: 0;
}

.ma__page-header__content {
  padding-right: 0;
  width: 100%;
}

.main-content--two .page-content .ma__action-details__title {
  background-color: transparent;
  border-bottom: 2px solid $c-bd-divider;
  color: $c-font-base;
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
  padding-bottom: .5em;
}

.ma__comp-heading {
  padding: 0;
}

h3 {
    margin-bottom: .5em !important;
}

h4 {
    margin-bottom: .3em !important;
}

.ma__rich-text {
    margin-bottom: 30px;
  }

.ma__rich-text h4,
.ma__rich-text h2,
.ma__rich-text h3 {
  padding-bottom: 0;
}

.ma__rich-text p {
    margin-bottom: 1.25rem;
}

.ma__rich-text__embed {
  border: none;
}

.ma__rich-text__table-wrapper {
    overflow: visible;
}

.ma__callout-stats {
  border: 3px solid $c-bd-divider;
  padding: 20px;

  &__stat {
    color: $c-font-heading;
  }

  &:before {
    display: none;
  }
}

.sidebar .ma__colored-heading {
  background-color: transparent;
  border-bottom: 2px solid $c-bd-divider;
  color: $c-font-base;
  font-size: 1.188rem;
  line-height: 1.2em;
  margin: 0;
  margin-bottom: 20px !important;
  padding: 0;
  padding-bottom: .5em;

  &:after {
    display: none;
  }
}

.main-content--two,
.ma__sections-3up__container,
.ma__top-actions,
.ma__image-credit__container,
.ma__link-list__container {
    padding-left: 0;
    padding-right: 0;
}

.ma__quick-actions,
.ma__sidebar-widget__items {
  margin-bottom: 50px;
}

.ma__quick-actions__item + .ma__quick-actions__item {
  margin-top: 10px;
  padding-bottom: 0;
  padding-top: 10px;
}

.paragraph--type--related-link + .paragraph--type--related-link, .ma__related-action + .paragraph--type--related-link, .paragraph--type--related-link +
.ma__related-action, .ma__related-action +
.ma__related-action {
  margin-top: 20px;
  padding-top: 20px;
}

.ma__contact-us + .ma__contact-us {
  margin-top: 20px;
  padding-top: 20px;
  margin-bottom: 50px;
}

.ma__contact-us__extra {
  display: block !important;
  padding-top: 10px;
}

.ma__contact-us__expand {
  display: none;
}

.ma__contact-group + .ma__contact-group {
  padding-top: 10px;
}

.ma__illustrated-header {
  margin: 0;

  &__container {
    overflow: visible;
    padding: 0;
  }

  &__content {
    min-height: 0;
    padding: 0;
    width: 100%;

    &:after {
      display: none;
    }
  }
}

.ma__multi-row-section {

  &__container {
    padding: 0;
  }

  &__title {
    padding: 0;
  }
}

.ma__multi-row-section ~ .ma__multi-row-section .ma__multi-row-section__title {
  border: none;
  padding-top: 0;
}

.main-content {
    margin-bottom: 20px;
}

.ma__action-step {
    margin-bottom: 25px;
}

.ma__split-columns__container, .ma__key-actions__container {
  padding: 0;
}

.main-content--two .ma__split-columns__column:first-child:nth-last-child(2), .main-content--two .ma__split-columns__column:first-child:nth-last-child(2) ~ .ma__split-columns__column,
.ma__split-columns__column:first-child:nth-last-child(3), .ma__split-columns__column:first-child:nth-last-child(3) ~ .ma__split-columns__column {
    margin-right: 0%;
    width: 100%;
}

.ma__callout {
  border-color: $c-bd-divider;
  padding-left: 20px;

  &__header svg {
    fill: $c-bd-divider;
  }

  &__text {
    padding-bottom: 0;
    padding-top: 20px;
  }
}

.ma__key-actions__items .ma__callout-link {
    width: 48.78049%;
}

.ma__sidebar-heading {
  margin-bottom: 20px !important;
}

.ma__action-header {
  padding: 0;
}

.ma__action-header__content {
  padding: 0;
  width: 100%;
}

.ma__action-header__content .ma__page-header {
  margin-bottom: 0 !important;
}

.ma__breadcrumbs {
  display: none;

  &__container {
    padding: 0;
    padding-bottom: 30px;
  }

  &__items {
    padding: 0;
  }

  a {
      font-size: 11px;
  }
}

.ma__header-contact__directions .ma__content-link {
  display: none;
}

.ma__action-header__widgets {
  padding-bottom: 20px;
  padding-top: 30px;
}

.ma__location-icons__name {
  font-size: 10px;
}

.ma__location-banner__image,
.ma__location-banner__map {
    width: 100%;
}

.ma__action-activities__details {
  margin-left: 0;
  width: 100%;
}

.ma__action-activities {
  padding: 20px 0;
}

.ma__action-gallery {
  margin-bottom: 30px;

  &__view-more {
    display: none;
  }
}

.ma__action-event + .ma__action-event {
    margin-top: 20px;
    padding-top: 20px;
}

.ma__header-alert {
  background-color: transparent;
  margin-bottom: 30px;

  &__container {
    border: 3px solid $c-bd-divider;
    padding: 10px;
    text-align: left;
  }

  &__hide {
    display: none;
  }
}

.ma__sidebar-promo__view-more {
  text-align: left;
}

//}
