<!-- Begin .header -->
<header class="header cf" role="banner">
	{% include "stock-pl-logo" %}
	<a href="#search-form" class="nav-toggle nav-toggle-search icon-search"><span class="is-vishidden">Search</span></a>
	<a href="#nav" class="nav-toggle nav-toggle-menu icon-menu"><span class="is-vishidden">Menu</span></a>
	{% include "stock-pl-primary-nav" %}
	{% include "stock-pl-search" %}
</header>
<!-- End .header -->