.ma__action-step {
  @include ma-component-spacing;
  @include ma-reset-rich-text;
  margin-bottom: 28px;
  position: relative;

  &__icon {
    position: absolute;
      top: 0;
      left: 0;

    & > svg {
      height: 32px;
      width: 36px;
    }
  }

  &:last-child {
    margin-bottom: 0;
  }

  &__title {
    min-height: 32px;
    padding-left: 50px;

    @media ($bp-small-min) {
      padding-left: 60px;
    }
  }

  &__content {
    padding-left: 50px;

    @media ($bp-small-min) {
      padding-left: 60px;
    }
  }

  &__title + &__content {

    @media ($bp-small-max) {
      padding-left: 0;
    }
  }
}
