.ma__activity {

  &__image {
    float: left;
    width: 190px;
  }

  &__details {
    margin-left: 30px;
    width: calc(100% - 220px);
  }

  &__title {

  }

  &__description {

  }

  &__link {

  }
}