.ma__action-event {

  & + & {
    border-top: 1px solid;
    margin-top: 30px;
    padding-top: 30px;
  }

  &__date {
    margin-top: 5px;
  }

  h3.&__name {
    font-weight: none;
    font-size: none;
    line-height: 0;
    margin-bottom: 0;   
    margin-top: 0;    
  }

  &__name {
    a {
      font-size: 1.625rem;
      line-height: 1.2;
    }
  }

  &__description {
    
    @media ($bp-small-min){
      font-size: 1.25rem;
    }
  }
}
