.ma__action-downloads {
  margin-bottom: 40px;

  &__item {
    @include clearfix;
  }

  &__item + &__item {
    padding-top: 25px;
  }

  &__title {
    float: left;
    font-size: 1.375rem;
    margin-bottom: 0;
    width: calc(100% - 66px);

    &--file {
      a {
        @include ma-link-underline;
        padding-bottom: 3px;
        margin-right: .2em;
      }

      span {
        font-size: 1rem;
        line-height: 2.14;
        white-space: nowrap;
      }
    }
  }

  &__icon {
    float: left;
    height: 36px;
    opacity: .75;
    width: 55px;
    overflow: hidden;
  }

}
