.ma__action-section {
  margin-bottom: 40px;

  h3 {
    @include ma-border-decorative;
    position: relative;
    padding-bottom: .55em;

    &:after {
      width: 2.25em; // ma-underline-decorative override
    }
  }

  .ma__rich-text {
    margin-bottom: 0;
  }
}
