.ma__action-gallery {
  @include ma-component-spacing;

  &__items {
    @include ma-reset-list;
    @include clearfix;
    display: inline-block;
    height: 80px;
    max-width: 100%;
    overflow: hidden;
    padding-right: 110px;
    position: relative;
    white-space: nowrap;
  }

  &__item {
    display:inline-block;
    font-size: 0;
    margin-right: 15px;
  }

  &__view-more {
    height: 100%;
    padding-left: 20px;
    position: absolute;
      right: 0;
      top: 0;

    a {
      font-size: 1.25rem;
      line-height: 80px;
    }
  }
}
