$action-activities-bp-x-large-min: "min-width: 1160px";

.ma__action-activities {
  @include clearfix();
  border-bottom: 1px solid;
  padding: 30px 0;

  &__image {
    
    @media ($bp-x-small-min) {
      float: left;
      width: 190px;
    }

    @media ($bp-large-min) {
      float: none;
    }

    @media ($action-activities-bp-x-large-min) {
      float: left;
      width: 190px;
    }
  }

  &__details {

    @media ($bp-x-small-min) {
      float: left;
      margin-left: 30px;
      width: calc(100% - 220px);
    }

    @media ($bp-large-min) {
      float: none;
      margin-left: 0;
      width: 100%;
    }

    @media ($action-activities-bp-x-large-min) {
      float: left;
      margin-left: 30px;
      width: calc(100% - 220px);
    }
  }

  &__title {
    margin-bottom: 0;
  }

  &__description {

  }

  &__link {
    @include ma-chevron;
    @include ma-link-underline;
    padding-bottom: 3px;
  }

  &:first-child {
    padding-top: 0;
  }

  &:last-child {
    border: none;
  }


}