.ma__action-event {

  & + & {
    border-top: 1px solid;
    margin-top: 30px;
    padding-top: 30px;
  }

  &__date {
    margin-top: 5px;
  }

  &__name {
    a {
      font-size: 1.625rem;
      line-height: 1.2;
    }
  }

  &__description {
    
    @media ($bp-small-min){
      font-size: 1.25rem;
    }
  }
}

// .ma__action-event__name override
h3.ma__action-event__name {
    font-size: 1.625rem;
    line-height: 1.2;
    border-bottom: 3px solid transparent;
    display: inline;
    padding-bottom: 1px;
    padding-top: 3px;
    transition: border 0.4s ease 0s;   
  }