.ma__action-map {
  @include ma-component-padding;

  .pre-content > & &__header,
  .main-content--full .page-content > & &__header,
  .post-content > & &__header {
    @include ma-container;
  }

  &__header {

    & > a {
      margin-bottom: 20px;
    }
  }

  &__google-map {
    height: 360px;

    @media ($bp-x-small-min) {
      height: 500px;
    }
  }
}
