.ma__alert-message {
  font-size: 1.25rem;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 0;

  & + & {
    border-top-width: 1px;
    border-top-style: solid;
  }

  &__time-stamp {
    font-size: 1.125rem;
  }

  &__link {

    .ma__content-link span {
      border-bottom-width: 1px;
      font-size: 1.25rem;

      &:hover {
        border-bottom-width: 3px;
      }
    }
  }
}
