$bp-alerts-util-reduce-links-max: "max-width:1120px";

.ma__alerts-util {
  font-size: 0;

  @media ($bp-medium-min) {
    @include ma-valign-block;
    height: 75px;
  }

  &__description {
    font-size: 1.25rem;
    line-height: 1.5;
    margin-bottom: 2em;

    @media ($bp-medium-min) {
      display: inline-block;
      margin-bottom: 0;
      vertical-align: middle;
      width: 70%;
    }
    @media ($bp-large-min) {
      width: 60%;
    }
  }

  &__items {
    @include ma-reset-list;

    @media ($bp-medium-min) {
      display: inline-block;
      vertical-align: middle;
      width: 30%;
    }
    @media ($bp-large-min) {
      width: 40%;
    }
  }

  &__item {
    display: block;
    margin-bottom: 8px;

    @media ($bp-medium-min) {
      display: inline-block;
      margin-left: 20px;
      margin-bottom: 0;
      max-width: 186px;
      vertical-align: middle;
    }

    @media ($bp-medium-min) and ($bp-alerts-util-reduce-links-max) {
      max-width: 125px;
    }

    a {
      display: block;

      &:hover {
        opacity: .8;
      }
    }
  }
}
