.ma__callout-link {
  border: 3px solid;
  cursor: pointer;
  margin-bottom: 1.75rem;
  padding: 20px 30px;

  &:last-child {
    margin-bottom: 0;
  }

  a {
    font-size: 1.625rem;
    line-height: 1.3;
  }
}
