.ma__callout-link {
  border: 3px solid;
  display: inline-flex;
        align-items: stretch;
        flex-wrap: wrap;

  // .pre-content > &,
  // .post-content > &,
  // .main-content--full .page-content > & {
  //   @include ma-container();
  //   display: block;
  //   width: 100%;
  // }

  &:last-child {
    margin-bottom: 0;
  }

  & > span {
    width: 100%;
  }

  a {
    display: flex;
      align-items: center;
    padding: 15px 20px;
    font-size: 1.625rem;
    line-height: 1.3;
    width: 100%;

    @media ($bp-small-min) {
      padding: 20px 30px;
    }
  }
  &__description {
    display: none;
    padding: 0px 20px 15px 20px;
    font-size: 1.25rem;
    font-weight: 400;
    color: #14558F;
        @media ($bp-x-small-min) {
          display: flex;
              align-items: center;
        }
        @media ($bp-small-min) {
            padding: 0px 30px 20px 30px;
        }
        
  }

  &__container { // .ma__decorative-link 
    display: inline-block;
    vertical-align: middle;
    padding-right: .8em;
    width: 100%;
  }

  // removed after version 5.5.0
  &__info {
    @include ma-visually-hidden;
  }

  &__text {
    @include ma-link-underline;
    display: inline;

    svg {
      display: inline-block;
      height: .6em;
      margin-right: -.8em;
      width: .6em;
    }
  }

  
}
