.ma__callout-link {
  border: 3px solid;
  cursor: pointer;
  display: inline-flex;
    align-items: center;
  padding: 15px 20px;

  @media ($bp-small-min) {
    padding: 20px 30px;
  }

  .pre-content > &,
  .post-content > &,
  .main-content--full .page-content > & {
    @include ma-container();
    display: block;
    width: 100%;
  }

  &:last-child {
    margin-bottom: 0;
  }

  & > span {
    width: 100%;
  }

  a {
    font-size: 1.625rem;
    line-height: 1.3;
  }

  &__container {
    display: inline-block;
    padding-right: 18px;
    vertical-align: middle;
  }

  &__text {
    @include ma-link-underline;
    font-size: 1.625rem;
    display: inline;
    line-height: 1.3;

    svg {
      display: inline-block;
      height: .6em;
      margin-right: -18px;
      width: .6em;
    }
  }
}
