.ma__contact-us {
  @include ma-component-spacing;


  & + & {
    border-top-width: 1px;
    border-top-style: solid;
    margin-top: 30px;
    padding-top: 30px;
  }

  &--accordion {
    border-width: 2px;
    border-style: solid;
  }

  // controls for when to activate accordion
  &:before {
    content: "true";
    display: none;
  }

  &--accordion &__header {
    border: none;
    display: block;
    padding: 20px 30px;
    position: relative;
    text-align: left;
    width: 100%;

    &:after {
      font-size: 2.5rem;
      content: "+";
      line-height: .65em;
      overflow: hidden;
      position: absolute;
        right: 15px;
        top: 25px;
      transform-origin: center center;
      transition: transform .2s ease;
    }

    .ma__column-heading {
      margin-bottom: 0;
    }
  }

  &--accordion.is-open &__header:after {
    transform: rotate(135deg);
  }

  &--accordion &__content {
    padding: 0 30px 30px;
    padding-right: 40px;
  }

  .js &--accordion &__content {
    display: none;
  }

  &__extra {
    display: none;
    padding-top: 20px;
  }

  &__expand {
    padding-top:20px;
    text-align: left;

    button {
      @include ma-button-reset;
      @include ma-link-underline;
      @include ma-chevron;
      font-size: 1.375rem;
      padding-right: 10px;

      &:after {
        margin-left: 0;
        transform: translateY(-45%) rotate(45deg);

        .is-open & {
          transform: translateY(-55%) rotate(-135deg);
        }
      }

      span:nth-child(2) {
        display: none;

        .is-open & {
          display: inline;
        }
      }

      .is-open & span:first-child {
        display: none;
      }
    }
  }
}
