.ma__contact-group {

  & + & {
    padding-top: 20px;
  }

  &__name {

    & > svg {
      display: inline-block;
      height: 20px;
      margin-right: .25em;
      vertical-align: middle;
      width: 20px;
    }

    span {
      display: inline-block;
      vertical-align: middle;
    }
  }

  &__label {
    display: inline-block;

    @media ($bp-small-min){
      font-size: 1.25rem;
    }

  }

  &__value {
    display: inline-block;
    line-height: 1.75;

    @media ($bp-small-min){
      font-size: 1.25rem;
    }
  }

  &__details {
    font-size: 1rem;
    line-height: 1.3;
    margin-bottom: .35em;
    margin-top: -.25em;
  }

  &__address {
    line-height: 1.5;

    @media ($bp-small-min){
      font-size: 1.25rem;
    }
  }

  .ma__content-link {
    display: inline-block;
    line-height: 1.75;

    @media ($bp-small-min){
      font-size: 1.25rem;
    }
  }
}
