.ma__contact-us {

  & + & {
    border-top-width: 1px;
    border-top-style: solid;
    margin-top: 30px;
    padding-top: 30px;

    @media ($bp-large-min){
      .sidebar & {
        margin-top: 20px;
        padding-top: 20px;
      }
    }
  }

  &--accordion {
    border-width: 2px;
    border-style: solid;
  }

  & + &--accordion {
    padding-top: 0;
  }

  // controls for when to activate accordion
  &:before {
    content: "true";
    display: none;
  }

  &--accordion &__header {
    border: none;
    display: block;
    padding: 20px;
    padding-right: 30px;
    position: relative;
    text-align: left;
    width: 100%;

    @media ($bp-medium-min) {
      padding: 20px 30px;
    }

    &:after {
      font-size: 2.5rem;
      content: "+";
      line-height: .65em;
      overflow: hidden;
      position: absolute;
        right: 15px;
        top: 25px;
      transform-origin: center center;
      transition: transform .2s ease;
    }

    .ma__column-heading {
      margin-bottom: 0;
    }
  }

  &--accordion.is-open &__header:after {
    transform: rotate(135deg);
  }

  &--accordion &__content {
    padding: 0 20px 30px;
  }

  .js &--accordion &__content {
    display: none;
  }

  // Flexible contact group layout
  // Max 4 column layout, items are no narrower than 18rem & then wrap
  &__content-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-basis: 25%;

    // width overlaps parent's 1px borders & negates parent padding
    // This is so we can have divider borders (left border) and since we have a wrapping
    // flexbox grid, the first item on each show needs its left border hidden.
    width: calc(100% + 42px);
    position: relative;
      left: -21px;
  }

  &__content-wrap .ma__contact-group {
    max-width: 25%;
    min-width: 18rem;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 20px;
    border-left: 1px solid #dcdcdc;

    // Reset if we aren't in an accordion
    .ma__contact-list--view-specific &,
    .sidebar & {
      border-left: 0;
      padding-left: 0;
      padding-right: 0;
      margin-top: 0;
      margin-bottom: 0;
    }

    @media ($bp-small-max){
      padding-left: 20px;
      padding-right: 20px;
      margin-bottom: 0px;
      width: 100%;
      max-width: 100%;
      min-width: 100%;
    }


  }

  &__content-wrap .ma__contact-us__more-info {
    padding-left: 20px;
    padding-right: 20px;
  }

  &__extra {
    display: none;
    padding-top: 20px;
  }

  &__expand {
    padding-top:20px;
    text-align: left;

    button {
      @include ma-button-reset;
      @include ma-link-underline;
      @include ma-chevron;
      font-size: 1.375rem;
      padding-right: 10px;

      &:after {
        margin-left: 0;
        transform: translateY(-45%) rotate(45deg);

        .is-open & {
          transform: translateY(-55%) rotate(-135deg);
        }
      }

      span:nth-child(2) {
        display: none;

        .is-open & {
          display: inline;
        }
      }

      .is-open & span:first-child {
        display: none;
      }
    }
  }

  &__more-info {
    margin-top: 2rem;
  }

}
