.ma__download-link {
  @include clearfix();

  & + & {
    padding-top: 25px;
  }

  &--small + &--small {
    padding-top: 10px;
  }

  &__icon {
    float: left;
    height: 36px;
    opacity: .75;
    width: 55px;
    overflow: hidden;

    & > svg {
      height: 37px;
      width: 35px;
    }
  }

  &--small &__icon {
    height: 25px;
    margin-top: 4px;
    width: 40px;

    & > svg {
      height: 25px;
      width: 25px;
    }
  }

  &__title {
    display: inline-block;
    font-size: 1.375rem;
    margin-bottom: 0;
    width: calc(100% - 66px);
  }

  &__file-link {
    @include ma-link-underline;
    padding-bottom: 3px;
    margin-right: .2em;
  }

  &__file-spec {
    font-size: 1rem;
    line-height: 2.14;
    white-space: nowrap;
  }

  &__description {
    font-size: 1.25rem;
    margin-top: 10px;
  }

  .ma__form-downloads--listing & {
    border-bottom: 1px solid;
    padding-bottom: 25px;
  }
}
