.ma__emergency-header {
  @include ma-container;
  padding: 12px;

  @media ($bp-small-max) {
    text-align: center;
  }
  
  @media ($bp-medium-min) {
    display: flex;
      align-items: center;
  }

  &__label {
    flex-shrink: 0;
    flex-basis: auto;
    padding-right: 18px;
    white-space: nowrap;

    @media ($bp-medium-max) {
      margin-bottom: 10px;
    }
    
    // icon
    & > svg {
      height: 24px;
      margin-right: 7px;
      vertical-align: middle;
      width: 27px;
      
      @media ($bp-small-min) {
        height: 32px;
        width: 36px;
      }

    }

    // text
    span {
      display: inline-block;
      font-size: 1rem;
      line-height: 1.13;
      text-transform: uppercase;
      vertical-align: middle;
    }
  }

  &__title {
    font-size: 1.5rem;
    line-height: 1.4;
    margin-bottom: 0;

    @media ($bp-medium-min) {
      border-left-width: 1px;
      border-left-style: solid;
      padding-left: 18px;
    }
  }
}