.ma__error-list {
  display: none;

  .has-error & {
    display: block;
  }

  .pre-content > &,
  .post-content > &,
  .main-content--full .page-content > & {
    @include ma-container;
  }

  &__container {
    border-style: solid;
    border-width: 3px;
    padding: 20px 25px;
  }
  
  &__header {
    margin-bottom: 8px;
  }

  &__title,
  &__icon {
    display: inline-block;
    vertical-align: middle;
  }

  &__title {
    font-size: 1.25rem;
  }

  &__icon {
    font-size: 0;
    margin-right: 7px;
  }


  &__messages {
    font-size: 1rem;
    margin-bottom: 0;
    padding-left: 53px;

    a {
      border-bottom-style: solid;
      border-bottom-width: 1px;
      font-size: 1.25rem;

      &:hover {
        border-bottom-width: 3px;
      }
    }
  }
}
