.ma__floating-action {
  position: fixed;
    bottom: 1.3125rem;
    left: 1.5625rem;
  z-index: $z-sticky-content;

  &--right {
    left: inherit;
    right: 1.5625rem;
  }

  @media ($bp-small-max) {
    bottom: 1rem;
    left: 1rem;

    &--right {
      left: inherit;
      right: 1rem;
    }
  }
}
