// toggle JS to adjust for mobile elements, like the header, sticky-nav, jump-links.
.js-footnote {
  
  &:before {
    content: "true";
    display: none;

    @media ($bp-large-min) {
      content: "false";
    }
  }
}

.ma__footnote {
  position: relative;

  & + & {
    margin-top: 30px;
  }

  & > &__link {
    border-width: 2px;
    border-style: solid;
    font-size: .8rem;
    line-height: 1;
    padding: .05em .35em;
    position: absolute;
      top: 5px;
      left: 0;
  }

  &__rich-text {
    font-size: 1.25rem;
    padding-left: 30px;
  }

  &__rich-text &__link {
    border: none;
    margin-left: .25em;
    transition: all 0.4s ease;

    &:hover {
      border: none;
      margin-left: 0;
      opacity: .7;
    }

    &:after {
      content: "\0021A9";
      cursor: pointer;
      line-height: 1;
      padding: .25em;
    }
  }
}
