.ma__footer-links {
  @include clearfix;

  &__items {
    @include ma-reset-list;
    margin-left: auto;
    margin-right: auto;
    max-width: 480px;

    @media ($bp-small-max) {
      border-bottom: 1px solid; 
      margin-bottom: 20px;
      padding-bottom: 20px;
      text-align: center;
    }

    @media ($bp-small-min) {
      @include span-columns(3 of 9);
    }

    @media ($bp-x-large-min) {
      @include span-columns(2 of 9);
      @include shift(1 of 9);
    }
  }

  &__item {
    margin-bottom: 1.35em;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__link {
    
    &:hover {
      @include ma-link-underline;
    }
  }
}

