$header-search-height: 46px;
$bp-header-search-reduce-button: "max-width: 700px"; 

.ma__header-search {
  display: inline-block;
  max-width: 560px;
  position: relative;
  width: 100%;

  &__label {
    @include ma-visually-hidden;
  }

  &__input {
    font-size: 1rem;
    height: $header-search-height;
    padding-right: 128px;
    padding-left: 17px;
    width: 100%;

    @media ($bp-small-max) {
      .ma__header__search & {
        display:none;
      }
    }

    @media ($bp-header-search-reduce-button) {
      padding-right: 17px
    }
  }

  .ma__button-search {
    border: none;
    border-left: 2px solid;
    display: block;
    height: $header-search-height;
    padding-top: 0;
    padding-bottom: 0;
    position: absolute;
      right: 0;
      top: 0;

    @media ($bp-x-small-max) {
      padding-left: 10px;
    }

    // not the button in navigation
    .ma__header__search & {

      @media ($bp-small-max) {
        @include ma-valign-block;
        border: 2px solid;
        display: inline-block;
        position: static;
        transition: opacity .4s;
        vertical-align: middle;

        .show-menu & {
          opacity: 0;
        }
      }

      span {
        @media ($bp-x-small-max) {
          display: none;
        }

        @media ($bp-small-min) and ($bp-header-search-reduce-button) {
          display: none;
        }
      }
    }
  }
}

