.ma__header-tags {
  font-size: 1rem;
  letter-spacing: .1em;
  margin-top: 2em;
  text-transform: uppercase;

  &__terms {
    letter-spacing: 0;
    margin-left: .5em;

    a {
      border: 2px solid;
      display: block;
      font-size: 1.063rem;
      line-height: 1.8;
      margin-bottom: .5em;
      padding: 0 8px;
      text-transform: capitalize;

      @media ($bp-x-small-min) {
        display: inline-block;
        margin-right: .3em;

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}
