.ma__header-tags {
  font-size: 16px;
  letter-spacing: .1em;
  text-transform: uppercase;

  &__terms {
    display: inline;
    letter-spacing: 0;
    margin-left: .5em;

    @media ($bp-x-small-max) {
      display: block;
      margin-left: 0;
      margin-top: .5em;
    }

    a {
      border: 2px solid;
      display: inline-block;
      font-size: 17px;
      line-height: 1.3;
      margin-bottom: .5em;
      margin-right: .3em;
      padding: 3px 8px;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}
