.ma__header-tags {
  font-size: 16px;
  letter-spacing: .1em;
  text-transform: uppercase;
  max-width: $l-max-content-width;

  > span {
    white-space: nowrap;
  }

  @media ($bp-medium-min) {
    display: inline-flex;
  }

  &__terms {
    display: inline;
    letter-spacing: 0;
    margin-left: .5em;

    @media ($bp-x-small-max) {
      display: block;
      margin-left: 0;
      margin-top: .5em;
    }

    a {
      border: 2px solid;
      display: inline-block;
      font-size: 17px;
      line-height: 1.3;
      margin-bottom: .5em;
      margin-right: .3em;
      padding: 3px 8px;
      text-transform: capitalize;

      &:last-child {
        margin-right: 0;
      }

      @media ($bp-x-small-max) {
        // On small screens each tag is full width.
        display: block;
        // On small screens only display 3 at max.
        &:nth-of-type(1n+4) {
          display: none;
        }
      }
    }

    > button {
      @include ma-button-reset;
      @include ma-link-underline;
      @include ma-chevron;
      padding-left: 10px;
      font-size: 19px;
      font-weight: 500;

      &:after {
        opacity: .5;
        margin-left: 0;
        border-width: 3px;
        height: 8px;
        width: 8px;
        transform: translateY(-45%) rotate(45deg);
      }

      &.is-open:after {
        transform: translateY(-55%) rotate(-135deg);
      }

      span:first-child {
        display: inline;
      }

      &.is-open span:first-child {
        display: none;
      }

      span:nth-child(2) {
        display: none;
      }

      &.is-open span:nth-child(2) {
        display: inline;
      }

      @media ($bp-x-small-max) {
        display: none;
      }
    }
  }
}
