$illustrated-link-image-width: 130px;

.ma__illustrated-link {
  border: 3px solid;
  display: flex;
    align-items: stretch;
  height: 100%;
  overflow: hidden;
  width: 100%;

  &__content {
    padding: 30px;
    padding-right: 0;
    position: relative;
    width: calc(100% - #{$illustrated-link-image-width});
    z-index: 4;

    &:after {
      content: "";
      height: 200%;
      position: absolute;
        bottom: 0;
        right: 0;
      transform: rotate(30deg);
      transform-origin: bottom right;
      width: 200%;
      z-index: -1;
    }
  }

  &__label {
    font-size: 1rem;
    letter-spacing: .1em;
    line-height: 1.71;
    text-transform: uppercase;
  }

  &__title {
    display: table-cell;
    font-size: 1.625rem;
    line-height: 1.3;
    margin-bottom: 0;
    vertical-align: middle;

    .ma__decorative-link {
      display: inline;
    }
  }

  &__image {
    background-position: center right;
    width: $illustrated-link-image-width;
    flex-grow: 0;
    flex-shrink: 0;
  }
}
