$illustrated-link-svg: .75em;

.ma__illustrated-link {
  @include clearfix;  // remove
  display: flex;
    align-items: stretch;
  min-width: 350px;
  overflow: hidden;

  &__content {
    float: left;
    min-width: 320px;
    padding: 50px 0 50px 30px;
    position: relative;
    width: 50%;
    z-index: 4;

    &:after {
      content: "";
      height: 200%;
      position: absolute;
        bottom: 0;
        right: 0;
      transform: rotate(30deg);
      transform-origin: bottom right;
      width: 100%;
      z-index: -1;
    }
  }

  &__icon {
    font-size: 0;  // remove extra whitespace
    margin-bottom: 20px;
  }

  &__title {
    margin-bottom: 0;
    padding-right: $illustrated-link-svg;
    position: relative;

    a {
      @include ma-underline-link;
      padding-bottom: 0;
    }

    svg {
      height: $illustrated-link-svg;
      margin-right: -$illustrated-link-svg;
      position: relative;
        top: .05em;
      vertical-align: baseline;
      width: $illustrated-link-svg;
    }
  }

  &__image {
    background-size: cover;
    background-position: center right;
    float: left;
    max-width: calc(100% - 320px);
    width: 50%;
  }
}