$image-promo-bp-x-large-min: "min-width: 1160px";

.ma__image-promo {
  @include clearfix();
  display: flex;
    flex-wrap: wrap;
  padding: 30px 0;

  &:first-child {
    padding-top: 0;
  }

  & + & {
    border-top-style: solid;
    border-top-width: 1px;
  }

  &.js-location-listing-link {
    cursor: pointer;
  }

  &__image {
    flex-shrink: 0;
    flex-grow: 0;
    flex-basis: 190px;
    font-size: 0;
    margin-right: 30px;
    margin-bottom: 10px;

    img {
      width: 100%;
    }
  }

  &__details {
    flex-shrink: 1;
    flex-grow: 1;
    flex-basis: calc(100% - 220px);
    min-width: 250px;
  }

  &__title {
    @include ma-h5;
    margin-bottom: 0;
  }

  &__tags {
    float: right;

    & > span {
      display: inline-block;
      font-size: 0;
      margin-left: 10px;
    }

    svg {
      height: 30px;
      width: 30px;
    }
  }

  &__tags + .ma__decorative-link {
    display: block;
  }

  &__description {
    margin-top: 10px;
    font-size: 1.25rem;
  }

  &__location {
    font-size: 18px;
    padding-bottom: 5px;
  }

  &__phone {
    font-size: 18px;

    & > a,
    & > svg {
      display: inline-block;
      vertical-align: middle;
    }

    & > svg {
      height: 20px;
      width: 20px;
    }
  }
}
