// // use in the Action Map component info window
// // Handle bar template
.ma__info-window {
  font-size: 1.25rem;
  line-height: 1.4;
  padding: 20px;
  padding-right: 0;

  &__name {
    font-size: 1.5rem;
    margin-bottom: 0;
  }

  &__phone {
    white-space: nowrap;
  }

  &__email-link {
    @include ma-link-underline;
  }

  &__address {
    margin-bottom: 12px;
  }

  &__directions {
    margin-top: 6px;
  }
}
