$bp-login-util-medium-min: "min-width:1121px";
$bp-login-util-reduce-links-max: "max-width:1120px";

.ma__login-util {

  @media ($bp-medium-min) {
    display: table;
    height: 100%;
    width: 100%;
  }

  &__description {
    font-size: 1rem;
    line-height: 1.63;
    margin-bottom: 2em;

    @media ($bp-medium-min) {
      display: table-cell;
      margin-bottom: 0;
      vertical-align: middle;
      width: 300px;
    }

    @media ($bp-login-util-medium-min) {
      width: 350px;
    }
  }

  &__items {
    @include ma-reset-list;
    margin-bottom: 1.75em;

    @media ($bp-medium-min) {
      display: table-cell;
      margin-bottom: 0;
      text-align: right;
      vertical-align: middle;
    }

    @media ($bp-login-util-medium-min) {
      width: calc(100% - 500px);  // width of description and view all
    }
  }

  &__item {

    @media ($bp-medium-min) {
      display: table-cell;
      text-align: center;
      vertical-align: middle;
    }

    @media ($bp-medium-min) and ($bp-login-util-reduce-links-max) {

      &:nth-child(2){
        margin-right: 0;
      }

      &:nth-child(3){
        display: none;
      }
    }

    a {
      @include ma-link-transition;
      display: block;
      font-size: 1.125rem;
      line-height: 1.25;
      margin-bottom: .5em;
      padding: 15px;
      padding-right: 2.5em;
      position: relative;
      text-align: left;
      white-space: normal;

      @media ($bp-medium-min) {
        display: inline-block;
        margin-left: 15px;
        margin-bottom: 0;
      }

      &:hover {
        opacity: .8;
      }
    }

    svg {
      height: 16px;
      opacity: .7;
      position: absolute;
        top: 50%;
        right: 20px;
      transform: translateY(-50%);
      width: 16px;
    }
  }

  &__view-all {
    font-size: 1rem;
    line-height: 1.5;
    vertical-align: middle;

    @media ($bp-medium-min) {
      display: table-cell;
      text-align: right;
      width: 90px;
    }
    @media ($bp-login-util-medium-min) {
      width: 150px;
    }

    a {
      @include ma-underline-link;

      &:after {
        border-right: 3px solid;
        border-bottom: 3px solid;
        content: "";
        display: inline-block;
        height: .5em;
        margin-left: .4em;
        margin-bottom: -.09em;
        opacity: .7;
        transform: translateY(-50%) rotate(-45deg);
        transform-origin: 75% 75%;
        width: .5em;
      }
    }
  }
}
