.ma__main-nav {
  @include ma-container;

  @media ($bp-header-toggle-max){
    padding-left: 0;
    padding-right: 0;
  }

  &__items {
    @include ma-reset-list;

    @media ($bp-header-toggle-min){
      display: table;
      margin-left: -12px;
      width: calc(100% + 24px);

      .flexbox & {
        display: flex;
        justify-content: space-between;
      }
    }
    @media ($bp-large-min) {
      margin-left: -20px;
      width: calc(100% + 40px);
    }
  }

  &__item {
    position: relative;
    transition: background-color .4s;

    @media ($bp-header-toggle-max) {
      font-size: 1rem;
    }

    @media ($bp-header-toggle-min) {
      display: table-cell;
      text-align: center;

      .flexbox & {
        display: inline-block;
        flex-shrink: 1;
        flex-grow: 0;
        flex-basis: auto;
      }

      &.is-active {
        @include ma-border-decorative;

        &:after {
          width: 100%;
        }
      }
      &.is-open:after {
        display: none;
      }
    }
  }

  &__top-link {
    display: block;
    font-size: 1.125rem;
    letter-spacing: .1em;
    line-height: 1.45;
    padding: 10px 0;
    padding-right: 15px;
    text-transform: uppercase;

    @media ($bp-header-toggle-max) {
      padding-right: 20px;
      padding-left: 20px;
    }

    @media ($bp-header-toggle-min) {
      display: inline-block;
      font-size: 1.375rem;
      padding: 14px 12px;
      vertical-align: middle;
    }

    @media ($bp-large-min) {
      padding-left: 20px;
      padding-right: 20px;
    }

    .has-subnav & {
      @include ma-chevron;

      &:after {
        cursor: pointer;
        margin-left: 6px;

        @media ($bp-header-toggle-max) {
          position: absolute;
            right: 20px;
            top: 15px;
        }
        @media ($bp-header-toggle-min) {
          transform: translateY(-45%) rotate(45deg);
        }
        @media ($bp-header-toggle-min) and ($bp-x-large-max) {
          display: none;
        }
      }
    }

    .is-open & {

      &:after {
        @media ($bp-header-toggle-min) {
          transform: translateY(-45%) rotate(-135deg);
        }
      }
    }

  }

  &__back {
    @include ma-button-reset;
    font-size: 1.125rem;
    padding-left: 20px;
    position: fixed;
      top: 5px;
    z-index: $z-dropdown;


    @media ($bp-header-toggle-min) {
      display: none;
    }

    &:before {
      border-left: 3px solid;
      border-top: 3px solid;
      content: "";
      display: inline-block;
      height: .65em;
      margin-top: 3px;
      margin-left: 3px;
      position: absolute;
        left: 0;
        top: 2px;
      transform: rotate(-45deg);
      transform-origin: 75% 75%;
      transition: all .5s;
      vertical-align: middle;
      width: .65em;
    }
  }

  &__subitems {
    position: fixed;
      top: 0;
    text-align: left;
    width: 300px;
    z-index: $z-dropdown;

    @media ($bp-header-toggle-max) {
      margin-top: $header-mobile-controls-height;
      height: calc(100vh - #{$header-mobile-controls-height});
      overflow-y: auto;
      padding-left: 20px;
      right: -300px;
      transition: visibility .5s ease, right .5s ease;
      .show-menu & {
        right: 0;
      }

      &.is-closed {
        right: -300px;
      }
    }

    @media ($bp-header-toggle-min) {
      min-width: 340px;
      position: absolute;
        top: 100%;
        left: 0;
      width: 100%;

      &.is-closed {
        @include ma-visually-hidden;
      }

      .ma__main-nav__item:last-child & {
        left: inherit;
        right: 0;
      }
    }

  }

  &__container {
    @include ma-reset-list;
  }

  &__subitem {
    border-bottom: 1px solid;

    &:first-child {
      letter-spacing: .05em;
      text-transform: uppercase;

      @media ($bp-header-toggle-min) {
        display: none;
      }
    }

    &:last-child {
      border-bottom: none;
    }
  }

  &__link {
    display: block;
    font-size: 1.25rem;
    line-height: 1.33;
    padding: 10px 20px;

  }
}
