.ma__page-intro {

  &__sub-title {
    font-size: 1.813rem;
    line-height: 1.2;
    margin-bottom: 1em;
    
    &:last-child {
      margin-bottom: 0;
    }

    @media ($bp-large-min){
      padding-right: $column;
      width: calc(100% - #{$layout-sidebar-width});
    }
    @media ($bp-x-large-min) {
      padding-right: $column + ($gutter * 2);
    }
  }
}
