.ma__press-teaser {

  & + & {
    border-top-width: 1px;
    border-top-style: solid;
    margin-top: 30px;
    padding-top: 30px;

    @media ($bp-medium-min){
      margin-top: 45px;
      padding-top: 45px;
    }

    @media ($bp-large-min){
      .sidebar & {
        margin-top: 20px;
        padding-top: 20px;
      }
    }
  }

  .pre-content > &,
  .post-content > &,
  .main-content--full .page-content > & {
    @include ma-container('restricted');
  }

  &__eyebrow {
    margin-bottom: 5px;

    span {
      font-size: 0.813rem;
      letter-spacing: .1em;
      padding: 5px 7px;
      text-transform: uppercase;
    }
  }

  &__title {
    font-size: 1.625rem;
    line-height: 1.2em;
    margin-bottom: .25em;

    .ma__decorative-link {
      font-size: 1.625rem;
      line-height: 1.2;
    }
  }

  &__details {
    padding: 2px 0 4px;
  }

  &__date,
  &__org {
    font-size: 18px;
    line-height: 1;
    margin-bottom: 1em;
  }

  &__date + &__org {
    border-left-style: solid;
    border-left-width: 1px;
    margin-left: .75em;
    padding-left: .75em;
  }

  &__description {
    font-size: 1.25rem;
  }
}
