.ma__page-header__relationshipIndicators {
  padding-top: 18px;
  margin-bottom: 20px;
}

.ma__relationship-indicators {
  display: flex;

  &--section {
    width: 100%;
    min-width: 50%;

    @media ($bp-large-extended-min) {
      display: flex;
      align-self: flex-start;
      padding-right: 2rem;
    }
  }

  &--terms {

     @media ($bp-large-extended-min) {
      display: flex;
      flex-wrap: wrap;
    }
  }

  &--term {
    margin: 0 5px 10px 0;
  }
}