.ma__related-action {

  &__link {
    @include ma-link-decorative;

    a {
      font-size: 1.625rem;
      line-height: 1.2;
      padding-right: 20px;
    }
  }

  &__description {
    font-size: 1.25rem;
    line-height: 1.5;
    padding-top: 5px;

    & > :last-child {
      margin-bottom: 0;
    }
  }
}
