.ma__rich-text {
  margin-bottom: 40px;

  & > :last-child {
    margin-bottom: 0;
  }

  h2, h3, h4 {
    @include ma-border-decorative;
    position: relative;
    padding-bottom: .55em;

    &:after {
      width: 2.25em; // ma-underline-decorative override
    }
  }
  
// List styles
  ul {
    list-style-type: disc;
    padding-left: 20px;
  }

  ol {
    padding-left: 30px;
  }

  li {
    padding-left: 10px;
  }

  ul ul, 
  ol ul {
      list-style-type: circle;
  }

// end list styles

  a {
    @include ma-link-underline;
    overflow-wrap: break-word;
    word-wrap: break-word;  
    word-break: break-word;
  }


  // TABLE styles
  table {
    border-collapse: collapse;
    margin-bottom: 1em;
    min-width: 450px;
    width: 100%;

  }

  thead {

    th {
      border: none;
      font-size: 1.25rem;
    }
  }

  tbody {
    border-top: 2px solid;
  }

  tr + tr {
    border-top: 1px solid;
  }

  th, td {
    font-size: 1rem;
    padding: 15px 20px 15px 0;
    text-align: left;
    vertical-align: top;

    &:first-child {
      padding-left: 15px;
    }
  }

  .is-offset th:first-child,
  .is-offset td:first-child {
    padding-left: 0;
  }

  &__table-wrapper {
    margin-bottom: 1em;
    overflow: auto;

    table {
      margin-bottom: 0;
    }
  }
  // end Table styles

  &__embed {
    border: 13px solid;
    margin-bottom: 1em;
  }
}
