.ma__section-links {
  position: relative;
  width: 100%;

  &__banner {
    overflow: hidden;
    position: relative;

    img {
      display: block;
      width: 100%
    }
  }

  &__overlay {
    height: 50%;
    position: absolute;
      bottom: -25%;
      right: -50%;
    transform: rotate(-11deg);
    transform-origin: bottom center;
    width: 200%;
  }

  &__content {
    height: 100%;
    padding: 0 30px 30px;

    @media ($bp-small-min) {
      padding-bottom: 45px;
    }
  }

  &__banner + &__content {
    height: auto;
  }

  &__description {
    font-size: 1rem;
    margin-bottom: 25px;
  }

  &__icon {
    text-align: center;
    margin-bottom: 1.4em;
  }

  &__title {
    @include ma-border-decorative;
    padding-bottom: 20px;

    &:after {
      width: 60px;
    }

    a:hover {
      opacity: .6;
    }

    svg {
      margin-right: -16px;
    }
  }

  &__items {
    @include ma-reset-list;
  }

  &__item {
  }

  // skip the first item
  &__item + &__item{
    padding-top: 14px;
  }

  &__link {
    @include ma-link-underline;

    span {
      @include ma-chevron;
      display: inline-block;
      height: 13px;
      margin-right: -13px;
      width: 13px;

      &:after {
        border-width: 3px;
        height: 9px;
        margin-left: .4em;
        opacity: .5;
        width: 9px;
      }
    }
  }
}
