.ma__section-links {
  position: relative;
  width: 100%;

  @media ($bp-x-small-max) {
    border-top: 2px solid;
    margin: 0 -20px;
    width: calc(100% + 40px);
  }

  &__content {
    height: 100%;
    padding: 10px 20px 0;

    @media ($bp-x-small-min) {
      padding: 40px 30px 0;
    }
  }

  &__icon {
    text-align: center;

    @media ($bp-x-small-max) {
      display: none;
    }

    @media ($bp-x-small-min) {
      margin-bottom: 1em;
      margin-top: -40px;
    }
  }

  &__mobile-title {
    border-bottom: 1px solid;
    margin-bottom: .5em;
    padding: 0 16px .5em 0;

    @media ($bp-x-small-min) {
      display: none;
    }

    svg {
      margin-right: -16px;
    }

    a {
      @include ma-link-underline;
      padding-bottom: 0px;
    }
  }

  &__title {
    margin-bottom: 10px;

    a:hover {
      opacity: .7;
    }

    @media ($bp-x-small-max) {
      cursor: pointer;
      font-size: 1.25em;
      padding-right: 1em;

      &:after {
        content: "+";
        display: block;
        font-size: 1.5em;
        line-height: .75em;
        position: absolute;
          top: 10px;
          right: 15px;
        transition: transform .5s ease;
        transform-origin: center center;

        .is-open & {
          transform: rotate(135deg);
        }
      }

      svg {
        display: none;
      }
    }

    @media ($bp-x-small-min) {
      @include ma-border-decorative;
      padding-bottom: 16px;

      &:after {
        width: 60px;
      }

      svg {
        margin-right: -16px;
      }
    }
  }

  &__toggle-content {
    padding: 10px 0 30px;

    @media ($bp-x-small-max) {
      display: none;

      .is-open & {
        display: block;
      }
    }
  }

  &__items {
    @include ma-reset-list;
  }

  &__item + &__item {
    margin-top: 1em;
  }

  // skip the first item
  &__item + &__item{
  }

  &__link {
    @include ma-link-underline;

    span {
      @include ma-chevron;
      display: inline-block;
      height: 13px;
      margin-right: -13px;
      width: 13px;

      &:after {
        border-width: 3px;
        height: 9px;
        margin-left: .4em;
        opacity: .5;
        width: 9px;
      }
    }
  }
}
