.ma__section-links {
  position: relative;
  width: 100%;

  @media ($bp-x-small-max) {
    border-top: 2px solid;
    margin: 0 -20px;
    width: calc(100% + 40px);

    &:last-child {
      border-bottom: 2px solid;
    }
  }

  // controls for when to activate accordion
  &.js-accordion:before {
    content: "true";
    display: none;

    @media ($bp-x-small-min) {
      content: "false";
    }
  }

  &__content {
    height: 100%;
    padding: 15px 20px 0;

    @media ($bp-x-small-min) {
      display: flex;
        align-items: flex-start;
        flex-direction: column;
        flex-wrap: wrap;
      padding: 40px 30px 0;
    }
  }

  &__description {
    margin-bottom: 25px;

    @media ($bp-small-min){
      font-size: 1.25rem;
    }
  }

  &__footer {
    align-self: flex-end;
    border-top: 1px solid;
    display: block;
    padding: 0 20px 20px 0;
    width: 100%;

    @media ($bp-x-small-max) {
      display: none;
    }
  }

  &__icon {
    text-align: center;

    @media ($bp-x-small-max) {
      display: none;
    }

    @media ($bp-x-small-min) {
      margin: -40px auto 1.4em;
    }
  }

  &__mobile-title {
    border-bottom: 1px solid;
    font-size: 1.5rem;
    margin-bottom: .75em;
    padding: 0 16px .75em 0;

    @media ($bp-x-small-min) {
      display: none;
    }

    & a > svg {
      height: .75em;
      margin-right: -16px;
      width: .75em;
    }

    a {
      @include ma-link-underline;
      padding-bottom: 0px;
    }
  }

  &__title {
    @include ma-h3;
    margin-bottom: 15px;

    a {
      border: none;
    }

    a:hover {
      border: none;
      opacity: .6;
    }


    @media ($bp-x-small-max) {
      align-self: flex-start;
      cursor: pointer;
      font-size: 1.25em;
      padding-right: 1em;

      &:after {
        content: "+";
        display: block;
        font-size: 1.5em;
        line-height: .75em;
        position: absolute;
          top: 15px;
          right: 15px;
        transition: transform .5s ease;
        transform-origin: center center;

        .is-open & {
          transform: rotate(135deg);
        }
      }

      a > svg {
        display: none;
      }
    }

    @media ($bp-x-small-min) {
      @include ma-border-decorative;
      padding-bottom: 16px;

      &:after {
        width: 60px;
      }

      svg {
        margin-right: -16px;
      }
    }
  }

  &__toggle-content {
    padding: 10px 0 30px;
    flex-basis: auto;
    flex-grow: 1;
    flex-shrink: 1;

    @media ($bp-x-small-max) {
      display: none;

      .is-open & {
        display: block;
      }
    }
  }

  &__items {
    @include ma-reset-list;
  }

  // skip the first item
  &__item + &__item {
    margin-top: .75em;
  }
}
