.ma__social-links {

  &__label {
    display: inline-block;
    font-size: 16px;
    letter-spacing: .1em;
    line-height: 1.875rem;
    text-transform: uppercase;
    vertical-align: middle;
  }

  &__items {
    @include ma-reset-list;
    display: flex;
      justify-content: space-between;
    width: 100%;
  }

  &__label + &__items {
    display: inline-block;
    vertical-align: middle;
    width: auto;
  }

  &__item {
    display: inline-block;
    vertical-align: middle;

    @media ($bp-large-max) {
      text-align: center;
    }

  }

  &__link {
    display: inline-block;
    font-size: 0;
    height: 30px;
    padding: 5px;
    transition: opacity .4s;
    width: 30px;
    
    &:hover {
      opacity: .7;
    }
    
    & > svg {
      height: 100%;
      width: 100%;
    }
  }
}
