.ma__social-links {

  &__items {
    @include ma-reset-list;
    display: table;
    width: 100%;
  }

  &__item {
    display: table-cell;

    @media ($bp-large-max) {
      text-align: center;
    }

  }

  &__link {
    transition: opacity .4s;
    
    &:hover {
      opacity: .7;
    }
    svg {
      height: 1.875rem;
      width: 1.875rem;
    }
  }
}
