.ma__social-links {

  &__items {
    @include ma-reset-list;
    display: table;
    width: 100%;
  }

  &__item {
    display: table-cell;

    @media ($bp-large-max) {
      text-align: center;
    }

  }

  &__link {
    display: inline-block;
    font-size: 0;
    height: 1.875rem;
    padding: 5px;
    transition: opacity .4s;
    width: 1.875rem;
    
    &:hover {
      opacity: .7;
    }
    
    & > svg {
      height: 100%;
      width: 100%;
    }
  }
}
