$utility-nav-height: 43px;

.ma__utility-nav {
  position: relative;

  &__items {
    @include ma-reset-list;
    @include ma-container;

    @media ($bp-header-toggle-max){
      padding-left: 0;
      padding-right: 0;
    }

    @media ($bp-header-toggle-min){
      @include ma-valign-block;
      height: $utility-nav-height;
      text-align: right;
    }
  }

  &__item {

    @media ($bp-header-toggle-max) {
      padding-right: 15px;
      position: relative;
    }

    @media ($bp-header-toggle-min) {
      display: inline-block;
      padding-left: 30px;
      transition: opacity .4s;
      vertical-align: middle;
    }
  }

  &__link {
    display: block;
    font-size: 1.25rem;
    line-height: 1.45;

    @media ($bp-header-toggle-max) {
      @include ma-chevron;
      padding: 10px 20px;

      &:after {
        position: absolute;
          right: 20px;
          top: 15px;
      }
    }
    @media ($bp-header-toggle-min) {
      line-height: 2;

      &:hover {
        opacity: .7;
      }
    }

    svg,
    span {
      display: inline-block;
      vertical-align: middle;
    }

    svg {
      height: 1rem;
      width: 20px;
    }
  }

  &__content {
    display: block;
    margin-top: $header-mobile-controls-height;
    padding-left: 20px;
    position: fixed;
      top: 0;
      right: -300px;
    text-align: left;
    transition: visibility .5s ease, right .5s ease;
    width: 300px;
    z-index: $z-dropdown;

    .show-menu & {
      right: 0;
    }

    &.is-closed {
      visibility: hidden;
      right: -300px;
    }

    @media ($bp-header-toggle-min) {
      height: 145px;
      margin-top: 0;
      overflow: visible;
      padding-left: 0;
      position: absolute;
        left: 0;
      transition: visibility .6s, top .6s;
      visibility: visible;
      width: 100%;

      &.is-closed {
        right: 0;
        top: -145px;
        transition: visibility .3s, top .3s;
      }

      &[aria-hidden="true"] {
        display: none;
      }

    }
  }

  &__container {
    @include ma-container;
    overflow-y: auto;
    padding-bottom: 20px;
    padding-top: 15px;
    position: relative;
    z-index: $z-dropdown;
    height: calc(100vh - #{$header-mobile-controls-height});

    @media ($bp-header-toggle-min) {
      height: auto;
      padding-bottom: 0;
      padding-top: 0;
      margin-top: 10px;
    }
  }

  &__close {
    @include ma-button-reset;
    cursor: pointer;
    position: absolute;
      top: 0;
      right: 0;

    span {
      display: inline-block;
      font-size: 1rem;
      margin-right: .45em;
      text-transform: uppercase;
      vertical-align: middle;
      letter-spacing: .1em;
    }

    span[role="presentation"] {
      font-size: 2.5rem;
      line-height: .5em;
      margin-right: 0;
      transform: rotate(45deg);
    }
  }

  &__content-title {
    font-size: 1.625rem;
    line-height: 1.45;
    padding-bottom: 20px;
    position: relative;

    @media ($bp-header-toggle-min) {
      padding-bottom: 5px;
    }

    & > span,
    & > svg {
      display: inline-block;
      vertical-align: middle;
    }

    & > svg {
      height: 20px;
      margin-right: 10px;
      width: 20px;

      &.svg-login {
        width: 25px;
      }
    }
  }

  &__content-body {

    @media ($bp-header-toggle-min) {
      height: 88px;
    }
  }
}
