.ma__wait-time {

  &__title {
    @include ma-border-decorative;
    @include ma-h3;
    margin-bottom: .75em;
    padding-bottom: .5em;

    &:after {
      width: 100%;
    }

    span,
    & > svg {
      display: inline-block;
      vertical-align: middle;
    }

    & > svg {
      height: 40px;
      width: 40px;
    }

    span {
      font-size: 1.375rem;
      letter-spacing: .1em;
      line-height: 1.39;
      padding-left: 5px;
      padding-top: 7px;
      text-transform: uppercase;
    }
  }

  &__items {
    @include ma-reset-list;
    display: flex;
      flex-wrap: wrap;
      align-items: stretch;
    margin-bottom: 1rem;
  }

  &__item {
    flex-basis: auto;
    flex-grow: 0;
    flex-shrink: 0;
    width: 100%;
  }

  &__item ~ &__item {
    margin-top: 20px;
  }

  &__label {
    font-size: 13px;
    letter-spacing: .1em;
    line-height: 1.27;
    margin-bottom: 0;
    text-transform: uppercase;
  }

  &__time {
    font-size: 2.125rem;
  }

  &__units {
    font-size: 1.5rem;
  }
}
