.ma__wait-time {

  &__title {
    border-bottom: 3px solid;
    margin-bottom: .75em;
    padding-bottom: .5em;

    span,
    & > svg {
      display: inline-block;
      vertical-align: middle;
    }

    & > svg {
      height: 40px;
      width: 40px;
    }

    span {
      font-size: 1.375rem;
      letter-spacing: .1em;
      line-height: 1.39;
      padding-left: 5px;
      padding-top: 7px;
      text-transform: uppercase;
    }
  }

  &__items {
    @include ma-reset-list;
    display: flex;
      flex-wrap: wrap;
      align-items: stretch;
  }

  &__item {
    flex-basis: auto;
    flex-grow: 0;
    flex-shrink: 0;
    margin-bottom: 20px;
    width: 50%;

    &:nth-child(even) {
      border-left: 1px solid;
      padding-left: 38px;
    }

    &:nth-child(odd) {
      padding-right: 38px;
    }
  }

  &__label {
    font-size: 0.813rem;
    letter-spacing: .1em;
    line-height: 1.27;
    margin-bottom: 0;
    text-transform: uppercase;
  }

  &__time {
    font-size: 2.125rem;
  }

  &__units {
    font-size: 1.5rem;
  }
}
