html[data-zoom="zoom-medium"] {
  transform: scale(1.25);
  transform-origin: 0 0;
}

html[data-zoom="zoom-large"] {
  transform: scale(1.5);
  transform-origin: 0 0;
}

.ma__zoom-controls {

  @media ($bp-header-toggle-max) {
    display: none;
  }

  &__normal,
  &__medium,
  &__large {
    cursor: pointer;
    display: inline-block;
    vertical-align: baseline;

    input {
      @include ma-visually-hidden;
    }

    span {
      display: block;
      line-height: 1.5;
      text-align: center;
      width: 1.5em;
    }

    input:focus + span {
      outline-width: 2px;
      outline-style: solid;

      /* WebKit gets its native focus styles.
       */
      @media (-webkit-min-device-pixel-ratio:0) {
        outline-style: auto;
      }
    }

  }

  &__normal {
    font-size: 1.375rem;
    margin-bottom: 0;
  }

  &__medium {
    font-size: 1.688rem;
    margin-bottom: 0;
  }

  &__large {
    font-size: 2rem;
    margin-bottom: 0;
  }
}
