<section class="ma__error-page">
  <div class="ma__error-page__type">{{ errorPage.type }}</div>
  <div class="ma__error-page__label">{{ errorPage.label }}</div>
  <h1 class="ma__error-page__title">{{ errorPage.title }}</h1>
  <h2 class="ma__error-page__message">{{ errorPage.message }}</h2>
</section>