.ma__announcement {

  .ma__placeholder {
    @include ma-component-spacing;
  }

  &__page-content {
    
    .ma__contact-list:first-child,
    .ma__contact-list:nth-child(2) {

      @media ($bp-large-min) {
        display: none;
      }
    }
  }

  &__sidebar {
    .ma__contact-list {

      @media ($bp-large-max) {
        display: none;
      }
    }
  }
}