.ma__details {

  &__content {
    position: relative;

    @media ($bp-medium-min) {
      margin-left: 160px;
    }

    @media ($bp-x-large-min) {
      margin-left: $column-with-gutter * 2;
    }
  }

  &__top-contact {
    
    @media($bp-large-min) {
      display: none;
    }
  }

  &__sidebar-contact {
    
    @media ($bp-large-max) {
      display: none;
    }
  }

  &__top-contact,
  &__sidebar-contact {
    @include ma-component-spacing;
    
    .ma__sidebar-heading,
    .ma__comp-heading {
      @include ma-heading-colored;
      border: none;
    }
  }

  &__sidebar {

    .ma__sidebar-heading,
    .ma__comp-heading {
      @include ma-heading-colored;
      border: none;
    }

    .ma__link-list__container {
      font-size: 1.625rem;
      line-height: 1.2;
    }
  }
}
