.ma__details {

  &__content {
    position: relative;

    @media ($bp-medium-min) {
      margin-left: 160px;
    }

    @media ($bp-x-large-min) {
      margin-left: $column-with-gutter * 2;
    }
  }
}
