$error-page-bg-offset-full: calc(50% - 320px);
$error-page-bg-offset-narrow: calc(50% - 125px);
$error-page-max-width: 670px;
$error-page-header-height: 170px;

@keyframes error-page-bg-full {
  0% { 
    left: 150%;
  }
  100% {
    left: $error-page-bg-offset-full;
  }
}

@keyframes error-page-bg-narrow {
  0% { 
    left: 150%;
  }
  100% {
    left: $error-page-bg-offset-narrow;
  }
}

@keyframes error-page-hidden {
  0%,12%,18.999%,23%,31.999%,37%,44.999%,46%,49.999%,51%,58.999%,61%,68.999%,71%,85.999%,96%,100% {
    box-shadow: none;
  }

  19%,22.99%,32%,36.999%,45%,45.999%,50%,50.99%,59%,60.999%,69%,70.999%,86%,95.999% {
    box-shadow: 0 0 18px -5px #999;
  }
}

.ma__error-page {
  min-height: 100vh;
  overflow: hidden;
  position: relative;
  text-align: center;

  &:before {
    content: "";
    height: 200%;
    position: absolute;
      top: 0;
    transform: rotate(-30deg);
    transform-origin: top left;
    width: 200%;
    z-index: -1;

    @media ($bp-small-max) {
      animation: 3s error-page-bg-narrow;
      left: $error-page-bg-offset-narrow;
    }

    @media ($bp-small-min) {
      animation: 3s error-page-bg-full;
      left: $error-page-bg-offset-full;
    }
  }

  &__header {
    @include ma-container;
    height: $error-page-header-height;
    max-width: $error-page-max-width;
    padding-top: 45px;
    position: relative;
  }

  &__container {
    @include ma-container;
    display: flex;
      flex-direction: column;
      justify-content: center;  
    max-width: $error-page-max-width;
    min-height: calc(100vh - #{$error-page-header-height});
  }

  &__content {
    flex-grow: 0;
    padding-bottom: $error-page-header-height;
    position: relative;
  }

  &__label {
    font-size: 7rem;
    line-height: 0.72;
    margin-bottom: 15px;
    text-transform: uppercase;

    @media ($bp-small-min) {
      font-size: 12.75rem;
    }
  }

  &__type {
    font-size: 1.75rem;
    letter-spacing: .1em;
    text-transform: uppercase;
  }

  &__title {
    font-size: 1.75rem;
    line-height: 1.31;

    @media ($bp-small-min) {
      font-size: 2.25rem;
    }
  }

  &__message {
    font-size: 1.5rem;
    line-height: 1.5;
    margin-bottom: 1.75em;

    @media ($bp-small-min) {
      font-size: 1.625rem;
    }
  }

  &__hidden-msg {
    @include ma-button-reset;
    font-size: 0;
    position: absolute;

    img {
      opacity: 0;
      transition: opacity .8s ease;
    }

    &:hover {
      box-shadow: 0 0 18px -5px #999;
    }

    &:focus {
      border: none;
      outline: none;
    }

    &:focus img {
      opacity: 1;
    }
    
    &:nth-child(1) {
      animation: 7s linear 75s error-page-hidden;
      left: random(15) + %;
      top: random(15) + %;
    }  
    &:nth-child(2) {
      animation: 7s linear 45s error-page-hidden;
      right: random(15) + %;
      top: random(15) + %;
    }  
    &:nth-child(3) {
      animation: 7s linear 30s error-page-hidden;
      left: random(15) + %;
      bottom: random(15) + %;
    }  
    &:nth-child(4) {
      animation: 7s linear 15s error-page-hidden;
      bottom: random(15) + %;
      right: random(15) + %;
    }  
    &:nth-child(5) {
      animation: 7s linear 100s error-page-hidden;
      bottom: random(15) + %;
      left: random(80) - 20;
    }  
  }

  .page-content {
    z-index: 2;
  }

  .main-content {
    margin-bottom: 0;
  }
}
