.ma__form-page {

  fieldset {
    @include ma-component-spacing;

    & > label {
      margin-top: 30px;

      @media ($bp-small-min) {
        margin-top: 45px;
      }

      &:first-child {
        margin-top: 0;
      }
    }

    & > input[type=text] {
      max-width: 500px;
      width: 100%;
    }
  }
}
