.ma__form-page {

  & > * {
    @include ma-component-spacing;
  }

  & > .ma__comp-heading {
    margin-bottom: 0;
  }

  fieldset {

    & > fieldset,
    & > label {
      margin-top: 30px;

      @media ($bp-small-min) {
        margin-top: 45px;
      }

      &:first-child {
        margin-top: 0;
      }
    }

    & > .ma__select-box,
    & > input[type=text] {
      max-width: 500px;
      width: 100%;
    }
  }

  textarea,
  .ma__textarea__wrapper {
    width: 100%;
  }

  .ma__helper-text {
    margin-top: 10px;
  }
}
