.pre-content,
.main-content,
.post-content {
  @include clearfix;
}

.main-content {
  margin-bottom: 45px;

  @media ($bp-large-min){
    margin-bottom: 60px;
  }
}

// two column template
.main-content--two {
  @include ma-container;
}

.page-content {
  position: relative;

  .main-content--two &,
  &:first-child:nth-last-child(2) {
    padding-bottom: 45px;

    @media ($bp-large-min){
      float:left;
      padding-right: $column;
      padding-bottom: 0;
      width: calc(100% - #{$layout-sidebar-width});
    }

    @media ($bp-x-large-min) {
      padding-right: $column + ($gutter * 2);
    }
  }

  & > :last-child {
    margin-bottom: 0;
  }
}

.sidebar {
  // two column layout with sidebar on the right
  @media ($bp-large-min){
    float: left;
    width: $layout-sidebar-width;
  }
}

.sidebar--colored {
  
  .ma__sidebar-heading,
  .ma__comp-heading {
    @include ma-heading-colored($direction: left);
    border: none;
  }
}

// reversed two column layout
.main-content--reversed {

  .page-content {
    padding-bottom: 0;
    padding-right: 0;

    @media ($bp-large-min){
      float:left;
      padding-left: $column;
      width: calc(100% - #{$layout-sidebar-width});
    }

    @media ($bp-x-large-min) {
      padding-left: $column + ($gutter * 2);
    }
  }

  .sidebar {
    padding-bottom: 45px;

    // two column layout with sidebar on the left
    @media ($bp-large-min){
      float: left;
      padding-bottom: 0;
      width: $layout-sidebar-width;
    }
  }
}



// guide page template
.stacked-row-content {
  position: relative;
}

// narrow page template
$narrow-template-bg-offset-full: calc(50% - 320px);
$narrow-template-bg-offset-narrow: calc(50% - 125px);
$narrow-template-max-width: 670px;
$narrow-template-header-height: 170px;

@keyframes narrow-template-bg-full-left {
  0% { 
    left: 150%;
  }
  100% {
    left: $narrow-template-bg-offset-full;
  }
}

@keyframes narrow-template-bg-narrow-left {
  0% { 
    left: 150%;
  }
  100% {
    left: $narrow-template-bg-offset-narrow;
  }
}

@keyframes narrow-template-bg-full-right {
  0% { 
    right: 150%;
  }
  100% {
    right: $narrow-template-bg-offset-full;
  }
}

@keyframes narrow-template-bg-narrow-right {
  0% { 
    right: 150%;
  }
  100% {
    right: $narrow-template-bg-offset-narrow;
  }
}


.ma__narrow-template {
  min-height: 100vh;
  overflow: hidden;
  position: relative;
  text-align: center;

  .translated-rtl &,
  .translated-ltr & {
    min-height: calc(100vh - 40px);
  }

  &:before {
    content: "";
    height: 200%;
    position: absolute;
      top: 0;
    width: 200%;
    z-index: -1;
  }

  &--left:before {
    transform: rotate(30deg);
    transform-origin: top right;

    @media ($bp-small-max) {
      animation: 3s narrow-template-bg-narrow-right;
      right: $narrow-template-bg-offset-narrow;
    }

    @media ($bp-small-min) {
      animation: 3s narrow-template-bg-full-right;
      right: $narrow-template-bg-offset-full;
    }
  }

  &--right:before {
    transform: rotate(-30deg);
    transform-origin: top left;

    @media ($bp-small-max) {
      animation: 3s narrow-template-bg-narrow-left;
      left: $narrow-template-bg-offset-narrow;
    }

    @media ($bp-small-min) {
      animation: 3s narrow-template-bg-full-left;
      left: $narrow-template-bg-offset-full;
    }
  }

  &__header {
    @include ma-container;
    height: $narrow-template-header-height;
    font-size: 0;
    max-width: $narrow-template-max-width;
    padding-top: 45px;
    position: relative;
  }

  &__container {
    @include ma-container;
    display: flex;
      flex-direction: column;
      justify-content: center;
    max-width: $narrow-template-max-width;
    min-height: calc(100vh - #{$narrow-template-header-height});

    .translated-rtl &,
    .translated-ltr & {
      min-height: calc(100vh - #{$narrow-template-header-height + 40px});
    }
  }

  &__content {
    flex-grow: 0;
    padding-bottom: 170px;  // helps vertically align the page content 
    position: relative;
    text-align: center;
  }
}
