$layout-sidebar-width: 350px;

.pre-content,
.main-content,
.post-content {
  @include clearfix;
  padding-bottom: 20px;
  
  @media ($bp-medium-min){
    padding-bottom: 30px;
  }
  @media ($bp-large-min){
    padding-bottom: 40px;
  }
}

.post-content {
  padding-bottom: 0;
}

.main-content--two
  margin: 0 auto;
  max-width: $max-width;
}

.page-content {
  padding-bottom: 20px;

  @media ($bp-small-min) {
    padding-bottom: 0;
  }

  .main-content--two &,
  &:first-child:nth-last-child(2) {
    @media ($bp-small-min){
      float:left;
      padding-right: $gutter;
      padding-bottom: 0;
      width: calc(100% - #{$layout-sidebar-width});
    }
  }
}

.sidebar {
  // two column layout with sidebar on the right
  @media ($bp-small-min){
    float: left;
    width: $layout-sidebar-width; 
  }
}