$layout-sidebar-width: ($column * 3) + ($gutter * 2);

.pre-content,
.main-content {
  @include clearfix;
  padding-bottom: 20px;
  
  @media ($bp-medium-min){
    padding-bottom: 30px;
  }
  @media ($bp-large-min){
    padding-bottom: 40px;
  }
}

.main-content--two {
  @include ma-container;
}

.page-content {
  padding-bottom: 20px;

  .main-content--two &,
  &:first-child:nth-last-child(2) {
    @media ($bp-large-min){
      float:left;
      padding-right: $column;
      padding-bottom: 0;
      width: calc(100% - #{$layout-sidebar-width});
    }

    @media ($bp-x-large-min) {
      padding-right: $column + ($gutter * 2);
    }
  }
}

.sidebar {
  // two column layout with sidebar on the right
  @media ($bp-large-min){
    float: left;
    width: $layout-sidebar-width; 
  }
}