$layout-sidebar-width: ($column * 3) + ($gutter * 2);

.pre-content,
.main-content,
.post-content {
  @include clearfix;
  padding-bottom: 40px;

  @media ($bp-medium-min){
    padding-bottom: 50px;
  }
  @media ($bp-large-min){
    padding-bottom: 70px;
  }
}

.post-content {
  padding-bottom: 0;
}

.main-content--two {
  @include ma-container;
}

.page-content {
  padding-bottom: 20px;

  @media ($bp-small-min) {
    padding-bottom: 0;
  }

  .main-content--two &,
  &:first-child:nth-last-child(2) {
    @media ($bp-small-min){
      float:left;
      padding-right: $column + ($gutter * 2);
      padding-bottom: 0;
      width: calc(100% - #{$layout-sidebar-width});
    }
  }
}

.sidebar {
  // two column layout with sidebar on the right
  @media ($bp-small-min){
    float: left;
    width: $layout-sidebar-width;
  }
}
