.ma__press {

  &__page-content {
    
    .ma__contact-list:first-child,
    .ma__contact-list:nth-child(2) {

      @media ($bp-large-min) {
        display: none;
      }
    }
  }

  &__location-label {
    float: left;
    line-height: 1em;
    margin-bottom: 0;
    padding-top: .25em;
  }

  &__location-dateline {
    text-transform: uppercase;
    font-weight: bold;
  }

  &__sidebar {
    .ma__contact-list {

      @media ($bp-large-max) {
        display: none;
      }
    }
  }
}
