.ma__services {

  .page-content--intro {

    & > .ma__image:first-child {
      @include ma-component-spacing;

      @media ($bp-large-min) {
        display: none;
      }
    }
  }

  .main-content--full .page-content--intro {
    .ma__video--right + .ma__teaser-text {

      @media ($bp-page-width-min) {
        display: inline-block;
        float: none;
        margin-left: calc(50vw - (#{$max-width}/2));
        padding-right: 0;
        width:  $max-width - 500px;
      }
    }

    & > .ma__image:first-child {
      margin-left: 20px;
      margin-right: 20px;

      @media ($bp-medium-min) {
        margin-left: 30px;
        margin-right: 30px;
      }
    }
  }


  .sidebar--intro {
    & > .ma__image:first-child {
      margin-bottom: 30px;

      @media ($bp-large-max) {
        display: none;
      }
    }
  }
}
