.ma__footer {

  &__nav,
  &__logo {
    display: none;
  }

  &__info {
    width: 100%;
  }

  &__social {
    max-width: 270px;
  }

  &__copyright {
    text-align: center;
  }
}

.ma__social-links__item {
  text-align: center;
}