$header-mobile-menu-width: 300px;
$header-logo-width: 210px;
$bp-header-logo-min: "min-width: 1000px";

// Pilot version only
.ma__header {
  position: relative;

  @media ($bp-header-toggle-min) {
    padding-top: 0;
  }

  &__backto {
    display: inline-block;
    height: 40px;
    margin-bottom: 3px;
    position: fixed;
      top: 0;
      left: 0;
    transition: left 0.5s ease;
    z-index: 9999;

    .translated-rtl &,
    .translated-ltr & {
      top: 40px;
    }

    @media ($bp-header-toggle-min) {
      background-color: $c-theme-blue;
      display: block;
      position: relative;
      text-align: center;
    }

    .show-menu & {
      left: -100%;
    }

    a {
      @include ma-chevron("left");
      @include ma-font(500);
      background-color: tint($c-font-link,90%);
      border: 3px solid;
      border-color: tint($c-font-link,50%);
      border-top: none;
      box-shadow: 0 0.25rem 0.5rem rgba(#000, 0.25);
      color: $c-font-link;
      display: inline-block;
      font-size: 1.25rem;
      padding: 6px 7px;

      @media ($bp-x-small-min) {
        font-size: 1.375rem;
        margin-left: 20px;
        padding: 7px 15px;
      }

      &:before {
        height: 9px;
        margin-right: .75em;
        margin-top: 0;
        opacity: .5;
        width: 9px;
      }

      &:hover {
       padding-top: 18px;
      }
    }
  }

  &__container {
    font-size: 0;
    padding-top: 15px;
    padding-bottom: 15px;
  }

  &__logo {
    @media ($bp-header-toggle-min) {
      margin-right: 0;
      width: 75px;
    }
  }

  &__search {

    @media ($bp-header-toggle-min) {
      width: calc(100% - 75px);

      .ma__header-search {
        width: 35%;
      }
    }

    @media ($bp-header-toggle-min) and ($bp-x-large-max) {
      .ma__button-search {
        span {
          @include ma-visually-hidden;
        }
      }

      .ma__header-search__input {
        padding-right: 60px;
      }
    }

    @media ($bp-x-large-min) {
      .ma__header-search {
        width: 45%;
      }
    }
  }

  &__nav {

    @media ($bp-header-toggle-min) {
      margin: 0 auto;
      max-width: 1320px;
      position: relative;
      width: 100%;
    }

  }

  &__main-nav {
    border: none;

    @media ($bp-header-toggle-min) {
      position: absolute;
        top: -75px;
        left: 120px;
      text-align: right;
      width: calc(62% - 75px);
    }

    @media ($bp-x-large-min) {
      width: calc(53% - 75px);
    }
  }

  &__utility-nav {
    display: none;
  }
}

.ma__main-nav {
  padding-left: 0;

  &__items {

    @media ($bp-header-toggle-min) {
      .flexbox & {
        justify-content: flex-end;
      }
    }
  }

  &__item + &__item {

    @media ($bp-header-toggle-min) {
      margin-left: 6%;
    }
  }

  &__top-link {

    .has-subnav & {

      &:after {
        display: inline-block;
      }
    }
  }
}
