$header-mobile-menu-width: 300px;
$header-logo-width: 210px;
$bp-header-logo-min: "min-width: 1000px";

// Pilot version only
.ma__header {
  position: relative;

  @media ($bp-medium-min) {
    padding-top: 0;
  }

  &__backto {
    display: inline-block;
    height: 40px;
    margin-bottom: 3px;
    position: fixed;
      top: 0;
      left: 0;
    z-index: 9999;


    @media ($bp-medium-min) {
      background-color: $c-theme-primary-1;
      display: block;
      position: relative;
      text-align: center;
    }

    a {
      @include ma-chevron("left");
      @include ma-font(500);
      background-color: $c-theme-yellow;
      color: $c-font-dark;
      display: inline-block;
      font-size: 1.125rem;
      padding: 10px;

      @media ($bp-x-small-min) {
        font-size: 1.375rem;
        margin-left: 20px;
        padding: 10px 15px;
      }

      &:before {
        height: 9px;
        margin-right: .75em;
        margin-top: 0;
        width: 9px;
      }

      &:hover {
       padding-top: 18px;
      }
    }
  }

  &__container {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  &__nav-search,
  &__search {
    display: none;
  }


  &__nav {

    @media ($bp-medium-min) {
      margin: 0 auto;
      max-width: 1320px;
      position: relative;
      width: 100%;
    }

  }

  &__main-nav {
    border: none;

    @media ($bp-medium-min) {
      position: absolute;
        top: -75px;
        right: 0;
      text-align: right;
      width: 66.12903%; //@include span-columns(8);
    }

    @media ($bp-header-logo-min) {
      width: 74.59677%; //@include span-columns(9);
    }
  }

  &__utility-nav {
    display: none;
  }
}

.ma__main-nav {
  padding-left: 0;

  &__items {

    @media ($bp-medium-min) {
      .flexbox & {
        display: inline-block;
      }
    }
  }

  &__item + &__item {

    @media ($bp-medium-min) {
      margin-left: 6%;
    }
  }

  &__top-link {

    .has-subnav & {

      &:after {
        display: inline-block;
      }
    }
  }
}
