<button class="ma__button-alert {{ buttonAlert.class }}" type="button">
  <span class="ma__button-alert__hide">{{buttonAlert.hideText}}</span>
  <span class="ma__button-alert__show">{{buttonAlert.showText}}</span> {{buttonAlert.text}}
</button>
