<section class="ma__callout">
	<div class="ma__callout__header">
		<svg role="icon">
		    <use xlink:href="/assets/images/svg-sprite.svg#quote"></use>
		</svg>
	</div>
	<p class="ma__callout__text">
		&#8220;{{calloutText}}&#8221;
	</p>
  <div calss="ma__callout__citation">
    <span class="ma__callout__author">&mdash; {{citationAuthor}}</span>
    <span class="ma__callout__auth-title">{{citationTitle}}</span>
  </div>
</section>