<section class="ma__callout">
	<div class="ma__callout__header">
		{% include "atoms-svg-quote" %}
	</div>
	<p class="ma__callout__text">
		&#8220;{{callOut.text}}&#8221;
	</p>
  <div calss="ma__callout__citation">
    <span class="ma__callout__author">&mdash; {{callOut.author}}</span>
    <span class="ma__callout__auth-title">{{callOut.title}}</span>
  </div>
</section>
