<section class="ma__callout">
	<div class="ma__callout__header">
		<svg role="icon">
		    <use xlink:href="/assets/images/svg-sprite.svg#quote"></use>
		</svg>
	</div>
	<div class="ma__callout__text">
		{{calloutText}}
	</div>
</section>