<section class="ma__contact-us">
  <h2 class="ma__contact-us__title">Contact</h2>
  <ul class="ma__contact-us__items">
    <li class="ma__contact-us__item">
      <h3 class="ma__contact-us__name">Department of Conservation and Recreation</h3>
      <p class="ma__contact-us__phone-email">
        <b>Main Phone:</b> <a class="ma__contact-us__phone" href="tel:+16176261250">(617) 626-1250</a><br />
        <b>Main Fax:</b> <a class="ma__contact-us__phone"  href="tel:+16176261351">(617) 626-1351</a><br />
        <b>Email:</b> <a class="ma__contact-us__email" href="mailto:mass.parks@state.ma.us">mass.parks@state.ma.us</a>
      </p>
      <p class="ma__contact-us__address">
        <span>251 Causeway Street,</span> <span>Suite 900</span>
        <span>Boston, MA 02114-2104</span>
      </p>
    </li>
    <li class="ma__contact-us__item">
      <h3 class="ma__contact-us__name">MassParks</h3>
      <p class="ma__contact-us__phone-email">
        <b>Main Phone:</b> <a class="ma__contact-us__phone" href="tel:+16176261250">(617) 626-1250</a><br />
        <b>Main Fax:</b> <a class="ma__contact-us__phone" href="tel:+16176261351">(617) 626-1351</a><br />
        <b>Email:</b> <a class="ma__contact-us__email" href="mailto:mass.parks@state.ma.us">mass.parks@state.ma.us</a>
      </p>
      <p class="ma__contact-us__address">
        <span>251 Causeway Street,</span> <span>Suite 900</span>
        <span>Boston, MA 02114-2104</span>
      </p>
    </li>

  </ul>
</section>