<footer class="ma__footer">
  <div class="ma__footer__container">
    {% include "molecules-footer-links" %}
    <section class="ma__footer__info">
      <div class="ma__footer__logo">
        {% include "atoms-site-logo" %}
      </div>
      <div class="ma__footer__social">
        {% include "molecules-social-links" %}
      </div>
      <div class="ma__footer__copyright">
        <p><b>&copy; 2016 Commonwealth of Massachusetts.</b></p>
        <p>Mass.Gov* is a registered service mark of the Commonwealth of Massachusetts.</p>
      </div>
    </section>
  </div>
</footer>