<!-- Begin .header -->
<header class="ma-header">
    <section class="ma-header__quick-links"></section>
    <section class="ma-header__nav">
        <div class="ma-header-logo">
            <a class="ma-header-logo__link" href="/" title="Mass Gov"><img class="ma-header-logo__image" src="http://placehold.it/110x110" alt="Mass Gov" /></a>
        </div>
        <nav class="ma-main-nav">
            <ul class="ma-main-nav__items">
                <li class="ma-main-nav__item"><a class="ma-main-nav__link" href="#" title="Living">Living</a></li>
                <li class="ma-main-nav__item"><a class="ma-main-nav__link" href="#" title="Working">Working</a></li>
                <li class="ma-main-nav__item"><a class="ma-main-nav__link" href="#" title="Learning">Learning</a></li>
                <li class="ma-main-nav__item"><a class="ma-main-nav__link" href="#" title="Visiting">Visiting &amp; Exploring</a></li>
                <li class="ma-main-nav__item"><a class="ma-main-nav__link" href="#" title="Your Government">Your Government</a></li>
            </ul>
        </nav>
    </section>
</header>
<!-- end .header -->
