<!-- Begin .header -->
<header class="ma__header">
  <a class="ma__header__skip-nav" href="#main-content">skip navigation</a>
  <div class="ma__header__container">
    <div class="ma__header__logo">
      {% include "atoms-site-logo" %}
    </div>
    <div class="ma__header__search">
      <section class="ma__header-search">
        <form action="#">
          <label 
              for="header-search"
              class="ma__header-search__label">What can we help you find?</label>
          <input 
              id="header-search" 
              class="ma__header-search__input"
              placeholder="What can we help you find?" 
              type="text" />
          <button type="submit" class="ma__header-search__button">
            <span>Search</span>
            <svg role="img" class="ma__header-search__icon">
              <use xlink:href="/assets/images/svg-sprite.svg#search"></use>
            </svg>
          </button>
        </form>
      </section>
    </div>
  </div>
  <nav class="ma__header__navigation">
    <section class="ma__header-nav">
      <div class="ma__header-nav__button-container">
        <button class="ma__header-nav__menu-button js-header-menu-button">
          <span>Menu</span><span class="ma__header-nav__menu-icon"></span>
        </button>
      </div>
      <div class="ma__header-nav__container">
        <div class="ma__header-nav__main">
          <section class="ma__main-nav">
            <ul class="ma__main-nav__items js-main-nav">
              <li class="ma__main-nav__item js-main-nav-toggle">
                <a class="ma__main-nav__top-link" href="#" title="Living">Living</a>
                <div class="ma__main-nav__subitems js-main-nav-content is-closed">
                  <button class="ma__main-nav__back js-close-main-nav"><span>Back</span></button>
                  <ul class="ma__main-nav__container">
                    <li class="ma__main-nav__subitem"><a href="" class="ma__main-nav__link">Living</a></li>
                    <li class="ma__main-nav__subitem"><a href="" class="ma__main-nav__link">Culpa, beatae?</a></li>
                    <li class="ma__main-nav__subitem"><a href="" class="ma__main-nav__link">Facere, aspernatur.</a></li>
                    <li class="ma__main-nav__subitem"><a href="" class="ma__main-nav__link">Maxime, aliquam.</a></li>
                    <li class="ma__main-nav__subitem"><a href="" class="ma__main-nav__link">Excepturi, perferendis.</a></li>
                  </ul>
                </div>
              </li>
              <li class="ma__main-nav__item js-main-nav-toggle">
                <a class="ma__main-nav__top-link" href="#" title="Working">Working</a>
                <div class="ma__main-nav__subitems js-main-nav-content is-closed">
                  <button class="ma__main-nav__back js-close-main-nav"><span>Back</span></button>
                  <ul class="ma__main-nav__container">
                    <li class="ma__main-nav__subitem"><a href="" class="ma__main-nav__link">Working</a></li>
                    <li class="ma__main-nav__subitem"><a href="" class="ma__main-nav__link">Dolore, ipsum?</a></li>
                    <li class="ma__main-nav__subitem"><a href="" class="ma__main-nav__link">Voluptatibus, rerum?</a></li>
                    <li class="ma__main-nav__subitem"><a href="" class="ma__main-nav__link">Sed, velit?</a></li>
                    <li class="ma__main-nav__subitem"><a href="" class="ma__main-nav__link">Beatae, ducimus.</a></li>
                    <li class="ma__main-nav__subitem"><a href="" class="ma__main-nav__link">Iure, repudiandae?</a></li>
                    <li class="ma__main-nav__subitem"><a href="" class="ma__main-nav__link">Numquam, doloremque.</a></li>
                  </ul>
                </div>
              </li>
              <li class="ma__main-nav__item js-main-nav-toggle">
                <a class="ma__main-nav__top-link" href="#" title="Learning">Learning</a>
                <div class="ma__main-nav__subitems js-main-nav-content is-closed">
                  <button class="ma__main-nav__back js-close-main-nav"><span>Back</span></button>
                  <ul class="ma__main-nav__container">
                    <li class="ma__main-nav__subitem"><a href="" class="ma__main-nav__link">Learning</a></li>
                    <li class="ma__main-nav__subitem"><a href="" class="ma__main-nav__link">Tempore, quos!</a></li>
                    <li class="ma__main-nav__subitem"><a href="" class="ma__main-nav__link">Hic, numquam.</a></li>
                  </ul>
                </div>
              </li>
              <li class="ma__main-nav__item js-main-nav-toggle">
                <a class="ma__main-nav__top-link is-active" href="#" title="Visiting">Visiting &amp; Exploring</a>
                <div class="ma__main-nav__subitems js-main-nav-content is-closed">
                  <button class="ma__main-nav__back js-close-main-nav"><span>Back</span></button>
                  <ul class="ma__main-nav__container">
                    <li class="ma__main-nav__subitem"><a href="" class="ma__main-nav__link">Visiting &amp; Exploring</a></li>
                    <li class="ma__main-nav__subitem"><a href="" class="ma__main-nav__link">Commodi, voluptatem.</a></li>
                    <li class="ma__main-nav__subitem"><a href="" class="ma__main-nav__link">Officia, pariatur.</a></li>
                    <li class="ma__main-nav__subitem"><a href="" class="ma__main-nav__link">Alias, possimus.</a></li>
                  </ul>
                </div>
              </li>
              <li class="ma__main-nav__item js-main-nav-toggle">
                <a class="ma__main-nav__top-link" href="#" title="Your Government">Your Government</a>
                <div class="ma__main-nav__subitems js-main-nav-content is-closed">
                  <button class="ma__main-nav__back js-close-main-nav"><span>Back</span></button>
                  <ul class="ma__main-nav__container">
                    <li class="ma__main-nav__subitem"><a href="" class="ma__main-nav__link">Your Government</a></li>
                    <li class="ma__main-nav__subitem"><a href="" class="ma__main-nav__link">Saepe, repellendus.</a></li>
                    <li class="ma__main-nav__subitem"><a href="" class="ma__main-nav__link">Cumque, quae!</a></li>
                    <li class="ma__main-nav__subitem"><a href="" class="ma__main-nav__link">Aliquid, et.</a></li>
                    <li class="ma__main-nav__subitem"><a href="" class="ma__main-nav__link">Cupiditate, velit!</a></li>
                    <li class="ma__main-nav__subitem"><a href="" class="ma__main-nav__link">Excepturi, tenetur?</a></li>
                  </ul>
                </div>
              </li>
            </ul>
          </section>
        </div>
        <div class="ma__header-nav__utility">
          <section class="ma__utility-nav js-util-nav">
            <ul class="ma__utility-nav__items">
              <li class="ma__utility-nav__item js-util-nav-toggle">
                <a 
                  class="ma__utility-nav__link" 
                  href="#" 
                  title="Site Settings">
                  <svg role="presentation">
                    <use xlink:href="/assets/images/svg-sprite.svg#settings"></use>
                  </svg>
                  <span>Site Settings</span>
                </a>
                <div aria-hidden="true" class="ma__utility-nav__content js-util-nav-content is-closed">
                  <div class="ma__utility-nav__container">
                    <button class="ma__utility-nav__close js-close-util-nav"><span>Close</span><span role="presentation">+</span></button>
                    <button class="ma__utility-nav__back js-close-util-nav"><span>Back</span></button>
                    <div class="ma__utility-nav__content-title">
                      <svg role="presentation">
                        <use xlink:href="/assets/images/svg-sprite.svg#login"></use>
                      </svg>
                      <span>Login to...</span>
                    </div>
                  </div>
                </div>
              </li>
              <li class="ma__utility-nav__item js-util-nav-toggle">
                <a class="ma__utility-nav__link" 
                  href="#" 
                  title="Alerts">
                  <svg role="presentation">
                    <use xlink:href="/assets/images/svg-sprite.svg#alerts"></use>
                  </svg>
                  <span>
                    Alerts
                  </span>
                </a>
                <div aria-hidden="true" class="ma__utility-nav__content js-util-nav-content is-closed">
                  <div class="ma__utility-nav__container">
                    <button class="ma__utility-nav__close js-close-util-nav"><span>Close</span><span role="presentation">+</span></button>
                    <button class="ma__utility-nav__back js-close-util-nav"><span>Back</span></button>
                    <div class="ma__utility-nav__content-title">
                      <svg role="presentation">
                        <use xlink:href="/assets/images/svg-sprite.svg#login"></use>
                      </svg>
                      <span>Login to...</span>
                    </div>
                  </div>
                </div>
              </li>
              <li class="ma__utility-nav__item js-util-nav-toggle">
                <a class="ma__utility-nav__link" 
                  href="#" 
                  title="State Services">
                  <svg role="presentation">
                    <use xlink:href="/assets/images/svg-sprite.svg#building"></use>
                  </svg>
                  <span>
                    State Services
                  </span>
                </a>
                <div aria-hidden="true" class="ma__utility-nav__content js-util-nav-content is-closed">
                  <div class="ma__utility-nav__container">
                    <button class="ma__utility-nav__close js-close-util-nav"><span>Close</span><span role="presentation">+</span></button>
                    <button class="ma__utility-nav__back js-close-util-nav"><span>Back</span></button>
                    <div class="ma__utility-nav__content-title">
                      <svg role="presentation">
                        <use xlink:href="/assets/images/svg-sprite.svg#login"></use>
                      </svg>
                      <span>Login to...</span>
                    </div>
                  </div>
                </div>
              </li>
              <li class="ma__utility-nav__item js-util-nav-toggle">
                <a class="ma__utility-nav__link" 
                  href="#" 
                  title="login to ...">
                  <svg role="presentation">
                    <use xlink:href="/assets/images/svg-sprite.svg#login"></use>
                  </svg>
                  <span>
                    Login to ...
                  </span>
                </a>
                <div aria-hidden="true" class="ma__utility-nav__content js-util-nav-content is-closed">
                  <div class="ma__utility-nav__container">
                    <button class="ma__utility-nav__close js-close-util-nav"><span>Close</span><span role="presentation">+</span></button>
                    <button class="ma__utility-nav__back js-close-util-nav"><span>Back</span></button>
                    <div class="ma__utility-nav__content-title">
                      <svg role="presentation">
                        <use xlink:href="/assets/images/svg-sprite.svg#login"></use>
                      </svg>
                      <span>Login to...</span>
                    </div>
                    <section class="ma__login-util">
                      <p class="ma__login-util__description">These are the top requested sites you can login to access state provided services</p>
                      <ul class="ma__login-util__items">
                        <li class="ma__login-util__item">
                          <a href="#">
                            <span>Virtual Gateway</span>
                            <svg role="presentation">
                              <use xlink:href="/assets/images/svg-sprite.svg#external-link"></use>
                            </svg>
                          </a>
                        </li>
                        <li class="ma__login-util__item">
                          <a href="#">
                            <span>Virtual Gateway</span>
                            <svg role="presentation">
                              <use xlink:href="/assets/images/svg-sprite.svg#external-link"></use>
                            </svg>
                          </a>
                        </li>
                        <li class="ma__login-util__item">
                          <a href="#">
                            <span>Virtual Gateway</span>
                            <svg role="presentation">
                              <use xlink:href="/assets/images/svg-sprite.svg#external-link"></use>
                            </svg>
                          </a>
                        </li>
                      </ul>
                      <div class="ma__login-util__view-all">
                        <a href="#">View all logins</a>
                      </div>
                    </section>
                  </div>
                </div>
              </li>
            </ul>
          </section>
        </div>
      </div>
    </section>
  </nav>
</header>
<!-- end .header -->
<a name="main-content"></a>