<section class="illustrated-link-2-up">
  <h2 class="illustrated-link-2-up__title">Planners</h2>
  <div class="illustrated-link-2-up__content">
    {% include "molecules-illustrated-link" %}
    {% include "molecules-illustrated-link" %}
  </div>
</section>