<section class="ma__page-banner">
  <style>
    .ma__page-banner__background {
      background-image: url('/assets/images/placeholder/800x400.png');
    }

    @media (min-width: 801px) {
      .ma__page-banner__background {
        background-image: url('/assets/images/placeholder/1600x400.png');
      }
    }
  </style>
  <div class="ma__page-banner__background"></div>
  <div class="ma__page-banner__content">
    <div class="ma__page-banner__icon">
      {% include "atoms-cat-icon-recreation" %}
    </div>
    <h1 class="ma__page-banner__title">Visiting &amp; Exploring</h1>
    <div class="ma__page-banner__divider"></div>
    <div class="ma__page-banner__description">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel nam porro tempore minus repellendus animi rem veritatis.</p>
    </div>
  </div>
</section>