<section class="ma__page-header">
  <h1>Get a State Park Pass</h1>
  <div class="ma__page-header__intro"><p>Do you regularly visit Massachusetts parks or beaches? Our MassParks Pass offers you a significant savings over daily parking charges.</p></div>
</section>
