<section class="page-banner">
  <style>
    .page-banner__background {
      background-image: url('/assets/images/temp/1600x400.png');
    }
  </style>
  <div class="page-banner__background">
    <div class="page-banner__title-container">
      <div class="page-banner__icon">
        {% include "atoms-cat-icon-recreation" %}
      </div>
      <h1 class="page-banner__title">Visiting &amp; Exploring</h1>
    </div>
  </div>
  <div class="page-banner__content">
    <div class="page-banner__divider"></div>
    <div class="page-banner__description">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel nam porro tempore minus repellendus animi rem veritatis.</p>
    </div>
  </div>
</section>