<section class="ma__personal-message">
  <div class="ma__personal-message__container">
    <div class="ma__personal-message__image">
      <img alt="{{personalMessage.imageAlt}}" src="{{personalMessage.imageSrc}}" />
    </div>
    <div class="ma__personal-message__content">
      <h2 class="ma__personal-message__title">{{personalMessage.title}}</h2>
      <section class="ma__rich-text">{{personalMessage.rte | raw}}</section>
    </div>
  </div>
</section>