<section class="ma__related-tasks">
  <h2 class="ma__related-tasks__title">Related</h2>
  <ul class="ma__related-tasks__items">
    <li class="ma__related-tasks__item">
      <a href="#" class="ma__related-tasks__link">
        <span>Give a Park Pass a as a Gift!</span>
        {% include "atoms-svg-arrow" %}
      </a>
      <div class="ma__related-tasks__description">
        <p>Purchase a MassParks Pass as a gift for holidays, birthdays, and anniversaries, or just to a put a smile on someone's face.</p>
      </div>
    </li> 
    <li class="ma__related-tasks__item">
      <a href="#" class="ma__related-tasks__link">
        <span>Day Use Parking Fees</span>&nbsp;{% include "atoms-svg-arrow" %}
      </a>
      <div class="ma__related-tasks__description">
        <p>See a listing of parks that charge a daily parking fee.</p>
      </div>
    </li>
  </ul>
</section>

