<section class="ma__related-actions">
  <h2 class="ma__related-actions__title">Related</h2>
  <ul class="ma__related-actions__items">
    {% for item in relatedActions.items %}
      {% set decorativeLink = item.link %}
      <li class="ma__related-actions__item">
        <div class="ma__related-actions__link">
          {% include "atoms-decorative-link" with decorativeLink %}
        </div>
        <div class="ma__related-actions__description">
          <p>{{item.description}}</p>
        </div>
      </li> 
    {% endfor %}
  </ul>
</section>

