<section class="ma__rich-text">
  {% include "atoms-heading-2" %}
  {% include "atoms-heading-3" %}
  {% include "atoms-heading-4" %}

  {% include "atoms-unordered-list" %}
  {% include "atoms-ordered-list" %}
  {% include "atoms-paragraph" %}

</section>