{% set sOne = {
  "sectionLinks": {
    "image" : {
      "src" : "/assets/images/placeholder/600x450.png",
      "alt" : "Recreational Licenses & Permits"
    },
    "title" : {
      "href" : "#",
      "text" : "Recreational Licenses & Permits"
    },
    "links" : [{
      "href" : "#",
      "text" : "Boating"
    },
    {
      "href" : "#",
      "text" : "Fishing"
    },
    {
      "href" : "#",
      "text" : "Hunting"
    }]
  }
} %}
{% set sTwo = {
  "sectionLinks": {
    "image" : {
      "src" : "/assets/images/placeholder/600x450-kitten.jpg",
      "alt" : "State Parks & Recreation"
    },
    "title" : {
      "href" : "#",
      "text" : "State Parks & Recreation"
    },
    "links" : [{
      "href" : "#",
      "text" : "Accessible Recreation"
    },
    {
      "href" : "#",
      "text" : "Active & Team Sports"
    },
    {
      "href" : "#",
      "text" : "Nature & Outdoor Activities"
    },
    {
      "href" : "#",
      "text" : "Water Related Activities"
    }]
  }
} %}
{% set sThree = {
  "sectionLinks": {
    "image" : {
      "src" : "/assets/images/placeholder/600x450.png",
      "alt" : "Travel & Tourism"
    },
    "title" : {
      "href" : "#",
      "text" : "Travel & Tourism"
    },
    "links" : [{
      "href" : "#",
      "text" : "Family Friendly Activities"
    },
    {
      "href" : "#",
      "text" : "Seasonal Activities"
    },
    {
      "href" : "#",
      "text" : "Sightseeing"
    },
    {
      "href" : "#",
      "text" : "Traveling to Massachusetts"
    }]
  }
} %}
{% set sFour = {
  "sectionLinks": {
    "image" : {
      "src" : "/assets/images/placeholder/600x450-kitten.jpg",
      "alt" : "Art & Culture"
    },
    "title" : {
      "href" : "#",
      "text" : "Art & Culture"
    },
    "links" : [{
      "href" : "#",
      "text" : "Cultureal Districts & Historic Sites"
    },
    {
      "href" : "#",
      "text" : "Dance"
    },
    {
      "href" : "#",
      "text" : "Film & Theater"
    },
    {
      "href" : "#",
      "text" : "Galleries"
    },
    {
      "href" : "#",
      "text" : "Museums"
    },
    {
      "href" : "#",
      "text" : "Music"
    }]
  }
} %}
<section class="ma__sections-3up">
  <h2 class="ma__sections-3up__title">More in Visiting &amp; Exploring</h2>
  <div class="ma__sections-3up__container">
    {% include "molecules-section-links" with sOne %}
    {% include "molecules-section-links" with sTwo %}
    {% include "molecules-section-links" with sThree %}
    {% include "molecules-section-links" with sFour %}
  </div>
</section>