<section class="ma__section-links">
  <!-- Banner is optional -->
  <div class="ma__section-links__banner">
    <img src="/assets/images/placeholder/400x300.png" alt="Recreational Licenses &amp; Permits" />
  </div>
  <div class="ma__section-links__content">
    <h2 class="ma__section-links__title">
      <a href="#">Recreational Licenses &amp; Permits</a>
    </h2>
    <ul class="ma__section-links__items">
      <li class="ma__section-links__item">
        <a href="#" class="ma__section-links__link">Boating</a>
      </li>
      <li class="ma__section-links__item">
        <a href="#" class="ma__section-links__link">Fishing</a>
      </li>
      <li class="ma__section-links__item">
        <a href="#" class="ma__section-links__link">Hunting</a>
      </li>
    </ul>
    <div class="ma__section-links__view-all">
      <a href="#">view all</a>
    </div>
  </div>
</section>