<section class="ma__task-details">
  <h2 class="ma__task-details__title">The Details</h2>

  <div class="ma__task-details__content">
    <div class="ma__task-details__anchor-links">
        <a href="#overview" class="is-active">Overview</a>
        <a href="#get-it-done">Get It Done</a>
        <a href="#additional-info">Additional Information</a>
    </div>
    <a name="overview"></a>
    <section class="ma__rich-text">
      <h2>Overview</h2>
      <p>The Annual MassParks Pass allows you free parking for one vehicle, during daytime hours, at all State Parks except Quabbin Reservoir. It’s valid for one calendar year, from January through December, so you’ll need to buy a new one each year.</p>

      <p>The parking pass costs <b>$60 for Massachusetts residents</b> and <b>$85 dollars for non-Massachusetts residents</b>. If you have two cars, you can pay an additional $25 for a second car sticker that will allow you to park either car for free (only one at a time, though!).</p>

      <p>If you’re a Massachusetts resident 62 years old or older, you can get a special lifetime Senior MassParks Pass for a one-time fee of only $10.</p>  
    </section>
    <a name="get-it-done"></a>
    <section class="ma__task-steps">

    </section>
    <a name="additional-info"></a>
    <section class="ma__rich-text">
      <h2>Additional Information</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque rutrum mauris quam, et imaperdiet purus pellentesque vel.</p>
    </section>
  </div>
</section>