<section class="ma__top-actions">
  <h2 class="ma__top-actions__title">Start Here</h2>
  <ul class="ma__top-actions__items">
    <li class="ma__top-actions__item">
      <a href="#" class="ma__top-actions__link">Get a State Park Pass</a>
    </li>
    <li class="ma__top-actions__item">
      <a href="#" class="ma__top-actions__link">Get a Freshwater Fishing License</a>
    </li>
    <li class="ma__top-actions__item">
      <a href="#" class="ma__top-actions__link">Plan a Vacation in Massachusetts</a>
    </li>
    <li class="ma__top-actions__item">
      <a href="#" class="ma__top-actions__link">Find a Campground</a>
    </li>
  </ul>
</section>