<section class="ma__top-tasks">
  <h2 class="ma__top-tasks__title">Common Actions</h2>
  <ul class="ma__top-tasks__items">
    <li class="ma__top-tasks__item">
      <a href="#" class="ma__top-tasks__link">Get a State Park Pass</a>
    </li>
    <li class="ma__top-tasks__item">
      <a href="#" class="ma__top-tasks__link">Get a Freshwater Fishing License</a>
    </li>
    <li class="ma__top-tasks__item">
      <a href="#" class="ma__top-tasks__link">Plan a Vacation in Massachusetts</a>
    </li>
    <li class="ma__top-tasks__item">
      <a href="#" class="ma__top-tasks__link">Find a Campground</a>
    </li>
  </ul>
</section>
