<section class="ma__top-actions">
  <h2 class="ma__top-actions__title">Common Actions</h2>
  <ul class="ma__top-actions__items">
    <li class="ma__top-actions__item">
      <div>
        <a href="#" class="ma__top-actions__link">Get a State Park Pass&nbsp;{% include "atoms-svg-arrow" %}</a>
      </div>
    </li>
    <li class="ma__top-actions__item">
      <div>
        <a href="#" class="ma__top-actions__link">Get a Freshwater Fishing License&nbsp;{% include "atoms-svg-arrow" %}</a>
      </div>
    </li>
    <li class="ma__top-actions__item">
      <div>
        <a href="#" class="ma__top-actions__link">Plan a Vacation in Massachusetts&nbsp;{% include "atoms-svg-arrow" %}</a>
      </div>
    </li>
    <li class="ma__top-actions__item">
      <div>
        <a href="#" class="ma__top-actions__link">Find a Campground&nbsp;{% include "atoms-svg-arrow" %}</a>
      </div>
    </li>
  </ul>
</section>
