<section class="ma__whats-new">
  <h2 class="ma__whats-new__title">The Latest from Our Team</h2>
  <div class="ma__whats-new__items">
    <div class="ma__whats-new__item">
      <div class="ma__whats-new__image-wrapper">
        <img 
          src="/assets/images/placeholder/230x130.png" 
          alt=""
          width="230"
          height="130" />
        <span class="ma__whats-new__date">08.15.16</span>
      </div>
      <div class="ma__whats-new__content">
        <h4 class="ma__whats-new__link"><a href="#" title="">Car, Bus, Bike, or Boat?&nbsp;{% include "atoms-svg-arrow" %}</a></h4>
        <p>Choosing iconography for the Transportation page got a little complicated when...</p>
      </div>
    </div>
    <div class="ma__whats-new__item">
      <div class="ma__whats-new__image-wrapper">
        <img 
          src="/assets/images/placeholder/230x130.png" 
          alt=""
          width="230"
          height="130" />
        <span class="ma__whats-new__date">08.15.16</span>
      </div>
      <div class="ma__whats-new__content">
        <h4 class="ma__whats-new__link"><a href="#" title="">Car, Bus, Bike, or Boat?&nbsp;{% include "atoms-svg-arrow" %}</a></h4>
        <p>Choosing iconography for the Transportation page got a little complicated when...</p>
      </div>
    </div>
  </div>
</section>