.ma__action-step {

  &--accordion {
    border-color: $c-bg-section;
  }

  &--accordion:not(.is-open) &__header {
    background-color: $c-bg-section;
  }

  &--accordion.is-open &__header {
    background-color: transparent;
  }

  &--accordion &__header:after {
    color: $c-theme-green;
  }

  &__icon {

    svg {
      fill: $c-theme-green;
    }
  }

  &__title {
    @include ma-h4;
    font-weight: 700;
  }
}
