.ma__action-activities {
  border-color: $c-bd-divider;

  &__link {

    &:after {
      color: rgba($c-font-link, .5);
    }

    &:hover {
      border-bottom-color: rgba($c-font-link, .5);
    }
  }
}