.ma__alert-message {
  background-color: lighten($c-theme-tertiary,34%);

  & + & {
    border-top-color: $c-theme-tertiary;
  }

  &__message {
    
    @media ($bp-small-min) {
      display: inline;
    }
  }

  &__time-stamp {
    font-style: italic;
    font-weight: 500;
  }

  &__link {

    @media ($bp-small-min) {
      display: inline-block;
    }
    
    .ma__content-link {

      span {
        border-bottom-color: rgba($c-font-dark, .5);
        color: $c-font-dark;

        &:hover {
          border-bottom-color: rgba($c-font-dark, .5);
        }
      }

      &:after {
        border-color: rgba($c-font-dark, .5);
      }
    }

  }
}
