.ma__alert-header {
  background-color: $c-theme-tertiary;

  &__icon {

  }

  &__label {
    color: rgba($c-font-dark,.8);
    font-weight: 700;
  }

  &__title {
    border-left-color: rgba($c-font-dark,.3);
    color: $c-font-dark;
    font-weight: 700;
  }
}