.ma__back-button {

  .ma__button {
    &:before {
      border-color: rgba($c-font-link,.5);
      transition: all 0.4s ease;    
    }

    &:hover:before {
      border-color: $c-font-inverse;
    }
  }

  // backward compatible with v5.6 - replaced link with button atom
  a:not(.ma__button) {
    @include ma-button("","",$c-font-link);
    border-color: rgba($c-font-link,.5);

    &:before {
      border-color: rgba($c-font-link,.5);
      transition: all 0.4s ease;    
    }

    &:hover:before {
      border-color: $c-font-inverse;
    }
  }
}
