.ma__callout-stats {
  @include ma-font(900);

  &:before {
    background-color: rgba($c-theme-green,.2);
  }

  &__stat {
    color: $c-theme-green;
  }

  &__content {
    color: $c-font-dark;
  }
}