.ma__callout-link {
  background-color: tint($c-font-link,90%);
  border-color: tint($c-font-link,50%);
  box-shadow: 0 0.25rem 0.5rem rgba(#000, 0.25);

  &:hover &__text {
    border-bottom-color: rgba($c-font-link,.5);
  }

  &__text {
    svg {
      fill: rgba($c-font-link,.5);
    }
  }
}
