.ma__callout-stats {
  font-weight: 900;

  &:before {
    background-color: rgba($c-theme-secondary,.2);
  }

  &__stat {
    color: $c-theme-secondary;
  }

  &__content {
    color: $c-font-dark;
  }
}