.ma__contact-group {

  &__name {

    svg {
      fill: $c-theme-secondary;
    }

    span {
      color: $c-font-dark;
      font-weight: 700;
    }
  }

  &__label {
    font-weight: 500;
  }

  &__value {
    font-weight: 300;
  }

  &__details {
    font-weight: 300;
    font-style: italic;
  }

  .ma__content-link--phone {
    font-weight: 300;
  }

}
