.ma__contact-us {

  & + & {
    border-color: $c-bd-divider;
  }

  &__name {

    svg {
      fill: $c-theme-primary-2;
    }

    span {
      color: $c-font-dark;
      font-weight: 700;
    }
  }

  &__expand {

    button {
      color: $c-font-link;
      font-weight: 700;

      &:after {
        border-color: $c-font-link;
        opacity: .5;
      }

      &:hover {
        border-color: rgba($c-font-link,.5);
      }
    }
  }

}
