.ma__download-link {

  &__icon {
    fill: rgba($c-font-link,.7);
  }

  &__file-link {
    &:hover {
      border-bottom-color: rgba($c-font-link,.5);
    }
  }

  &__file-spec {
    font-weight: 500;
  }
}
