.ma__emergency-alert {
  background-color: lighten($c-theme-yellow,34%);

  & + & {
    border-top-color: $c-theme-yellow;
  }

  &__message {
    
    @media ($bp-small-min) {
      display: inline;
    }
  }

  &__time-stamp {
    font-style: italic;
    font-weight: 500;
  }

  &__link {

    @media ($bp-small-min) {
      display: inline-block;
    }
    
    a {
      border-bottom-color: rgba($c-font-dark, .5);
      color: $c-font-dark;

      &:hover {
        border-bottom-color: rgba($c-font-dark, .5);
      }

      &:after {
        border-color: rgba($c-font-dark, .5);
      }
    }

  }
}
