.ma__floating-action {
  z-index: $z-sticky-content;

  &--green {
    background-color: $c-font-inverse;
    border-color: $c-theme-secondary;
    color: $c-theme-secondary;
  }

  &:hover {
    background-color: $c-theme-secondary;
    color: $c-font-inverse;
  }
}
