.ma__header-search {

  input {
    background-color: $c-white;
    border-color: $c-bd-input;
    color: $c-font-base;
  }

  .ma__button-search {

    background-color: transparent;
    border-color: transparent;
    border-left-color: $c-bd-input;

    &:hover {
      background: $c-theme-primary-2;
      border-left-color: $c-theme-primary-2;
    }

    // not the button in navigation
    .ma__header__search & {

      @media ($bp-small-max) {
        background-color: $c-white;
        border-color: $c-bd-input;

        &:hover {
          background: $c-theme-primary-2;
        }
      }
    }
  }
}
