.ma__header-contact {

  &__accordion {
    border-top-color: $c-bd-divider;
    color: $c-theme-primary-1;
    font-weight: 700;

    &:after {
      color: $c-theme-primary-1;
    }
  }

  &__column {

    & + & {
      border-color: $c-bd-divider;
    }
  }
}
