.ma__header-tags {
  font-weight: 800;

  &__terms {

    a {
      border-color: rgba($c-font-link,.2);
      font-weight: 500;

      &:hover {
        border-color: $c-font-link;
      }
    }
  }
}
