.ma__image-promo {
  border-color: $c-bd-divider;

  &__location {

    svg {
      fill: rgba($c-font-link, .5);
    }

    button {
      border-bottom-color: rgba($c-font-link, .5);
      color: $c-font-link;
      font-weight: 500;
    }
  }
}