.ma__image-promo {
  border-color: $c-bd-divider;

  &__tags {

    svg {
      fill: $c-theme-secondary;
    }
  }

  &__phone {

    & > a {
      color: $c-font-base;
      font-weight: 400;
    }

    & > svg {
      fill: $c-theme-secondary;
    }
  }
}
