.ma__info-window {
  font-family: "Texta", "Helvetica", "Arial", "sans-serif";

  &__label {
    font-weight: 500;
  }

  &__phone {
    color: $c-font-base;
    font-weight: inherit;
  }

  &__email-link:hover {
    border-color: rgba($c-font-link, .5);
  }
}
