.ma__keyword-search {

  .ma__button-search {
    background-color: transparent;
    border-left-color: $c-bd-input;

    &:hover {
      background: $c-theme-green;
      border-left-color: $c-theme-green;
    }
  }

  .ma__form--light .ma__button-search {
    border-left-color: rgba($c-bd-input,.5);

    &:hover {
      border-left-color: $c-theme-green;
    }
  }


  &__reset {
    @include ma-font(700);
    color: $c-theme-green;
  }

  ::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: $c-font-inverse;
    opacity:  .8;
  }
  ::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: $c-font-inverse;
    opacity:  .8;
  }
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: $c-font-inverse;
    opacity:  .8;
  }

}
