.ma__keyword-search {

  .ma__button-search {
    background-color: transparent;
    border-left-color: $c-bd-input;

    &:hover {
      background: $c-theme-secondary;
      border-left-color: $c-theme-secondary;
    }
  }

  .ma__form--light .ma__button-search {
    border-left-color: rgba($c-bd-input,.5);

    &:hover {
      border-left-color: $c-theme-secondary;
    }
  }


  &__reset {
    color: $c-theme-secondary;
    font-weight: 700;
  }
}
