.ma__keyword-search {

  .ma__button-search {
    background-color: transparent;
    border-left-color: rgba($c-bd-input,.5);

    &:hover {
      background: $c-theme-primary-2;
    }
  }

  &__reset {
    @include ma-font(700);
    color: $c-theme-primary-2;
    &--ajax {
      border-left-color: rgba($c-bd-input,.5);
    }
  }

  ::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: $c-font-inverse;
    opacity:  .8;
  }
  ::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: $c-font-inverse;
    opacity:  .8;
  }
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: $c-font-inverse;
    opacity:  .8;
  }

}
