.ma__main-nav {

  &__item {

    &:hover,
    &.is-open {
      background-color: $c-white;
      box-shadow: 0 0.25rem 0.5rem rgba($c-black, 0.25);
    }
    &.is-active {

      @include ma-border-decorative($c-theme-green);
    }
  }

  &__top-link {
    color: $c-font-dark;

    .has-subnav & {
  // chevron
      &:after {
        border-right-color: $c-theme-green;
        border-bottom-color: $c-theme-green;
      }
    }
  }

  &__back {
    color: $c-font-inverse;

    &:before {
      border-left-color: $c-font-inverse;
      border-top-color: $c-font-inverse;
    }

    span {
      opacity: 0.7;
    }
  }

  &__subitems {
    background-color: $c-bg-section;

    @media ($bp-header-toggle-min) {
      background-color: $c-white;
      box-shadow: 0 0.25em 0.5rem rgba($c-black, 0.25);
    }
  }

  &__container {

    @media ($bp-header-toggle-max) {
      background-color: $c-white;
    }
  }

  &__subitem {
    border-bottom-color: $c-bd-divider;
  }

  &__link {
    @include ma-font(500);
    color: $c-font-base;

    &:hover {
      background-color: $c-gray-f2f2f2;
      color: $c-font-link-subtle;
    }
  }

  &__subitem:first-child &__link {
    @include ma-font(700);
    color: $c-font-dark;
  }
}
