.ma__pagination {
  
  &__container {
    border-top-color: $c-bd-divider;
  }

  &__prev,
  &__next,
  &__page {
    color: $c-font-link;
    font-weight: 700;
  }

  &__prev {
    
    &:before {
      border-color: rgba($c-font-link, .5);
    }

    &:after {
      border-color: transparent;
    }

    &:hover:after {
      border-color: rgba($c-font-link, .5);
    }
  }

  &__next {
    
    &:after {
      border-color: rgba($c-font-link, .5);
    }

    &:before {
      border-color: transparent;
    }

    &:hover:before {
      border-color: rgba($c-font-link, .5);
    }
  }

  &__page {

    &:after {
      border-color: transparent;
    }

    &.is-active {
      background-color: $c-theme-primary;
      color: #fff;

      &:hover:after {
        border-color: transparent;
      }
    }

    &:hover:after {
      border-color: rgba($c-font-link, .5);
    }

  }

  &__spacer {

  }
}
