.ma__related-action {

  & + & {
    border-top-color: $c-bd-divider;
  }

  &__link {

    a:hover {
      border-bottom-color: rgba($c-font-link,.5);
    }

    svg {
      fill: rgba($c-font-link,.5);
    }
  }

  &__description {

  }
}
