.ma__rich-text {
  h2, h3, h4 {
    @include ma-border-decorative($c-theme-primary-2);
  }

  a:hover {
    border-bottom-color: rgba($c-font-link,.5);
  }

  // TABLE styles
  thead {
    background-color: $c-bg-subtle;
  }

  tbody {
    border-color: $c-bd-divider;
  }

  tr + tr {
    border-color: $c-bd-divider;
  }
  // end Table styles
  &__embed {
    border-color: rgba($c-theme-primary-1,.1);
  }
}
