.ma__section-links {
  background-color: $c-bg-section;

  @media ($bp-x-small-max) {
    border-top-color: $c-bd-divider;

    &.is-open {
      background-color: $c-white
    }

    &:last-child {
      border-bottom-color: $c-bd-divider;
    }
  }

  &__content {

  }

  &__toggle-content {

  }

  &__footer {
    border-top-color: $c-bd-divider;
  }

  &__title {

    @media ($bp-x-small-min) {
      @include ma-border-decorative($c-theme-yellow,1);
    }

    &:after {
      color: $c-theme-green;
    }

    a {
      color: inherit;
    }

    svg {
      fill: rgba($c-font-heading,.5);
    }

  }

  &__mobile-title {
    border-bottom-color: $c-bd-divider;

    svg {
      fill: rgba($c-font-link,.5);
    }

    a:hover {
      @media ($bp-x-small-max) {
        border-bottom-color: rgba($c-font-link,.5);
      }
    }
  }

  &__link {

    &:hover {
      border-bottom-color: rgba($c-theme-blue,.5);
    }
  }
}
