.ma__section-links {
  background-color: $c-bg-section;

  @media ($bp-x-small-max) {
    &.is-open {
      background-color: $c-white
    }
  }

  &__content {

  }

  &__toggle-content {

  }

  &__title {

    @media ($bp-x-small-min) {
      @include ma-border-decorative($c-theme-secondary-1,$c-bg-section,1);
    }

    &:after {
      color: $c-theme-primary-2;
    }
    
    a {
      color: inherit;
      @include ma-font(500);
    }

    svg {
      fill: rgba($c-font-heading,.5);
    }
  }

  &__mobile-title {
    svg {
      fill: rgba($c-font-link,.5);
    }
  }

  &__link {

    &:hover {
      border-bottom-color: rgba($c-theme-primary-1,.5);
    }
  }
}
