.ma__section-links {
  
  &__banner {

  }

  &__overlay {
    background-image: linear-gradient(190deg, rgba($c-bg-section,.2), $c-bg-section 50%);
  }

  &__content {
    background-color: $c-bg-section;
  }

  &__title {
    @include ma-border-decorative($c-bg-section,$c-theme-secondary-1);
    
    a {
      color: inherit;
    }
  }

  &__items {

  }

  &__item {

  }

  &__link {

  }

  &__view-all {

  }
}
