.ma__stats-callout {
  @include ma-font(900);

  &:before {
    background-color: rgba($c-theme-primary-2,.2);
  }

  &__stat {
    color: $c-theme-primary-2;
  }

  &__content {
    color: $c-font-dark;
  }
}