.ma__sticky-nav {
  @media ($bp-medium-max) {
    background-color: $c-bg-section;
  }


  &__link {
    font-weight: 500;

    &.is-active {
      color: $c-font-dark;
      font-weight: 700;
    }

    &:hover {
      color: $c-font-dark;
    }
  }

  &__link + &__link {
    border-top-color: $c-bd-divider;
    
    &.is-open {
      border-top-color: $c-bd-divider;
    }
  }

  &__toggle-link {
    color: $c-theme-secondary;
  }
}
