.ma__sticky-nav {
  @media ($bp-medium-max) {
    background-color: $c-bg-section;
  }


  &__link {
    a {
      font-weight: 500;
    }

    &:hover a {
      border-bottom-color: rgba($c-font-link,.5);
    }

    &.is-active a {
      color: $c-font-dark;
      font-weight: 700;
    }

    &.is-active:hover a {
      color: $c-font-dark;
      border-bottom-color: transparent;
    }
  }

  &__link + &__link {
    border-top-color: $c-bd-divider;
    
    &.is-open {
      border-top-color: $c-bd-divider;
    }
  }

  &__toggle-link {
    color: $c-theme-secondary;
  }
}
