.ma__utility-nav {

  @media ($bp-header-toggle-min) {
    background-color: $c-theme-blue;
    color: $c-font-inverse;
  }

  &__item {
    @media ($bp-header-toggle-max) {
      &:hover {
        background-color: $c-white;
        box-shadow: 0 0.25rem 0.5rem rgba($c-black, 0.25);
      }
    }

  }

  &__link {
    @include ma-font(500);
    color: $c-font-base;

    @media ($bp-header-toggle-min) {
      background-color: $c-theme-blue;
      color: $c-font-inverse;
    }

    &:after {
      border-right-color: $c-theme-green;
      border-bottom-color: $c-theme-green;
    }

    svg {
      fill: $c-theme-blue;

      @media ($bp-header-toggle-min) {
        fill: $c-font-inverse;
        opacity: .7;
        stroke: transparent;
        opacity: .7;
      }
    }
  }

  &__content {
    background-color: $c-bg-section;
    color: $c-font-inverse;

    @media ($bp-header-toggle-min) {
      background-color: $c-theme-blue;
    }

    a {
      color: $c-font-inverse;
    }
  }

  &__container {
    @media ($bp-header-toggle-max) {
      background-color: $c-theme-blue;
    }

  }

  &__close {

    @media ($bp-header-toggle-max) {
      display: none;
    }

    span {
      @include ma-font(700);
      color: $c-white;
      opacity: 0.7;

      &:hover {
        opacity: 1;
      }
    }

    span[role="presentation"] {
      @include ma-font(400);
      opacity: .7;
    }
  }

  &__content-title {
    @include ma-font(500);

    svg {
      opacity: 0.7;
      fill: $c-white;
    }
  }
}
