.ma__wait-time {

  &__title {
    border-color: $c-theme-secondary-1;

    svg {
      fill: $c-theme-secondary-1;
    }

  }

  &__item {

    &:nth-child(even) {
      border-color: $c-bd-divider;
    }
  }

  &__label {
    color: $c-font-medium;
    font-weight: 700;
  }

  &__time {
    color: $c-font-dark;
    font-weight: 900;
  }

  &__units {
    color: $c-font-dark;
    font-weight: 500;
  }
}
