.ma__wait-time {

  &__title {
    @include ma-border-decorative($c-theme-yellow);

    svg {
      fill: $c-theme-yellow;
    }

  }

  &__item {

    &:nth-child(even) {
      border-color: $c-bd-divider;
    }
  }

  &__label {
    color: $c-font-medium;
    font-weight: 700;
  }

  &__time {
    color: $c-font-dark;
    font-weight: 900;
  }
}
