<section class="comments section">
	<div class="comments-container" id="comments-container">
		<h2 class="section-title">59 Comments</h2>
		{% include "stock-pl-comment-form" %} 
		<ul class="comment-list">
			{% for item in 1..5 %}
				{% include "stock-pl-single-comment" %} 
			{% endfor %}
		</ul>
	</div>
	{% include "stock-pl-pagination" %} 
</section>