.ma__action-card {

  &__title {
    @include ma-border-decorative($c-theme-green);
  }

  &__item {
    @include ma-link-transition;
    background-color: $c-bg-subtle;
    box-shadow: 0 0.25rem 0.5rem rgba(1, 1, 1, 0.25);

    &:hover {
      background-color: darken($c-bg-subtle, 10%);

      a {
        border-bottom-color: inherit;
      }
    }

    &--blue {
      background-color: $c-theme-blue;

      &:hover {
        background-color: rgba($c-theme-blue,.8);
      }
    }

    &--green {
      background-color: $c-theme-green;

      &:hover {
        background-color: rgba($c-theme-green,.8);
      }
    }

    &--dark-gray {
      background-color: $c-theme-gray;

      &:hover {
        background-color: rgba($c-theme-gray,.8);
      }
    }
  }

  &__icon {

    svg,
    svg > g {
      fill: rgba($c-font-medium,.7);
    }
  }

  &__item--blue &__icon,
  &__item--green &__icon,
  &__item--dark-gray &__icon {

    svg,
    svg > g {
      fill: rgba($c-font-inverse,.7);
    }
  }

  &__category {
    @include ma-font(700);
    color: $c-font-medium;
  }

  &__item--blue &__category,
  &__item--green &__category,
  &__item--dark-gray &__category {
    color: rgba($c-font-inverse,.7);
  }

  &__link {

    a:hover {
      border-bottom-color: $c-font-link;
    }

    svg {
      fill: rgba($c-font-link, .5);
    }
  }

  &__item--blue &__link,
  &__item--green &__link,
  &__item--dark-gray &__link {

    a {
      color: $c-font-inverse;

      &:hover {
        border-bottom-color: $c-font-inverse;
      }
    }

    svg {
      fill: rgba($c-font-inverse, .5);
    }
  }
}
