.ma__action-events {

  &__title {
    @include ma-heading-colored($c-bg-comp-title);
    @include ma-font(700);
    color: $c-font-inverse;
  }

  &__item {
    
    & + & {
      border-top-color: $c-bd-divider;
    }
  }

  &__date {
    @include ma-font(700);
  }

  &__more {

    a {

      &:hover,
      &:after {
        border-color: rgba($c-font-link,.5);
      }
    }
  }
}
