.ma__action-finder {

  &__container {

  }

  &__header {

  }

  &__title {
    @include ma-border-decorative(transparent,$c-theme-secondary-1,1);
    color: $c-font-inverse;
  }

  &__search {

  }

  &__items {

  }

  &__item {
    background-color: $c-white;

    .ma__callout-link {
      background-color: $c-white;
    }
  }
}
