.ma__banner-carousel {


  .slick-arrow {
    
    &:after {
      border-color: $c-white;
    }

    &:before {
      background-color: rgba($c-theme-blue,.5);
    }

    &:hover:before {
      background-color: $c-theme-blue;      
    }
  }

  .slick-prev {

  }

  .slick-next {

  }

  .slick-dots {
    
    button {
      background-color: $c-theme-blue;
    }

    .slick-active button {
      background-color: $c-white;
    }
  }


  &__slide {

  } 
}