.ma__blog-feed {

  &__title {
    @include ma-border-decorative($c-theme-secondary);
  }

  &__date {
    background-color: rgba($c-white,.8);
    color: $c-font-dark;
    font-weight: 900;
  }

  &__view-all {

    a {

      &:hover,
      &:after {
        border-color: rgba($c-font-link,.5);
      }
    }
  }
}
