.ma__breadcrumbs {

  @media ($bp-medium-min)  {
    background-color: $c-bg-section;

    &__items {
      border-top-color: $c-bd-divider;
    }
  }

  &__item {

    &:last-child {
      a {
        color: $c-font-base;
      }
    }

    @media ($bp-medium-max) {

      &:nth-last-child(2) {

        &:before {
          border-color: $c-theme-primary-1;
        }
      }
    }
  }

  &__menu-trigger {
    color: transparent;
  }

  &__menu-display {
    color: $c-font-link;
  }

  &__menu-trigger:focus ~ &__menu-display {
    border-color: Highlight !important;

    /* WebKit gets its native focus styles.
     */
    @media (-webkit-min-device-pixel-ratio:0) {
      outline: -webkit-focus-ring-color auto 5px;
    }
  }

  &__sub-items {
    background-color: $c-white;
    box-shadow: 0 0.25rem 0.5rem rgba($c-black, 0.25);
  }

  &--light {
    background-color: transparent;
  }

  &--light &__items {
    @media ($bp-medium-min) {
      border-bottom-color: $c-bd-divider;
    }
  }
}
