.ma__breadcrumbs {

  @media ($bp-medium-min)  {
    background-color: $c-bg-section;

    ul {
      border-top-color: $c-bd-divider;
    }
  }

  li {

    &:last-child {
      a {
        @include ma-font(400);
        color: $c-font-base;
      }
    }

    @media ($bp-medium-max) {

      &:nth-last-child(2) {

        &:before {
          border-color: $c-theme-primary-1;
        }
      }
    }
  }
}

.ma__breadcrumbs--light {

  background-color: transparent;

  ul {
    border-bottom-color: $c-bd-divider;
  }
}
