.ma__breadcrumbs {

  @media ($bp-medium-min)  {
    background-color: $c-bg-section;

    &__items {
      border-top-color: $c-bd-divider;
    }
  }

  &__label {
    @include ma-font(700);
  }

  &__item {

    &:last-child {
      a {
        color: $c-font-base;
      }
    }

    @media ($bp-medium-max) {

      .pre-content & {
        &:nth-last-child(2) {

          &:before {
            border-color: $c-theme-blue;
          }
        }
      }

      .post-content & {
        &:nth-last-child(2) {

          &:after {
            border-color: $c-theme-blue;
          }
        }
      }
    }
  }

  &__sub-items {
    background-color: $c-white;
    box-shadow: 0 0.25rem 0.5rem rgba($c-black, 0.25);
  }

  &--light {
    background-color: transparent;
  }

  &--light &__items {
    @media ($bp-medium-min) {
      border-bottom-color: $c-bd-divider;
    }
  }
}
