$collage-header-bp-max: "max-width: 700px";

.ma__collage-header {
  background-color: $c-bg-subtle;

  &__title {

    @media ($collage-header-bp-max) {
      background-color: $c-theme-green;
    }

    &:before {
      background-color: $c-theme-green;
    }

    h1 {
      color: $c-font-inverse;
      font-weight: 400;
    }
  }

  &__details {
    font-weight: 300;

    &__lead {
      font-weight: 400;
    }
  }
}
