$collage-header-bp: "min-width: 700px";

.ma__collage-header {
  background-color: $c-bg-subtle;

  &__title {

    &:before {
      background-color: $c-theme-green;
    }

    h1 {
      color: $c-font-inverse;
      font-weight: 400;
    }
  }

  &__details {

    h3 {
      font-weight: 400;
    }

    p {
      font-weight: 300;
    }
  }
}
