.ma__contact-us {

  & + & {
    border-color: $c-bd-divider;
  }

  &--accordion {
    border-color: $c-bg-section;
  }

  &--accordion:not(.is-open) &__header {
    background-color: $c-bg-section;
  }

  &--accordion.is-open &__header {
    background-color: transparent;
  }

  &--accordion &__header:after {
    color: $c-theme-green;
  }

  &__expand {

    button {
      color: $c-font-link;
      font-weight: 700;

      &:after {
        border-color: $c-font-link;
        opacity: .5;
      }

      &:hover {
        border-color: rgba($c-font-link,.5);
      }
    }
  }
}
