.ma__curated-person {
  @include ma-container('restricted');

  &--meta-wrapper {
    display: flex;
    font-style: italic;
    color: $c-theme-gray;

    .curated-person--title {
      padding-right: 1rem;
    }

    .curated-person--org {
      padding-left: 1rem;
      border-left: 1px solid $c-bd-divider;
    }
  }

  .ma__contact-us__content-wrap {
    flex-basis: 100%;
    border-bottom: 1px solid $c-bd-divider;
    padding-bottom: 1rem;
  }

  .ma__contact-group {
    border-left-width: 0;
    padding-left: 0;
    min-width: auto;
    flex: 1 0 calc(100% - 10px);

    &:first-child {

      @media ($bp-small-min) {
        padding-left: 0;
        border-left-width: 0;
      }
    }

    &:last-child {
      padding-right: 0;

      @media ($bp-small-min) {
        padding-left: 0;
        border-left-width: 0;
      }

      @media ($bp-large-min) {
        padding-left: 30px;
        border-left-width: 1px;
      }
    }

    @media ($bp-small-min) {
      padding-left: 30px;
      border-left-width: 1px;
      flex: 1 0 calc(50% - 10px);
      min-width: 50%;
    }

    @media ($bp-large-min) {

      flex: 1 0 calc(50% - 10px);
    }

    @media ($bp-x-large-min) {
      flex: 1 0 calc(33% - 10px);
      min-width: 33%;
      max-width: 50%;
    }
  }
}