.ma__curated-person {
  @include ma-container('restricted');

  &--meta-wrapper {
    display: flex;
    font-style: italic;
    color: $c-theme-gray;

    .curated-person--title {
      padding-right: 1rem;
    }

    .curated-person--org {
      padding-left: 1rem;
      border-left: 1px solid $c-bd-divider;
    }
  }

  .ma__contact-us__content-wrap {
    border-bottom: 1px solid $c-bd-divider;
    padding-bottom: 1rem;

    @media ($bp-large-min) {
      justify-content: space-between;
    }
  }

  .ma__contact-group {
    padding: 0;
    border-left: 0;

    @media ($bp-small-min) {
      width: 50%;
      max-width: unset;
      min-width: unset;
      position: relative;

      &:nth-child(2n+2)::before {
        content: '';
        width: 1px;
        height: 100%;
        position: absolute;
        left: -20px ;
        top: 0;
        background-color: $c-bd-divider;
      }
    }

    @media ($bp-large-min) {
      width: 30%;

      &:last-child {
        position: relative;
        padding-left: 25px;

        &::before {
          content: '';
          width: 1px;
          height: 100%;
          position: absolute;
          left: -20px ;
          top: 0;
          background-color: $c-bd-divider;
        }
      }
    }
  }
}