.ma__event-listing {

  &__item + &__item {
    border-top-color: $c-bd-divider;
  }

  .post-content > & {
    background-color: $c-bg-subtle;
  }

  .post-content > & &__container {

    & > *:last-child {
      border-bottom-color: $c-bd-divider;
    }
  }

  .post-content > & &__item {
    border-left-color: $c-bd-divider;
  }
}
