.ma__footer {
  background-color: $c-bg-section;

  &__back2top{
    @include ma-button("","outline",$c-theme-primary);
    background-color: rgba($c-white, .9);

    svg {
      fill: rgba($c-theme-primary, .5);
    }

    &:hover {
      svg {
        fill: $c-font-inverse;
      }
    }
  }

  &__copyright {
    color: $c-theme-quaternary;
    font-weight: 300;

    b {
      font-weight: 500;
    }
  }
}
