.ma__footer {
  background-color: $c-bg-section;

  &__back2top{
    @include ma-button("normal","outline",$c-theme-primary-1);
    background-color: rgba($c-white, .5);
  }

  &__copyright {
    @include ma-font(300);
    color: $c-gray-primary;

    b {
      @include ma-font(500);
    }
  }
}