.ma__header-alert {
  background-color: $c-theme-secondary-1;

  &__hide {
    @include ma-font(700);
  }

  &__label {
    @include ma-font(700);
    color: rgba($c-font-dark, .7);
  }

  &__message {

    a {
      color: $c-font-dark;

      &:hover {
        border-bottom-color: rgba($c-font-link-subtle,.5);
      }
    }
  }
}
