.ma__header {
  background-color: $c-bg-section;

  &__nav-container {
    @media ($bp-medium-max) {
      background-color: $c-bg-section;
    }
  }

  &__button-container {
    @media ($bp-medium-max) {
      background-color: $c-theme-blue;
    }
  }

  &__back-button {
    @include ma-font(700);
    color: $c-font-inverse;

    &:before {
      border-left-color: $c-font-inverse;
      border-top-color: $c-font-inverse;
    }

    span {
      opacity: 0.7;
    }
  }

  &__menu-button {
    @include ma-font(700);
    color: $c-font-inverse;

    span:first-child {
      opacity: 0.7;
    }
  }

  &__menu-icon {
    background-color:  $c-font-inverse;

    &:before,
    &:after {
      background-color:  $c-font-inverse;
    }

    .show-menu & {
      background-color: transparent;
    }

    &:before {
      .show-menu & {
        background-color: $c-font-inverse;
      }
    }
    &:after {
      .show-menu & {
        background-color: $c-font-inverse;
      }
    }
  }

  &__nav-search,
  &__main-nav {
    @media ($bp-medium-max) {
      border-bottom-color: $c-bd-divider;
    }
  }
}
