.ma__illustrated-header {

  &__image--empty {
    background-color: $c-theme-green;
  }

  &__content {
    background-color: $c-white;

    &:after {
      background-color: $c-white;
    }
  }

  &__category {
    font-weight: 700;
  }

  .ma__page-header {

    &__intro {
    }
  }
}
