.ma__jump-links {

  &__inner {
    
    @media ($bp-small-min) {
      background-color: $c-bg-section;
    }
  }

  &__title {
    background-image: linear-gradient(-60deg, transparent, transparent 35px, $c-theme-primary-2 35px);
    color: $c-white;
    font-weight: 700;
  }

  &__links {

    @media ($bp-small-max) {
      background-color: $c-bg-section;
    }
  }

  &__column {
    border-color: $c-bd-divider;
  }

  &__link {

    & > svg,
    span {

    }

    & > svg {
      fill: $c-theme-primary-2;

      @media ($bp-small-max) {
        display: none;
      }
    }

    span {

    }

    &.is-active {
      @media ($bp-small-max) {
        color: $c-font-base;
      }
    }
  }
  
  &__toggle-link {
    color: $c-theme-primary-2;
  }
}