.ma__language-menu {
  color: $c-font-base;

  .ma__utility-nav & {
    @media ($bp-header-toggle-min) {
      //background-color: $c-theme-primary;
      color: $c-font-inverse;
    }
  }

  &:after {
    border-right-color: $c-theme-secondary;
    border-bottom-color: $c-theme-secondary;
  }

  svg {
    fill: $c-theme-primary;

    .ma__utility-nav & {
      @media ($bp-header-toggle-min) {
        fill: $c-font-inverse;
        opacity: .7;
        stroke: transparent;
      }
    }
  }
  
  span {
    font-family: "Texta", "Helvetica", "Arial", "sans-serif";
    font-weight: 500;
  }

  .goog-te-gadget {
    font-weight: 400;
  }

  .goog-te-gadget-simple {
    background-color: transparent;
    border: none;
    font-weight: 500;

    & > img {
      opacity: .7;
    }
  }

  .goog-te-gadget-simple .goog-te-menu-value {
    color: $c-font-base;

    @media ($bp-header-toggle-max) {
      &:after {
        border-right-color: $c-theme-secondary;
        border-bottom-color: $c-theme-secondary;
      }
    }

    .ma__utility-nav & {
      @media ($bp-header-toggle-min) {
        color: $c-font-inverse;

        &:after {
          opacity: .7;
        }
      }
    }
  }
}
