.ma__link-list {

  .sidebar &__item + &__item {
    border-color: $c-bd-divider;
  }

  &__eyebrow span {
    background-color: $c-bg-section;
    font-weight: 700;
  }

  &__date {
    color: $c-font-dark;
    font-style: italic;
    font-weight: 700;
  }
}
