$page-banner-inner-width: 612px;

.ma__page-banner {

  &__icon {
    
    svg {
      fill: rgba($c-font-inverse,.5);
    }
  }

  &__title {
    @include ma-font(400);
    color: $c-font-inverse;
  }

  &__content {
    background-image: linear-gradient(-90deg, rgba($c-theme-primary-2,.7), $c-theme-primary-2);

    @media ($bp-x-small-min) {
      background-image: linear-gradient(-60deg, transparent, transparent 125px, rgba($c-theme-primary-2,.7) 125px, $c-theme-primary-2);
    }

    &:before {
      background-color: $c-theme-primary-2;
    }
  }

  &__divider {
    @include ma-border-decorative($c-theme-primary-2,$c-bg-section);
    opacity: .5
  }

  &__description {
    @include ma-font(300);
  }
}
