$page-banner-inner-width: 612px;

.ma__page-banner {

  &__container {

    &:before {
      background-color: rgba($c-theme-green, 0.8);
    }
  }

  &--blue &__container {
    &:before {
      background-color: rgba($c-theme-blue, 0.8);
    }
  }

  &__content {
    background-image: linear-gradient(-90deg, rgba($c-theme-green,.7), $c-theme-green 95%);

    &:before {
      background-color: $c-theme-green;
    }
  }
    
  &--blue &__content {
    background-image: linear-gradient(-90deg, rgba($c-theme-blue,.7), $c-theme-blue 95%);

    &:before {
      background-color: $c-theme-blue;
    }
  }

  &--overlay &__content {
    background-image: none;
  }

  &__icon {

    svg,
    svg > g {
      fill: rgba($c-font-inverse,.5);
    }
  }

  &__title {
    font-weight: 400;
    color: $c-font-inverse;
  }

  &__description {
    color: $c-font-inverse;
    font-weight: 500;
  }

  &--columns &__description {
    color: $c-font-base;
    font-weight: 400;
  }
}
