$page-banner-inner-width: 612px;

.ma__page-banner {

  &__icon {

    svg,
    svg > g {
      fill: rgba($c-font-inverse,.5);
    }
  }

  &__title {
    @include ma-font(400);
    color: $c-font-inverse;
  }

  &__content {
    background-image: linear-gradient(-90deg, rgba($c-theme-green,.7), $c-theme-green 95%);

    &:before {
      background-color: $c-theme-green;
    }
  }

  &__divider {
    @include ma-border-decorative($c-theme-green);
    opacity: .5
  }

  &__description {
    @include ma-font(300);
  }
}
