$page-banner-inner-width: 612px;

.ma__page-banner {

  &__background {
    @include ma-border-decorative($c-white, $c-theme-primary-2);
  }

  &__icon {

  }

  &__title {
    @include ma-font(400);
  }

  &__content {
    background-image: linear-gradient(180deg, transparent, transparent 130px, rgba($c-bg-section,.1) 131px, $c-bg-section 400px, $c-bg-section);

    .no-cssgradients & {
      background-color: rgba($c-bg-section,.6);
    }
  }

  &__divider {
    @include ma-border-decorative($c-bg-section, $c-theme-primary-2);
    opacity: .5
  }

  &__description {
    @include ma-font(300);
  }
}
