.ma__rich-text {
  h2, h3, h4 {
    @include ma-comp-heading($c-theme-secondary);
  }

  h2 {
    padding-top: .75em;
  }

  &:first-child h2 {
    padding-top: 0;
  }

  h5 {
    font-weight: 700;
  }

  a {
    border-bottom-color: rgba($c-font-link, .5);

    &:hover {
      border-bottom-width: 3px;
    }
  }
}
