.ma__rich-text {
  h2, h3, h4 {
    @include ma-comp-heading($c-theme-green);
  }

  h5 {
    @include ma-font(700);
  }

  a {
    border-bottom-color: rgba($c-font-link,.5);

    &:hover {
      border-bottom-width: 3px;
    }
  }

  // TABLE styles
  thead {
    background-color: $c-bg-subtle;

      th {
        color: $c-font-heading;
      }
  }

  tbody {
    border-color: $c-bd-divider;
  }

  tr + tr {
    border-color: $c-bd-divider;
  }
  // end Table styles
  &__embed {
    border-color: rgba($c-theme-blue,.1);
  }
}
