.ma__rich-text {

  &__flame {
    font-weight: bold;
    text-transform: uppercase;
  }
  
  &__footnote {
    border-color: rgba($c-font-link,.5);

    &:hover {
      background-color: $c-font-link;
      color: $c-font-inverse;
    }
  }

  h2, h3, h4 {
    @include ma-comp-heading($c-theme-secondary);
  }

  h5 {
    font-weight: 700;
  }

  a {
    border-bottom-color: rgba($c-font-link, .5);

    &:hover {
      border-bottom-width: 3px;
    }
  }
}
