.ma__search-banner {
  background-position: center center;
  background-size: cover;
  position: relative;

  &:after {
    background-color: rgba($c-black, .6);
  }

  &__container {
    @include ma-container;
  }

  .ma__page-intro {

    h1 {
      color: $c-font-inverse;
      font-weight: 300;
    }

    &__sub-title {
      color: $c-font-inverse;
      font-weight: 400;
    }
  }

  // backward compatible with v5.6 - title was replaced with Page Intro
  &__title {
    color: $c-font-inverse;
    font-weight: 300;
  }

  // backward compatible with v5.6 - intro was replaced with Page Intro
  &__intro {
    color: $c-font-inverse;
    font-weight: 400;
  }

  &__input {

    input {
      background-color: rgba(255, 255, 255, 0.75);
      color: $c-font-dark;
      font-weight: 300;
    }

    &::-webkit-input-placeholder {
      color: $c-font-medium;
      font-weight: 300;
      font-style: italic;
    }

    &:-moz-placeholder { /* Firefox 18- */
      color: $c-font-medium;
      font-weight: 300;
      font-style: italic;
    }

    &::-moz-placeholder {  /* Firefox 19+ */
      color: $c-font-medium;
      font-weight: 300;
      font-style: italic;
    }

    &:-ms-input-placeholder {
      color: $c-font-medium;
      font-weight: 300;
      font-style: italic;
    }
  }

  &__button {
    background-color: rgba(255, 255, 255, 0.75);
    color: $c-font-dark;
    font-weight: 700;

    & > svg {
      fill: $c-font-dark;
    }

    &:hover {
      background-color: $c-theme-secondary;
      color: $c-font-inverse;

      & > svg {
        fill: $c-font-inverse;
      }
    }
  }

  &__links {

    .ma__comp-heading {
      color: $c-font-inverse;
    }

    .ma__decorative-link a {
      color: $c-font-inverse;
      font-weight: 400;

      &:hover {
        border-bottom-color: rgba($c-font-inverse, .5);
      }

      & > svg {
        fill: rgba($c-font-inverse, .5);
      }
    }
  }

  .ma__banner-credit {
    
    &__icon {

      & > svg {
        fill: $c-font-inverse;
      }
    }

    &__image-name {
      color: rgba($c-font-inverse,.9);
    }

    &__image-author {
      color: rgba($c-font-inverse, .5);
    }
  }

  // Start backward compatible with v5.7 - converted image-credit to new Banner Credit molecule
  &__image-credit {

  }

  &__credits-container {

  }

  &__icon {

    & > svg {
      fill: $c-font-inverse;
    }
  }

  &__image-name {
    color: rgba($c-font-inverse,.9);
    font-weight: 400;
  }

  &__image-author {
    color: rgba($c-font-inverse, .5);
    font-weight: 400;
  }
  // End backward compatible with v5.7 - converted image-credit to new Banner Credit molecule
}
