.ma__search-banner {
  background-position: center center;
  background-size: cover;
  position: relative;

  &:after {
    background-color: rgba($c-black,.6);
  }

  &__container {
    @include ma-container;
  }

  &__title {
    color: $c-font-inverse;
    font-weight: 300;
  }

  &__intro {
    color: $c-font-inverse;
    font-weight: 400;
  }

  &__form {

  }

  &__input {

    input {
      background-color: rgba(255, 255, 255, 0.75);
      color: $c-font-dark;
      font-weight: 300;
    }

    ::-webkit-input-placeholder {
      color: $c-font-medium;
      font-weight: 300;
      font-style: italic;
    }

    :-moz-placeholder { /* Firefox 18- */
      color: $c-font-medium;
      font-weight: 300;
      font-style: italic;
    }

    ::-moz-placeholder {  /* Firefox 19+ */
      color: $c-font-medium;
      font-weight: 300;
      font-style: italic;
    }

    :-ms-input-placeholder {  
      color: $c-font-medium;
      font-weight: 300;
      font-style: italic;
    }
  }

  &__button {
    background-color: rgba(255, 255, 255, 0.75);
    color: $c-font-dark;
    font-weight: 700;

    & > svg {
      fill: $c-font-dark;
    }

    &:hover {
      background-color: $c-theme-green;
      color: $c-font-inverse;

      & > svg {
        fill: $c-font-inverse;
      }
    }
  }

  &__links {
    
    .ma__comp-heading {
      color: $c-font-inverse;
    }

    .ma__content-link {
      color: $c-font-inverse;

      &:after {
        border-color: rgba($c-font-inverse, .5);
      }

      span {
        border-bottom-color: rgba($c-font-inverse, .5);

        &:hover {
          border-bottom-color: rgba($c-font-inverse, .5);
        }
      }
    }
  }

  &__image-credit {

  }
  
  &__credits-container {

  }

  &__icon {

    & > svg {
      fill: transparent;
      stroke: $c-font-inverse;
    }
  }

  &__image-name {
    color: rgba($c-font-inverse,.9);
    font-weight: 500;
  }

  &__image-author {
    color: rgba($c-font-inverse, .5);
    font-weight: 500;
  }
}
