.ma__site-alerts {
  position: relative;

  &__header {
    background-color: $c-theme-tertiary;
  }

  &__content {
    background-color: lighten($c-theme-tertiary, 34%);
  }

  &__interface {
    
    @media ($bp-small-max) {
      background-color: $c-theme-tertiary;
      padding: 20px;
      padding-top: 0;
      transition: background-color .5s;
      
      .is-open & {
        background-color: lighten($c-theme-tertiary, 34%);
      }

      .ma__button-alert {
        width: 100%;
      }
    }
  }
}
