.ma__suggested-pages {
  background-color: $c-bg-section;

  &__container {
    border-color: $c-bd-divider;
  }

  &__item {
    border-color: $c-bd-divider;
  }

  &__title {
    @include ma-border-decorative($c-theme-primary-2);
  }

}