.ma__toc--overlay {
  background: transparent;

  .ma__toc--toc__toggle {
    background: $c-gray-f2f2f2;
    color: $c-theme-blue;
    font-weight: bold;
    vertical-align: middle;
    svg {
      fill: $c-theme-blue;
    }
    &:before {
      background-color: $c-theme-blue;
    }
  }
  .ma__toc--hierarchy {
    border-bottom: 2px solid $c-gray-dcdcdc;
  }

  .ma__toc__subtitle {
    color: $c-theme-gray;
  }
  .ma__toc--hierarchy__accordion {
    .ma__toc--hierarchy__title {
      border-left-color: transparent;
    }
    &.is-open .ma__toc--hierarchy__title,
    &.is-open .ma__toc--hierarchy__title:focus {
      border-left-color: rgba($c-theme-green, 0.5) !important;
    }
  }

  &.is-open {
    background: $c-white;
    .ma__toc--toc__toggle:after {
      color: $c-white;
    }
  }
}
