.ma__toc--hierarchy {
  .ma__toc--hierarchy__container {
    background: $c-gray-f2f2f2;
    border: 2px solid $c-gray-dcdcdc;

    > * + * {
      border-top: 2px solid $c-gray-dcdcdc;
    }
  }

  .ma__toc--hierarchy__title {
    color: $c-theme-blue;
  }
}
