.ma__toc--overlay {
  background: transparent;

  .ma__toc--toc__title {
    background: $c-gray-f2f2f2;
    color: $c-theme-blue;
  }
  .ma__toc--hierarchy {
    border-bottom: 1px solid $c-gray-dcdcdc;
  }

  .ma__toc--toc__toggle[aria-expanded="false"] {
    color: $c-theme-blue;
  }
  .ma__toc--toc__toggle[aria-expanded="true"] {
    color: $c-white;
    background: $c-theme-blue;
  }

  .ma__toc__subtitle {
    color: $c-theme-gray;
  }
  .ma__toc--hierarchy__accordion {
    .ma__toc--hierarchy__title {
      border-left-color: transparent;
    }
    .ma__toc--hierarchy__title.is-current {
      border-left-color: rgba($c-theme-green, 0.5) !important;
    }
  }

  &.is-open {
    background: $c-white;
  }

  li.is-current:before {
    background: $c-theme-green;
  }
}
