.ma__teaser-listing {

  &__secondary-items {
    border-color: $c-bd-divider;
  }

  &__secondary-item {
    border-color: $c-bd-divider;

    &:after {
      border-color: $c-bd-divider;
    }
  }
}
