.ma__top-actions {

  &__title {
    @include ma-border-decorative($c-theme-green);
  }


  &__items {

  }

  &__item {
    border-color: $c-bd-divider;
  }

  &__link {

    a:hover {
      border-bottom-color: rgba($c-theme-primary-1,.5);
    }

    svg {
      fill: rgba($c-theme-primary-1,.5);
    }
  }
}
