.ma__top-actions {

  &__title {
    @include ma-border-decorative($c-white, $c-theme-primary-2);
  }


  &__items {

  }

  &__item {
    border-color: $c-bd-divider;
  }

  &__link {

    &:hover {
      border-bottom-color: rgba($c-theme-primary-1,.5);
    }

    svg {
      fill: rgba($c-theme-primary-1,.5);
    }
  }
}
