.ma__utility-nav {

  @media ($bp-header-toggle-min) {
    background-color: $c-theme-primary;
    color: $c-font-inverse;
  }

  &__item {
    @media ($bp-header-toggle-max) {
      &:hover {
        background-color: $c-white;
        box-shadow: 0 0.25rem 0.5rem rgba(#000, 0.25);
      }
    }
  }

  &__link {
    color: $c-font-base;

    @media ($bp-header-toggle-min) {
      //background-color: $c-theme-primary;
      color: $c-font-inverse;
    }

    &:after {
      border-right-color: $c-theme-secondary;
      border-bottom-color: $c-theme-secondary;
    }

    svg {
      fill: $c-theme-primary;

      @media ($bp-header-toggle-min) {
        fill: $c-font-inverse;
        opacity: .7;
        stroke: transparent;
      }
    }
    
    span {
      font-family: "Texta", "Helvetica", "Arial", "sans-serif";
      font-weight: 500;
    }
  }


  &__content {
    background-color: $c-bg-section;
    color: $c-font-inverse;

    @media ($bp-header-toggle-min) {
      background-color: $c-theme-primary;
    }

    a {
      color: $c-font-inverse;
    }

    .ma__rich-text {
      max-width: 720px;

      a {
        border-color: $c-font-inverse;
      }
    }
  }

  &__container {
    @media ($bp-header-toggle-max) {
      background-color: $c-theme-primary;
    }

  }

  &__close {
    font-weight: 700;

    @media ($bp-header-toggle-max) {
      display: none;
    }

    span {
      color: $c-white;
      opacity: 0.7;
    }

    &:hover span {
      opacity: 1;
    }
  }
  
  &__close-icon {
    font-weight: 400;
  }

  &__content-title {
    font-weight: 500;

    svg {
      opacity: 0.7;
      fill: $c-white;
    }
  }

  // Backward compatible with v5.7 
  // translate element moved to new Language Menu pattern
  &__translate {
    color: $c-font-base;

    @media ($bp-header-toggle-min) {
      //background-color: $c-theme-primary;
      color: $c-font-inverse;
    }

    &:after {
      border-right-color: $c-theme-secondary;
      border-bottom-color: $c-theme-secondary;
    }

    svg {
      fill: $c-theme-primary;

      @media ($bp-header-toggle-min) {
        fill: $c-font-inverse;
        opacity: .7;
        stroke: transparent;
      }
    }
    
    span {
      font-family: "Texta", "Helvetica", "Arial", "sans-serif";
      font-weight: 500;
    }

    .goog-te-gadget {
      font-weight: 400;
    }

    .goog-te-gadget-simple {
      background-color: transparent;
      border: none;
      font-weight: 500;

      & > img {
        opacity: .7;
      }
    }

    .goog-te-gadget-simple .goog-te-menu-value {
      color: $c-font-base;

      @media ($bp-header-toggle-max) {
        &:after {
          border-right-color: $c-theme-secondary;
          border-bottom-color: $c-theme-secondary;
        }
      }

      @media ($bp-header-toggle-min) {
        color: $c-font-inverse;

        &:after {
          opacity: .7;
        }
      }
    }
  }

}
