// normalize the css across browsers added in npm
@import "normalize";

// Sass frameworks added in npm
@import "bourbon";

// Change the grid settings
$column: 85px;
$gutter: 20px;
$max-width: 1240px; // use @include outer-container() which sets this and centers;

@import "neat";

// Base variables
@import "00-base/breakpoints";
@import "00-base/mixins";
@import "00-base/variables";
@import "00-base/z-index";

// Atoms - reusable styles
@import "01-atoms/global/elements";
@import "01-atoms/global/zoom";
@import "01-atoms/buttons";
@import "01-atoms/site-logo";
@import "01-atoms/svg-icons";

// Molecules - chunks of code that are used in Organisms/Components
@import "02-molecules/alerts-util";
@import "02-molecules/dropdown";
@import "02-molecules/footer-links";
@import "02-molecules/header-search";
@import "02-molecules/login-util";
@import "02-molecules/main-nav";
@import "02-molecules/settings-util";
@import "02-molecules/social-links";
@import "02-molecules/utility-nav";
@import "02-molecules/zoom-controls";

// Organisms - components
@import "03-organisms/callout";
@import "03-organisms/header";
@import "03-organisms/footer";
@import "03-organisms/page-banner";
@import "03-organisms/rich-text";

// Templates - page content types
@import "04-templates/layout";




