.radix-layouts-sidebar .pane-title, .radix-layouts-sidebar div[class*="pane-facetapi"] .facetapi-active,
a.embed-link {
    background: #0A77BD;
    border-color: #0A77BD;
    color: #FFFFFF;
    font-size: 1em;
}
a.embed-link::before {
  font-size:1em;
  left:6.5px;
}
.radix-layouts-sidebar .ctools-collapsible-container h2.pane-title, .radix-layouts-sidebar div[class*="pane-facetapi"] h2.pane-title, .radix-layouts-sidebar .block-facetapi h2.pane-title {
    font-size: 1em;
}

.radix-layouts-sidebar .ctools-collapsible-container ul li.leaf a, .radix-layouts-sidebar div[class*="pane-facetapi"] ul li.leaf a, .radix-layouts-sidebar .block-facetapi ul li.leaf a {
    font-weight: normal;
    font-size: 0.8em;
}
.search-result .group-membership {
    line-height: 0.8em;
    font-size: 0.8em;
    margin: 0;
}
.view-dkan-datasets .field-name-field-topic {
    margin: 0;
}
input[type='image'] {
    min-height: initial;
}
div.autocomplete-deluxe-container input.autocomplete-deluxe-form-single {
    min-height: 34px;

}

form .form-actions .ma__button {
    margin-right: 10px;
}

div.autocomplete-deluxe-throbber {
    font-size: 0.8em;
}
.ui-widget {
    font-size: 0.8em;
}

#active-horizontal-tab {
    bottom: -15px;
}
.field-name-field-temporal-coverage legend, .field-widget-leaflet-widget-widget legend {
    left: 0
}

.panel-default > .panel-heading {
    color: #3B3B3B;
    background-color: #CDCDCD;
    border-color: #CDCDCD;
}
.panel-default {
    padding: 0 0 20px;
}
.panel-body.fieldset-wrapper {
    padding-top: 42px;
}

#homepage-hero {
    background-size: cover;
    background-position: 0;
    background-repeat: no-repeat;
    min-height: 580px;
    padding-top: 7%;
}
#homepage-hero, #homepage-hero h2, #homepage-hero h3, #homepage-hero a {
    color: #FFF;
}
.front .ma__header__search {
    display: none;
}

.field-name-body ul {
  list-style:none;
  margin:0;
  padding:0;
}

.field-name-body .ma__quick-actions__items li {
  margin:0;
  padding:0;
}
.ma__main-nav {
    padding-right: 60px;
    text-align: right; }
@media (min-width: 801px) {
    .flexbox .ma__main-nav__items {
        display: inline-block; } }
@media (min-width: 801px) {
    .ma__main-nav__item + .ma__main-nav__item {
        margin-left: 6%; } }
.has-subnav .ma__main-nav__top-link:after {
    display: inline-block; }

.flexbox .ma__main-nav__items {
    justify-content: center;
}

#data-and-resources .format-label:before,
.field-items .download .format-label:before {
  content: url(../images/svg-sprite/doc-generic.svg);
}

#data-and-resources .format-label[data-format=pdf]:before,
#data-and-resources .format-label[data-format*=pdf]:before,
.field-items .download .format-label[data-format=pdf]:before,
.field-items .download .format-label[data-format*=pdf]:before {
  content: url(../images/svg-sprite/doc-pdf.svg);
}

#data-and-resources .format-label[data-format=docx]:before,
#data-and-resources .format-label[data-format*=docx]:before,
.field-items .download .format-label[data-format=docx]:before,
.field-items .download .format-label[data-format*=docx]:before {
    content: url(../images/svg-sprite/doc-docx.svg);
}

#data-and-resources .format-label[data-format=xslx]:before,
#data-and-resources .format-label[data-format*=xslx]:before,
.field-items .download .format-label[data-format=xslx]:before,
.field-items .download .format-label[data-format*=xslx]:before {
    content: url(../images/svg-sprite/doc-xlsx.svg);
}

table.field-group-format.group_additional th,
table.field-group-format.group_additional td {
  border-top: 0;
  border-left: 0;
  border-right: 0;
}

/* custom styles for dataset page */
@import "00-base/variables";

// Base variables
@import "00-base/breakpoints";
@import "00-base/mixins";
@import "00-base/z-index";

// base theme variables
@import "06-theme/00-base/colors";

.recline-data-explorer {
  font-family: "Texta", "Helvetica", "Arial", "sans-serif";

  * {
    box-sizing: border-box;
    font-family: "Texta", "Helvetica", "Arial", "sans-serif";
  }

  .form-control,
  input,
  button {
    border-radius: 0;
  }

  label {
    font-weight: 500;
  }

  .radio input[type="radio"], 
  .radio-inline input[type="radio"], 
  .checkbox input[type="checkbox"], 
  .checkbox-inline input[type="checkbox"] {
    left: 0;
    min-height: 0;
    margin-top: 10px;
    margin-left: 0;
  }

  .btn,
  .media-widget > a {
    @include ma-button("small","solid");
    @include ma-button("small","solid",$c-theme-primary);
    border-radius: 0;

    &:hover {
      border-color: $c-theme-primary;
    }
  }

  .header {
    margin-bottom: 20px;

    .navigation {
      display: block;
      margin-bottom: 10px;
      margin-left: -.5em;
      width: 100%;

      @media (min-width: 768px) {
        text-align: right;
        margin-left: 0;
      }

      .btn {
        @include ma-button("small","solid");
        @include ma-button("small","solid",$c-theme-secondary);
        font-size: 1rem;
        margin-left: .5em;
        margin-bottom: 10px;

        &:hover {
          border-color: rgba($c-theme-secondary, .75);
        }

      }
    }

    .menu-right {
      margin-left: -5px;
      padding-left: 0;

      @media (max-width: 767px) {
        clear: both;
        float: none;
        height: auto;
        width: 100%;
      }

      .btn {
        @include ma-button("small","outline");
        @include ma-button("small","outline",$c-theme-primary);
        margin-left: 5px;

        @media (max-width: 767px) {
          margin-bottom: 20px;
        }
      }
    }
  }

  .recline-results-info {
    line-height: 50px;
    margin-right: 20px;
    margin-left: 0;

    @media (max-width: 1200px) {
      line-height: 40px;
      margin-bottom: 20px;
    }
  }

  .recline-pager {
    margin-left: 0;

    @media (max-width: 1200px) {
      clear: right;
      margin-bottom: 20px;
    }

    .pagination {


      .btn {
        background-color: transparent;
        border: none;
        border-radius: 0;
        box-shadow: none;
        color: $c-font-link;
        height: auto;
        margin-left: 1px;

        &:hover {
          background-color: $c-theme-primary;
          color: $c-font-inverse;
        }
      }

      .page-range {
        border: none;
        height: 50px;
        padding: 5px 0;

        @media (max-width: 1200px) {
          height: 40px;
          padding: 0;
        }

        a {
          border: 1px solid $c-bd-input;
          display: block;
          margin-left: 0;
        }

        input {
          background-color: transparent;
          border: none;
          box-shadow: none;
          font-size: 1.25rem;
          height: 100%;
          text-align: right;
          width: 45px;

          &:focus {
            border: inherit;
          }

          &:last-child {
            text-align: left;
          }
        }
      }
    }
  }

  .recline-query-editor {
    height: 50px;
    margin-right: 15px;
    padding-right: 15px;

    @media (max-width: 1199px) {
      border-right: none;
      clear: left;
      float: left;
      margin-right: 0;
      padding-right: 0;
    }

    @media (max-width: 767px) {
      clear: both;
      float: none;
      height: auto;
      width: 100%;
    }

    .form-group {
      display: inline-block;
      padding-top: 5px;
      vertical-align: middle;

      input {
        border-radius: 0;
        font-size: 1.25rem;
      }
    }

    .input-group-addon {
      display: none;
    }

    .btn {
      @include ma-button("small","solid");
      @include ma-button("small","solid",$c-theme-primary);

      &:hover {
        border-color: rgba($c-theme-primary, .75);
      }

      @media (max-width: 767px) {
        width: auto;
      }
    }
  }

  .recline-slickgrid {

    .slick-header {
      background-color: $c-bg-subtle;
      border-top: none;
      border-bottom: 2px solid $c-bd-divider;
    }

    .slick-header-columns {
      background-color: $c-bg-subtle;

      .slick-header-column {
        color: $c-font-heading;
        background-color: transparent;
        background-image: none;
        border: none;
        border-right: 1px dotted $c-bd-divider;
        box-shadow: none;
        height: auto;
        line-height: 1.3;
        padding: 10px;
        position: relative;
      }
    }
    .slick-header-sortable {
      padding-right: 15px;

      .slick-sort-indicator {
        background-image: none;
        font-size: 0;
        position: absolute;
          top: 10px;
          right: 4px;
        width: 8px;

        &:before,
        &:after {
          border-right: 4px solid transparent;
          border-left: 4px solid transparent;
          content: "";
          display: block;
          height: 0;
          width: 0;
        }

        &:before {
          border-bottom: 4px solid $c-theme-primary;
          margin-bottom: 2px;
        }

        &:after {
          border-top: 4px solid $c-theme-primary;
        }
      }

      .slick-sort-indicator-asc {
        
        &:after {
          border-top: 4px solid rgba($c-theme-quaternary, .5);
        }
      }

      .slick-sort-indicator-desc {
        
        &:before {
          border-bottom: 4px solid rgba($c-theme-quaternary, .5);
        }
      }
    }

    .slick-column-name {
      box-shadow: none;
    }
  }

  .data-view-sidebar {

    & > div {
      margin-top: 0;
    }

    .well {
      background-color: transparent;
      border: none;
      padding: 0;

      h3 {
        @include ma-comp-heading;
        @include ma-comp-heading($c-theme-secondary);
        padding-left: 0;

        a {
          color: $c-theme-secondary;

          &:hover {
            text-decoration: none;
          }
        }
      }
    }
  }

  .recline-filter-editor {

    .filters {

      .form-stacked + .form-stacked {
        margin-top: 20px;
      }

      &:first-child {
        margin-top: 0;
      }
    }
  }

  .recline-fields-view {

    .panel {
      background-color: transparent;
      border: none;
    }

    .panel + .panel {
      border-top: 1px solid $c-bd-divider;
    }

    .fields-list {
      

      .panel-heading {
        background-color: transparent;
      }

      h4 {
        font-size: 1.125rem;
      }
    }
  } 
}