// TEST_CIRCLE
// Sass frameworks added in npm
@import "bourbon";

// some variables adjust the settings in Neat
@import "00-base/variables";
@import "neat";

// Base variables
@import "00-base/breakpoints";
@import "00-base/mixins";
@import "00-base/z-index";

// base theme variables
@import "06-theme/00-base/colors";
@import "06-theme/00-base/fonts";

// pilot overrides
@import "07-pilot/footer";
@import "07-pilot/header";
