<div class="page" id="page">
    {% include "stock-pl-header" %}
    <div role="main">
        {% block hero %}{% endblock %}
        {% block title %}{% endblock %}
        {% block content %}{% endblock %}
    </div><!--End role=main-->
    {% include "stock-pl-footer" %}
</div>