{% extends '@templates/two-column.twig' %}

{% block preContent %}
  {% include "@organisms/by-template/page-header.twig" %}
{% endblock %}
{% block pageContent %}
  {% include "@organisms/by-author/form-requirements.twig" %}
  <form>

  </form>
{% endblock %}
{% block sidebar %}

{% endblock %}
{% block postContent %}

{% endblock %}
