{% set classDirection = arrowButton.direction ? "ma__arrow-button--" ~ arrowButton.direction : "" %}
<a 
  class="ma__arrow-button {{ classDirection }}" 
  href="{{ arrowButton.href }}" 
  aria-label="{{ arrowButton.info }}"></a>


 