{% set buttonSortClass = buttonSort.direction ? "ma__button-sort--" ~ buttonSort.direction : "" %}

<button class="ma__button-sort js-button-sort {{ buttonSortClass }}">{{ buttonSort.text }}</button>
