<span>
  <label for="{{ buttonToggle.id }}" class="ma__label--inline ma__label--small">{{buttonToggle.labelText}}</label>
  <button type="button" class="ma__button-toggle">{{ buttonToggle.options[0].text }}</button> |
  <button type="button" class="ma__button-toggle ma__button-toggle--selected">{{ buttonToggle.options[1].text }}</button>
</span>
