<button type="submit" class="ma__button-search">
  <span>Search</span>
  <svg role="img" class="ma__button-search__icon">
    <use xlink:href="/assets/images/svg-sprite.svg#search"></use>
  </svg>
</button>
