{% if not buttonSearch %}
  {% set buttonSearch = {"text":"Search"} %}
{% endif %}
<button type="submit" class="ma__button-search">
  <span>{{ buttonSearch.text }}</span>
  {{ icon('search') }}
</button>
